Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[gn build] llvm-lipo, llvm-libtool-darwin symlink targets now dep on binary
  llvm/utils/gn/secondary/llvm/tools/llvm-libtool-darwin/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-lipo/BUILD.gn
Due: none

[pseudo] respect CLANG_INCLUDE_TESTS
  clang-tools-extra/pseudo/CMakeLists.txt
Due: none

[CodeGen] Async unwind - add a pass to fix CFI information
  llvm/include/llvm/CodeGen/CFIFixup.h
  llvm/include/llvm/CodeGen/Passes.h
  llvm/include/llvm/CodeGen/TargetFrameLowering.h
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Target/TargetMachine.h
  llvm/include/llvm/Target/TargetOptions.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinterDwarf.cpp
  llvm/lib/CodeGen/CFIFixup.cpp
  llvm/lib/CodeGen/CMakeLists.txt
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/TailDuplicator.cpp
  llvm/lib/CodeGen/TargetFrameLoweringImpl.cpp
  llvm/lib/CodeGen/TargetPassConfig.cpp
  llvm/lib/Target/AArch64/AArch64.h
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.h
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/test/CodeGen/AArch64/O0-pipeline.ll
  llvm/test/CodeGen/AArch64/O3-pipeline.ll
  llvm/test/CodeGen/AArch64/arm64-fp128.ll
  llvm/test/CodeGen/AArch64/arm64-opt-remarks-lazy-bfi.ll
  llvm/test/CodeGen/AArch64/arm64-shrink-wrapping.ll
  llvm/test/CodeGen/AArch64/cfi-fixup.mir
  llvm/test/CodeGen/AArch64/fast-isel-branch-cond-split.ll
  llvm/test/CodeGen/AArch64/nomerge.ll
  llvm/test/CodeGen/AArch64/optimize-cond-branch.ll
  llvm/test/CodeGen/AArch64/sve-alloca.ll
Due: fix-cc-deps

Reapply"[GH54588]Fix ItaniumMangler for NTTP unnamed unions w/ unnamed structs"
  clang/lib/AST/ItaniumMangle.cpp
  clang/test/CodeGenCXX/mangle-nttp-anon-union.cpp
Due: fix-cc-deps

[gn build] Port 980c3e6dd223
  llvm/utils/gn/secondary/llvm/lib/CodeGen/BUILD.gn
Due: none

[gn build] Always make symlinks target explicitly depend on base binary
  llvm/utils/gn/secondary/clang/tools/driver/BUILD.gn
  llvm/utils/gn/secondary/lld/tools/lld/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-ar/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-objcopy/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-readobj/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-symbolizer/BUILD.gn
Due: none

fix comment typos to cycle bots
  clang/include/clang/AST/DeclTemplate.h
  clang/include/clang/AST/NestedNameSpecifier.h
  clang/include/clang/AST/Stmt.h
  clang/include/clang/CrossTU/CrossTranslationUnit.h
  clang/include/clang/Index/IndexingOptions.h
Due: fix-cc-deps

[InstSimplify] Fold (ctpop(X) == N) || (X != 0) into X != 0 where N > 0
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/and-or-icmp-ctpop.ll
Due: fix-cc-deps

Attempt to re-enable demangle test in mangle-nttp-anon-union
  clang/test/CodeGenCXX/mangle-nttp-anon-union.cpp
Due: fix-cc-deps

[Pipeliner] Fix comment typo
  llvm/lib/CodeGen/MachinePipeliner.cpp
Due: fix-cc-deps

[flang] Add one semantic check for allocatable/pointer argument association
  flang/lib/Semantics/check-call.cpp
  flang/test/Lower/allocatable-caller.f90
  flang/test/Lower/pointer-args-caller.f90
  flang/test/Semantics/call05.f90
Due: fix-cc-deps

[llvm-objcopy][docs] Update --update-section description
  llvm/docs/CommandGuide/llvm-objcopy.rst
  llvm/tools/llvm-objcopy/ObjcopyOpts.td
Due: none

Correct a typo in a RUN line
  clang/test/CodeGen/c-unicode.c
Due: none

Prevent GetAugmentedArchSpec() from attaching "unknown" environments
  lldb/source/Host/common/HostInfoBase.cpp
  lldb/unittests/Host/HostInfoTest.cpp
Due: fix-cc-deps

[MLIR] Fix MLIR vim syntax file
  mlir/utils/vim/syntax/mlir.vim
Due: none

Fix nulltpr typo in comment. NFC
  llvm/include/llvm/Target/TargetLoweringObjectFile.h
  llvm/lib/MC/MCWin64EH.cpp
Due: fix-cc-deps

Revert "[DebugInfo] Correctly recognize bitfields when emitting dwarf"
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.cpp
  llvm/test/DebugInfo/AArch64/bitfields.ll
  llvm/test/DebugInfo/ARM/big-endian-bitfield.ll
  llvm/test/DebugInfo/ARM/bitfield.ll
  llvm/test/DebugInfo/X86/bitfields-dwarf4.ll
  llvm/test/DebugInfo/X86/bitfields.ll
  llvm/test/DebugInfo/X86/debug-info-packed-struct.ll
  llvm/test/DebugInfo/X86/packed_bitfields2.ll
Due: fix-cc-deps

[lldb] Prevent object file plugins from changing the data buffer
  lldb/include/lldb/lldb-private-interfaces.h
  lldb/source/Plugins/ObjectFile/Breakpad/ObjectFileBreakpad.cpp
  lldb/source/Plugins/ObjectFile/Breakpad/ObjectFileBreakpad.h
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.h
  lldb/source/Plugins/ObjectFile/JIT/ObjectFileJIT.cpp
  lldb/source/Plugins/ObjectFile/JIT/ObjectFileJIT.h
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.h
  lldb/source/Plugins/ObjectFile/Minidump/ObjectFileMinidump.cpp
  lldb/source/Plugins/ObjectFile/Minidump/ObjectFileMinidump.h
  lldb/source/Plugins/ObjectFile/PDB/ObjectFilePDB.cpp
  lldb/source/Plugins/ObjectFile/PDB/ObjectFilePDB.h
  lldb/source/Plugins/ObjectFile/PECOFF/ObjectFilePECOFF.cpp
  lldb/source/Plugins/ObjectFile/PECOFF/ObjectFilePECOFF.h
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.cpp
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.h
Due: fix-cc-deps

[mlir][capi] Add external pass creation to MLIR C-API
  mlir/include/mlir-c/IR.h
  mlir/include/mlir-c/Pass.h
  mlir/include/mlir-c/Support.h
  mlir/include/mlir/CAPI/IR.h
  mlir/include/mlir/CAPI/Support.h
  mlir/lib/CAPI/IR/IR.cpp
  mlir/lib/CAPI/IR/Pass.cpp
  mlir/lib/CAPI/IR/Support.cpp
  mlir/test/CAPI/CMakeLists.txt
  mlir/test/CAPI/pass.c
Due: fix-cc-deps

[MLIR] Add booleans to dense element list in LangRef
  mlir/include/mlir/IR/BuiltinAttributes.td
Due: none

[MLIR] Add nested symbols into LangRef
  mlir/docs/LangRef.md
Due: none

Revert "[MLIR] Add nested symbols into LangRef"
  mlir/docs/LangRef.md
Due: none

Revert "Reland "[lit] Use sharding for GoogleTest format""
  llvm/unittests/Support/CrashRecoveryTest.cpp
  llvm/unittests/Support/ProgramTest.cpp
  llvm/utils/lit/lit/Test.py
  llvm/utils/lit/lit/TestingConfig.py
  llvm/utils/lit/lit/formats/googletest.py
  llvm/utils/lit/lit/main.py
  llvm/utils/lit/tests/Inputs/googletest-crash/DummySubDir/OneTest.py
  llvm/utils/lit/tests/Inputs/googletest-timeout/DummySubDir/OneTest.py
  llvm/utils/lit/tests/Inputs/googletest-timeout/lit.cfg
  llvm/utils/lit/tests/Inputs/googletest-upstream-format/DummySubDir/OneTest.py
  llvm/utils/lit/tests/Inputs/googletest-upstream-format/lit.cfg
  llvm/utils/lit/tests/googletest-crash.py
  llvm/utils/lit/tests/googletest-format.py
  llvm/utils/lit/tests/googletest-timeout.py
  llvm/utils/lit/tests/googletest-upstream-format.py
Due: fix-cc-deps

[AArch64] Increase cost of v2i64 multiplies
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/arith-overflow.ll
  llvm/test/Analysis/CostModel/AArch64/arith-widening.ll
  llvm/test/Analysis/CostModel/AArch64/arith.ll
  llvm/test/Analysis/CostModel/AArch64/mul.ll
Due: fix-cc-deps

[lldb] make ConstStringTable use DenseMap rather than std::map
  lldb/include/lldb/Core/DataFileCache.h
Due: fix-cc-deps

[MLIR][NFC] Remove unnecessary cast.
  mlir/include/mlir/IR/OpDefinition.h
Due: fix-cc-deps

[mlir][capi] Unbreak Interfaces CAPI after 2387fadea3
  mlir/lib/CAPI/Interfaces/Interfaces.cpp
Due: fix-cc-deps

[LV] Add addiitonal tests for pointer difference memory checks.
  llvm/test/Transforms/LoopVectorize/runtime-checks-difference.ll
Due: none

[Attributor] Allow to reproduce instructions for simplification
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/IPConstantProp/return-argument.ll
  llvm/test/Transforms/Attributor/value-simplify.ll
Due: fix-cc-deps

[libc++] Fix std::is_array<T[0]> and add tests
  libcxx/include/type_traits
  libcxx/test/std/utilities/meta/meta.unary/meta.unary.cat/is_array.pass.cpp
  libcxx/test/std/utilities/meta/meta.unary/meta.unary.comp/is_bounded_array.pass.cpp
  libcxx/test/std/utilities/meta/meta.unary/meta.unary.comp/is_unbounded_array.pass.cpp
Due: fix-cc-deps

Restructure Diagnostic objects to allow late formatting (#1131)
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/diagnostic_kind.cpp
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/diagnostics/diagnostic_kind_test.cpp
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lexer/BUILD
  toolchain/lexer/lex_helpers.cpp
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/test_helpers.h
  toolchain/lexer/token_kind.h
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/parser/parse_tree_test.cpp
  toolchain/parser/parser_impl.cpp
Due: fix-cc-deps, forbid-llvm-googletest

[clang][extract-api][NFC] Add documentation
  clang/include/clang/ExtractAPI/API.h
Due: fix-cc-deps

[libc] Add pthread_mutexattr_t type and its setters and getters.
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/api.td
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/CMakeLists.txt
  libc/include/llvm-libc-types/CMakeLists.txt
  libc/include/llvm-libc-types/pthread_mutexattr_t.h
  libc/include/pthread.h.def
  libc/spec/posix.td
  libc/spec/spec.td
  libc/src/CMakeLists.txt
  libc/src/pthread/CMakeLists.txt
  libc/src/pthread/pthread_mutexattr.h
  libc/src/pthread/pthread_mutexattr_destroy.cpp
  libc/src/pthread/pthread_mutexattr_destroy.h
  libc/src/pthread/pthread_mutexattr_getpshared.cpp
  libc/src/pthread/pthread_mutexattr_getpshared.h
  libc/src/pthread/pthread_mutexattr_getrobust.cpp
  libc/src/pthread/pthread_mutexattr_getrobust.h
  libc/src/pthread/pthread_mutexattr_gettype.cpp
  libc/src/pthread/pthread_mutexattr_gettype.h
  libc/src/pthread/pthread_mutexattr_init.cpp
  libc/src/pthread/pthread_mutexattr_init.h
  libc/src/pthread/pthread_mutexattr_setpshared.cpp
  libc/src/pthread/pthread_mutexattr_setpshared.h
  libc/src/pthread/pthread_mutexattr_setrobust.cpp
  libc/src/pthread/pthread_mutexattr_setrobust.h
  libc/src/pthread/pthread_mutexattr_settype.cpp
  libc/src/pthread/pthread_mutexattr_settype.h
  libc/test/src/CMakeLists.txt
  libc/test/src/pthread/CMakeLists.txt
  libc/test/src/pthread/pthread_mutexattr_test.cpp
Due: fix-cc-deps

[AMDGPU] Ignore debug use during PreRARematerialize stage in scheduling pass
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
  llvm/test/CodeGen/AMDGPU/machine-scheduler-sink-trivial-remats.mir
Due: fix-cc-deps

[ELF][MTE] Add --android-memtag-* options to synthesize ELF notes
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/Options.td
  lld/ELF/SyntheticSections.cpp
  lld/ELF/SyntheticSections.h
  lld/ELF/Writer.cpp
  lld/test/ELF/aarch64-memtag-android-abi.s
Due: fix-cc-deps

Apply clang-tidy fixes for llvm-qualified-auto in FuncToLLVM.cpp (NFC)
  mlir/lib/Conversion/FuncToLLVM/FuncToLLVM.cpp
Due: fix-cc-deps
