Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Support calling functions with explicit template arguments.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/cpp/call.cpp
  toolchain/check/cpp/call.h
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/cpp/overload_resolution.h
  toolchain/check/testdata/interop/cpp/function/template.carbon
  toolchain/lower/testdata/interop/cpp/template.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Factor out a new GetAsClangVarDecl function
  toolchain/check/cpp/call.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/eval_inst.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove trailing blank line.
  toolchain/check/testdata/interop/cpp/function/template.carbon
Due: none

refactors `LookupCppImpl` to handle multiple associated functions
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

makes asserts more ergonomically-friendly
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

formats const correctly
  toolchain/check/cpp/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unused member of `AnyPrimitiveForm`
  toolchain/sem_ir/inst_categories.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Test the crash using file_test, not unit tests
  toolchain/lex/string_literal_test.cpp
  toolchain/lex/testdata/char_literals.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update proposals/p6358.md
  proposals/p6358.md
Due: none

Update docs/design/interoperability/README.md
  docs/design/interoperability/README.md
Due: none

Clean up rationale section in proposals/p6358.md
  proposals/p6358.md
Due: none

Expose MapConstant in import.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

review
  toolchain/check/cpp/operators.cpp
  toolchain/check/custom_witness.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Change TryEvaluateMacroToConstant to return InstId
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/macros.cpp
  toolchain/check/cpp/macros.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

add-failing-test
  toolchain/check/testdata/facet/identify_self_canonicalized.carbon
Due: none

dedupe-extend-in-identify
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/facet/identify_self_canonicalized.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/sem_ir/facet_type_info.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Move MapConstant to macros.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/cpp/macros.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove special handling for CharacterLiteral in TryEvaluateMacroToConstant
  toolchain/check/cpp/macros.cpp
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unused code in MapConstant
  toolchain/check/cpp/import.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use MapAPValueToConstant in TryEvaluateMacroToConstant
  toolchain/check/cpp/macros.cpp
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove stale TODO
  toolchain/check/cpp/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Return non-final for destroying symbolic queries earlier
  toolchain/check/custom_witness.cpp
  toolchain/check/testdata/eval/call.carbon
  toolchain/check/testdata/facet/period_self.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/thunk.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Move param indices into struct
  toolchain/check/cpp/import.cpp
  toolchain/check/function.cpp
  toolchain/check/global_init.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_component.cpp
  toolchain/check/name_component.h
  toolchain/check/pattern_match.cpp
  toolchain/check/pattern_match.h
  toolchain/check/return.cpp
  toolchain/check/thunk.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/parse/handle_binding_pattern.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Address review feedback.
  toolchain/check/convert.h
  toolchain/check/cpp/call.cpp
  toolchain/check/testdata/interop/cpp/function/template.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Proposal: C++ interop for overloaded functions and function templates
  docs/design/interoperability/README.md
  docs/design/interoperability/overload_resolution.md
  proposals/p6825.md
Due: none

fix issues from #6823
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/testdata/lambda/lambda.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fix comment style
  toolchain/parse/handle_lambda.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add lambda parsing crash test
  toolchain/parse/testdata/lambda/lambda.carbon
Due: none

Add failing todo macro assignment through pointer test
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: none

Rename TryEvaluateMacroToConstant to TryEvaluateMacro
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/macros.cpp
  toolchain/check/cpp/macros.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add failing macro assignment test
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: none

wip: more lvalue macros
  toolchain/check/cpp/macros.cpp
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simplify control flow in TryEvaluateMacro
  toolchain/check/cpp/macros.cpp
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rename no-longer-failing test
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: none
