Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==14.0.6

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==14.0.6

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Explorer: Add virtual destructor support (#2695)
  explorer/ast/address.h
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/ast/element_path.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/parser.ypp
  explorer/testdata/destructor/fail_delete_base_without_virtual_destructor.carbon
  explorer/testdata/destructor/fail_override_abstract.carbon
  explorer/testdata/destructor/fail_override_impl_none.carbon
  explorer/testdata/destructor/fail_override_virtual_virtual.carbon
  explorer/testdata/destructor/virtual_destructor.carbon
  explorer/testdata/destructor/virtual_destructor_nested.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Rename self/Self enums to SelfValueIdentifier/SelfTypeIdentifier (#2701)
  toolchain/lexer/token_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/class/fn_definitions.carbon
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_no_impl_allowed.carbon
  toolchain/parser/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/parser/testdata/generics/interface/non_instance_fn.carbon
  toolchain/parser/testdata/generics/interface/self_pointer.carbon
  toolchain/parser/testdata/generics/named_constraint/fail_no_impl_allowed.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update README.md
  explorer/ast/README.md
Due: none

Support for templated impl declarations
  common/error.h
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/declaration.h
  explorer/ast/pattern.cpp
  explorer/ast/pattern.h
  explorer/data/prelude.carbon
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/assoc_const/fail_anonymous.carbon
  explorer/testdata/template/fail_no_member.carbon
  explorer/testdata/template/member_access.carbon
Due: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, forbid-llvm-googletest

Add tests for name lookup in templates.
  explorer/testdata/template/fail_name_lookup.carbon
  explorer/testdata/template/name_lookup.carbon
Due: none

Add stringification for nodes.
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

x
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Support for templated impl declarations (#2700)
  common/error.h
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/declaration.h
  explorer/ast/pattern.cpp
  explorer/ast/pattern.h
  explorer/data/prelude.carbon
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/assoc_const/fail_anonymous.carbon
  explorer/testdata/template/fail_name_lookup.carbon
  explorer/testdata/template/fail_no_member.carbon
  explorer/testdata/template/member_access.carbon
  explorer/testdata/template/name_lookup.carbon
Due: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, forbid-llvm-googletest

x
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

x
  toolchain/lowering/testdata/basics/fail_in_semantics.carbon
Due: none

Change what's being tested for errors before lowering.
  toolchain/lowering/testdata/basics/fail_before_lowering.carbon
Due: none

Add stringification for nodes. (#2704)
  toolchain/lowering/testdata/basics/fail_in_semantics.carbon
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

x
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Explorer and toolchain changes to implement #2483
  docs/design/README.md
  docs/design/assignment.md
  docs/design/classes.md
  docs/design/expressions/comparison_operators.md
  docs/design/expressions/if.md
  docs/design/generics/details.md
  docs/design/generics/overview.md
  docs/design/generics/terminology.md
  docs/design/lexical_conventions/words.md
  docs/project/principles/information_accumulation.md
  proposals/p0920.md
  proposals/p0983.md
  proposals/p1088.md
  proposals/p2483.md
Due: none

Replace "impl constraint" with "impls constraint"
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/type_structure.cpp
  explorer/testdata/impl/fail_unmet_impls_constraint.carbon
  explorer/testdata/impl/impls_constraint.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  proposals/p2483.md
Due: none

Fix formatting
  proposals/p2483.md
Due: none

Replace keyword `is` with `impls` (#2483)
  docs/design/README.md
  docs/design/assignment.md
  docs/design/classes.md
  docs/design/expressions/comparison_operators.md
  docs/design/expressions/if.md
  docs/design/generics/details.md
  docs/design/generics/overview.md
  docs/design/generics/terminology.md
  docs/design/lexical_conventions/words.md
  docs/project/principles/information_accumulation.md
  proposals/p0920.md
  proposals/p0983.md
  proposals/p1088.md
  proposals/p2483.md
Due: none

Change what's being tested for errors before lowering. (#2706)
  toolchain/lowering/testdata/basics/fail_before_lowering.carbon
Due: none

x
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Simplify by using a bunch of `==` comparisons instead of a range check.
  common/enum_base.h
  explorer/ast/ast_rtti.cpp
  explorer/ast/ast_rtti.h
Due: fix-cc-deps, clang-format, check-header-guards

Fixes.
  explorer/ast/ast_rtti.h
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

finishing
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/builtin_types.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

fix-as
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/basics/builtin_types.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  proposals/p2687.md
Due: none

Factor out use of the IGNORE macro into ast_kinds.h.
  explorer/ast/ast_kinds.h
  explorer/ast/ast_rtti.cpp
  explorer/ast/ast_rtti.h
Due: fix-cc-deps, clang-format, check-header-guards

Fix typo.
  explorer/ast/ast_kinds.h
Due: fix-cc-deps, clang-format, check-header-guards

impl_declarations -> impl_facts
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
Due: fix-cc-deps, clang-format, check-header-guards

Impl -> ImplFact
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/matching_impl_set.cpp
  explorer/interpreter/matching_impl_set.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Refactor SemanticsNode factory functions into factory templates.
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Consolidate factories
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

x
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Makebetter
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove -> auto due to formatting
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/diagnostic_registry\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

