Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Apply suggestions from code review
  proposals/p2360.md
Due: none

Add rationale for not defining `type` in the library.
  proposals/p2360.md
Due: none

Apply suggestions from code review
  proposals/p2200.md
Due: none

Fix formatting
  proposals/p2200.md
Due: none

Reformat.
  proposals/p2360.md
Due: none

Say that it's an open question whether `constraint Foo {}` should mean that `Foo` is the same thing as `type`.
  proposals/p2360.md
Due: none

Implement suggestions from review
  proposals/p2200.md
Due: none

Mention issue for leads #2409.
  proposals/p2360.md
Due: none

Add note based on review comment
  proposals/p2200.md
Due: none

Clarify connection between template dependent and monomorphization errors.
  proposals/p2200.md
Due: none

pre-commit markdown fix
  docs/design/numeric_literals.md
Due: none

Revert floating point conversions guidlines
  docs/design/README.md
  docs/design/numeric_literals.md
Due: none

Switch testing to pre-installed versions of clang-14 (#2402)
  .github/workflows/tests.yaml
Due: none

Rename to StructLiteralOrStructTypeLiteralStart (#2404)
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/structs.carbon
Due: fix-cc-deps, clang-format

Add notes to comment on #access-requests as a notification substitute. (#2405)
  CONTRIBUTING.md
Due: none

Track the ParseTree::Node with SemanticsNode. (#2407)
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Replace some reference members with pointer members. (#2408)
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
Due: fix-cc-deps, clang-format, check-header-guards

Update toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards

Update toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.def
Due: none

Template generics (#2200)
  proposals/p2200.md
Due: none

Ripple *
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Restore integer_literals_
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/type_mismatch.carbon
  toolchain/semantics/testdata/operators/type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/common/data_index.h
  toolchain/lexer/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/common/data_index.h
Due: fix-cc-deps, clang-format, check-header-guards

width
  toolchain/common/data_index.h
  toolchain/lexer/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Start drafting out semantic type checking. (#2406)
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/driver/driver.cpp
  toolchain/lexer/numeric_literal.h
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/lit_autoupdate.py
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/type_mismatch.carbon
  toolchain/semantics/testdata/operators/type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

x
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parse_tree.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Adjust how invalid declarations pass errors.
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/fail_no_intro_without_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_without_semi_to_curly.carbon
Due: fix-cc-deps, clang-format

x
  toolchain/parser/parser.cpp
Due: fix-cc-deps, clang-format

x
  toolchain/common/BUILD
  toolchain/common/data_index.h
  toolchain/common/index_base.h
  toolchain/lexer/BUILD
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

x
  toolchain/common/index_base.h
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/common/index_base.h
  toolchain/lexer/tokenized_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards

Adjust how invalid declarations pass errors. (#2413)
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/fail_no_intro_without_semi.carbon
  toolchain/parser/testdata/function/declaration/fail_skip_without_semi_to_curly.carbon
Due: fix-cc-deps, clang-format

x
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

x
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_tree.cpp
Due: fix-cc-deps, clang-format

x
  toolchain/parser/parse_node_kind.def
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

