Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Build a website. (#4189)
  .codespell_ignore
  .github/workflows/gh_pages_ci.yaml
  .github/workflows/gh_pages_deploy.yaml
  .pre-commit-config.yaml
  SECURITY.md
  docs/images/snippets.md
  explorer/README.md
  explorer/ast/README.md
  explorer/syntax/README.md
  testing/README.md
  testing/file_test/README.md
  website/.ruby-version
  website/404.md
  website/Gemfile
  website/Gemfile.lock
  website/README.md
  website/_config.yml
  website/_includes/footer_custom.html
  website/_includes/nav_footer_custom.html
  website/_sass/custom/custom.scss
  website/_sass/custom/setup.scss
  website/favicon.png
  website/implementation.md
  website/prebuild.py
Due: none

Update tests
  toolchain/lower/testdata/global/class_obj.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
  toolchain/lower/testdata/global/decl.carbon
  toolchain/lower/testdata/global/simple_init.carbon
  toolchain/lower/testdata/global/simple_with_fun.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/access/return_value_access.carbon
Due: none

Add test for driver flag compatibility error
  toolchain/driver/testdata/fail_flags.carbon
Due: none

Autoupdate tests
  toolchain/driver/testdata/fail_flags.carbon
Due: none

Enable debug info by default
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/fail_flags.carbon
  toolchain/lower/testdata/debug/nodebug.carbon
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Minor updates to support newer Clang versions.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  explorer/interpreter/pattern_analysis.cpp
Due: fix-cc-deps, buildifier, clang-format

Apply suggestions from code review
  docs/design/declaring_entities.md
Due: none

Minor updates to support newer Clang versions. (#4234)
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  explorer/interpreter/pattern_analysis.cpp
Due: fix-cc-deps, buildifier, clang-format

Addressing comments
  docs/design/declaring_entities.md
Due: none

Add a note about extern and scopes.
  docs/design/declaring_entities.md
Due: none

Switch python syntax to use Path.parents
  bazel/check_deps/update_roots.py
  scripts/run_clang_tidy.py
  scripts/scripts_utils.py
  toolchain/autoupdate_testdata.py
  toolchain/diagnostics/check_diagnostics.py
  toolchain/install/toolchain_tar_test.py
  website/prebuild.py
Due: check-toolchain-diagnostics

rephrase
  docs/design/declaring_entities.md
Due: none

apply suggestion
  docs/design/declaring_entities.md
Due: none

Add documentation for entity declaration design work (#4230)
  docs/design/declaring_entities.md
Due: none

Add generic substitution support and use it to substitute %{core_package_dir}
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  toolchain/lower/testdata/debug/nodebug.carbon
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add function comment for FileContext::BuildSubprogram
  toolchain/lower/file_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename BuildSubprogram to BuildDISubprogram to match BuildDICompileUnit
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add some comments - FIXME and unused or default argument comments
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Implement new precedence from #4075
  toolchain/parse/precedence.cpp
  toolchain/parse/testdata/operators/fail_precedence_as.carbon
  toolchain/parse/testdata/operators/precedence_as.carbon
  toolchain/parse/testdata/operators/recover_star_minus.carbon
  toolchain/parse/testdata/operators/recover_star_star.carbon
  toolchain/parse/testdata/operators/three_stars.carbon
  toolchain/parse/testdata/pointer/fail_pointer_type_in_expr.carbon
  toolchain/parse/testdata/pointer/pointer_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Delete failing test
  toolchain/parse/precedence_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/parse/testdata/operators/fail_precedence_as.carbon
Due: none

Switch python syntax to use Path.parents (#4235)
  bazel/check_deps/update_roots.py
  scripts/run_clang_tidy.py
  scripts/scripts_utils.py
  toolchain/autoupdate_testdata.py
  toolchain/diagnostics/check_diagnostics.py
  toolchain/install/toolchain_tar_test.py
  website/prebuild.py
Due: check-toolchain-diagnostics

Report invalid parse on `var x: i32 = {.7 = 8}`
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_period.cpp
  toolchain/parse/testdata/struct/fail_number_member.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

rename test file
  toolchain/parse/testdata/struct/fail_invalid_struct_designator.carbon
Due: none

ofcourse i forgot to update the testfile
  toolchain/parse/testdata/struct/fail_invalid_struct_designator.carbon
Due: none

apply suggestion
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_period.cpp
  toolchain/parse/testdata/struct/fail_invalid_struct_designator.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Report invalid parse on `var x: i32 = {.7 = 8}` (#4237)
  toolchain/parse/handle_period.cpp
  toolchain/parse/testdata/struct/fail_invalid_struct_designator.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add blank line after BuildDISubprogram in toolchain/lower/file_context.cpp
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Qualify `SemIR::Function` a bit less in toolchain/lower/file_context.h
  toolchain/lower/file_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reduce qualification of Carbon::SemIR::Function in toolchain/lower/file_context.cpp
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Document GetArgReplacements
  testing/file_test/file_test_base.h
Due: fix-cc-deps, clang-format, check-header-guards

Add test coverage for generic replacements functionality
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/args.carbon
Due: fix-cc-deps, clang-format

GetReplacements -> GetArgReplacements
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove some explicit (Mutable)ArrayRef constructions
  common/hashing_test.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
  toolchain/driver/driver.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

