Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Mark recovered misordered `unused` bindings as errors
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/testdata/generics/params/fail_unused_after_phase_keyword.carbon
  toolchain/parse/testdata/var/unused.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Include whether the impl is final in textual semir (#7485)
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/interface/final.carbon
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unneeded end_depth
  toolchain/check/control_flow.cpp
  toolchain/check/control_flow.h
  toolchain/check/scope_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

clang-format
  toolchain/check/handle_loop_statement.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add more to the description
  proposals/p007362-updating-destroy-for-trivial-and-partial-types.md
Due: none

Add SemIR ranges to observe test. Removes 5K lines of SemIR output.
  toolchain/check/testdata/interface/observe.carbon
Due: none

finishes `Core.Destroy`
  proposals/p007362-updating-destroy-for-trivial-and-partial-types.md
Due: none

Rename proposal to match new title
  proposals/p007362-define-destroy-for-class-types.md
Due: none

Run prek
  proposals/p007362-define-destroy-for-class-types.md
Due: none

Respond to reviewer comments
  toolchain/check/testdata/let/FIXME.carbon
  toolchain/docs/check/pattern_matching.md
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Handle missing curlies after `match_first` without crashing in parse (#7480)
  toolchain/diagnostics/kind.def
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_match_first.cpp
  toolchain/parse/testdata/generics/impl/match_first.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Disable prelude import in language-server tests.
  toolchain/driver/language_server_subcommand.cpp
  toolchain/driver/language_server_subcommand.h
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/language_server.cpp
  toolchain/language_server/language_server.h
  toolchain/language_server/testdata/text_document/import_prelude.carbon
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Another prek nit
  proposals/p007362-define-destroy-for-class-types.md
Due: none

Address post-merge review comments on #7254
  docs/design/README.md
  docs/design/expressions/if.md
  docs/design/expressions/member_access.md
  docs/design/generics/appendix-rewrite-constraints.md
  docs/design/generics/details.md
  docs/design/generics/overview.md
  docs/design/generics/terminology.md
  docs/design/pattern_matching.md
  docs/design/variadics.md
Due: none

Address review feedback for Core.Destroy abstract class fix
  toolchain/check/custom_witness.cpp
  toolchain/check/testdata/impl/custom_witness/destroy_abstract.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Basic checking for match_first blocks (#7481)
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_match_first.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/match_first/basic.carbon
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Diagnose if match_first is not in a valid scope (#7482)
  toolchain/check/handle_match_first.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/match_first/basic.carbon
  toolchain/diagnostics/kind.def
  toolchain/parse/handle_statement.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Align operator operands when wrapping in `carbon format`.
  toolchain/format/BUILD
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/line_wrapper.cpp
  toolchain/format/line_wrapper_test.cpp
  toolchain/format/testdata/wrapping/operator_alignment.carbon
  toolchain/format/token_info.cpp
  toolchain/format/token_info.h
  toolchain/format/token_info_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Write `carbon format` output in place or to `--output`.
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/kind.def
  toolchain/driver/format_subcommand.cpp
  toolchain/format/testdata/basics/fail_multi_file_one_output.carbon
  toolchain/format/testdata/basics/fail_output_is_directory.carbon
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Wrap over-long lines in `carbon format` with an optimizing solver.
  toolchain/format/BUILD
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/line_wrapper.cpp
  toolchain/format/line_wrapper.h
  toolchain/format/line_wrapper_test.cpp
  toolchain/format/testdata/wrapping/assignment.carbon
  toolchain/format/testdata/wrapping/call_args.carbon
  toolchain/format/testdata/wrapping/function_params.carbon
  toolchain/format/testdata/wrapping/generics.carbon
  toolchain/format/token_info.cpp
  toolchain/format/token_info.h
  toolchain/format/token_info_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add tree-driven spacing, blank lines, and error recovery to `carbon format`.
  toolchain/driver/format_subcommand.cpp
  toolchain/format/BUILD
  toolchain/format/format.cpp
  toolchain/format/format.h
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/testdata/basics/blank_lines.carbon
  toolchain/format/testdata/basics/braces.carbon
  toolchain/format/testdata/basics/comments.carbon
  toolchain/format/testdata/basics/fail_best_effort.carbon
  toolchain/format/testdata/basics/fail_invalid_comment.carbon
  toolchain/format/testdata/basics/generics.carbon
  toolchain/format/testdata/basics/match.carbon
  toolchain/format/testdata/basics/operators.carbon
  toolchain/format/testdata/basics/simple.carbon
  toolchain/format/testdata/basics/strings.carbon
  toolchain/format/testdata/basics/struct_literal.carbon
  toolchain/format/token_info.cpp
  toolchain/format/token_info.h
  toolchain/format/token_info_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Price keyword and binding-colon breaks; forbid splitting unary operators.
  toolchain/format/format_fuzzer.cpp
  toolchain/format/formatter_test.cpp
  toolchain/format/testdata/wrapping/declarations.carbon
  toolchain/format/testdata/wrapping/unary_operators.carbon
  toolchain/format/token_info.cpp
  toolchain/format/token_info_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a `carbon format` fuzzer.
  toolchain/format/BUILD
  toolchain/format/format_fuzzer.cpp
  toolchain/format/fuzzer_corpus/0e56253938ee4faf2d681a6cf3ab88f4468a78b4
  toolchain/format/fuzzer_corpus/40ee2d78e230a98fdb14efc44c457c8cd898389f
  toolchain/format/fuzzer_corpus/4a04e3c02084d91e3982f6236b3c2c6b1a429bc6
  toolchain/format/fuzzer_corpus/5226738ec8dfb61553439b15c7019efefec41828
  toolchain/format/fuzzer_corpus/734c908383d13f929f2428a0d0dcd46c45f0a359
  toolchain/format/fuzzer_corpus/b4484ab4a3b2451cc39f80f284884c96cd9d9c85
  toolchain/format/fuzzer_corpus/bdb8dd1ae2cfffa16a98cb10a3353a84ae5ae0c4
Due: fix-cc-deps, buildifier, clang-format, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Add `--lines` to `carbon format` and formatting to the language server.
  toolchain/diagnostics/kind.def
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/format_subcommand.h
  toolchain/format/testdata/range/brace_expansion.carbon
  toolchain/format/testdata/range/fail_invalid_lines.carbon
  toolchain/format/testdata/range/lines.carbon
  toolchain/language_server/BUILD
  toolchain/language_server/handle.h
  toolchain/language_server/handle_formatting.cpp
  toolchain/language_server/handle_initialize.cpp
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/testdata/basics/fail_shutdown_without_exit.carbon
  toolchain/language_server/testdata/basics/initialize.carbon
  toolchain/language_server/testdata/basics/notify_parse_error.carbon
  toolchain/language_server/testdata/document_symbol/basics.carbon
  toolchain/language_server/testdata/document_symbol/language.carbon
  toolchain/language_server/testdata/document_symbol/unknown.carbon
  toolchain/language_server/testdata/formatting/basics.carbon
  toolchain/language_server/testdata/formatting/range.carbon
  toolchain/language_server/testdata/text_document/change_unknown.carbon
  toolchain/language_server/testdata/text_document/close_unknown.carbon
  toolchain/language_server/testdata/text_document/diagnostics.carbon
  toolchain/language_server/testdata/text_document/import_prelude.carbon
  toolchain/language_server/testdata/text_document/incremental_sync.carbon
  toolchain/language_server/testdata/text_document/incremental_sync_multiline.carbon
  toolchain/language_server/testdata/text_document/multiple_files.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
  toolchain/language_server/testdata/text_document/open_duplicate.carbon
  toolchain/language_server/testdata/text_document/open_with_cpp_nonexistent.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add a `carbon format` benchmark with a clang-format comparison.
  toolchain/benchmarking/BUILD
  toolchain/benchmarking/format_benchmark.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Align trailing comments in `carbon format`.
  toolchain/format/BUILD
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/style.h
  toolchain/format/testdata/basics/trailing_comments.carbon
  toolchain/format/whitespace_manager.cpp
  toolchain/format/whitespace_manager.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Emit error regions verbatim in `carbon format`.
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/testdata/basics/fail_verbatim_errors.carbon
  toolchain/format/token_info.h
  toolchain/format/whitespace_manager.cpp
  toolchain/format/whitespace_manager.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Introduce a `Style` object for `carbon format`.
  toolchain/format/BUILD
  toolchain/format/format.cpp
  toolchain/format/format.h
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/line_wrapper.cpp
  toolchain/format/line_wrapper.h
  toolchain/format/line_wrapper_test.cpp
  toolchain/format/style.h
  toolchain/format/token_info.cpp
  toolchain/format/token_info.h
  toolchain/format/token_info_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Wrap member-access chains in `carbon format` like clang-format.
  toolchain/format/BUILD
  toolchain/format/formatter.cpp
  toolchain/format/formatter_test.cpp
  toolchain/format/line_wrapper.cpp
  toolchain/format/line_wrapper_test.cpp
  toolchain/format/testdata/wrapping/declarations.carbon
  toolchain/format/testdata/wrapping/member_chain.carbon
  toolchain/format/token_info.cpp
  toolchain/format/token_info.h
  toolchain/format/token_info_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add line-range selection to `carbon format`'s minimal edits.
  toolchain/format/format.cpp
  toolchain/format/format.h
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Re-indent and wrap comments in `carbon format`.
  toolchain/format/BUILD
  toolchain/format/comment.cpp
  toolchain/format/comment.h
  toolchain/format/comment_test.cpp
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/testdata/basics/comments.carbon
  toolchain/format/testdata/basics/fail_invalid_comment.carbon
  toolchain/format/testdata/basics/trailing_comments.carbon
  toolchain/format/testdata/comments/reindent.carbon
  toolchain/format/testdata/comments/wrap.carbon
  toolchain/format/testdata/wrapping/operator_alignment.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Compute minimal edits for `carbon format`.
  toolchain/format/BUILD
  toolchain/format/format.cpp
  toolchain/format/format.h
  toolchain/format/format_fuzzer.cpp
  toolchain/format/formatter.cpp
  toolchain/format/formatter.h
  toolchain/format/formatter_test.cpp
  toolchain/format/whitespace_manager.cpp
  toolchain/format/whitespace_manager.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

chain-diag-builder
  toolchain/check/handle_impl.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

connect-impl-to-match-first-and-diagnose
  toolchain/check/context.h
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_match_first.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/keyword_modifier_set.h
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/match_first/basic.carbon
  toolchain/check/testdata/match_first/import.carbon
  toolchain/diagnostics/kind.def
  toolchain/sem_ir/impl.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/match_first/basic.carbon
  toolchain/check/testdata/match_first/import.carbon
Due: none

Move GetScrutineeTypeInSpecific to check/generic.h/cpp
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

