Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Respond to reviewer comments
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Relax lowering check
  toolchain/lower/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/declaration.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/testdata/impl/declaration.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
Due: none

Fix syntactic match of impl decl to definition
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/redeclaration.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add documentation for running GDB and LLDB
  .vscode/gdb_launch.json
  .vscode/lldb_launch.json
  docs/project/contribution_tools.md
Due: none

Respond to reviewer comments
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add support for IntLiteral operators.
  toolchain/base/int.h
  toolchain/check/eval.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add IntLiteral operations to the prelude.
  core/io.carbon
  core/prelude/operators/arithmetic.carbon
  core/prelude/operators/bitwise.carbon
  core/prelude/operators/comparison.carbon
  toolchain/check/testdata/array/base.carbon
  toolchain/check/testdata/array/canonicalize_index.carbon
  toolchain/check/testdata/basics/builtin_types.carbon
  toolchain/check/testdata/basics/fail_numeric_literal_overflow.carbon
  toolchain/check/testdata/basics/numeric_literals.carbon
  toolchain/check/testdata/builtins/float/make_type.carbon
  toolchain/check/testdata/builtins/int/convert_checked.carbon
  toolchain/check/testdata/builtins/print/char.carbon
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/builtin/method.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/return/returned_var_scope.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/access/index_not_literal.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/lower/testdata/builtins/print_read.carbon
Due: none

Change Dump functions to static where appropriate.
  toolchain/check/BUILD
  toolchain/check/dump.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Working on config
  .bazelrc
  .vscode/lldb_launch.json
  docs/project/contribution_tools.md
Due: none

path
  .vscode/lldb_launch.json
Due: none

cmake
  docs/project/contribution_tools.md
Due: none

g
  docs/project/contribution_tools.md
Due: none

vscode
  docs/project/contribution_tools.md
Due: none

For example
  docs/project/contribution_tools.md
Due: none

Testing for new ops.
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/int/and.carbon
  toolchain/check/testdata/builtins/int/complement.carbon
  toolchain/check/testdata/builtins/int/eq.carbon
  toolchain/check/testdata/builtins/int/greater_eq.carbon
  toolchain/check/testdata/builtins/int/left_shift.carbon
  toolchain/check/testdata/builtins/int/less_eq.carbon
  toolchain/check/testdata/builtins/int/right_shift.carbon
  toolchain/check/testdata/builtins/int/sadd.carbon
  toolchain/check/testdata/builtins/int/sdiv.carbon
  toolchain/check/testdata/builtins/int/smod.carbon
  toolchain/check/testdata/builtins/int/smul.carbon
  toolchain/check/testdata/builtins/int/ssub.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add TODO
  toolchain/lower/handle_aggregates.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Solution for advent of code day 2 part 2.
  examples/advent2024/BUILD
  examples/advent2024/day2_part2.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Factor out common stuff.
  examples/advent2024/BUILD
  examples/advent2024/day2_common.carbon
  examples/advent2024/day2_part1.carbon
  examples/advent2024/day2_part2.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Solution for advent of code day 2 part 1.
  examples/advent2024/BUILD
  examples/advent2024/day2_part1.carbon
  examples/advent2024/io_utils.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Remove workaround for #4704.
  examples/advent2024/day2_part2.carbon
Due: none

Wrap to 80 cols.
  examples/advent2024/day2_part1.carbon
Due: none

Solution for advent of code day 3, both parts.
  examples/advent2024/BUILD
  examples/advent2024/day3_common.carbon
  examples/advent2024/day3_part1.carbon
  examples/advent2024/day3_part2.carbon
  examples/advent2024/io_utils.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Enable libc++ and LLVM pretty printers for gdb
  .gdbinit
Due: none

Fix heterogeneous shift lowering.
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/int.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor the language server structure.
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/incoming_messages.h
  toolchain/language_server/language_server.cpp
  toolchain/language_server/outgoing_messages.h
  toolchain/language_server/server.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Middle of debugging
  .bazelrc
  .vscode/gdb_launch.json
  .vscode/lldb_launch.json
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
  toolchain/check/testdata/struct/no_prelude/import.carbon
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Implement suggested CHECK
  toolchain/check/handle_impl.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

More testing.
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/int/and.carbon
  toolchain/check/testdata/builtins/int/left_shift.carbon
  toolchain/check/testdata/builtins/int/right_shift.carbon
  toolchain/check/testdata/builtins/int/sadd.carbon
  toolchain/check/testdata/builtins/int/smul.carbon
  toolchain/check/testdata/builtins/int/snegate.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/int_literal.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

pre-commit fixes
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/int/snegate.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Also disallow runtime comparisons against integer literals for now.
  toolchain/sem_ir/builtin_function_kind.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add test for directly writing INT_MIN.
  toolchain/lower/testdata/builtins/int_literal.carbon
Due: none

Respond to reviewer comments
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove temporary tags on error messages
  toolchain/check/context.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Reorder impls.
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
Due: none

Move increment and decrement to their own section at the end.
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
Due: none

Alphabetize
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
Due: none

Fix a protected data member in a test.
  toolchain/lex/numeric_literal_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
