Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Update explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Fix clang-tidy
  common/indirect_value_test.cpp
  common/string_helpers_test.cpp
  compile_flags.txt
  explorer/ast/bindings.h
  explorer/ast/declaration.h
  explorer/ast/expression.h
  explorer/ast/impl_binding.h
  explorer/ast/member.cpp
  explorer/ast/pattern.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/explorer_fuzzer.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/builtins.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/pattern_analysis.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  migrate_cpp/output_segment.h
  migrate_cpp/rewriter.cpp
  migrate_cpp/rewriter.h
  migrate_cpp/rewriter_test.cpp
  scripts/create_compdb.py
  scripts/run_clang_tidy.py
  third_party/libprotobuf_mutator/BUILD.txt
  toolchain/lexer/token_kind_test.cpp
  toolchain/semantics/node_ref.h
Due: fix-cc-deps, clang-format, check-header-guards

Manual fixes
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

order
  toolchain/README.md
Due: none

remove check
  toolchain/parser/parse_tree_fuzzer.cpp
Due: fix-cc-deps, clang-format

work
  toolchain/parser/parser_impl.h
  toolchain/semantics/semantics_ir_factory.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Finish making clang-tidy (mostly) work (again) and run -fix (#2312)
  common/indirect_value_test.cpp
  common/string_helpers_test.cpp
  compile_flags.txt
  explorer/ast/bindings.h
  explorer/ast/declaration.h
  explorer/ast/expression.h
  explorer/ast/impl_binding.h
  explorer/ast/member.cpp
  explorer/ast/pattern.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/explorer_fuzzer.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/builtins.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/pattern_analysis.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  migrate_cpp/output_segment.h
  migrate_cpp/rewriter.cpp
  migrate_cpp/rewriter.h
  migrate_cpp/rewriter_test.cpp
  scripts/create_compdb.py
  scripts/run_clang_tidy.py
  third_party/libprotobuf_mutator/BUILD.txt
  toolchain/lexer/token_kind_test.cpp
  toolchain/semantics/node_ref.h
Due: fix-cc-deps, clang-format, check-header-guards

Remove operators from ParseTree::Node
  toolchain/parser/parse_tree.h
Due: fix-cc-deps, clang-format, check-header-guards

Enable readability-qualified-auto
  .clang-tidy
Due: none

fixes
  explorer/ast/bindings.cpp
  explorer/ast/declaration.h
  explorer/ast/expression.cpp
  explorer/ast/statement.cpp
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/builtins.cpp
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/pattern_analysis.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parse.cpp
  toolchain/common/yaml_test_helpers.cpp
  toolchain/driver/driver.cpp
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/parser/parse_tree.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Remove unused parameters. (#2311)
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Enable readability-qualified-auto (#2314)
  .clang-tidy
  explorer/ast/bindings.cpp
  explorer/ast/declaration.h
  explorer/ast/expression.cpp
  explorer/ast/statement.cpp
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/builtins.cpp
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/pattern_analysis.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parse.cpp
  toolchain/common/yaml_test_helpers.cpp
  toolchain/driver/driver.cpp
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/parser/parse_tree.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Explorer: rename Lookup* functions to Find*WithParents
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

refectoring
  explorer/interpreter/action.cpp
Due: fix-cc-deps, clang-format

x
  common/string_helpers.cpp
Due: fix-cc-deps, clang-format

tidy
  explorer/ast/declaration.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/fuzzverter.cpp
  explorer/fuzzing/proto_to_carbon_test.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/parse_test.cpp
  migrate_cpp/cpp_refactoring/BUILD
  migrate_cpp/cpp_refactoring/var_decl.cpp
  toolchain/semantics/nodes/function.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Perform implicit conversions on rewrite constraints. Make implicit conversions to a constraint type check that the type satisfies the constraint.
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

Bring earlier equality constraints into scope when checking later constraints in a `where` expression.
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Apply rewrites from earlier in a where expression later in that same expression.
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Attempt to refine a witness to an ImplWitness when looking up an associated constant value.
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Don't duplicate rewrite constraints as equality constraints.
  common/error.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/testdata/assoc_const/fail_different_type.carbon
  explorer/testdata/assoc_const/fail_different_value.carbon
  explorer/testdata/assoc_const/fail_equal_indirectly.carbon
  explorer/testdata/assoc_const/fail_equal_to_dependent_type.carbon
  explorer/testdata/assoc_const/fail_missing_equal.carbon
  explorer/testdata/assoc_const/fail_missing_rewrite.carbon
  explorer/testdata/assoc_const/fail_overspecified_impl.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Rewrite semantics
  toolchain/semantics/BUILD
  toolchain/semantics/node_kind.h
  toolchain/semantics/node_ref.h
  toolchain/semantics/node_store.h
  toolchain/semantics/nodes/binary_operator.h
  toolchain/semantics/nodes/function.h
  toolchain/semantics/nodes/integer_literal.h
  toolchain/semantics/nodes/return.h
  toolchain/semantics/nodes/set_name.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_factory.cpp
  toolchain/semantics/semantics_ir_factory.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/testdata/empty.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/return/binary_op.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Add examples from #generics-and-templates.
  explorer/interpreter/type_checker.cpp
  explorer/testdata/assoc_const/fail_equal_indirectly.carbon
  explorer/testdata/assoc_const/fail_equal_to_dependent_type.carbon
  explorer/testdata/assoc_const/fail_implied_constraints.carbon
  explorer/testdata/assoc_const/fail_rewrite_depends_on_later_rewrite.carbon
  explorer/testdata/assoc_const/rewrite_depends_on_prior_rewrite.carbon
Due: fix-cc-deps, clang-format

clang-format
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Manual clang-tidy fixes (#2319)
  common/string_helpers.cpp
  explorer/ast/declaration.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/fuzzverter.cpp
  explorer/fuzzing/proto_to_carbon_test.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/parse_test.cpp
  migrate_cpp/cpp_refactoring/BUILD
  migrate_cpp/cpp_refactoring/var_decl.cpp
  toolchain/semantics/nodes/function.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

i32
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format

update
  docs/design/README.md
Due: none

x
  docs/design/README.md
Due: none

link
  docs/design/README.md
Due: none

Refactor node creation
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_factory.cpp
  toolchain/semantics/semantics_ir_factory.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

comments
  toolchain/parser/parse_node_kind.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards

name
  toolchain/semantics/semantics_node.cpp
Due: fix-cc-deps, clang-format

Rewrite semantics towards a more pure instruction model (#2320)
  toolchain/parser/parse_node_kind.h
  toolchain/semantics/BUILD
  toolchain/semantics/node_kind.h
  toolchain/semantics/node_ref.h
  toolchain/semantics/node_store.h
  toolchain/semantics/nodes/binary_operator.h
  toolchain/semantics/nodes/function.h
  toolchain/semantics/nodes/integer_literal.h
  toolchain/semantics/nodes/return.h
  toolchain/semantics/nodes/set_name.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_factory.cpp
  toolchain/semantics/semantics_ir_factory.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/testdata/empty.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/return/binary_op.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Address review comments.
  common/error.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Refactor
  toolchain/semantics/semantics_ir_factory.cpp
  toolchain/semantics/semantics_ir_factory.h
Due: fix-cc-deps, clang-format, check-header-guards

comment
  toolchain/semantics/semantics_ir_factory.h
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  proposals/p1964.md
Due: none

Elaborate on 'No distinct character types'
  proposals/p1964.md
Due: none
