Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Revert
  toolchain/check/check_unit.cpp
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Stop substituting into `MetaInstId` operands.
  toolchain/check/inst.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
  toolchain/check/testdata/let/fail_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update LLVM, picking up new `-disable-free` flag logic
  MODULE.bazel
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix handling of member types of generic classes.
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/class/generic/member_type.carbon
  toolchain/check/testdata/class/no_prelude/fail_error_recovery.carbon
  toolchain/check/testdata/class/no_prelude/generic_vs_params.carbon
  toolchain/check/testdata/function/call/prefer_unqualified_lookup.carbon
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon
  toolchain/check/testdata/interface/no_prelude/fail_add_member_outside_definition.carbon
  toolchain/check/testdata/interface/no_prelude/generic_vs_params.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Autoupdate
  toolchain/check/testdata/class/generic/member_type.carbon
Due: none

Remove FindOr flavours
  common/find.h
  common/find_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

CHECKs
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

CHECKs
  toolchain/check/type.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

typo
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

type
  toolchain/check/type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix comment
  toolchain/check/type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Detect control flow in nested functions
  toolchain/check/check_unit.cpp
  toolchain/check/context.h
  toolchain/check/control_flow.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_choice.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/return.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/class/no_prelude/destroy_calls.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Simplify freeing with new LLVM
  toolchain/driver/clang_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add Assign builtins for all binary int ops.
  toolchain/check/eval.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update proposals/p5168.md
  proposals/p5168.md
Due: none

Fix formatting
  proposals/p5168.md
Due: none

Use Assign builtins in the prelude for int compound assignments.
  core/prelude/types/int.carbon
  core/prelude/types/uint.carbon
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/array/canonicalize_index.carbon
  toolchain/check/testdata/class/import.carbon
  toolchain/check/testdata/function/generic/param_in_type.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interop/cpp/function_decl.carbon
  toolchain/check/testdata/pointer/address_of_deref.carbon
  toolchain/check/testdata/pointer/basic.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add some basic check tests.
  toolchain/check/testdata/builtins/int/and_assign.carbon
  toolchain/check/testdata/builtins/int/left_shift_assign.carbon
  toolchain/check/testdata/builtins/int/or_assign.carbon
  toolchain/check/testdata/builtins/int/right_shift_assign.carbon
  toolchain/check/testdata/builtins/int/sadd_assign.carbon
  toolchain/check/testdata/builtins/int/sdiv_assign.carbon
  toolchain/check/testdata/builtins/int/smod_assign.carbon
  toolchain/check/testdata/builtins/int/smul_assign.carbon
  toolchain/check/testdata/builtins/int/ssub_assign.carbon
  toolchain/check/testdata/builtins/int/uadd_assign.carbon
  toolchain/check/testdata/builtins/int/udiv_assign.carbon
  toolchain/check/testdata/builtins/int/umod_assign.carbon
  toolchain/check/testdata/builtins/int/umul_assign.carbon
  toolchain/check/testdata/builtins/int/usub_assign.carbon
  toolchain/check/testdata/builtins/int/xor_assign.carbon
Due: none

Add lowering test.
  toolchain/lower/testdata/builtins/int.carbon
Due: none

clang-format
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve naming.
  toolchain/lower/handle_call.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Updates to wording to fit lambda context
  docs/design/README.md
  docs/design/lambdas.md
Due: none

self and recursion update
  docs/design/lambdas.md
Due: none

Filling out template with PR 5337
  proposals/p5337.md
Due: none

Checkpoint progress.
  proposals/p5337.md
Due: none

Delete TODO that turned out to not match the code.
  toolchain/lower/function_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/scope_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Collect per-entity names when processing the entity, not each declaration.
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clarify generic design about the type before `as`
  docs/design/generics/details.md
Due: none

Addressing comments
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/class/no_prelude/destroy_calls.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/parse/testdata/class/fail_var_name.carbon
Due: none

Respond to reviewer comments
  toolchain/check/testdata/class/fail_field_initializer.carbon
  toolchain/parse/testdata/class/fail_var_name.carbon
Due: none

Update docs/design/lambdas.md
  docs/design/lambdas.md
Due: none

Update docs/design/README.md
  docs/design/README.md
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

