Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Factor out machinery for forming int type literals.
  toolchain/check/BUILD
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/literal.cpp
  toolchain/check/literal.h
  toolchain/check/testdata/array/fail_out_of_bound_non_literal.carbon
  toolchain/check/testdata/array/function_param.carbon
  toolchain/check/testdata/array/index_not_literal.carbon
  toolchain/check/testdata/basics/fail_bad_run.carbon
  toolchain/check/testdata/basics/run_i32.carbon
  toolchain/check/testdata/class/basic.carbon
  toolchain/check/testdata/class/static_method.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/eval/fail_aggregate.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/tuple/access/return_value_access.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Checkpoint progress.
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/entity_name.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Due: none

Implement suggestions
  toolchain/check/eval.cpp
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Implement suggestions
  toolchain/sem_ir/constant.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/stringify_type.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Implement suggestions
  toolchain/sem_ir/constant.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Revert "move-out-of-linux"
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: buildifier

dont-line-split
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: buildifier

Fix typo.
  toolchain/check/handle_function.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add-underscores
  toolchain/base/timings.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

types
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

reviewer-suggestion
  toolchain/docs/check.md
Due: none

Clean up note-to-self
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add framework for singleton instructions.
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Update toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

SingletonInstId
  toolchain/sem_ir/singleton_insts.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

decl
  toolchain/sem_ir/singleton_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Re-add Make
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Explain bazel is an alias to bazelisk, and recommend that for linux
  docs/project/contribution_tools.md
Due: none

add-comment-and-alias
  docs/project/contribution_tools.md
Due: none

Restrict the Cpp package name
  toolchain/check/check.cpp
  toolchain/check/testdata/packages/fail_package_main.carbon
  toolchain/check/testdata/packages/no_prelude/restricted_package_names.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

improve-comment
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Introduce AnyRawId as a polymorphic field type in typed instructions
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

subclass-idbase
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use IdBase::InvalidIndex instead of InstId::InvalidIndex
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

category
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

reviewer-suggestion
  docs/project/contribution_tools.md
Due: none

Fix bug introduced in #4613
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle ImportRefs
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix comment
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

type -> kind
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch TypeId::TypeType to TypeType::SingletonTypeId, and similar
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/merge.cpp
  toolchain/check/pointer_dereference.cpp
  toolchain/docs/adding_features.md
  toolchain/sem_ir/class.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Refactor IdBase to provide CRTP-based printing
  toolchain/base/index_base.h
  toolchain/base/int.h
  toolchain/base/value_ids.h
  toolchain/check/node_stack.h
  toolchain/check/scope_index.h
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/no_prelude/raw_ir.carbon
  toolchain/check/testdata/basics/no_prelude/verbose.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/lex/token_index.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/node_ids.h
  toolchain/parse/tree.h
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/sem_ir/id_kind.h
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix impl lookup to properly look in the IR containing a transitively-imported entity.
  toolchain/check/handle_function.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/import_ref.h
  toolchain/check/testdata/impl/lookup/transitive.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Filter out entities transitively imported from the prelude in test output.
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuple/import.carbon
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Autoupdate after merge
  toolchain/check/testdata/impl/lookup/transitive.carbon
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

