Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


Apply suggestions from code review
  docs/design/generics/details.md
Due: none

Fix formatting
  docs/design/generics/details.md
Due: none

Generic details 10: interface-implemented requirements (#1088)
  docs/design/generics/details.md
  proposals/p1088.md
Due: none

[mlir][sparse] add more zero-preserving unary ops to sparse compiler
  mlir/include/mlir/Dialect/SparseTensor/Utils/Merger.h
  mlir/lib/Dialect/SparseTensor/Utils/Merger.cpp
  mlir/test/Dialect/SparseTensor/sparse_fp_ops.mlir
Due: fix-cc-deps

Revert "Pedantically warn about // comments in gnu89 mode"
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/LangStandards.def
  clang/test/Lexer/c90.c
  clang/test/Sema/gnu89.c
Due: none

[docs] Add blank lines to help Sphinx parse nested bullets.
  clang/docs/ReleaseNotes.rst
Due: none

[docs] Fix uses of `foo` that should be ``foo`` throughout release notes.
  clang/docs/ReleaseNotes.rst
Due: none

[compiler-rt][builtins] Add helper functions for uint16/sint16/uint8/sint8 div and mod
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/avr/divmodhi4.S
  compiler-rt/lib/builtins/avr/divmodqi4.S
  compiler-rt/lib/builtins/avr/udivmodhi4.S
  compiler-rt/lib/builtins/avr/udivmodqi4.S
Due: none

[HWASan] Allow to linkify symbolizer output.
  compiler-rt/lib/hwasan/scripts/hwasan_symbolize
  compiler-rt/test/hwasan/TestCases/hwasan_symbolize.cpp
Due: fix-cc-deps

[HWASan] Clean up hwasan_symbolize.
  compiler-rt/lib/hwasan/scripts/hwasan_symbolize
Due: none

[mlir] Fix printer when it is a DenseElementsAttr of i1
  mlir/lib/IR/BuiltinAttributes.cpp
  mlir/test/IR/attribute-roundtrip.mlir
  mlir/test/Target/SPIRV/constant.mlir
Due: fix-cc-deps

Adjust test to work in more environments.
  explorer/fuzzing/fuzzer_util_test.cpp
Due: fix-cc-deps

[SPIRV] Add SPIR-V specific intrinsics, two passes and tests
  llvm/include/llvm/IR/CMakeLists.txt
  llvm/include/llvm/IR/Intrinsics.td
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVPreLegalizer.cpp
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/branching/if-merging.ll
  llvm/test/CodeGen/SPIRV/function/alloca-load-store.ll
  llvm/test/CodeGen/SPIRV/function/trivial-function-with-attributes.ll
  llvm/test/CodeGen/SPIRV/instructions/atomic.ll
  llvm/test/CodeGen/SPIRV/instructions/atomic_acqrel.ll
  llvm/test/CodeGen/SPIRV/instructions/atomic_seq.ll
  llvm/test/CodeGen/SPIRV/instructions/fcmp.ll
  llvm/test/CodeGen/SPIRV/instructions/float-casts.ll
  llvm/test/CodeGen/SPIRV/instructions/icmp.ll
  llvm/test/CodeGen/SPIRV/instructions/integer-casts.ll
  llvm/test/CodeGen/SPIRV/instructions/ptrcmp.ll
Due: fix-cc-deps

[NFC][test] Replace hardcoded number with numeric substitution blocks
  llvm/test/TableGen/VarLenDecoder.td
Due: none

Adjust test to work in more environments. (#1231)
  explorer/fuzzing/fuzzer_util_test.cpp
Due: fix-cc-deps

[gn build] (semi-manually) port 70a66c08fc65
  llvm/utils/gn/secondary/compiler-rt/lib/builtins/BUILD.gn
Due: none

Insert crashing stack frame when call to null func ptr
  lldb/examples/python/crashlog.py
Due: none

Add support for `Self` and `impl as` (#1194)
  explorer/ast/ast_rtti.txt
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/basic_syntax/fail_var_named_self.carbon
  explorer/testdata/class/class_function_self.carbon
  explorer/testdata/class/fail_class_named_self.carbon
  explorer/testdata/class/method_self.carbon
  explorer/testdata/generic_class/fail_no_args.carbon
  explorer/testdata/generic_class/fail_self_with_arg.carbon
  explorer/testdata/generic_class/impl_with_argument.carbon
  explorer/testdata/generic_class/impl_with_self.carbon
  explorer/testdata/generic_class/use_self.carbon
  explorer/testdata/global_variable/fail_named_self.carbon
  explorer/testdata/impl/param_impl_with_self.carbon
  explorer/testdata/interface/external_impl_use_self.carbon
  explorer/testdata/interface/fail_external_impl_omit_self.carbon
  explorer/testdata/interface/fail_external_impl_self.carbon
  explorer/testdata/interface/impl_self_interface_parameter.carbon
  explorer/testdata/interface/omit_self.carbon
  explorer/testdata/interface/with_self.carbon
  explorer/testdata/let/fail_global_named_self.carbon
  explorer/testdata/let/fail_local_named_self.carbon
Due: fix-cc-deps, forbid-llvm-googletest

XFAIL some PGO tests on AIX until the new linker becomes publicly available.
  compiler-rt/test/profile/Posix/gcov-destructor.c
  compiler-rt/test/profile/Posix/gcov-execlp.c
  compiler-rt/test/profile/Posix/gcov-fork.c
  compiler-rt/test/profile/Posix/instrprof-gcov-parallel.test
  compiler-rt/test/profile/Posix/instrprof-get-filename-merge-mode.c
  compiler-rt/test/profile/gcov-__gcov_flush-terminate.c
  compiler-rt/test/profile/gcov-basic.c
  compiler-rt/test/profile/gcov-complex-line.c
  compiler-rt/test/profile/gcov-dump-and-remove.c
  compiler-rt/test/profile/infinite_loop.c
  compiler-rt/test/profile/instrprof-coverage.c
  compiler-rt/test/profile/instrprof-gcov-exceptions.test
  compiler-rt/test/profile/instrprof-gcov-multiple-bbs-single-line.test
  compiler-rt/test/profile/instrprof-gcov-multithread_fork.test
  compiler-rt/test/profile/instrprof-gcov-one-line-function.test
  compiler-rt/test/profile/instrprof-gcov-switch.test
  compiler-rt/test/profile/instrprof-gcov-two-objects.test
  compiler-rt/test/profile/instrprof-get-filename.c
  compiler-rt/test/profile/instrprof-icall-promo.test
  compiler-rt/test/profile/instrprof-merge-entry-cover.c
  compiler-rt/test/profile/instrprof-path.c
  compiler-rt/test/profile/instrprof-set-dir-mode.c
  compiler-rt/test/profile/runtime_infinite.c
Due: none

[RISCV][SelectionDAG] Support VP_REDUCE_ADD mask operation.
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-reduction-mask-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vreductions-mask-vp.ll
Due: fix-cc-deps

Compound member access syntax.
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/ast_rtti.txt
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/field_path.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parser.ypp
  explorer/testdata/class/fail_method_from_class.carbon
  explorer/testdata/member_access/qualified_interface_member.carbon
Due: fix-cc-deps

Add test for qualified class member access.
  explorer/testdata/member_access/qualified_class_member.carbon
Due: none

[clang][NFC] In parts of Objective-C Sema use Obj-C-specific types instead of `Decl`.
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseObjc.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclObjC.cpp
Due: fix-cc-deps

[InstCombine] try to narrow more shifted bswap-of-zext
  llvm/lib/Transforms/InstCombine/InstCombineShifts.cpp
  llvm/test/Transforms/InstCombine/lshr.ll
Due: fix-cc-deps

[InstCombine] precommit tests for D124590
  llvm/test/Transforms/InstCombine/sext.ll
Due: none

Apply clang-tidy fixes for bugprone-argument-comment in AffineOps.cpp (NFC)
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
Due: fix-cc-deps

Apply clang-tidy fixes for llvm-else-after-return in OpenMPDialect.cpp (NFC)
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
Due: fix-cc-deps

[Coroutines] Don't re-materialize for debug instructions
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
Due: fix-cc-deps

[AVR][NFC] Eliminate warning 'unused variable'
  llvm/lib/Target/AVR/AVRExpandPseudoInsts.cpp
Due: fix-cc-deps

[Lex] Don't assert when decoding invalid UCNs.
  clang/lib/Lex/LiteralSupport.cpp
  clang/test/Lexer/unicode.c
Due: fix-cc-deps

[pseudo] Only expand UCNs for raw_identifiers
  clang-tools-extra/pseudo/include/clang-pseudo/Token.h
  clang-tools-extra/pseudo/lib/Lex.cpp
  clang-tools-extra/pseudo/test/crash/backslashes.c
  clang-tools-extra/pseudo/tool/ClangPseudo.cpp
Due: fix-cc-deps

[Support] Fix UB in BumpPtrAllocator when first allocation is zero.
  llvm/include/llvm/Support/Allocator.h
  llvm/unittests/Support/AllocatorTest.cpp
Due: fix-cc-deps

[libcxx] [ci] Add a i386 Windows configuration to CI
  libcxx/docs/index.rst
  libcxx/utils/ci/buildkite-pipeline.yml
  libcxx/utils/ci/run-buildbot
Due: none

[VectorCombine] Fold shuffle select pattern
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/AArch64/select-shuffle.ll
Due: fix-cc-deps

[Instrumentation] Share InstrumentationIRBuilder between TSan and SanCov
  llvm/include/llvm/Transforms/Instrumentation.h
  llvm/lib/Transforms/Instrumentation/SanitizerCoverage.cpp
  llvm/lib/Transforms/Instrumentation/ThreadSanitizer.cpp
Due: fix-cc-deps

[pseudo] Add fuzzer for the pseudoparser.
  clang-tools-extra/pseudo/CMakeLists.txt
  clang-tools-extra/pseudo/fuzzer/CMakeLists.txt
  clang-tools-extra/pseudo/fuzzer/Fuzzer.cpp
  clang-tools-extra/pseudo/fuzzer/Main.cpp
  clang-tools-extra/pseudo/test/CMakeLists.txt
  clang-tools-extra/pseudo/test/fuzzer.cpp
Due: fix-cc-deps
