Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Small cleanup for DiagnosticType
  toolchain/diagnostics/diagnostic_emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Small cleanup for DiagnosticType (#3697)
  toolchain/diagnostics/diagnostic_emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add --dump_output to file_test to help debugging.
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
Due: fix-cc-deps, clang-format, check-header-guards

Add help information printing for a specific subcommand
  common/command_line.cpp
  common/command_line_test.cpp
Due: fix-cc-deps, clang-format

Add help information printing for a specific subcommand (#3699)
  common/command_line.cpp
  common/command_line_test.cpp
Due: fix-cc-deps, clang-format

Resolve comments from review
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/testdata/match/fail_cases_after_default.carbon
  toolchain/parse/testdata/match/fail_missing_case_arrow.carbon
  toolchain/parse/testdata/match/fail_unexpected_tokens_in_cases_block.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor `case` guards parsing
  toolchain/check/handle_match.cpp
  toolchain/parse/handle_match.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve `match` diagnostics
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Describe `match` parsing states.
  toolchain/parse/state.def
Due: none

Add initial `match` parsing
  toolchain/check/handle_match.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add `match` tests
  toolchain/parse/testdata/match/fail_cases_after_default.carbon
  toolchain/parse/testdata/match/fail_missing_case_arrow.carbon
  toolchain/parse/testdata/match/fail_missing_case_pattern.carbon
  toolchain/parse/testdata/match/fail_missing_case_statements_block.carbon
  toolchain/parse/testdata/match/fail_missing_cases.carbon
  toolchain/parse/testdata/match/fail_missing_cases_block.carbon
  toolchain/parse/testdata/match/fail_missing_default_arrow.carbon
  toolchain/parse/testdata/match/fail_missing_default_statements_block.carbon
  toolchain/parse/testdata/match/fail_missing_matched_expr.carbon
  toolchain/parse/testdata/match/match.carbon
Due: none

Remove redundant state and improve error handling
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/state.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Generalize unreachable match cases diagnostic
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor `default` to store statements like `case`
  toolchain/check/handle_match.cpp
  toolchain/parse/handle_match.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use CARBON_IF_VALID to fix fuzzer tests
  toolchain/parse/node_kind.def
Due: none

Propagate error to parent on case after `default`
  toolchain/parse/handle_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle unexpected cases after the `default`
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/state.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve `match` case guards parsing
  toolchain/parse/handle_match.cpp
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add --dump_output to file_test to help debugging. (#3698)
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
Due: fix-cc-deps, clang-format, check-header-guards

Add 'let' handling for ImportRefUsed.
  toolchain/check/context.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/fail_todo_import.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/let/import.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add `match` parsing (#3664)
  toolchain/check/handle_match.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_match.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/match/fail_cases_after_default.carbon
  toolchain/parse/testdata/match/fail_missing_case_arrow.carbon
  toolchain/parse/testdata/match/fail_missing_case_pattern.carbon
  toolchain/parse/testdata/match/fail_missing_case_statements_block.carbon
  toolchain/parse/testdata/match/fail_missing_cases.carbon
  toolchain/parse/testdata/match/fail_missing_cases_block.carbon
  toolchain/parse/testdata/match/fail_missing_default_arrow.carbon
  toolchain/parse/testdata/match/fail_missing_default_statements_block.carbon
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
  toolchain/parse/testdata/match/fail_missing_matched_expr.carbon
  toolchain/parse/testdata/match/fail_unexpected_tokens_in_cases_block.carbon
  toolchain/parse/testdata/match/match.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add 'let' handling for ImportRefUsed. (#3700)
  toolchain/check/context.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/fail_todo_import.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/let/import.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Implement 'alias' with transparent semantics.
  toolchain/check/context.cpp
  toolchain/check/decl_state.h
  toolchain/check/eval.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/testdata/alias/alias_of_alias.carbon
  toolchain/check/testdata/alias/builtins.carbon
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/alias/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/fail_not_constant.carbon
  toolchain/check/testdata/alias/fail_todo_local.carbon
  toolchain/check/testdata/alias/in_namespace.carbon
  toolchain/check/testdata/alias/local.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/function/call/alias.carbon
  toolchain/check/testdata/namespace/alias.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/handle.cpp
  toolchain/parse/handle_alias.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/alias/basic.carbon
  toolchain/parse/testdata/alias/fail_syntax.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch alias approach to NameRef
  toolchain/check/handle_alias.cpp
  toolchain/check/testdata/alias/alias_of_alias.carbon
  toolchain/check/testdata/alias/builtins.carbon
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/alias/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/fail_not_constant.carbon
  toolchain/check/testdata/alias/fail_todo_local.carbon
  toolchain/check/testdata/alias/in_namespace.carbon
  toolchain/check/testdata/alias/local.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/function/call/alias.carbon
  toolchain/check/testdata/namespace/alias.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove BindTemplateName support
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename diagnostic
  toolchain/check/handle_alias.cpp
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Test fixup
  toolchain/check/testdata/alias/alias_of_alias.carbon
  toolchain/check/testdata/alias/builtins.carbon
  toolchain/check/testdata/alias/fail_bool_value.carbon
  toolchain/check/testdata/alias/fail_todo_import.carbon
  toolchain/check/testdata/alias/in_namespace.carbon
Due: none

Pivot to BindAlias with import functionality
  toolchain/check/context.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/alias/alias_of_alias.carbon
  toolchain/check/testdata/alias/builtins.carbon
  toolchain/check/testdata/alias/fail_bool_value.carbon
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/alias/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/fail_not_constant.carbon
  toolchain/check/testdata/alias/import.carbon
  toolchain/check/testdata/alias/import_order.carbon
  toolchain/check/testdata/alias/in_namespace.carbon
  toolchain/check/testdata/alias/local.carbon
  toolchain/check/testdata/class/fail_method.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/function/call/alias.carbon
  toolchain/check/testdata/namespace/alias.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/alias/local.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix error handling
  toolchain/check/handle_alias.cpp
  toolchain/check/testdata/alias/fail_bool_value.carbon
  toolchain/check/testdata/alias/fail_control_flow.carbon
  toolchain/check/testdata/alias/fail_local_in_namespace.carbon
  toolchain/check/testdata/alias/fail_not_constant.carbon
  toolchain/check/testdata/alias/import_order.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

false note
  toolchain/check/handle_alias.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix some lingering Expression -> Expr in `state.def`
  toolchain/parse/state.def
Due: none

Fix some lingering Expression -> Expr in `state.def` (#3702)
  toolchain/parse/state.def
Due: none

Addressing comments
  toolchain/check/handle_alias.cpp
  toolchain/check/testdata/alias/fail_alias_misuse.carbon
  toolchain/check/testdata/alias/fail_modifiers.carbon
  toolchain/check/testdata/alias/fail_name_conflict.carbon
  toolchain/check/testdata/alias/fail_todo_private.carbon
  toolchain/parse/handle_alias.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/alias/fail_syntax.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Addressing comments
  toolchain/check/testdata/alias/fail_aliased_name_in_diag.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
Due: none

Parse `auto` type
  toolchain/check/handle_literal.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/auto/let.carbon
  toolchain/parse/testdata/auto/match_case.carbon
  toolchain/parse/testdata/auto/return.carbon
  toolchain/parse/testdata/auto/var.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Parse `auto` type (#3704)
  toolchain/check/handle_literal.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/auto/let.carbon
  toolchain/parse/testdata/auto/match_case.carbon
  toolchain/parse/testdata/auto/return.carbon
  toolchain/parse/testdata/auto/var.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch example code from Create to Make
  docs/design/classes.md
  docs/design/generics/appendix-coherence.md
  docs/design/values.md
Due: none

Rename factory functions from 'Create' to 'Make'
  common/enum_base.h
  common/indirect_value.h
  common/indirect_value_test.cpp
  language_server/language_server.cpp
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
  toolchain/source/source_buffer_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename factory functions from 'Create' to 'Make' (#3706)
  common/enum_base.h
  common/indirect_value.h
  common/indirect_value_test.cpp
  language_server/language_server.cpp
  toolchain/codegen/codegen.cpp
  toolchain/codegen/codegen.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
  toolchain/source/source_buffer_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/alias/fail_aliased_name_in_diag.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
Due: none
