Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Remove TODO to check for orphan impls (#7562)
  toolchain/check/handle_impl.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  docs/design/values.md
Due: none

Rename `DestroySubobjects` to `SubobjectDestroy`
  docs/design/values.md
Due: none

Apply feedback
  docs/design/values.md
Due: none

Test calling `std::make_unique` on a Carbon type from Carbon.
  integration_tests/BUILD
  integration_tests/make_unique_test.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

CHECK-fail on missing flush before push, pop, or destroy.
  toolchain/check/cpp/diagnostic_consumer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update docs/design/values.md
  docs/design/values.md
Due: none

Split up C++ diagnostic emitter and factor it out. (#7558)
  toolchain/check/BUILD
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/diagnostic_consumer.cpp
  toolchain/check/cpp/diagnostic_consumer.h
  toolchain/check/cpp/diagnostic_listener.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/location.cpp
  toolchain/check/cpp/location.h
  toolchain/diagnostics/emitter.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Improve measurement of error, and improve error rate, particularly for region truncation.
  toolchain/lex/mismatched_brackets.cpp
  toolchain/lex/mismatched_brackets_eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

runs prek
  docs/design/classes.md
  docs/design/values.md
  proposals/p007362-regularise-carbon-destructors.md
Due: none

Add instructions for Carbon development on Windows.
  docs/project/contribution_tools.md
Due: none

Minor grammatical fix
  docs/design/values.md
Due: none

dedent spaces
  docs/design/classes.md
  docs/design/values.md
Due: none

address all prek issues
  docs/design/README.md
  docs/design/classes.md
  docs/design/values.md
  proposals/p001154-destructors.md
  proposals/p007362-regularise-carbon-destructors.md
Due: none

Switch to a table-driven approach
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a flag to reuse the same AST across multiple compilations.
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/testdata/interop/cpp/basics/inline/modules.carbon
  toolchain/check/testdata/interop/cpp/basics/share_ast.carbon
  toolchain/check/testdata/interop/cpp/function/export/thunk_ast.carbon
  toolchain/check/testdata/interop/cpp/function/import/thunk_ast.carbon
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_options.cpp
  toolchain/driver/compile_options.h
  toolchain/lower/testdata/interop/cpp/debug_info.carbon
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Factor out shared logic for parsing a chunk of C++ text.
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/testdata/interop/cpp/basics/inline/modules.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Map Clang locations to Carbon locations even without a Context.
  toolchain/check/cpp/diagnostic_consumer.cpp
  toolchain/check/cpp/diagnostic_listener.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Move CppDomain creation out into the outer check loop.
  toolchain/check/check.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/testdata/interop/cpp/function/import/function.carbon
  toolchain/check/testdata/interop/cpp/function/import/inline.carbon
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

clang-format
  toolchain/check/cpp/generate_ast.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Further factor out creation of the Clang context from parsing.
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/diagnostic_consumer.cpp
  toolchain/check/cpp/diagnostic_consumer.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/testdata/interop/cpp/basics/inline/modules.carbon
  toolchain/check/testdata/interop/cpp/function/export/thunk_ast.carbon
  toolchain/check/testdata/interop/cpp/function/import/thunk_ast.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename SharedClangState -> CppDomain and start factoring it out.
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/testdata/interop/cpp/basics/inline/modules.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch to builder pattern and reformat.
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Cleanups and improvements
  toolchain/lex/lex.cpp
  toolchain/lex/mismatched_brackets.cpp
  toolchain/lex/mismatched_brackets.h
  toolchain/lex/mismatched_brackets_fuzzer.cpp
  toolchain/lex/mismatched_brackets_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add /external to .gitignore
  .gitignore
Due: none

Switch to enums and more type safety.
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch to Carbon::Map
  toolchain/lex/BUILD
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Perform a collection of cleanups
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Style fixes
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clean up eval
  toolchain/lex/mismatched_brackets_eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve diagnostic reporting.
  toolchain/driver/testdata/fail_errors_in_two_files.carbon
  toolchain/driver/testdata/fail_errors_sorted.carbon
  toolchain/driver/testdata/fail_errors_streamed.carbon
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_close_brace.carbon
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add some tests
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_close_brace.carbon
Due: none

Fix handling of missing brace before else
  toolchain/lex/mismatched_brackets.cpp
  toolchain/lex/testdata/fail_mismatched_brackets_close_brace.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix rule order
  toolchain/lex/mismatched_brackets.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Solution for #7237: New landing page for the Carbon project
  path/to/docs/landing-page.html
  path/to/docs/scripts.js
  path/to/docs/styles.css
Due: none

Add slide and video links for NDC 2026 talks
  README.md
Due: none

Tweak weights to improve scores in gap and truncate-region evals.
  toolchain/lex/mismatched_brackets.cpp
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

