Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Checkpoint progress.
  toolchain/parse/handle_requirement.cpp
  toolchain/parse/testdata/operators/fail_precedence_where.carbon
  toolchain/parse/testdata/where_expr/where_and.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve error handling
  toolchain/parse/handle_requirement.cpp
  toolchain/parse/testdata/operators/fail_precedence_where.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor name mangling into a separate class
  toolchain/lower/BUILD
  toolchain/lower/file_context.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add vertical whitespace to toolchain/lower/mangler.h
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename class_node -> class_info
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add impl/interface mangling
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/assoc_fn_alias.carbon
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add comments for Mangler
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Avoid unnecessary package namespace lookup
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch to a CARBON_KIND_SWITCH
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Match parameter names
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Manually update assembly test for name mangling prefix
  toolchain/codegen/testdata/assembly/basic.carbon
Due: none

Keep a comment about needing to remap the return type for Run with void return.
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add helper functions for containers
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use sem_ir() helper.
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Mangle class scopes
  toolchain/lower/BUILD
  toolchain/lower/file_context.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/lower/testdata/class/adapt.carbon
  toolchain/lower/testdata/class/method.carbon
  toolchain/lower/testdata/class/self.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Namespace mangling
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/namespace/function.carbon
  toolchain/lower/testdata/namespace/nested.carbon
  toolchain/lower/testdata/packages/cross_package_call.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a comment for MangleInverseQualifiedNameScope
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Append name components directly
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rename parent to name_scope
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Mangle impls
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove out-of-place comment
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove recursion and add qualification for impl's interface name
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clarify entry point return type comment
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix name to match naming convention
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use const ref to avoid accidental copy
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Minor simplification
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add comment
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

More data iteration stuff
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Spelling fix
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use data iteration instead of a while loop for name printing.
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rephrase comment, avoiding 'extern' terminology
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove commented out code, add a helper lambda
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simplify the code a bit
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename name_id to name_scope_id
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add FIXME comment for generics
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Ignore the scope an impl is defined in
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/assoc_fn_alias.carbon
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fixes for renamed member
  toolchain/lower/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Continue mangling, even once reaching the package name
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/assoc_fn_alias.carbon
  toolchain/lower/testdata/impl/extend_impl.carbon
  toolchain/lower/testdata/impl/impl.carbon
  toolchain/lower/testdata/impl/instance_method.carbon
  toolchain/lower/testdata/operators/overloaded.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
