Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[OpenMP][Offloading] Change the way to compare floating point values in bug49334.cpp
  openmp/libomptarget/test/offloading/bug49334.cpp
Due: fix-cc-deps

Fix Windows build that fails if a class has a member with the same naem
  clang/lib/CodeGen/CGDebugInfo.cpp
Due: fix-cc-deps

[gn build] Port f92702141069
  llvm/utils/gn/secondary/llvm/lib/CodeGen/BUILD.gn
Due: none

Revert "Add -fmodules-local-submodule-visibility to MANDATORY_MODULE_BUILD_CFLAGS"
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
Due: none

[docs] Replace `opt -analyze` with better alternatives.
  llvm/docs/CommandGuide/opt.rst
  llvm/docs/LoopTerminology.rst
  llvm/docs/TestingGuide.rst
  llvm/docs/tutorial/MyFirstLanguageFrontend/LangImpl05.rst
  llvm/include/llvm/Analysis/RegionInfo.h
  llvm/utils/update_analyze_test_checks.py
Due: fix-cc-deps

change ImplementationDeclaration to ImplDeclaration
  executable_semantics/ast/ast_rtti.txt
  executable_semantics/ast/declaration.cpp
  executable_semantics/ast/declaration.h
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/resolve_control_flow.cpp
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.h
  executable_semantics/interpreter/value.h
  executable_semantics/syntax/parser.ypp
Due: executable-semantics-format-grammar, fix-cc-deps

[SCEVPredicateRewriter] Remove assumption top level predicate is a union [NFC]
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
Due: fix-cc-deps

DebugInfo: Don't simplify names referencing local enums
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/test/CodeGenCXX/debug-info-simple-template-names.cpp
  cross-project-tests/debuginfo-tests/clang_llvm_roundtrip/simplified_template_names.cpp
Due: fix-cc-deps

[clang][WebAssemmbly] Call TargetInfo::adjust in derived method.
  clang/lib/Basic/Targets/WebAssembly.cpp
  clang/test/CXX/cpp/cpp.predefined/p1.cpp
Due: fix-cc-deps

remove impl_type_value
  executable_semantics/ast/declaration.h
  executable_semantics/interpreter/type_checker.cpp
Due: fix-cc-deps

[PSE] Remove assumption that top level predicate is union from public interface [NFC*]
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/include/llvm/Transforms/Utils/LoopVersioning.h
  llvm/lib/Analysis/LoopAccessAnalysis.cpp
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Transforms/Scalar/LoopDistribute.cpp
  llvm/lib/Transforms/Scalar/LoopLoadElimination.cpp
  llvm/lib/Transforms/Utils/LoopVersioning.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Due: fix-cc-deps

buildifier and utils
  scripts/buildifier.py
  scripts/fix_cc_deps.py
  scripts/forbid_llvm_googletest.py
  scripts/utils.py
Due: none

And touch create_compdb
  scripts/create_compdb.py
Due: none

Remove unused imports
  scripts/create_compdb.py
Due: none

[PDLL] Attempt to fix the gcc5 build by adding this-> to auto lambda
  mlir/lib/Tools/PDLL/Parser/Parser.cpp
Due: fix-cc-deps

Drop bazel-buildifier skip
  .github/workflows/pre-commit.yaml
Due: none

Update tool instructions
  docs/project/contribution_tools.md
Due: none

Require args
  scripts/buildifier.py
Due: none

Reverse open order... maybe needed?
  scripts/utils.py
Due: none

[mlir][gpu] Add device side async copy operations
  mlir/include/mlir/Dialect/GPU/GPUBase.td
  mlir/include/mlir/Dialect/GPU/GPUDialect.h
  mlir/include/mlir/Dialect/GPU/GPUOps.td
  mlir/lib/Conversion/GPUToNVVM/LowerGpuOpsToNVVMOps.cpp
  mlir/lib/Dialect/GPU/IR/GPUDialect.cpp
  mlir/test/Conversion/GPUToNVVM/gpu-to-nvvm.mlir
  mlir/test/Dialect/GPU/invalid.mlir
  mlir/test/Dialect/GPU/ops.mlir
Due: fix-cc-deps

[lld-macho][nfc] Centralize usages of ld64.lld in tests
  lld/test/MachO/adhoc-codesign.s
  lld/test/MachO/invalid/stub-link.s
  lld/test/MachO/lit.local.cfg
  lld/test/MachO/reproduce.s
  lld/test/MachO/reroot-path.s
  lld/test/MachO/search-paths-darwin.test
  lld/test/MachO/skip-platform-checks.s
  lld/test/MachO/syslibroot.test
Due: none

Handle HTTP errors and add mypy
  scripts/BUILD
  scripts/buildifier.py
  scripts/create_compdb.py
  scripts/fix_cc_deps.py
  scripts/forbid_llvm_googletest.py
  scripts/utils.py
Due: fix-cc-deps, forbid-llvm-googletest

pre-commit
  scripts/BUILD
  scripts/utils.py
Due: fix-cc-deps, forbid-llvm-googletest

Check code before open
  scripts/utils.py
Due: none

[llvm] add missing word in a comment
  llvm/runtimes/CMakeLists.txt
Due: none

[runtimes] rewrap a comment to 80 columns
  runtimes/CMakeLists.txt
Due: none

[llvm] Remove unused file MaximumSpanningTree.h
  llvm/lib/Transforms/Instrumentation/MaximumSpanningTree.h
Due: fix-cc-deps

Arithmetic expressions: design updates, first pass.
  docs/design/expressions/README.md
  docs/design/expressions/arithmetic.md
Due: none

[AVR] Fix a potential assert failure
  llvm/lib/Target/AVR/AVRISelLowering.cpp
  llvm/test/CodeGen/AVR/pr43443-ctor-alias.ll
Due: fix-cc-deps

[clang][OpaquePtr] Use proper Address constructor in AtomicInfo::getAtomicAddress()
  clang/lib/CodeGen/CGAtomic.cpp
Due: fix-cc-deps

[NFC] Make file offsets a regex to handle CRLF
  clang/test/AST/ast-dump-comment-json.cpp
  clang/test/AST/ast-dump-decl-context-json.cpp
  clang/test/AST/ast-dump-decl-json.c
  clang/test/AST/ast-dump-decl-json.m
  clang/test/AST/ast-dump-enum-json.cpp
  clang/test/AST/ast-dump-expr-json.c
  clang/test/AST/ast-dump-expr-json.cpp
  clang/test/AST/ast-dump-expr-json.m
  clang/test/AST/ast-dump-file-line-json.c
  clang/test/AST/ast-dump-funcs-json.cpp
  clang/test/AST/ast-dump-if-json.cpp
  clang/test/AST/ast-dump-macro-json.c
  clang/test/AST/ast-dump-namespace-json.cpp
  clang/test/AST/ast-dump-objc-arc-json.m
  clang/test/AST/ast-dump-record-definition-data-json.cpp
  clang/test/AST/ast-dump-records-json.cpp
  clang/test/AST/ast-dump-stmt-json.c
  clang/test/AST/ast-dump-stmt-json.cpp
  clang/test/AST/ast-dump-stmt-json.m
  clang/test/AST/ast-dump-template-decls-json.cpp
  clang/test/AST/ast-dump-temporaries-json.cpp
  clang/test/AST/ast-dump-types-errors-json.cpp
  clang/test/AST/ast-dump-types-json.cpp
  clang/test/AST/multistep-explicit-cast-json.c
  clang/test/AST/multistep-explicit-cast-json.cpp
  clang/test/Analysis/expr-inspection.c
Due: fix-cc-deps

[libc++][ranges][NFC] Update the status of predefined iterators.
  libcxx/docs/Status/RangesPaper.csv
  libcxx/include/iterator
Due: none

[Analyzer] Re-enables trustnonnullchecker_test.m
  clang/test/Analysis/trustnonnullchecker_test.m
Due: none

[C++20] [Modules] Check if modulemap exists to avoid crash in implicit used C++ module
  clang/lib/Lex/HeaderSearch.cpp
  clang/test/Modules/implicit-module-with-missing-path.cpp
Due: fix-cc-deps

[RISCV] Fix -Wunused-variable in -DLLVM_ENABLE_ASSERTIONS=off builds
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
Due: fix-cc-deps

[Object] Include llvm/Support/MemoryBuffer.h after D119457
  llvm/include/llvm/Object/Binary.h
Due: fix-cc-deps

[libc++][ranges][NFC] Fix a typo in links on the Ranges status page.
  libcxx/docs/Status/RangesPaper.csv
Due: none

[MLIR] Add result status for normalizeAffineFor
  mlir/include/mlir/Dialect/Affine/Utils.h
  mlir/lib/Dialect/Affine/Transforms/AffineLoopNormalize.cpp
  mlir/lib/Dialect/Affine/Utils/Utils.cpp
Due: fix-cc-deps

[NFC] Sort textual headers by alphabetical order
  llvm/include/llvm/module.modulemap
Due: none

[X86] Zero out the 32-bit GPRs explicitly
  llvm/lib/Target/X86/X86FrameLowering.cpp
  llvm/test/CodeGen/X86/zero-call-used-regs.ll
Due: fix-cc-deps
