Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[InstCombine] fold mul with masked low bit operand to trunc+select
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/test/Transforms/InstCombine/icmp-mul-and.ll
  llvm/test/Transforms/InstCombine/icmp-mul.ll
  llvm/test/Transforms/InstCombine/mul-masked-bits.ll
  llvm/test/Transforms/InstCombine/mul.ll
  llvm/test/Transforms/InstCombine/or.ll
Due: fix-cc-deps, clang-format

[ConstProp] add tests for APFloat truncate miscompile; NFC
  llvm/test/Transforms/InstSimplify/ConstProp/cast.ll
Due: none

[clang] Use llvm::is_contained (NFC)
  clang/lib/Basic/Targets/PPC.cpp
  clang/lib/Basic/Targets/RISCV.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaExpr.cpp
Due: fix-cc-deps, clang-format

[Clang][FP16] Add 4 builtins for _Float16
  clang/include/clang/Basic/Builtins.def
  clang/lib/AST/ExprConstant.cpp
  clang/test/CodeGen/builtin_Float16.c
Due: fix-cc-deps, clang-format

[InstCombine] Add more tests for shl+lshr transforms; NFC
  llvm/test/Transforms/InstCombine/and.ll
Due: none

[InstCombine] Fix tests const value for shl+lshr transforms; NFC
  llvm/test/Transforms/InstCombine/and.ll
Due: none

[LegalizeTypes][VP] Add widen and split support for vp.fptrunc and vp.fpext
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vector-fpext-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vector-fptrunc-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfpext-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfptrunc-vp.ll
Due: fix-cc-deps, clang-format

[GlobalISel] Remove valueIsSplit (NFC)
  llvm/include/llvm/CodeGen/GlobalISel/IRTranslator.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[GlobalISel] Remove widenWithUnmerge (NFC)
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir][NFC] Replace some llvm::find with llvm::is_contained.
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizableOpInterface.td
  mlir/lib/Conversion/SCFToOpenMP/SCFToOpenMP.cpp
  mlir/lib/Dialect/Bufferization/Transforms/Bufferize.cpp
  mlir/lib/Dialect/SCF/SCF.cpp
  mlir/lib/Dialect/SCF/Utils/AffineCanonicalizationUtils.cpp
Due: fix-cc-deps, clang-format

[CodeGen] Remove splitCanCauseEvictionChain and its helpers (NFC)
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/lib/CodeGen/RegAllocGreedy.h
Due: fix-cc-deps, clang-format, check-header-guards

[BPF] Enable IAS in backend
  llvm/lib/Target/BPF/MCTargetDesc/BPFMCAsmInfo.h
  llvm/test/CodeGen/BPF/inline_asm.ll
Due: fix-cc-deps, clang-format, check-header-guards

LLVM Driver Multicall tool
  clang/cmake/modules/AddClang.cmake
  clang/tools/driver/CMakeLists.txt
  clang/tools/driver/driver.cpp
  llvm/CMakeLists.txt
  llvm/cmake/driver-template.cpp.in
  llvm/cmake/modules/AddLLVM.cmake
  llvm/lib/Support/Path.cpp
  llvm/lib/Support/Unix/Path.inc
  llvm/lib/Support/Windows/Path.inc
  llvm/test/CMakeLists.txt
  llvm/test/lit.cfg.py
  llvm/test/lit.site.cfg.py.in
  llvm/test/tools/llvm-driver/help-passthrough.test
  llvm/test/tools/llvm-driver/help.test
  llvm/test/tools/llvm-driver/symlink-call.test
  llvm/tools/CMakeLists.txt
  llvm/tools/dsymutil/CMakeLists.txt
  llvm/tools/dsymutil/dsymutil.cpp
  llvm/tools/llvm-ar/CMakeLists.txt
  llvm/tools/llvm-ar/llvm-ar.cpp
  llvm/tools/llvm-cxxfilt/CMakeLists.txt
  llvm/tools/llvm-cxxfilt/llvm-cxxfilt.cpp
  llvm/tools/llvm-driver/CMakeLists.txt
  llvm/tools/llvm-driver/llvm-driver.cpp
  llvm/tools/llvm-objcopy/CMakeLists.txt
  llvm/tools/llvm-objcopy/llvm-objcopy.cpp
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Due: fix-cc-deps, clang-format

[NFC] [Coroutines] Add test for ambiguous allocation functions in promise_type
  clang/lib/Sema/SemaCoroutine.cpp
  clang/test/SemaCXX/coroutine-allocs.cpp
Due: fix-cc-deps, clang-format

[PDB] Remove truncate* (NFC)
  llvm/include/llvm/DebugInfo/PDB/Native/FormatUtil.h
  llvm/lib/DebugInfo/PDB/Native/FormatUtil.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[AST] Fix clang RecursiveASTVisitor for definition of XXXTemplateSpecializationDecl
  clang-tools-extra/clangd/unittests/SemanticHighlightingTests.cpp
  clang/include/clang/AST/RecursiveASTVisitor.h
Due: fix-cc-deps, clang-format, check-header-guards

[RISCV] Define risc-v's own register class to model FP Register.
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/test/Transforms/LoopVectorize/RISCV/reg-usage.ll
Due: fix-cc-deps, clang-format, check-header-guards

[Scalar] Use llvm::make_early_inc_range (NFC)
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
Due: fix-cc-deps, clang-format

[NFC][RISCV][format] Blank line between functions, remove unnecessary semicolon.
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
Due: fix-cc-deps, clang-format, check-header-guards

[RISCV] Use check-prefixes to reduce check lines
  llvm/test/CodeGen/RISCV/double-arith-strict.ll
  llvm/test/CodeGen/RISCV/double-arith.ll
  llvm/test/CodeGen/RISCV/double-convert-strict.ll
  llvm/test/CodeGen/RISCV/double-convert.ll
  llvm/test/CodeGen/RISCV/double-fcmp-strict.ll
  llvm/test/CodeGen/RISCV/double-fcmp.ll
  llvm/test/CodeGen/RISCV/double-imm.ll
  llvm/test/CodeGen/RISCV/double-intrinsics-strict.ll
  llvm/test/CodeGen/RISCV/double-intrinsics.ll
  llvm/test/CodeGen/RISCV/double-isnan.ll
  llvm/test/CodeGen/RISCV/double-mem.ll
  llvm/test/CodeGen/RISCV/double-round-conv-sat.ll
  llvm/test/CodeGen/RISCV/double-round-conv.ll
  llvm/test/CodeGen/RISCV/double-select-fcmp.ll
  llvm/test/CodeGen/RISCV/float-arith-strict.ll
  llvm/test/CodeGen/RISCV/float-arith.ll
  llvm/test/CodeGen/RISCV/float-convert-strict.ll
  llvm/test/CodeGen/RISCV/float-convert.ll
  llvm/test/CodeGen/RISCV/float-fcmp-strict.ll
  llvm/test/CodeGen/RISCV/float-fcmp.ll
  llvm/test/CodeGen/RISCV/float-imm.ll
  llvm/test/CodeGen/RISCV/float-intrinsics-strict.ll
  llvm/test/CodeGen/RISCV/float-isnan.ll
  llvm/test/CodeGen/RISCV/float-mem.ll
  llvm/test/CodeGen/RISCV/float-round-conv-sat.ll
  llvm/test/CodeGen/RISCV/float-select-fcmp.ll
  llvm/test/CodeGen/RISCV/half-arith-strict.ll
  llvm/test/CodeGen/RISCV/half-arith.ll
  llvm/test/CodeGen/RISCV/half-convert-strict.ll
  llvm/test/CodeGen/RISCV/half-convert.ll
  llvm/test/CodeGen/RISCV/half-fcmp-strict.ll
  llvm/test/CodeGen/RISCV/half-fcmp.ll
  llvm/test/CodeGen/RISCV/half-imm.ll
  llvm/test/CodeGen/RISCV/half-intrinsics.ll
  llvm/test/CodeGen/RISCV/half-isnan.ll
  llvm/test/CodeGen/RISCV/half-mem.ll
  llvm/test/CodeGen/RISCV/half-round-conv-sat.ll
  llvm/test/CodeGen/RISCV/half-round-conv.ll
  llvm/test/CodeGen/RISCV/half-select-fcmp.ll
Due: none

Revert "[libcxx] Temporarily skip Arm configs"
  libcxx/utils/ci/buildkite-pipeline.yml
Due: none

[VPlan] Replace BranchOnCount with BranchOnCond if TC <= UF * VF.
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/sve-low-trip-count.ll
  llvm/test/Transforms/LoopVectorize/X86/constant-fold.ll
  llvm/test/Transforms/LoopVectorize/X86/outer_loop_test1_no_explicit_vect_width.ll
  llvm/test/Transforms/LoopVectorize/X86/pr34438.ll
  llvm/test/Transforms/LoopVectorize/X86/pr42674.ll
Due: fix-cc-deps, clang-format

[PowerPC] Support huge frame size for PPC64
  llvm/lib/Target/PowerPC/PPCFrameLowering.cpp
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
  llvm/lib/Target/PowerPC/PPCInstrInfo.cpp
  llvm/lib/Target/PowerPC/PPCInstrInfo.h
  llvm/lib/Target/PowerPC/PPCRegisterInfo.cpp
  llvm/test/CodeGen/PowerPC/huge-frame-call.ll
  llvm/test/CodeGen/PowerPC/huge-frame-size.ll
  llvm/test/CodeGen/PowerPC/huge-frame-unsupported.ll
  llvm/test/CodeGen/PowerPC/ppc64-rop-protection-aix.ll
  llvm/test/CodeGen/PowerPC/ppc64-rop-protection.ll
Due: fix-cc-deps, clang-format, check-header-guards

[flang][OpenMP] Added parser support for in_reduction clause
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/test/Examples/omp-in-reduction-clause.f90
  flang/test/Parser/omp-in-reduction-clause.f90
  llvm/include/llvm/Frontend/OpenMP/OMP.td
Due: fix-cc-deps, clang-format, check-header-guards

[gn build] set LLVM_TOOL_LLVM_DRIVER_BUILD to 0 for now
  llvm/utils/gn/secondary/llvm/test/BUILD.gn
Due: none

[gn build] port f06abbb39380 a bit (create main() functions for GENERATE_DRIVER targets)
  llvm/utils/gn/build/driver_executable.gni
  llvm/utils/gn/secondary/clang/tools/driver/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/dsymutil/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-ar/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-cxxfilt/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-objcopy/BUILD.gn
Due: none

Fix "not all control paths return a value" MSVC warning. NFC.
  llvm/lib/Target/Sparc/AsmParser/SparcAsmParser.cpp
Due: fix-cc-deps, clang-format

[AArch64] Generate ADDP from shuffled add
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/arm64-addp.ll
  llvm/test/CodeGen/AArch64/insert-extend.ll
  llvm/test/CodeGen/AArch64/reduce-shuffle.ll
Due: fix-cc-deps, clang-format, check-header-guards

Allow use of an elaborated type specifier in a _Generic association in C++
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/DeclSpec.h
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/lib/Parse/ParseExpr.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/Sema/generic-selection.c
  clang/test/SemaCXX/generic-selection.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[libc++][ranges] Implement ranges::binary_search and ranges::{lower, upper}_bound
  libcxx/benchmarks/CMakeLists.txt
  libcxx/benchmarks/algorithms/lower_bound.bench.cpp
  libcxx/docs/Status/RangesAlgorithms.csv
  libcxx/include/CMakeLists.txt
  libcxx/include/__algorithm/binary_search.h
  libcxx/include/__algorithm/equal_range.h
  libcxx/include/__algorithm/inplace_merge.h
  libcxx/include/__algorithm/lower_bound.h
  libcxx/include/__algorithm/ranges_binary_search.h
  libcxx/include/__algorithm/ranges_lower_bound.h
  libcxx/include/__algorithm/ranges_upper_bound.h
  libcxx/include/__iterator/advance.h
  libcxx/include/__iterator/distance.h
  libcxx/include/algorithm
  libcxx/include/module.modulemap
  libcxx/test/libcxx/algorithms/callable.verify.cpp
  libcxx/test/libcxx/algorithms/ranges_robust_against_copying_comparators.pass.cpp
  libcxx/test/libcxx/private_headers.verify.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.binary.search/binary.search/ranges.binary_search.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.binary.search/lower.bound/ranges.lower_bound.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.binary.search/upper.bound/ranges.upper_bound.pass.cpp
  libcxx/test/std/library/description/conventions/customization.point.object/niebloid.compile.pass.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[gn build] Port 8171586176ee
  llvm/utils/gn/secondary/libcxx/include/BUILD.gn
Due: none

Fix a -Wlogical-op-parentheses warning; NFC
  clang/lib/Parse/ParseDeclCXX.cpp
Due: fix-cc-deps, clang-format

[flang][driver] Remove references to the `flang` bash script
  flang/docs/FlangDriver.md
  flang/docs/ReleaseNotes.md
  flang/tools/f18/CMakeLists.txt
  flang/tools/f18/flang-to-external-fc
Due: none

[IPSCCP] Switch away from Instruction::isSafeToRemove()
  llvm/lib/Transforms/Scalar/SCCP.cpp
Due: fix-cc-deps, clang-format

[AMDGPU] gfx11 vop3dpp instructions
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUInstructions.td
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUMCCodeEmitter.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/SIMCCodeEmitter.cpp
  llvm/lib/Target/AMDGPU/SIDefines.h
  llvm/lib/Target/AMDGPU/SIInstrFormats.td
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/lib/Target/AMDGPU/VOP2Instructions.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/lib/Target/AMDGPU/VOPInstructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_dpp.s
  llvm/test/MC/AMDGPU/gfx11_err.s
  llvm/test/MC/AMDGPU/gfx9-asm-err.s
  llvm/test/MC/AMDGPU/vop_dpp.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_all.txt
Due: fix-cc-deps, clang-format, check-header-guards

[libc++] Remove a bunch of conditionals on _LIBCPP_DEBUG_LEVEL
  libcxx/include/__hash_table
  libcxx/include/__iterator/wrap_iter.h
  libcxx/include/list
  libcxx/include/span
  libcxx/include/string
  libcxx/include/vector
Due: fix-cc-deps, clang-format, check-header-guards

[AMDGPU] gfx11 VOP1+VOP2 Instruction MC support
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/Target/AMDGPU/VOP2Instructions.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_dpp.s
  llvm/test/MC/AMDGPU/gfx11_asm_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_vop123.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_all.txt
Due: fix-cc-deps, clang-format, check-header-guards

Don't warn when 'llvm' isn't found
  llvm/test/lit.cfg.py
Due: none
