Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Revert "gn build: Add support for building the standalone ubsan runtime."
  llvm/utils/gn/secondary/compiler-rt/gen_version_script.gni
  llvm/utils/gn/secondary/compiler-rt/lib/BUILD.gn
  llvm/utils/gn/secondary/compiler-rt/lib/hwasan/BUILD.gn
  llvm/utils/gn/secondary/compiler-rt/lib/ubsan/BUILD.gn
Due: none

[libc] Add explicit casts for string functions
  libc/src/string/memchr.cpp
  libc/src/string/memory_utils/elements_x86.h
  libc/src/string/memrchr.cpp
  libc/src/string/strchr.cpp
  libc/src/string/strrchr.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[LV] Replace OrigPHIsToFix in native with VPlan traversal. (NFC)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Due: fix-cc-deps, clang-format

Fix-forward broken ASan test on Windows.
  clang/test/CodeGen/sanitize-init-order.cpp
Due: fix-cc-deps, clang-format

[Analysis] Remove getUniqueInstruction (NFC)
  llvm/include/llvm/Analysis/AliasSetTracker.h
  llvm/lib/Analysis/AliasSetTracker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[BOLT][NFC] Pass Function to BC.printInstructions in BinaryBasicBlock::dump
  bolt/lib/Core/BinaryBasicBlock.cpp
Due: fix-cc-deps, clang-format

Update `generic/details.md`
  docs/design/generics/details.md
Due: none

Check for a symbolic value only if normal value lookup fails. (#1326)
  explorer/ast/impl_binding.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/generic_class/instantiation_at_compile_time.carbon
Due: fix-cc-deps, clang-format, check-header-guards

[AMDGPU] Use null for dead sdst operand
  llvm/lib/Target/AMDGPU/SIShrinkInstructions.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/constant-bus-restriction.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fdiv.f32.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fdiv.f64.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.div.scale.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/mul.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/sdivrem.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/udivrem.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_buffer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_global_pointer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_local_pointer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_raw_buffer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_struct_buffer.ll
  llvm/test/CodeGen/AMDGPU/carryout-selection.ll
  llvm/test/CodeGen/AMDGPU/frem.ll
  llvm/test/CodeGen/AMDGPU/global-saddr-atomics.ll
  llvm/test/CodeGen/AMDGPU/global-saddr-load.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.intersect_ray.ll
  llvm/test/CodeGen/AMDGPU/llvm.mulo.ll
  llvm/test/CodeGen/AMDGPU/mad_64_32.ll
  llvm/test/CodeGen/AMDGPU/mad_u64_u32.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-volatile.ll
  llvm/test/CodeGen/AMDGPU/offset-split-global.ll
  llvm/test/CodeGen/AMDGPU/promote-constOffset-to-imm.ll
  llvm/test/CodeGen/AMDGPU/saddo.ll
  llvm/test/CodeGen/AMDGPU/stack-pointer-offset-relative-frameindex.ll
  llvm/test/CodeGen/AMDGPU/udiv.ll
  llvm/test/CodeGen/AMDGPU/vgpr-liverange-ir.ll
  llvm/test/CodeGen/AMDGPU/wave32.ll
Due: fix-cc-deps, clang-format

[ConstraintElimination] Add tests with cmps with constant ops only.
  llvm/test/Transforms/ConstraintElimination/constants.ll
Due: none

Proposal
  proposals/p1327.md
Due: none

Add reference to this proposal
  docs/design/generics/details.md
Due: none

[mlir] Support getSuccessorInputs from parent op
  mlir/include/mlir/Dialect/SCF/SCFOps.td
  mlir/include/mlir/Interfaces/ControlFlowInterfaces.td
  mlir/lib/Analysis/AliasAnalysis/LocalAliasAnalysis.cpp
  mlir/lib/Analysis/DataFlowAnalysis.cpp
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/lib/Dialect/Async/IR/Async.cpp
  mlir/lib/Dialect/SCF/SCF.cpp
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/lib/Interfaces/ControlFlowInterfaces.cpp
  mlir/test/Analysis/test-alias-analysis.mlir
  mlir/test/Transforms/sccp-structured.mlir
  mlir/test/lib/Dialect/Test/TestDialect.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Due: fix-cc-deps, clang-format

[bazel] Unbreak the build after cf6a7c194793
  utils/bazel/llvm-project-overlay/mlir/test/BUILD.bazel
Due: none

[mlir] Fix CMake file
  mlir/lib/Dialect/SCF/Transforms/CMakeLists.txt
  mlir/test/lib/Interfaces/TilingInterface/CMakeLists.txt
Due: none

[RISCV] Fix use of texternalsym in output pattern where input was tglobaladdr. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
Due: none

[flang][runtime] Don't emit any leading blanks for G0/E0 output editing
  flang/runtime/edit-output.cpp
  flang/unittests/Runtime/NumericalFormatTest.cpp
Due: fix-cc-deps, clang-format

[flang][runtime] Fix overflow detection for REAL input
  flang/runtime/edit-input.cpp
  flang/runtime/io-stmt.h
Due: fix-cc-deps, clang-format, check-header-guards

[flang][runtime] Detect overflow of fixed-sized exponent output field
  flang/runtime/edit-output.cpp
  flang/runtime/edit-output.h
Due: fix-cc-deps, clang-format, check-header-guards

[flang] Fix crash on USE error
  flang/lib/Semantics/resolve-names.cpp
Due: fix-cc-deps, clang-format

[flang] Handle USE association in parse tree rewriting
  flang/lib/Semantics/rewrite-parse-tree.cpp
Due: fix-cc-deps, clang-format

[flang][runtime] Don't loop in runtime if blank appears in BOZ input
  flang/runtime/edit-input.cpp
Due: fix-cc-deps, clang-format

[flang] Intrinsic module procedure pure prefixes
  flang/module/__fortran_ieee_exceptions.f90
  flang/module/ieee_arithmetic.f90
Due: none

[flang][runtime] Skip remainder of bad input record even with ADVANCE='NO'
  flang/runtime/io-stmt.cpp
  flang/runtime/unit.cpp
Due: fix-cc-deps, clang-format

[C-API][ORC] Add LLVMOrcExecutionSessionLookup -- generic async symbol lookup.
  llvm/include/llvm-c/Orc.h
  llvm/lib/ExecutionEngine/JITLink/MachO_x86_64.cpp
  llvm/lib/ExecutionEngine/Orc/OrcV2CBindings.cpp
  llvm/unittests/ExecutionEngine/Orc/OrcCAPITest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[Driver] Improve linking options for target AVR
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/lib/Driver/ToolChains/AVR.cpp
  clang/test/Driver/avr-toolchain.c
Due: fix-cc-deps, clang-format

[CodeGen] Remove futureWeight (NFC)
  llvm/include/llvm/CodeGen/CalcSpillWeights.h
  llvm/lib/CodeGen/CalcSpillWeights.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[C-API][ORC] Add C API to suspend lookups during definition generation.
  llvm/include/llvm-c/Orc.h
  llvm/lib/ExecutionEngine/Orc/OrcV2CBindings.cpp
  llvm/unittests/ExecutionEngine/Orc/OrcCAPITest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  docs/design/README.md
Due: none

Fix formatting
  docs/design/README.md
Due: none

Suggestions and small fixes
  docs/design/README.md
Due: none

Iterate on phrasing
  docs/design/README.md
Due: none

Revert "[Driver] Improve linking options for target AVR"
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/lib/Driver/ToolChains/AVR.cpp
  clang/test/Driver/avr-toolchain.c
Due: fix-cc-deps, clang-format

[BasicTTI] Remove unused support for multiple opcodes in getTypeBasedIntrinsicInstrCost [nfc]
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
Due: fix-cc-deps, clang-format, check-header-guards

[Driver] Improve linking options for target AVR
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/lib/Driver/ToolChains/AVR.cpp
  clang/test/Driver/Inputs/basic_avr_tree/usr/bin/ld.lld
  clang/test/Driver/avr-toolchain.c
Due: fix-cc-deps, clang-format

[InstCombine] Don't slice up PHIs when pred BB has catchswitch
  llvm/lib/Transforms/InstCombine/InstCombinePHI.cpp
  llvm/test/Transforms/InstCombine/catchswitch-phi.ll
Due: fix-cc-deps, clang-format

[sanitizer] Add -lresolv only for non-Android non-musl Linux
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/test/Driver/sanitizer-ld.c
Due: fix-cc-deps, clang-format

[flang] Add semantic check for multiple part-ref with nonzero rank for TBP
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/expr-errors04.f90
Due: fix-cc-deps, clang-format

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

