Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

executable-semantics-format-grammar:
  name: Format the executable_semantics grammar file
  entry: executable_semantics/syntax/format_grammar.py
  language: python
  pass_filenames: false

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

[sanitizer] Guard the whole ThreadDescriptorSize block with #if !SANITIZER_GO after D119007
  compiler-rt/lib/sanitizer_common/sanitizer_linux_libcdep.cpp
Due: fix-cc-deps

[libcxx][test] tests for strengthened `noexcept` are non-portable
  libcxx/test/std/ranges/range.adaptors/range.drop/ctor.default.pass.cpp
  libcxx/test/std/ranges/range.adaptors/range.transform/iterator/deref.pass.cpp
  libcxx/test/std/ranges/range.adaptors/range.transform/iterator/iter_move.pass.cpp
  libcxx/test/std/ranges/range.adaptors/range.transform/iterator/subscript.pass.cpp
  libcxx/test/std/ranges/range.utility/view.interface/view.interface.pass.cpp
Due: fix-cc-deps

[libcxx][test] Disable bad unique_ptr<T[]> to shared_ptr<U[]> conversion test cases
  libcxx/test/std/utilities/memory/util.smartptr/util.smartptr.shared/util.smartptr.shared.assign/unique_ptr_Y.pass.cpp
  libcxx/test/std/utilities/memory/util.smartptr/util.smartptr.shared/util.smartptr.shared.const/unique_ptr.pass.cpp
Due: fix-cc-deps

[mlir][math] Expand coverage of atan2 expansion
  mlir/lib/Dialect/Math/Transforms/PolynomialApproximation.cpp
  mlir/test/Dialect/Math/polynomial-approximation.mlir
Due: fix-cc-deps

[Symbolizer] Add Build ID flag to llvm-symbolizer.
  llvm/docs/CommandGuide/llvm-symbolizer.rst
  llvm/include/llvm/DebugInfo/Symbolize/Symbolize.h
  llvm/lib/DebugInfo/Symbolize/Symbolize.cpp
  llvm/test/tools/llvm-symbolizer/debuginfod-bad-build-id.test
  llvm/test/tools/llvm-symbolizer/debuginfod-build-id-and-obj.test
  llvm/test/tools/llvm-symbolizer/debuginfod-missing-build-id.test
  llvm/test/tools/llvm-symbolizer/debuginfod.test
  llvm/tools/llvm-symbolizer/Opts.td
  llvm/tools/llvm-symbolizer/llvm-symbolizer.cpp
Due: fix-cc-deps

GlobalISel: Add FoldBinOpIntoSelect combine
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/CodeGen/GlobalISel/Utils.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-fold-binop-into-select.mir
Due: fix-cc-deps

AMDGPU/GlobalISel: Add baseline test for binop fold into select combine
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-fold-binop-into-select.mir
Due: none

[mlir][ods] Attribute and type formats: support whitespaces
  mlir/test/lib/Dialect/Test/TestTypeDefs.td
  mlir/test/mlir-tblgen/attr-or-type-format-roundtrip.mlir
  mlir/tools/mlir-tblgen/AttrOrTypeFormatGen.cpp
Due: fix-cc-deps

[Hexagon] Fix operation actions for v128f16
  llvm/lib/Target/Hexagon/HexagonISelLoweringHVX.cpp
  llvm/test/CodeGen/Hexagon/autohvx/vector-load-store-basic.ll
Due: fix-cc-deps

GlobalISel: Constant fold integer min/max opcodes
  llvm/lib/CodeGen/GlobalISel/CSEMIRBuilder.cpp
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-fold-binop-into-select.mir
Due: fix-cc-deps

GlobalISel: Constant fold FP bin ops in MIRBuilder
  llvm/lib/CodeGen/GlobalISel/CSEMIRBuilder.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-fold-binop-into-select.mir
Due: fix-cc-deps

[memprof] Add LLVM_DEBUG for unused var in RawMemProfReader.cpp.
  llvm/lib/ProfileData/RawMemProfReader.cpp
Due: fix-cc-deps

[libc++] Remove outdated synopsis parts in experimental/functional
  libcxx/include/experimental/functional
Due: none

Revert "[AArch64] ACLE feature macro for Armv8.8-A MOPS"
  clang/lib/Basic/Targets/AArch64.cpp
  clang/test/CodeGen/aarch64-mops.c
  clang/test/Preprocessor/aarch64-target-features.c
Due: fix-cc-deps

[MLIR] Temporary workaround for calling the LLD ELF driver as-a-lib
  lld/Common/CommonLinkerContext.cpp
  lld/include/lld/Common/Driver.h
  mlir/lib/Dialect/GPU/Transforms/SerializeToHsaco.cpp
Due: fix-cc-deps

[LLD] Fix issue in HIP due to unspecified order of evaluation of the function object
  lld/test/ELF/amdgpu-duplicate-sym.s
  lld/tools/lld/lld.cpp
Due: fix-cc-deps

GlobalISel: Constant fold G_PTR_ADD
  llvm/lib/CodeGen/GlobalISel/CSEMIRBuilder.cpp
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-fold-binop-into-select.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/insertelement.i16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-call.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-function-args.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-non-integral-address-spaces.ll
  llvm/test/CodeGen/AMDGPU/overlapping-tuple-copy-implicit-op-failure.ll
Due: fix-cc-deps

[BOLT][DWARF] Remove caching of ranges/abbrevs
  bolt/include/bolt/Rewrite/DWARFRewriter.h
  bolt/lib/Rewrite/DWARFRewriter.cpp
  bolt/test/X86/debug-fission-single.s
  bolt/test/X86/gdbindex.test
Due: fix-cc-deps

[gn build] (manually) port 817d897b57c7 (LIBCXX_ABI_UNSTABLE)
  llvm/utils/gn/secondary/libcxx/config.gni
  llvm/utils/gn/secondary/libcxx/include/BUILD.gn
Due: none

[nfc][mlgo][regalloc] Add the url to a reference pre-trained model
  llvm/lib/CodeGen/CMakeLists.txt
Due: none

[gn build] (manually) port 216575e5810
  llvm/utils/gn/secondary/llvm/lib/ProfileData/BUILD.gn
Due: none

[gn build] (manually) port 4a6553f4c2be some more
  llvm/utils/gn/secondary/llvm/lib/DebugInfo/Symbolize/BUILD.gn
  llvm/utils/gn/secondary/llvm/tools/llvm-symbolizer/BUILD.gn
Due: none

[gn build] Port 216575e58102
  llvm/utils/gn/secondary/llvm/unittests/ProfileData/BUILD.gn
Due: none

Add precedence docs and scripts
  .pre-commit-config.yaml
  WORKSPACE
  bazel/py/BUILD
  bazel/py/requirements.txt
  docs/design/expressions/README.md
  docs/design/expressions/precedence.svg
  docs/design/expressions/scripts/BUILD
  docs/design/expressions/scripts/precedence.dot
  docs/design/expressions/scripts/precedence.py
  docs/design/expressions/scripts/precedence.sh
  docs/design/expressions/scripts/precedence_test.py
Due: fix-cc-deps, forbid-llvm-googletest

Small comment edit
  docs/design/expressions/scripts/precedence.py
Due: none

[cxx_status] Add a couple of Feb 2022 library papers that need compiler support.
  clang/www/cxx_status.html
Due: none

Switch away from graphviz module since it doesn't add much
  .pre-commit-config.yaml
  WORKSPACE
  bazel/py/BUILD
  docs/design/expressions/precedence.svg
  docs/design/expressions/scripts/BUILD
  docs/design/expressions/scripts/precedence.dot
  docs/design/expressions/scripts/precedence.py
  docs/design/expressions/scripts/precedence_test.py
  github_tools/requirements.txt
Due: fix-cc-deps, forbid-llvm-googletest

Bump up the vertical margin due to arrows
  docs/design/expressions/precedence.svg
  docs/design/expressions/scripts/precedence.dot
  docs/design/expressions/scripts/precedence.py
Due: none

Remove redundancy
  docs/design/expressions/scripts/precedence.dot
  docs/design/expressions/scripts/precedence.py
Due: none

Remove third-party example submodules (#1068)
  .gitmodules
  third_party/examples/README.md
Due: none

Switch clang-format pre-commit to get 13.0.0 (#1066)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  toolchain/parser/parser_impl.cpp
Due: fix-cc-deps

[X86] Implement -fzero-call-used-regs option
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/CodeGenOptions.def
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGen/zero-call-used-regs.c
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  clang/test/Sema/zero_call_used_regs.c
  llvm/include/llvm/CodeGen/MachineRegisterInfo.h
  llvm/include/llvm/CodeGen/TargetFrameLowering.h
  llvm/include/llvm/CodeGen/TargetRegisterInfo.h
  llvm/include/llvm/Support/CodeGen.h
  llvm/include/llvm/Target/Target.td
  llvm/lib/CodeGen/MachineRegisterInfo.cpp
  llvm/lib/CodeGen/PrologEpilogInserter.cpp
  llvm/lib/Target/X86/X86FrameLowering.cpp
  llvm/lib/Target/X86/X86FrameLowering.h
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.h
  llvm/lib/Target/X86/X86RegisterInfo.td
  llvm/test/CodeGen/X86/zero-call-used-regs-fmod.ll
  llvm/test/CodeGen/X86/zero-call-used-regs.ll
  llvm/utils/TableGen/CodeGenRegisters.cpp
  llvm/utils/TableGen/CodeGenRegisters.h
  llvm/utils/TableGen/RegisterInfoEmitter.cpp
Due: fix-cc-deps

Minor pre-commit autoupdate and cleanup
  .pre-commit-config.yaml
Due: none

[docs] Document -ffinite-math-only, -fhonor-{infinities,infinites,nans}
  clang/docs/ClangCommandLineReference.rst
Due: none

[RISCV] Add patterns for vector widening floating-point fused multiply-add instructions
  llvm/lib/Target/RISCV/RISCVInstrInfoVSDPatterns.td
  llvm/test/CodeGen/RISCV/rvv/vfwmacc-sdnode.ll
Due: none

[RISCV][NFC] Refactor RISCVISAInfo.
  clang/lib/Basic/Targets/RISCV.cpp
  clang/lib/Driver/ToolChains/Arch/RISCV.cpp
  llvm/include/llvm/Support/RISCVISAInfo.h
  llvm/include/llvm/Support/TargetParser.h
  llvm/lib/Support/RISCVISAInfo.cpp
  llvm/lib/Support/TargetParser.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVTargetStreamer.cpp
Due: fix-cc-deps

[HIP] Emit amdgpu_code_object_version module flag
  clang/include/clang/Basic/TargetOptions.h
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGenCUDA/amdgpu-asan-printf.cu
  clang/test/CodeGenCUDA/amdgpu-asan.cu
  clang/test/CodeGenCUDA/amdgpu-code-object-version.cu
  clang/test/Driver/hip-code-object-version.hip
Due: fix-cc-deps

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

