Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


finishes feedback
  toolchain/check/cpp/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

removes redundant None check
  toolchain/check/cpp/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

adjusts TODO to be more helpful
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Reverse Interop: Nested namespace support
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/testdata/interop/cpp/reverse/simple.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Create a placement `operator new` directly.
  toolchain/check/cpp/context.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/testdata/interop/cpp/function/thunk_ast.carbon
  toolchain/check/testdata/interop/cpp/function/thunk_cpp26.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

check-in-eval-symbolic-only
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/function/generic/resolve_used.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

transient-error
  toolchain/codegen/testdata/objcode/basic.carbon
Due: none

conditional
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

typo
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

typos
  toolchain/check/testdata/facet/require_constrains_self.carbon
Due: none

pre-commit fixes
  examples/advent2024/day5_common.carbon
  examples/sieve.carbon
Due: none

Fix test
  toolchain/check/testdata/interop/cpp/function/thunk_cpp26.carbon
Due: none

Remove fail_init_as_inplace.carbon not in upstream
  toolchain/check/testdata/class/fail_init_as_inplace.carbon
Due: none

Respond to reviewer comments
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/merge.cpp
  toolchain/check/pattern.cpp
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fail-todo
  toolchain/check/testdata/facet/require_constrains_self.carbon
Due: none

notemplate
  toolchain/check/eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

no-non-final-lookup-for-concrete-query
  toolchain/check/impl_lookup.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/pattern.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/check/thunk.cpp
  toolchain/docs/check/pattern_matching.md
  toolchain/sem_ir/inst_categories.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add more tests for calling constexpr functions
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: none

Add MakeVerifiedLocIdAndInst for runtime validation
  toolchain/check/convert.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/operators.cpp
  toolchain/check/function.cpp
  toolchain/check/generic.cpp
  toolchain/check/inst.cpp
  toolchain/check/inst.h
  toolchain/check/pattern.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/subst.cpp
  toolchain/check/thunk.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

opt
  toolchain/check/inst.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

removes lots of unnecssary SemIR output
  toolchain/check/testdata/interop/cpp/deref.carbon
Due: none

Apply suggestions from code review
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

imports
  toolchain/check/check_unit.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_ref.cpp
  toolchain/check/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

formatting and message
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

undeletes TODO text
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/sem_ir/inst_categories.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add CppThunk variant to SpecialFunctionKind
  bazel-execroot
  toolchain/check/call.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/lower/mangler.cpp
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Allow MarkInPlaceInit to be const eval'd
  toolchain/check/eval_inst.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Allow Temporary to be const eval'd
  toolchain/check/eval_inst.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Move the logic for preparing the installed runtimes files to its own directory
  toolchain/driver/prebuilt_runtimes.bzl
  toolchain/install/BUILD
  toolchain/runtimes/BUILD
  toolchain/runtimes/configure_cmake_file.bzl
  toolchain/runtimes/configure_cmake_file_impl.py
  toolchain/testing/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Support calling C++ thunks in const constexts
  toolchain/check/cpp/constant.cpp
  toolchain/check/cpp/constant.h
  toolchain/check/eval.cpp
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Support const eval for more AcquireValue instructions
  toolchain/check/eval_inst.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add missing library
  toolchain/check/testdata/class/adapter/adapt.carbon
Due: none

Fix ReadlinkSlow buffer when lstat reports zero size
  common/filesystem.cpp
Due: fix-cc-deps, clang-format

Fix iN/uN type literal width check for multiples of 8
  toolchain/check/handle_literal.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

feat: add regresion test
  toolchain/check/testdata/primitives/type_literals.carbon
Due: none

Verify heterogeneous keys has to the same value in set/map
  common/map.h
  common/map_test.cpp
  common/set.h
Due: fix-cc-deps, clang-format, check-header-guards
