Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==16.0.0

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==16.0.0

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Merge issue
  toolchain/check/handle_literal.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch formatv adapters to format_provider
  toolchain/lex/numeric_literal.cpp
  toolchain/parse/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rename IndexBase -> IdBase, ComparableIndexBase -> IndexBase.
  toolchain/base/index_base.h
  toolchain/base/value_store.h
  toolchain/check/decl_name_stack.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make `NodeId` non-comparable, reflecting that it's intended to be an opaque identifier for a node.
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

clang-format
  toolchain/base/index_base.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Derive `MemberIndex` from `IndexBase`.
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Revert "Redo modifier-allowed helpers"
  toolchain/check/decl_state.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers_allowed.cpp
  toolchain/check/modifiers_allowed.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Comments
  toolchain/check/decl_state.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/modifiers_allowed.cpp
  toolchain/check/testdata/class/fail_method_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix formatting
  toolchain/check/modifiers_allowed.cpp
  toolchain/parse/testdata/class/fail_introducer.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Restructure paren naming based on discussion
  toolchain/check/handle_paren.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parse/testdata/basics/function_call.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
  toolchain/parse/testdata/basics/parens.carbon
  toolchain/parse/testdata/operators/fail_precedence_assign.carbon
  toolchain/parse/testdata/operators/infix_with_paren_after.carbon
  toolchain/parse/testdata/operators/infix_with_paren_before.carbon
  toolchain/parse/testdata/operators/precedence_assign.carbon
  toolchain/parse/testdata/pointer/const_pointer.carbon
  toolchain/parse/testdata/tuple/nested.carbon
  toolchain/parse/testdata/tuple/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Stray "pattern binding"
  toolchain/parse/node_kind.def
Due: none

Incorporate feedback
  toolchain/check/context.h
  toolchain/check/handle_modifier.cpp
  toolchain/check/modifiers_allowed.cpp
  toolchain/check/testdata/class/fail_field_modifiers.carbon
  toolchain/check/testdata/class/fail_method_modifiers.carbon
  toolchain/parse/testdata/class/fail_introducer.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch formatv adapters to format_provider (#3434)
  toolchain/lex/numeric_literal.cpp
  toolchain/parse/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Have autoupdate discard conflict markers when possible.
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
Due: fix-cc-deps, clang-format, check-header-guards

Checkpoint progress.
  toolchain/parse/node_kind.def
Due: none

Rename IndexBase -> IdBase, ComparableIndexBase -> IndexBase. (#3436)
  toolchain/base/index_base.h
  toolchain/base/value_store.h
  toolchain/check/decl_name_stack.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Added Documentation support for Bazel installation in Linux distros
  docs/project/contribution_tools.md
Due: none

Checkpoint progress.
  toolchain/check/decl_state.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/testdata/class/fail_method_modifiers.carbon
  toolchain/check/testdata/function/declaration/fail_modifiers.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

update tests
  toolchain/check/testdata/if/fail_reachable_fallthrough.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/check/testdata/return/fail_missing_return_empty_tuple.carbon
  toolchain/parse/tree_node_location_translator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

fix issue with ranges ending with multichar token
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/fail_self.carbon
  toolchain/check/testdata/class/fail_unbound_field.carbon
  toolchain/check/testdata/class/fail_unknown_member.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/operators/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/parse/tree_node_location_translator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/decl_state.h
  toolchain/check/handle_function.cpp
  toolchain/check/modifiers_allowed.cpp
  toolchain/check/modifiers_allowed.h
  toolchain/check/testdata/class/fail_method_modifiers.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/fail_modifiers.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_let.cpp
  toolchain/check/testdata/class/fail_field_modifiers.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Manufacture content for tests
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
Due: fix-cc-deps, clang-format, check-header-guards

Checkpoint progress.
  toolchain/check/handle_variable.cpp
  toolchain/check/testdata/var/fail_modifiers.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

pre-commit
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/decl_state.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers_allowed.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Refactor ValueStore to reduce template type repetition.
  toolchain/base/value_store.h
  toolchain/check/context.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/value_stores.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

typedefs
  toolchain/base/value_store.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/value_stores.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Added Documentation support for Bazel installation in Linux distros (#3441)
  docs/project/contribution_tools.md
Due: none

Use LLVM Bitmask Enum
  toolchain/check/decl_state.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers_allowed.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/decl_state.h
  toolchain/check/handle_named_constraint.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Distribute autoupdate across threads.
  testing/file_test/file_test_base.cpp
  toolchain/autoupdate_testdata.py
Due: fix-cc-deps, clang-format

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

