Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[PS5] Pack non-POD members in packed structs, matching PS4 ABI
  clang/lib/AST/RecordLayoutBuilder.cpp
  clang/test/SemaCXX/class-layout.cpp
Due: fix-cc-deps, clang-format

[PS5] Apply 'packed' attribute to base classes, matching PS4 ABI
  clang/lib/AST/RecordLayoutBuilder.cpp
  clang/test/CodeGenCXX/alignment.cpp
Due: fix-cc-deps, clang-format

[OpenMP][libomp] do not try to dlopen libmemkind on macOS
  openmp/runtime/src/kmp_alloc.cpp
Due: fix-cc-deps, clang-format

[libc++][test] Fix unused variable warning in string_view tests
  libcxx/test/std/strings/string.view/string.view.template/ends_with.ptr.pass.cpp
  libcxx/test/std/strings/string.view/string.view.template/starts_with.ptr.pass.cpp
Due: fix-cc-deps, clang-format

[DAGCombiner][RISCV] Improve computeKnownBits for (smax X, C) where C is non-negative.
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/RISCV/min-max.ll
Due: fix-cc-deps, clang-format

Added XxKind() calls to type checker trace output
  explorer/interpreter/type_checker.cpp
  explorer/testdata/basic_syntax/trace.carbon
Due: fix-cc-deps, clang-format

[BOLT][NFC] Fix braces in BinaryEmitter
  bolt/lib/Core/BinaryEmitter.cpp
Due: fix-cc-deps, clang-format

Add alias name to name resolution after processing the target to avoid self-referencing name crash (#1295)
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/alias/fail_self_alias.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Update explorer/gen_rtti.py
  explorer/gen_rtti.py
Due: none

formatting
  explorer/gen_rtti.py
Due: none

[InstCombine] add tests for mul with low-bit mask operand; NFC
  llvm/test/Transforms/InstCombine/mul.ll
Due: none

[InstCombine] make pattern matching more consistent; NFC
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
Due: fix-cc-deps, clang-format

[HLSL] Add WaveActiveCountBits as Langugage builtin function for HLSL
  clang/include/clang/Basic/Builtins.def
  clang/include/clang/Basic/Builtins.h
  clang/test/SemaHLSL/Wave.hlsl
Due: fix-cc-deps, clang-format, check-header-guards

[RISCV] Inline one copy of needVSETVLI into the other [NFC]
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
Due: fix-cc-deps, clang-format

Adapt IRForTarget::RewriteObjCConstStrings() for D126689.
  lldb/source/Plugins/ExpressionParser/Clang/IRForTarget.cpp
Due: fix-cc-deps, clang-format

[Inline][Remark][NFC] Optionally provide inline context to inline advisor.
  llvm/include/llvm/Analysis/InlineAdvisor.h
  llvm/lib/Analysis/InlineAdvisor.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Added EnumKindName() for rtti enums + sample usage to print node kind names during type checking (#1305)
  explorer/ast/BUILD
  explorer/gen_rtti.py
  explorer/interpreter/type_checker.cpp
  explorer/testdata/basic_syntax/trace.carbon
Due: fix-cc-deps, clang-format, forbid-llvm-googletest

[mlir] Add integer range inference analysis
  mlir/include/mlir/Analysis/IntRangeAnalysis.h
  mlir/include/mlir/Interfaces/CMakeLists.txt
  mlir/include/mlir/Interfaces/InferIntRangeInterface.h
  mlir/include/mlir/Interfaces/InferIntRangeInterface.td
  mlir/lib/Analysis/CMakeLists.txt
  mlir/lib/Analysis/DataFlowAnalysis.cpp
  mlir/lib/Analysis/IntRangeAnalysis.cpp
  mlir/lib/Interfaces/CMakeLists.txt
  mlir/lib/Interfaces/InferIntRangeInterface.cpp
  mlir/test/Interfaces/InferIntRangeInterface/infer-int-range-test-ops.mlir
  mlir/test/lib/Dialect/Test/CMakeLists.txt
  mlir/test/lib/Dialect/Test/TestDialect.cpp
  mlir/test/lib/Dialect/Test/TestDialect.h
  mlir/test/lib/Dialect/Test/TestOps.td
  mlir/test/lib/Transforms/CMakeLists.txt
  mlir/test/lib/Transforms/TestIntRangeInference.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
  mlir/unittests/Interfaces/CMakeLists.txt
  mlir/unittests/Interfaces/InferIntRangeInterfaceTest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Fuzzing support for & operator.
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/fuzzing/ast_to_proto.cpp
Due: fix-cc-deps, clang-format

[docs] Mention LLVMContext::setOpaquePointers for C++ API
  llvm/docs/OpaquePointers.rst
Due: none

[ELF] Remove support for legacy .zdebug sections
  lld/ELF/InputSection.cpp
  lld/ELF/InputSection.h
  lld/docs/ReleaseNotes.rst
  lld/test/ELF/compressed-debug-input.s
  lld/test/ELF/relocatable-compressed-input.s
  lld/test/ELF/strip-debug.s
Due: fix-cc-deps, clang-format, check-header-guards

[CaptureTracking] Increase limit and use it for all visited uses.
  llvm/lib/Analysis/CaptureTracking.cpp
  llvm/test/Transforms/GVN/capture-tracking-limit.ll
Due: fix-cc-deps, clang-format

[RISCV] Add custom isel for (add X, imm) used by load/stores.
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/test/CodeGen/RISCV/mem.ll
  llvm/test/CodeGen/RISCV/mem64.ll
  llvm/test/CodeGen/RISCV/split-offsets.ll
Due: fix-cc-deps, clang-format

Support warn_unused_result on typedefs
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttributeCommonInfo.h
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/AST/Expr.cpp
  clang/lib/Basic/Attributes.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CXX/dcl.dcl/dcl.attr/dcl.attr.nodiscard/p1.cpp
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  clang/test/Sema/c2x-nodiscard.c
  clang/test/Sema/unused-expr.c
  clang/test/SemaCXX/warn-unused-result.cpp
Due: fix-cc-deps, clang-format, check-header-guards

cmake fill `cmake_args` when cross-compiling external project with non-clang compiler
  llvm/cmake/modules/LLVMExternalProjectUtils.cmake
Due: none

[AMDGPU] Improve codegen of extractelement/insertelement in some cases
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.h
  llvm/test/CodeGen/AMDGPU/GlobalISel/extractelement.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/insertelement.i16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/insertelement.ll
  llvm/test/CodeGen/AMDGPU/extract_vector_dynelt.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_dynelt.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_elt.ll
Due: fix-cc-deps, clang-format, check-header-guards

AMDGPU: Move SpilledReg from MFI to SIRegisterInfo
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/lib/Target/AMDGPU/SIMachineFunctionInfo.cpp
  llvm/lib/Target/AMDGPU/SIMachineFunctionInfo.h
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
  llvm/lib/Target/AMDGPU/SIRegisterInfo.h
Due: fix-cc-deps, clang-format, check-header-guards

Revert "[mlir] Add integer range inference analysis"
  mlir/include/mlir/Analysis/IntRangeAnalysis.h
  mlir/include/mlir/Interfaces/CMakeLists.txt
  mlir/include/mlir/Interfaces/InferIntRangeInterface.h
  mlir/include/mlir/Interfaces/InferIntRangeInterface.td
  mlir/lib/Analysis/CMakeLists.txt
  mlir/lib/Analysis/DataFlowAnalysis.cpp
  mlir/lib/Analysis/IntRangeAnalysis.cpp
  mlir/lib/Interfaces/CMakeLists.txt
  mlir/lib/Interfaces/InferIntRangeInterface.cpp
  mlir/test/Interfaces/InferIntRangeInterface/infer-int-range-test-ops.mlir
  mlir/test/lib/Dialect/Test/CMakeLists.txt
  mlir/test/lib/Dialect/Test/TestDialect.cpp
  mlir/test/lib/Dialect/Test/TestDialect.h
  mlir/test/lib/Dialect/Test/TestOps.td
  mlir/test/lib/Transforms/CMakeLists.txt
  mlir/test/lib/Transforms/TestIntRangeInference.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
  mlir/unittests/Interfaces/CMakeLists.txt
  mlir/unittests/Interfaces/InferIntRangeInterfaceTest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[PS5] Ignore 'packed' on one-byte bitfields, matching PS4
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/Sema/struct-packed-align.c
Due: fix-cc-deps, clang-format

[Clang][OpenMP] Avoid using `IgnoreImpCasts` if possible
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
Due: fix-cc-deps, clang-format

Initial support for `where` expressions.
  explorer/ast/ast_node.h
  explorer/ast/ast_rtti.txt
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/constraint/fail_where_equals_different_types.carbon
  explorer/testdata/constraint/fail_where_is_non_constraint.carbon
  explorer/testdata/constraint/fail_where_non_type_is.carbon
  explorer/testdata/constraint/nondependent_where.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Clean "./" from __FILE__ expansion.
  clang/lib/Lex/PPMacroExpansion.cpp
Due: fix-cc-deps, clang-format

[LoopInterchange] New cost model for loop interchange
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LICM/lnicm.ll
  llvm/test/Transforms/LoopInterchange/call-instructions.ll
  llvm/test/Transforms/LoopInterchange/currentLimitation.ll
  llvm/test/Transforms/LoopInterchange/debuginfo.ll
  llvm/test/Transforms/LoopInterchange/inner-indvar-depend-on-outer-indvar.ll
  llvm/test/Transforms/LoopInterchange/inner-only-reductions.ll
  llvm/test/Transforms/LoopInterchange/innermost-latch-uses-values-in-middle-header.ll
  llvm/test/Transforms/LoopInterchange/interchange-flow-dep-outer.ll
  llvm/test/Transforms/LoopInterchange/interchange-insts-between-indvar.ll
  llvm/test/Transforms/LoopInterchange/interchange-no-deps.ll
  llvm/test/Transforms/LoopInterchange/interchangeable-innerloop-multiple-indvars.ll
  llvm/test/Transforms/LoopInterchange/interchangeable-outerloop-multiple-indvars.ll
  llvm/test/Transforms/LoopInterchange/interchangeable.ll
  llvm/test/Transforms/LoopInterchange/interchanged-loop-nest-3.ll
  llvm/test/Transforms/LoopInterchange/lcssa-preheader.ll
  llvm/test/Transforms/LoopInterchange/lcssa.ll
  llvm/test/Transforms/LoopInterchange/loop-interchange-optimization-remarks.ll
  llvm/test/Transforms/LoopInterchange/not-interchanged-dependencies-1.ll
  llvm/test/Transforms/LoopInterchange/not-interchanged-loop-nest-3.ll
  llvm/test/Transforms/LoopInterchange/not-interchanged-tightly-nested.ll
  llvm/test/Transforms/LoopInterchange/outer-header-jump-to-inner-latch.ll
  llvm/test/Transforms/LoopInterchange/outer-only-reductions.ll
  llvm/test/Transforms/LoopInterchange/perserve-lcssa.ll
  llvm/test/Transforms/LoopInterchange/pr43176-move-to-new-latch.ll
  llvm/test/Transforms/LoopInterchange/pr43326-ideal-access-pattern.ll
  llvm/test/Transforms/LoopInterchange/pr43326.ll
  llvm/test/Transforms/LoopInterchange/pr43473-invalid-lcssa-phis-in-inner-exit.ll
  llvm/test/Transforms/LoopInterchange/pr43797-lcssa-for-multiple-outer-loop-blocks.ll
  llvm/test/Transforms/LoopInterchange/pr45743-move-from-inner-preheader.ll
  llvm/test/Transforms/LoopInterchange/pr48212.ll
  llvm/test/Transforms/LoopInterchange/profitability.ll
  llvm/test/Transforms/LoopInterchange/reductions-across-inner-and-outer-loop.ll
  llvm/test/Transforms/LoopInterchange/update-condbranch-duplicate-successors.ll
  llvm/test/Transforms/LoopInterchange/vector-gep-operand.ll
Due: fix-cc-deps, clang-format

[clang-tidy] Add proper emplace checks to modernize-use-emplace
  clang-tools-extra/clang-tidy/modernize/UseEmplaceCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseEmplaceCheck.h
  clang-tools-extra/docs/clang-tidy/checks/modernize-use-emplace.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize-use-emplace.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir:MultiOpDriver] Quick fix the assertion position
  mlir/lib/Transforms/Utils/GreedyPatternRewriteDriver.cpp
Due: fix-cc-deps, clang-format

Convert `where` clauses into constraint types.
  explorer/interpreter/type_checker.cpp
  explorer/testdata/addr/fail-method-me-type.carbon
  explorer/testdata/constraint/combine_equality.carbon
  explorer/testdata/constraint/combined_interfaces.carbon
  explorer/testdata/constraint/fail_where_is_non_constraint.carbon
  explorer/testdata/constraint/fail_where_is_non_type.carbon
Due: fix-cc-deps, clang-format

[MLIR][Presburger] Simplex: remove redundant member vars nRow, nCol
  mlir/include/mlir/Analysis/Presburger/Simplex.h
  mlir/lib/Analysis/Presburger/Simplex.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir:PDLL] Add better support for providing Constraint/Pattern/Rewrite documentation
  mlir/include/mlir/TableGen/Attribute.h
  mlir/include/mlir/TableGen/Constraint.h
  mlir/include/mlir/TableGen/Type.h
  mlir/include/mlir/Tools/PDLL/AST/Nodes.h
  mlir/include/mlir/Tools/PDLL/Parser/Parser.h
  mlir/lib/TableGen/Attribute.cpp
  mlir/lib/TableGen/Constraint.cpp
  mlir/lib/TableGen/Type.cpp
  mlir/lib/Tools/PDLL/AST/Nodes.cpp
  mlir/lib/Tools/PDLL/ODS/Operation.cpp
  mlir/lib/Tools/PDLL/Parser/Parser.cpp
  mlir/lib/Tools/mlir-pdll-lsp-server/PDLLServer.cpp
  mlir/test/mlir-pdll-lsp-server/hover.test
  mlir/tools/mlir-pdll/mlir-pdll.cpp
Due: fix-cc-deps, clang-format, check-header-guards
