Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

use vimscript comments for copyright preamble
  utils/vim/ftdetect/carbon.vim
  utils/vim/syntax/carbon.vim
Due: none

Pre-commit fixes
  common/ostream.h
  toolchain/parser/parse_node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards

Update explorer/testdata/for/for-loop.carbon
  explorer/testdata/for/for-loop.carbon
Due: none

prettify testdata
  explorer/testdata/for/for-loop.carbon
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

first draft for for-loop
  explorer/ast/statement.h
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Tidy bazel-execroot
  bazel-execroot
Due: none

Update pre-commit config (#1773)
  .pre-commit-config.yaml
Due: none

fixed broken link in fan section
  docs/project/faq.md
Due: none

Extends carbon to generate random number to make samples more interesting (#1643)
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/data/prelude.carbon
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/random/random.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Added back error message on action stack.
  explorer/interpreter/action_stack.cpp
Due: fix-cc-deps, clang-format

grammar error (#1795)
  bazel/fuzzing/rules.bzl
Due: none

Update faq.md
  docs/project/faq.md
Due: none

Added back error message on action stack. (#1826)
  explorer/interpreter/action_stack.cpp
Due: fix-cc-deps, clang-format

Add explorer support for short-circuit evaluation for 'and' and 'or' (#1789)
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/shortcircuit_and.carbon
  explorer/testdata/operators/shortcircuit_and_no_shortcircuit.carbon
  explorer/testdata/operators/shortcircuit_or.carbon
  explorer/testdata/operators/shortcircuit_or_no_shortcircuit.carbon
Due: fix-cc-deps, clang-format

Add a new "How can I contribute?" top level heading to the FAQ
  docs/project/faq.md
Due: none

Add a new "How can I contribute?" top level heading to the FAQ (#1827)
  docs/project/faq.md
Due: none

Initial implementation of unformed usage static analysis.
  explorer/ast/static_scope.h
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/resolve_unformed.h
  explorer/testdata/uninitialized/fail_local_uninitialized_assign.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_init.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_param.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_pattern.carbon
  explorer/testdata/uninitialized/fail_local_uninitialized_return.carbon
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Update common/check_internal.h
  common/check_internal.h
Due: fix-cc-deps, clang-format, check-header-guards

fixed a typo
  docs/project/faq.md
Due: none

Changed Some Code
  explorer/syntax/lex_scan_helper.cpp
Due: fix-cc-deps, clang-format

int
  explorer/syntax/lex_scan_helper.cpp
Due: fix-cc-deps, clang-format

updated
  common/check_internal.h
Due: fix-cc-deps, clang-format, check-header-guards

space between todo's
  docs/spec/lang/README.md
Due: none

Filling out template with PR 1839
  proposals/p1839.md
Due: none

Multidimensional array proposal
  proposals/p1839.md
Due: none

allow op. overload for logical and, or, and not
  explorer/data/prelude.carbon
  explorer/interpreter/builtins.h
  explorer/interpreter/type_checker.cpp
  explorer/testdata/operators/fail_no_logand.carbon
  explorer/testdata/operators/fail_no_logor.carbon
  explorer/testdata/operators/logand.carbon
  explorer/testdata/operators/logand_builtin.carbon
  explorer/testdata/operators/logor.carbon
  explorer/testdata/operators/logor_builtin.carbon
  explorer/testdata/operators/not.carbon
  explorer/testdata/operators/not_builtin.carbon
Due: fix-cc-deps, clang-format, check-header-guards

fixed not operator in tests
  explorer/testdata/operators/not.carbon
  explorer/testdata/operators/not_builtin.carbon
Due: none

fixed and and or op. in tests
  explorer/data/prelude.carbon
  explorer/testdata/operators/fail_no_logand.carbon
  explorer/testdata/operators/fail_no_logor.carbon
  explorer/testdata/operators/logand.carbon
  explorer/testdata/operators/logand_builtin.carbon
  explorer/testdata/operators/logor.carbon
  explorer/testdata/operators/logor_builtin.carbon
Due: none

Update docs/project/faq.md
  docs/project/faq.md
Due: none

fixed broken link in faq section (#1825)
  docs/project/faq.md
Due: none

Fix proposal name
  proposals/p1839.md
Due: none

Add check for LLVM tools in build config script
  bazel/cc_toolchains/clang_configuration.bzl
Due: none

Update pre-commit version for underscores in symlinks
  .pre-commit-config.yaml
  docs/project/faq.md
  docs/project/principles/low_context_sensitivity.md
  docs/project/roadmap.md
Due: none

Rework of .devcontainer (#1816) (#1817)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/project/contribution_tools.md
Due: none

Documentation: Minor corrections of several md files (#1806)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/project/cpp_style_guide.md
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

