Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


code review
  explorer/fuzzing/fuzzer_util_test.cpp
Due: fix-cc-deps

BuildLibCalls: infer allocptr attribute for free and realloc() family functions
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/test/Transforms/InferFunctionAttrs/annotate.ll
Due: fix-cc-deps

[LV][SLP] Add tests for vectorizing fptoi_sat intrinsics. NFC
  llvm/test/Transforms/LoopVectorize/fpsat.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/fpsat.ll
Due: none

Added GetRunfilesFile() to be able to reliably determine prelude location under various invocation scenarios
  explorer/fuzzing/BUILD
  explorer/fuzzing/fuzzer_util.cpp
  explorer/fuzzing/fuzzer_util.h
  explorer/fuzzing/fuzzer_util_test.cpp
  scripts/fix_cc_deps.py
Due: fix-cc-deps, forbid-llvm-googletest

Re-apply 4b6c2cd642 "Deferred Concept Instantiation Implementation""
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/DeclBase.h
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/Template.h
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/Decl.cpp
  clang/lib/AST/DeclBase.cpp
  clang/lib/ExtractAPI/ExtractAPIConsumer.cpp
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/lib/Sema/TreeTransform.h
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriterDecl.cpp
  clang/test/CXX/temp/temp.constr/temp.constr.constr/non-function-templates.cpp
  clang/test/SemaTemplate/concepts.cpp
  clang/test/SemaTemplate/deferred-concept-inst.cpp
  clang/test/SemaTemplate/instantiate-requires-clause.cpp
  clang/test/SemaTemplate/trailing-return-short-circuit.cpp
Due: fix-cc-deps

BuildLibCalls: add alloc-family attribute to many allocator functions
  llvm/docs/LangRef.rst
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/test/Transforms/InferFunctionAttrs/annotate.ll
Due: fix-cc-deps

Rephrase arguments around data versus emotional. (#1212)
  docs/project/evolution.md
Due: none

[Analyzer] Fix clang::ento::taint::dumpTaint definition
  clang/lib/StaticAnalyzer/Checkers/Taint.cpp
Due: fix-cc-deps

[X86] Reduce some superfluous diffs between znver1/znver2 models. NFC
  llvm/lib/Target/X86/X86ScheduleZnver2.td
Due: none

[X86][AMX] combineLdSt - don't dereference dyn_cast. NFC
  llvm/lib/Target/X86/X86LowerAMXType.cpp
Due: fix-cc-deps

[trace][intelpt] Support system-wide tracing [1] - Add a method for accessing the list of logical core ids
  lldb/docs/lldb-gdb-remote.txt
  lldb/include/lldb/Utility/TraceIntelPTGDBRemotePackets.h
  lldb/source/Plugins/Process/Linux/CMakeLists.txt
  lldb/source/Plugins/Process/Linux/IntelPTCollector.cpp
  lldb/source/Plugins/Process/Linux/Perf.cpp
  lldb/source/Plugins/Process/Linux/Procfs.cpp
  lldb/source/Plugins/Process/Linux/Procfs.h
  lldb/source/Plugins/Trace/intel-pt/TraceIntelPT.cpp
  lldb/source/Plugins/Trace/intel-pt/TraceIntelPTSessionSaver.cpp
  lldb/source/Utility/TraceIntelPTGDBRemotePackets.cpp
  lldb/unittests/Process/Linux/CMakeLists.txt
  lldb/unittests/Process/Linux/PerfTests.cpp
  lldb/unittests/Process/Linux/ProcfsTests.cpp
Due: fix-cc-deps

[Analyzer] Minor cleanups in StreamChecker
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
Due: fix-cc-deps

[gn build] Port 5de0a3e9da72
  llvm/utils/gn/secondary/lldb/source/Plugins/Process/Linux/BUILD.gn
Due: none

[InstCombine] Handle non-canonical GEP index in indexed compare fold (PR55228)
  llvm/include/llvm/IR/Constants.h
  llvm/lib/IR/Constants.cpp
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/pr55228.ll
Due: fix-cc-deps

[Driver][test] Add back some -no-canonical-prefixes
  clang/test/Driver/cc-log-diagnostics.c
  clang/test/Driver/cc-print-proc-stat.c
  clang/test/Driver/compilation_database.c
Due: none

[GlobalOpt] Iterate over replaced values deterministically to constprop
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
  llvm/test/Transforms/GlobalOpt/malloc-promote-6.ll
Due: fix-cc-deps

[Driver][test] Avoiding producing object file in the current directory
  clang/test/Driver/cc-print-options.c
  clang/test/Driver/cc-print-proc-stat.c
Due: none

[PowerPC] Enable CR bits support for Power8 and above.
  clang/docs/ClangCommandLineReference.rst
  clang/lib/Basic/Targets/PPC.cpp
  clang/lib/Basic/Targets/PPC.h
  clang/test/Driver/ppc-crbits.cpp
  llvm/lib/Target/PowerPC/PPC.td
  llvm/test/CodeGen/PowerPC/addegluecrash.ll
  llvm/test/CodeGen/PowerPC/f128-branch-cond.ll
  llvm/test/CodeGen/PowerPC/fast-isel-fcmp-nan.ll
  llvm/test/CodeGen/PowerPC/fp-strict-fcmp-noopt.ll
  llvm/test/CodeGen/PowerPC/fp64-to-int16.ll
  llvm/test/CodeGen/PowerPC/pcrel-byte-loads.ll
Due: fix-cc-deps

Mark identifier prefixes as substitutable
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/LangOptions.h
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGenCXX/clang-abi-compat.cpp
  clang/test/CodeGenCXX/mangle.cpp
Due: fix-cc-deps

[mlir] CRunnerUtils: qualify UnrankedMemRefType to avoid collisions with mlir::UnrankedMemRefType
  mlir/include/mlir/ExecutionEngine/CRunnerUtils.h
Due: fix-cc-deps

[mlir][OpenMP] Add omp.cancel and omp.cancellationpoint.
  flang/lib/Semantics/check-omp-structure.cpp
  llvm/include/llvm/Frontend/OpenMP/OMP.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/test/Dialect/OpenMP/invalid.mlir
  mlir/test/Dialect/OpenMP/ops.mlir
Due: fix-cc-deps

Reapply "[BuildLibCalls] Introduce getOrInsertLibFunc() for use when building libcalls." (was 0f8c626). This reverts commit 14d9390.
  llvm/include/llvm/Analysis/TargetLibraryInfo.h
  llvm/include/llvm/IR/Module.h
  llvm/include/llvm/Transforms/Utils/BuildLibCalls.h
  llvm/include/llvm/Transforms/Utils/SimplifyLibCalls.h
  llvm/lib/Transforms/IPO/InferFunctionAttrs.cpp
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/lib/Transforms/Scalar/LoopIdiomRecognize.cpp
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/lib/Transforms/Utils/SimplifyLibCalls.cpp
  llvm/test/Transforms/InferFunctionAttrs/annotate.ll
  llvm/test/Transforms/InstCombine/SystemZ/libcall-arg-exts.ll
  llvm/test/Transforms/InstCombine/double-float-shrink-1.ll
  llvm/test/Transforms/InstCombine/pr39177.ll
  llvm/test/Transforms/InstCombine/simplify-libcalls.ll
Due: fix-cc-deps

[ifs] Fix bug where exclude only excluded when outputting ifs files
  llvm/test/tools/llvm-ifs/exclude.test
  llvm/tools/llvm-ifs/llvm-ifs.cpp
Due: fix-cc-deps

[Driver][test] Remove clang{{.*}} when testing -cc1 command lines
  clang/test/Driver/amdgcn-toolchain-pic.cl
  clang/test/Driver/amdgpu-openmp-system-arch.c
  clang/test/Driver/amdgpu-toolchain-opencl.cl
  clang/test/Driver/amdgpu-toolchain.c
  clang/test/Driver/avr-mmcu.c
  clang/test/Driver/avr-toolchain.c
  clang/test/Driver/color-diagnostics.c
  clang/test/Driver/csky-toolchain.c
  clang/test/Driver/cuda-detect.cu
  clang/test/Driver/darwin-xarch.c
  clang/test/Driver/dragonfly.c
  clang/test/Driver/fat_archive_amdgpu.cpp
  clang/test/Driver/fat_archive_nvptx.cpp
  clang/test/Driver/hip-options.hip
  clang/test/Driver/hip-syntax-only.hip
  clang/test/Driver/msp430-mmcu.c
  clang/test/Driver/openbsd.c
  clang/test/Driver/openmp-offload-gpu-new.c
  clang/test/Driver/openmp-offload-gpu.c
  clang/test/Driver/preprocessor.c
  clang/test/Driver/report-stat.c
  clang/test/Driver/riscv32-toolchain.c
  clang/test/Driver/riscv64-toolchain.c
  clang/test/Driver/ve-toolchain.c
  clang/test/Driver/ve-toolchain.cpp
  clang/test/Driver/wasm-toolchain.c
  clang/test/Driver/wasm-toolchain.cpp
Due: fix-cc-deps

[NFC] Add test for HasNativeLLVMSupport
  clang/test/Driver/native-llvm.c
Due: none

[PS5] Check for HasNativeLLVMSupport
  clang/test/Driver/ps4-ps5-toolchain.c
Due: none

Revert "Re-apply 4b6c2cd642 "Deferred Concept Instantiation Implementation"""
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/DeclBase.h
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/Template.h
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/Decl.cpp
  clang/lib/AST/DeclBase.cpp
  clang/lib/ExtractAPI/ExtractAPIConsumer.cpp
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/lib/Sema/TreeTransform.h
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriterDecl.cpp
  clang/test/CXX/temp/temp.constr/temp.constr.constr/non-function-templates.cpp
  clang/test/SemaTemplate/concepts.cpp
  clang/test/SemaTemplate/deferred-concept-inst.cpp
  clang/test/SemaTemplate/instantiate-requires-clause.cpp
  clang/test/SemaTemplate/trailing-return-short-circuit.cpp
Due: fix-cc-deps

[DeadArgElim] Set unused arguments for internal functions
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
  llvm/test/Transforms/DeadArgElim/fct_ptr.ll
Due: fix-cc-deps

[VPlan] Do not create VPWidenCall recipes for scalar vector factors.
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/strict-fadd.ll
  llvm/test/Transforms/LoopVectorize/interleave-with-call.ll
Due: fix-cc-deps

Update movmsk-cmp.ll to match improvements made to InstCombine
  llvm/test/CodeGen/X86/movmsk-cmp.ll
Due: none

[Object][DX] Initial DXContainer parsing support
  llvm/include/llvm/BinaryFormat/DXContainer.h
  llvm/include/llvm/Object/DXContainer.h
  llvm/lib/Object/CMakeLists.txt
  llvm/lib/Object/DXContainer.cpp
  llvm/unittests/Object/CMakeLists.txt
  llvm/unittests/Object/DXContainerTest.cpp
Due: fix-cc-deps

[SDAG] fix miscompile when casting int->FP->int
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/AArch64/float-conv-elim.ll
  llvm/test/CodeGen/X86/float-conv-elim.ll
Due: fix-cc-deps

[SystemZ] Accept (. - 0x100000000) PCRel32 constants
  llvm/lib/Target/SystemZ/AsmParser/SystemZAsmParser.cpp
  llvm/test/MC/SystemZ/insn-bad.s
  llvm/test/MC/SystemZ/insn-good.s
Due: fix-cc-deps

[SLP]Improve reductions analysis and emission, part 1.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/PhaseOrdering/X86/vector-reductions-logical.ll
  llvm/test/Transforms/PhaseOrdering/X86/vector-reductions.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/gather-root.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose.ll
  llvm/test/Transforms/SLPVectorizer/X86/PR35628_1.ll
  llvm/test/Transforms/SLPVectorizer/X86/PR35628_2.ll
  llvm/test/Transforms/SLPVectorizer/X86/PR39774.ll
  llvm/test/Transforms/SLPVectorizer/X86/PR40310.ll
  llvm/test/Transforms/SLPVectorizer/X86/blending-shuffle-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/blending-shuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal-list.ll
  llvm/test/Transforms/SLPVectorizer/X86/insert-element-build-vector-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/insert-element-build-vector.ll
  llvm/test/Transforms/SLPVectorizer/X86/malformed_phis.ll
  llvm/test/Transforms/SLPVectorizer/X86/matched-shuffled-entries.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction-logical.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction-same-vals.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction_loads.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction_unrolled.ll
  llvm/test/Transforms/SLPVectorizer/X86/reorder_repeated_ops.ll
  llvm/test/Transforms/SLPVectorizer/X86/revectorized_rdx_crash.ll
  llvm/test/Transforms/SLPVectorizer/X86/vectorize-reorder-reuse.ll
  llvm/test/Transforms/SLPVectorizer/slp-umax-rdx-matcher-crash.ll
Due: fix-cc-deps

[OpenMP] Fix -Wswitch (due to new OMPC_cancellation_construct_type) after D123828
  clang/lib/CodeGen/CGStmtOpenMP.cpp
Due: fix-cc-deps

[memprof] Don't instrument PGO and other compiler inserted variables
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
  llvm/test/Instrumentation/HeapProfiler/skip-compiler-inserted.ll
Due: fix-cc-deps

[TableGen] Add support for variable length instruction in decoder generator
  llvm/test/TableGen/VarLenDecoder.td
  llvm/utils/TableGen/FixedLenDecoderEmitter.cpp
  llvm/utils/TableGen/VarLenCodeEmitterGen.cpp
  llvm/utils/TableGen/VarLenCodeEmitterGen.h
Due: fix-cc-deps
