Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/diagnostic_registry\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Added TODO message
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Fixed punctuation mistakes
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Edited the details section
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Respond to reviewer comments
  docs/design/pattern_matching.md
Due: none

Refactor NodeStack APIs to better handle the increase of distinct ID types.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_node_stack.cpp
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  docs/design/generics/details.md
  docs/design/sum_types.md
Due: none

Rename semantics to semantics_ir (#2858)
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Drop "Lowered" from various LoweringContext APIs. (#2859)
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Sorting out how bindings are added to name lookup.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix test_arg for file_test.subset (#2863)
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

Add loads for data. (#2860)
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/call/empty_struct.carbon
  toolchain/lowering/testdata/function/call/var_param.carbon
  toolchain/lowering/testdata/return/var.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch nodes to a map, and relabel as locals. (#2861)
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Filling out template with PR 2868
  proposals/p2868.md
Due: none

Checkpoint progress.
  proposals/p2868.md
Due: none

Refactor NodeStack APIs to better handle the increase of distinct ID types. (#2864)
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_node_stack.cpp
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  docs/design/generics/details.md
  proposals/p2868.md
Due: none

Alternatives considered
  docs/design/generics/details.md
Due: none

Document pattern syntax and semantics (#2853)
  docs/design/pattern_matching.md
Due: none

Removed unwanted lines
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Added info on symbolic tokens in design docs (#2657)
  docs/design/lexical_conventions/README.md
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

changes suggested after review.
  explorer/common/trace_stream.h
  explorer/file_test.cpp
  explorer/interpreter/exec_program.cpp
  explorer/lit_testdata/trace.carbon
  explorer/lit_testdata/trace/trace_control_flow_resolution.carbon
  explorer/lit_testdata/trace/trace_declarations.carbon
  explorer/lit_testdata/trace/trace_default.carbon
  explorer/lit_testdata/trace/trace_execution.carbon
  explorer/lit_testdata/trace/trace_name_resolution.carbon
  explorer/lit_testdata/trace/trace_source_program.carbon
  explorer/lit_testdata/trace/trace_timing.carbon
  explorer/lit_testdata/trace/trace_unformed_variables_resoution.carbon
  explorer/parse_and_execute/parse_and_execute.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  proposals/p2760.md
Due: none

Fix formatting
  proposals/p2760.md
Due: none

Apply suggestions from code review
  proposals/p2240.md
Due: none

Address comment
  docs/design/generics/details.md
  proposals/p2868.md
Due: none

Follow-up to #2657: include #2511, references
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Follow-up to #2657: include #2511, references (#2870)
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Allow overlap with a `final impl` if identical (#2868)
  docs/design/generics/details.md
  proposals/p2868.md
Due: none

Fix copy-paste error in name of pull request
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Fix copy-paste error in name of pull request (#2871)
  docs/design/lexical_conventions/symbolic_tokens.md
Due: none

Initializing expr for calls with return expression
  explorer/ast/BUILD
  explorer/ast/address.h
  explorer/ast/ast_kinds.h
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/declaration.cpp
  explorer/ast/declaration.h
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/ast/storage.cpp
  explorer/ast/storage.h
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/data/prelude.carbon
  explorer/interpreter/BUILD
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/heap.h
  explorer/interpreter/heap_allocation_interface.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.cpp
  explorer/testdata/destructor/destructor_var_and_let.carbon
  explorer/testdata/function/initializing_expression.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Add `return var` support
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/function/initializing_expression.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  proposals/p1964.md
Due: none

Value from initializing expression
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/function/initializing_expression.carbon
Due: fix-cc-deps, clang-format, check-header-guards

explorer/README.md: update test documentation
  explorer/README.md
  testing/file_test/file_test_base.h
  testing/scripts/autoupdate_testdata_base.py
Due: fix-cc-deps, clang-format, check-header-guards

minor tweak
  explorer/README.md
Due: none

fix typo
  testing/scripts/autoupdate_testdata_base.py
Due: none
