Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Port to macOS
  common/filesystem.cpp
  common/filesystem.h
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  common/filesystem.h
Due: fix-cc-deps, clang-format, check-header-guards

Add a TODO to improve the error for calling a prefix operator of a class with suffix operator.
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Due: none

review
  common/filesystem.cpp
  common/filesystem.h
  common/filesystem_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Actually make the platform switch work.
  common/filesystem.cpp
Due: fix-cc-deps, clang-format

Checkpoint progress.
  proposals/p5389.md
Due: none

less-map-lower
  toolchain/lower/context.cpp
  toolchain/lower/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

store
  toolchain/lower/context.cpp
  toolchain/lower/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

add-file
  toolchain/check/testdata/facet/period_self.carbon
Due: none

test-call-returning-facet-value
  toolchain/check/testdata/facet/access.carbon
Due: none

moretests
  toolchain/check/testdata/facet/access.carbon
Due: none

fail_todo_
  toolchain/check/testdata/facet/period_self.carbon
Due: none

compounds
  toolchain/check/testdata/facet/access.carbon
  toolchain/check/testdata/facet/period_self.carbon
Due: none

adjust-nesting
  toolchain/check/testdata/facet/period_self.carbon
Due: none

Checkpoint progress.
  docs/design/generics/details.md
  proposals/p5389.md
Due: none

C++ interop: Add a test for calling an operator on an inner class
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Due: none

Apply suggestions from review comments
  toolchain/check/cpp_overload_resolution.cpp
  toolchain/check/cpp_type_mapping.cpp
  toolchain/check/cpp_type_mapping.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/class/struct.carbon
  toolchain/check/testdata/interop/cpp/fail_todo_arithmetic_types_unmapped.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/function.carbon
  toolchain/check/testdata/interop/cpp/function/overloads.carbon
  toolchain/check/testdata/interop/cpp/function/param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/stdlib/string_view.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/interop/cpp/enum.carbon
  toolchain/sem_ir/cpp_overload_set.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Support operators with inner classes.
  toolchain/check/operator.cpp
  toolchain/check/testdata/interop/cpp/function/operators.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

WIP
  toolchain/base/BUILD
  toolchain/base/fixed_size_value_store.h
  toolchain/base/value_store.h
  toolchain/check/check_unit.cpp
  toolchain/check/context.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_missing_value.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/context.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/inst_namer.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add InstStore to Constants so the id can be validated
  toolchain/base/value_store.h
  toolchain/check/import_ref.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Best effort attempt to decompose an id into unit+index in the absence of any context
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_missing_value.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/sem_ir/ids.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor best-effort decomposition for reuse with CARBON_DCHECK
  toolchain/base/value_store.h
  toolchain/sem_ir/ids.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Minor updates/fixes from rebase
  toolchain/check/testdata/interface/fail_assoc_const_not_binding.carbon
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Non-automatic test updates
  toolchain/check/testdata/basics/verbose.carbon
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rename back some no-longer-failing tests.
  toolchain/check/testdata/interop/cpp/enum/anonymous.carbon
  toolchain/check/testdata/interop/cpp/enum/copy.carbon
Due: none

Add builtin functions for destroy, with special requirements in facet types
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/builtins/type/aggregate_destroy.carbon
  toolchain/check/testdata/builtins/type/can_aggregate_destroy.carbon
  toolchain/check/testdata/facet/validate_impl_constraints.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/type.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Disable clang-tidy action in favor of clangd-tidy
  .github/workflows/clang_tidy.yaml
Due: none

typename
  common/map_test.cpp
  toolchain/base/kind_switch.h
  toolchain/check/diagnostic_helpers.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/type_iterator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use explicit(false) for implicit construction
  common/enum_base.h
  common/error.h
  common/error_test_helpers.h
  common/map.h
  common/raw_hashtable.h
  common/set.h
  common/struct_reflection.h
  common/template_string.h
  common/template_string_test.cpp
  common/type_enum.h
  toolchain/check/diagnostic_helpers.h
  toolchain/check/keyword_modifier_set.h
  toolchain/diagnostics/format_providers.h
  toolchain/lex/lex.cpp
  toolchain/parse/node_category.h
  toolchain/parse/node_ids.h
  toolchain/parse/precedence.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/type_iterator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Respond to reviewer comments
  docs/design/functions.md
  docs/design/pattern_matching.md
  docs/design/values.md
  proposals/p5545.md
Due: none

Finish summary
  proposals/p5389.md
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

