Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Revert "Improve the TextMate grammar scopes and precision (#7888)"
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.carbon
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.carbon
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.carbon
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.carbon
  utils/textmate/Samples/types.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/textmate/render_sample.py
  utils/textmate/tmlanguage.py
  utils/vscode/carbon.tmLanguage.json
Due: none

Initial support for fn expressions. (#7893)
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_lambda.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/scope_stack.h
  toolchain/check/testdata/function/capture/uncaptured_locals.carbon
  toolchain/check/testdata/lambda/lambda.carbon
  toolchain/diagnostics/kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/lambda/lambda.carbon
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/function/default_values.carbon
  toolchain/parse/testdata/lambda/lambda.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/mangler.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Support `-> val T` and `-> var T` return forms
  toolchain/check/convert.h
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/declaration/val_var_return.carbon
  toolchain/parse/handle_function.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/function/declaration.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Revert "Improve the TextMate grammar scopes and precision (#7888)" (#7909)
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.carbon
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.carbon
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.carbon
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.carbon
  utils/textmate/Samples/types.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/textmate/render_sample.py
  utils/textmate/tmlanguage.py
  utils/vscode/carbon.tmLanguage.json
Due: none

Avoid copying class info when lowering static class variables
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle `return expr;` in functions with a value return form (#7907)
  toolchain/check/return.cpp
  toolchain/check/testdata/function/call/form.carbon
  toolchain/lower/testdata/function/call/form.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Don't create two parse nodes for each `=>` token.
  toolchain/check/handle_lambda.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/function/declaration/fail_todo_no_params.carbon
  toolchain/check/testdata/lambda/lambda.carbon
  toolchain/language_server/testdata/document_symbol/fn_definition.carbon
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/default_values.carbon
  toolchain/parse/testdata/function/terse.carbon
  toolchain/parse/testdata/lambda/lambda.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Render the TextMate samples in a palette built for the grammar
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.svg
  utils/textmate/render_sample.py
Due: none

Render the TextMate samples in a palette built for the grammar (#7887)
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.svg
  utils/textmate/render_sample.py
Due: none

Don't create two parse nodes for each `=>` token. (#7894)
  toolchain/check/handle_lambda.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/function/declaration/fail_todo_no_params.carbon
  toolchain/check/testdata/lambda/lambda.carbon
  toolchain/language_server/testdata/document_symbol/fn_definition.carbon
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/default_values.carbon
  toolchain/parse/testdata/function/terse.carbon
  toolchain/parse/testdata/lambda/lambda.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve the TextMate grammar scopes and precision
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.carbon
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.carbon
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.carbon
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.carbon
  utils/textmate/Samples/types.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/textmate/render_sample.py
  utils/textmate/tmlanguage.py
  utils/vscode/carbon.tmLanguage.json
Due: none

Canonicalize the self in ImplSelfWitness (#7898)
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/facet/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/generic/dot_self_symbolic_type.carbon
  toolchain/check/testdata/impl/generic_redeclaration.carbon
  toolchain/check/testdata/impl/import_self_specific.carbon
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/interface/final.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.llp64.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.lp64.carbon
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

On verifier failure, don't print a pointer to the File.
  toolchain/check/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve the TextMate grammar scopes and precision (again) (#7914)
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.carbon
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.carbon
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.carbon
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.carbon
  utils/textmate/Samples/types.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/textmate/render_sample.py
  utils/textmate/tmlanguage.py
  utils/vscode/carbon.tmLanguage.json
Due: none

List function name not NameId in dominance failure.
  toolchain/sem_ir/dominance.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Swap order of adding to the PendingBlock
  toolchain/check/convert.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add determinism checks for generated source size and fix a crash
  toolchain/benchmarking/compile_benchmark.cpp
  toolchain/benchmarking/source_gen.cpp
  toolchain/benchmarking/source_gen_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix "<unexpected>" inst when creating an InitializeAction (#7900)
  toolchain/check/action.cpp
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/pending_block.h
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/class/destroy_calls.carbon
  toolchain/check/testdata/eval/call.carbon
  toolchain/check/testdata/generic/template/convert.carbon
  toolchain/check/testdata/generic/template/dependence.carbon
  toolchain/check/testdata/generic/template/member_out_of_line.carbon
  toolchain/check/testdata/generic/template/operator.carbon
  toolchain/check/testdata/interop/cpp/class/import/template.carbon
  toolchain/check/testdata/interop/cpp/template/generic_call.carbon
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

List function name not NameId in dominance failure. (#7916)
  toolchain/sem_ir/dominance.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Generate inline function definitions with bodies
  toolchain/benchmarking/compile_benchmark.cpp
  toolchain/benchmarking/source_gen.cpp
  toolchain/benchmarking/source_gen.h
  toolchain/benchmarking/source_gen_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Changes from PR feedback
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/struct.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update struct pattern tests with multiple fields to use different types and use the correct scrutinee type during pattern_match
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/patterns/struct.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

On verifier failure, don't print a pointer to the File. (#7915)
  toolchain/check/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add crashing test
  toolchain/lower/testdata/template/convert.carbon
Due: none

Add specific_id arg to FindStorageArgForInitializer
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/expr_info.h
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix lowering crash in FindStorageArgForInitializer
  toolchain/lower/aggregate.cpp
  toolchain/lower/testdata/template/convert.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Parse `-> ref T` as a primitive return form
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/declaration/ref.carbon
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/function/declaration.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove the `RefTagExpr` special case from `ReturnExprAsForm`
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/testdata/function/declaration/ref.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename `ReturnTypeExpr` parse state to `ReturnTypeOrFormExpr`
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/state.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/check/testdata/function/declaration/ref.carbon
  toolchain/check/testdata/function/declaration/ref.carbon
Due: none

autoupdate
  toolchain/check/testdata/function/declaration/ref.carbon
Due: none

Clean up some leftover references to the old `:!` syntax.
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/docs/check/README.md
  toolchain/docs/check/pattern_matching.md
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/state.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix handling of `generic self: Self`.
  toolchain/check/testdata/class/self/generic_self.carbon
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/generics/generic_params/self.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix rebase failures (I'm so bad at rebaseor merge... )
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/function/declaration.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/check/testdata/function/declaration/val_var_return.carbon
  toolchain/check/testdata/function/declaration/val_var_return.carbon
Due: none

Parse `-> ref T` as a primitive return form (#7911)
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/declaration/ref.carbon
  toolchain/parse/handle_function.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/function/declaration.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Clean up some leftover references to the old `:!` syntax. (#7921)
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/docs/check/README.md
  toolchain/docs/check/pattern_matching.md
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/state.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Adopt `ref` in `Core.Iterate.Next` (#7381)
  core/prelude/iterate.carbon
  core/prelude/range.carbon
  docs/design/control_flow/loops.md
  proposals/p007381-adopt-ref-in-core-iterate-next.md
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/for/basic.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/check/testdata/interop/cpp/range_for.carbon
  toolchain/lower/testdata/array/iterate.carbon
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/testing/testdata/min_prelude/parts/iterate.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

