Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Minutes for security group sync-ups have moved to Discourse.
  llvm/docs/GettingInvolved.rst
Due: none

[Clang][CodeGen] Fix the cmse-clear-return.c test.
  clang/test/CodeGen/cmse-clear-return.c
Due: none

Revert "[TableGen] Remove code beads"
  llvm/lib/Target/M68k/CMakeLists.txt
  llvm/utils/TableGen/CMakeLists.txt
  llvm/utils/TableGen/CodeBeadsGen.cpp
  llvm/utils/TableGen/TableGen.cpp
  llvm/utils/TableGen/TableGenBackends.h
  llvm/utils/gn/secondary/llvm/utils/TableGen/BUILD.gn
Due: fix-cc-deps, clang-format, check-header-guards

[x86][DAG] Unroll vectorized FREMs that will become libcalls
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/X86/frem-libcall.ll
Due: fix-cc-deps, clang-format

[SLP][NFC]Make isFirstInsertElement a weak strict ordering comparator.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Due: fix-cc-deps, clang-format

[OpenMP] Add `-Xoffload-linker` to forward input to the device linker
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/linker-wrapper.c
  clang/test/Driver/openmp-offload-gpu-new.c
  clang/tools/clang-linker-wrapper/ClangLinkerWrapper.cpp
Due: fix-cc-deps, clang-format

[pseudo] (trivial) bracket-matching
  clang-tools-extra/pseudo/benchmarks/Benchmark.cpp
  clang-tools-extra/pseudo/include/clang-pseudo/Bracket.h
  clang-tools-extra/pseudo/include/clang-pseudo/Token.h
  clang-tools-extra/pseudo/lib/Bracket.cpp
  clang-tools-extra/pseudo/lib/CMakeLists.txt
  clang-tools-extra/pseudo/tool/ClangPseudo.cpp
  clang-tools-extra/pseudo/unittests/BracketTest.cpp
  clang-tools-extra/pseudo/unittests/CMakeLists.txt
Due: fix-cc-deps, clang-format, check-header-guards

[InstCombine] Add tests for freeze of load with metadata (NFC)
  llvm/test/Transforms/InstCombine/freeze.ll
Due: none

[InstCombine] Use IRBuilder in freeze pushing transform (PR55619)
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/freeze.ll
  llvm/test/Transforms/PGOProfile/chr.ll
  llvm/test/Transforms/PhaseOrdering/X86/vector-reductions-logical.ll
Due: fix-cc-deps, clang-format

[libc++] Rename the generic-singlethreaded CI job to generic-no-threads for consistency
  libcxx/cmake/caches/Generic-no-threads.cmake
  libcxx/utils/ci/buildkite-pipeline.yml
  libcxx/utils/ci/run-buildbot
Due: none

[InstCombine] Add test for GEP difference with bitcasts (NFC)
  llvm/test/Transforms/InstCombine/sub-gep.ll
Due: none

[InstCombine] Strip bitcasts in GEP diff fold
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/test/Transforms/InstCombine/getelementptr.ll
  llvm/test/Transforms/InstCombine/sub-gep.ll
Due: fix-cc-deps, clang-format

[AMDGPU][MC][GFX11] Support base+soffset+offset SMEM loads.
  llvm/lib/Target/AMDGPU/SMInstructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_smem.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_all.txt
Due: none

[mlir][vector] Add new lowering mode to vector.contractionOp
  mlir/include/mlir/Dialect/Vector/Transforms/VectorRewritePatterns.h
  mlir/lib/Dialect/Vector/Transforms/VectorTransforms.cpp
  mlir/test/Dialect/Vector/vector-contract-transforms.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Due: fix-cc-deps, clang-format, check-header-guards

add back the fuzzer input which used to crash because of missing function type literal type checking
  explorer/fuzzing/fuzzer_corpus/00f0094e829126778228c3fdefec8654ceab30e4.textproto
Due: check-sha-filenames

fuzzer input fix
  explorer/fuzzing/fuzzer_corpus/512e48e65ff569c91b7cbebbb6160b07de5b2ab1.textproto
Due: check-sha-filenames

removed extra file
  explorer/fuzzing/fuzzer_corpus/00f0094e829126778228c3fdefec8654ceab30e4.textproto
Due: check-sha-filenames

[TypePromotion] Avoid unnecessary trunc zext pairs
  llvm/lib/CodeGen/TypePromotion.cpp
  llvm/test/Transforms/TypePromotion/ARM/casts.ll
Due: fix-cc-deps, clang-format

fuzzer renaming churn
  explorer/fuzzing/fuzzer_corpus/00f0094e829126778228c3fdefec8654ceab30e4.textproto
Due: check-sha-filenames

[libcxx] Add sort.bench.cpp to libcxx/benchmarks/CMakeLists.txt
  libcxx/benchmarks/CMakeLists.txt
Due: none

[DAG] Unroll vectorized FPOW instructions before widening that will scalarize to libcalls anyway
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/X86/pow-libcall.ll
Due: fix-cc-deps, clang-format

Fix behavior of is_fp_class on empty class set
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/X86/is_fpclass.ll
Due: fix-cc-deps, clang-format

[flang][runtime] Clean up asynchronous I/O APIs
  flang/include/flang/Runtime/io-api.h
  flang/include/flang/Runtime/iostat.h
  flang/lib/Lower/IO.cpp
  flang/runtime/io-api.cpp
  flang/runtime/io-error.h
  flang/runtime/io-stmt.h
  flang/runtime/iostat.cpp
  flang/runtime/unit.h
Due: fix-cc-deps, clang-format, check-header-guards

[mlir] Breakdown diagnostic string literals
  mlir/include/mlir/IR/EnumAttr.td
Due: none

Refactoring: IsConcreteType() differs from IsType() only by the treatment of `auto`, made this more visible by merging the two into a single function
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

[mlir] Rename mlir::SmallVector -> llvm::SmallVector
  mlir/include/mlir/Interfaces/ControlFlowInterfaces.td
  mlir/include/mlir/Interfaces/InferTypeOpInterface.td
  mlir/include/mlir/Interfaces/SideEffectInterfaceBase.td
  mlir/include/mlir/Interfaces/VectorInterfaces.td
  mlir/include/mlir/Interfaces/ViewLikeInterface.td
  mlir/tools/mlir-tblgen/OpDefinitionsGen.cpp
  mlir/tools/mlir-tblgen/OpFormatGen.cpp
  mlir/tools/mlir-tblgen/RewriterGen.cpp
Due: fix-cc-deps, clang-format

Revert "Refactoring: IsConcreteType() differs from IsType() only by the treatment of `auto`, made this more visible by merging the two into a single function"
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Similar to #1272, changed the type of alternative signature from generic Expression to TupleLiteral to match the grammar
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/declaration.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/fuzzing/fuzzer_corpus/00f0094e829126778228c3fdefec8654ceab30e4.textproto
  explorer/fuzzing/fuzzer_corpus/3a2e6f830b6edea6bcf31348f30a12a27b36d496.textproto
  explorer/fuzzing/fuzzer_corpus/90c1b392ccc71913bc6166593f51626e0cebb737.textproto
  explorer/fuzzing/fuzzer_corpus/c7c6e4477db2a3b777e740964a09a379684261d8.textproto
  explorer/fuzzing/fuzzer_corpus/dedba2ac81916ee306624a2ac3db2a3c7a4ea5ad.textproto
Due: fix-cc-deps, clang-format, check-header-guards, check-sha-filenames

[libc++][NFC] Whitespace refactoring of string.cpp for consistency and legibility
  libcxx/src/string.cpp
Due: fix-cc-deps, clang-format

[libc++][NFC] Move definitions around in string.cpp to reduce _LIBCPP_HAS_NO_WIDE_CHARACTERS blocks
  libcxx/src/string.cpp
Due: fix-cc-deps, clang-format

[gn build] (semi-automatically) port 0360b9f1599b
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/lib/BUILD.gn
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/unittests/BUILD.gn
Due: none

[Clang] Avoid misleading 'conflicting types' diagnostic with no-prototype decls.
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/prototype-redecls.c
Due: fix-cc-deps, clang-format

[flang] Extension: Accept Hollerith actual arguments as if they were BOZ
  flang/include/flang/Evaluate/tools.h
  flang/lib/Evaluate/tools.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/check-call.h
  flang/lib/Semantics/data-to-inits.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[gn build] Reformat all build files
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/tool/BUILD.gn
  llvm/utils/gn/secondary/clang-tools-extra/unittests/clang-tidy/BUILD.gn
  llvm/utils/gn/secondary/clang/tools/clang-offload-packager/BUILD.gn
  llvm/utils/gn/secondary/compiler-rt/BUILD.gn
  llvm/utils/gn/secondary/compiler-rt/lib/builtins/BUILD.gn
  llvm/utils/gn/secondary/lld/test/BUILD.gn
  llvm/utils/gn/secondary/lldb/source/Plugins/Platform/gdb-server/BUILD.gn
  llvm/utils/gn/secondary/llvm/lib/Support/BLAKE3/BUILD.gn
  llvm/utils/gn/secondary/llvm/utils/TableGen/BUILD.gn
  llvm/utils/gn/secondary/llvm/utils/llvm-lit/BUILD.gn
Due: none

[RISCV] Add test cases showing failure to remove mask on rotate amounts.
  llvm/test/CodeGen/RISCV/rotl-rotr.ll
Due: none

Recommit "[RISCV] Use selectShiftMaskXLen ComplexPattern for isel of rotates."
  llvm/lib/Target/RISCV/RISCVInstrInfoZb.td
  llvm/test/CodeGen/RISCV/rotl-rotr.ll
Due: none

[PS5] Verify defaults to -fno-stack-size-section
  clang/test/Driver/stack-size-section.c
Due: none

[flang][runtime] INQUIRE(UNIT=666,NUMBER=n) must set n=666
  flang/runtime/io-api.cpp
  flang/runtime/io-stmt.cpp
  flang/runtime/io-stmt.h
Due: fix-cc-deps, clang-format, check-header-guards
