Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

remove-complete
  toolchain/check/handle_named_constraint.cpp
  toolchain/sem_ir/named_constraint.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

constraint-import
  toolchain/check/import.cpp
  toolchain/check/testdata/interface/import_interface_decl.carbon
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fix-test
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
Due: none

Apply suggestion from @chandlerc
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  toolchain/check/call.cpp
  toolchain/check/class.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/cpp/call.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/operators.cpp
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_validation.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/return.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/subst.cpp
  toolchain/check/thunk.cpp
  toolchain/sem_ir/class.cpp
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/name_scope_test.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Formalize Cpp as a PackageNameId
  toolchain/base/value_ids.h
  toolchain/check/check.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/interop/cpp/class/access.carbon
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
  toolchain/check/testdata/packages/restricted_package_names.carbon
  toolchain/lex/token_kind.def
  toolchain/lex/token_kind_test.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/packages/import/cpp_inline.carbon
  toolchain/parse/testdata/packages/keyword_names.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Revert "remove-complete"
  toolchain/check/handle_named_constraint.cpp
  toolchain/sem_ir/named_constraint.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

add-todo
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/lex/token_kind.def
  toolchain/lex/token_kind.def
Due: none

constraint-in-facet-type
  toolchain/base/relational_value_store.h
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/facet/fail_incomplete.carbon
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
  toolchain/check/testdata/named_constraint/basic.carbon
  toolchain/check/testdata/named_constraint/convert.carbon
  toolchain/check/testdata/named_constraint/empty.carbon
  toolchain/check/testdata/named_constraint/empty_generic.carbon
  toolchain/check/testdata/named_constraint/generic.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/specific_named_constraint.h
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

identify facet type
  toolchain/check/handle_require.cpp
  toolchain/check/testdata/interface/require.carbon
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add-test-comment
  toolchain/check/testdata/interface/require.carbon
Due: none

autoupdate
  toolchain/check/testdata/named_constraint/require.carbon
Due: none

fix-test
  toolchain/check/handle_require.cpp
  toolchain/check/testdata/interface/require.carbon
  toolchain/check/testdata/named_constraint/require.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fix-expectations
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
Due: none

Enable conversions to value-or-ref to use `value_of_initializer`
  toolchain/check/convert.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/tuple/element_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  toolchain/base/relational_value_store.h
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/facet/fail_incomplete.carbon
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/specific_interface.h
  toolchain/sem_ir/specific_named_constraint.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address some review comments.
  toolchain/check/testdata/interop/cpp/function/thunk_ast.carbon
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/testdata/compile/opt/clang_forward_opt_size.carbon
  toolchain/driver/testdata/compile/opt/clang_forward_opt_speed.carbon
  toolchain/driver/testdata/compile/opt/clang_no_opt_arg.carbon
  toolchain/driver/testdata/compile/opt/clang_no_opt_twice.carbon
  toolchain/driver/testdata/compile/opt/clang_override_opt_arg.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

remove-dchecks
  toolchain/base/relational_value_store.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

get-raw-index
  toolchain/base/canonical_value_store.h
  toolchain/base/relational_value_store.h
  toolchain/base/value_store.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

clang-format
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

lessthanfn
  toolchain/sem_ir/facet_type_info.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Make TODO more confident.
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

constraint-import-decl-2
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a Lower::OptimizationLevel and use it instead of llvm::OptimizationLevel.
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/lower/BUILD
  toolchain/lower/context.cpp
  toolchain/lower/context.h
  toolchain/lower/file_context.cpp
  toolchain/lower/lower.h
  toolchain/lower/options.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Rename "opt" to optimize in both --opt and --phase.
  toolchain/autoupdate_testdata.py
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/compile/optimize/clang_forward_optimize_size.carbon
  toolchain/driver/testdata/compile/optimize/clang_forward_optimize_speed.carbon
  toolchain/driver/testdata/compile/optimize/clang_no_optimize_arg.carbon
  toolchain/driver/testdata/compile/optimize/clang_no_optimize_twice.carbon
  toolchain/driver/testdata/compile/optimize/clang_override_optimize_arg.carbon
  toolchain/driver/testdata/compile/optimize/optimize_debug.carbon
  toolchain/driver/testdata/compile/optimize/optimize_default.carbon
  toolchain/driver/testdata/compile/optimize/optimize_none.carbon
  toolchain/driver/testdata/compile/optimize/optimize_size.carbon
  toolchain/driver/testdata/compile/optimize/optimize_speed.carbon
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Require `ref` tag on arguments to `ref` params
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/function/call/ref.carbon
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/let/ref.carbon
  toolchain/check/testdata/var/var_pattern.carbon
  toolchain/check/thunk.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/function/call/ref_param.carbon
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/inst_categories.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Diagnose useless `ref` tags
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/function/call/ref.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Validate `ref` tag invariants as a post-process
  common/set.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply and propagate synthetic `ref` tags
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/function/call/ref.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use separate ConversionKind instead of bool flag
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add a TODO to check `VoidTy` for completeness like we do for class types.
  toolchain/check/type_completion.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

auto
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove redundant function parameter
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix missed "opt".
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

C++ Interop: Add basic tests for `void*` conversion
  toolchain/check/testdata/interop/cpp/void_pointer.carbon
Due: none

import-complete-constraint
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add tests for conversion of `void*` with Carbon class pointers.
  toolchain/check/testdata/interop/cpp/void_pointer.carbon
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

