Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


Switch to documenting bazel-bin
  bazel/fuzzing/BUILD
  bazel/fuzzing/fuzz_test.sh
  bazel/fuzzing/rules.bzl
Due: fix-cc-deps, forbid-llvm-googletest

[RISCV] Insert VSETVLI at the end of a basic block if we didn't produce BlockInfo.Exit.
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.mir
Due: fix-cc-deps

[RISCV] Add test case for a vsetvli insertion bug found after D118667.
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.mir
Due: none

Revert "[RISCV] Fix a vsetvli insertion bug involving loads/stores." and "[RISCC] Add missing words to comment. NFC"
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.mir
Due: fix-cc-deps

[mlir][bufferize] Use rewriter instead of replacing all uses directly
  mlir/lib/Dialect/Bufferization/IR/BufferizableOpInterface.cpp
Due: fix-cc-deps

[gn build] Port 31f9519d48c2
  llvm/utils/gn/secondary/llvm/utils/TableGen/BUILD.gn
Due: none

[Hexagon] Add patterns for select(i1, Q, Q)
  llvm/lib/Target/Hexagon/HexagonPatternsHVX.td
Due: none

[CoroFrame][OpaquePtr] Remove getPointerElementType() call
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
Due: fix-cc-deps

[InferAddressSpaces] Fix assert on invalid cast ordering
  llvm/lib/Transforms/Scalar/InferAddressSpaces.cpp
  llvm/test/Transforms/InferAddressSpaces/AMDGPU/insert-pos-assert.ll
Due: fix-cc-deps

Revert "StackProtector: ignore debug insts when splitting blocks."
  llvm/lib/CodeGen/CodeGenCommonISel.cpp
  llvm/test/CodeGen/AArch64/tailcall-ssp-split-debug.ll
Due: fix-cc-deps

[libc++] Remove __functional_base
  libcxx/include/CMakeLists.txt
  libcxx/include/__format/format_arg.h
  libcxx/include/__functional_base
  libcxx/include/__memory/shared_ptr.h
  libcxx/include/__memory/unique_ptr.h
  libcxx/include/bitset
  libcxx/include/experimental/__memory
  libcxx/include/iterator
  libcxx/include/memory
  libcxx/include/optional
  libcxx/include/string
  libcxx/include/system_error
  libcxx/include/thread
  libcxx/include/tuple
  libcxx/include/typeindex
  libcxx/include/variant
  libcxx/include/vector
  libcxx/test/std/ranges/range.factories/range.iota.view/iterator/member_typedefs.compile.pass.cpp
  libcxx/test/std/ranges/range.factories/range.iota.view/iterator/minus.pass.cpp
  libcxx/utils/generate_private_header_tests.py
  llvm/utils/gn/secondary/libcxx/include/BUILD.gn
Due: fix-cc-deps

[CodeView] Match any backend version in the new test
  llvm/test/DebugInfo/COFF/compiler-version-overflow.ll
Due: none

[AlwaysInliner] Respect noinline call site attribute
  llvm/lib/Transforms/IPO/AlwaysInliner.cpp
  llvm/test/Transforms/Inline/always-inline.ll
Due: fix-cc-deps

[ISel] Port AArch64 HADD and RHADD to ISel
  llvm/include/llvm/CodeGen/ISDOpcodes.h
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/include/llvm/Target/TargetSelectionDAG.td
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGDumper.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
Due: fix-cc-deps

[AMDGPU] Merge AMDGPULDSUtils into AMDGPUMemoryUtils
  llvm/lib/Target/AMDGPU/AMDGPULowerModuleLDSPass.cpp
  llvm/lib/Target/AMDGPU/AMDGPUReplaceLDSUseWithPointer.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPULDSUtils.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPULDSUtils.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUMemoryUtils.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUMemoryUtils.h
  llvm/lib/Target/AMDGPU/Utils/CMakeLists.txt
Due: fix-cc-deps

[X86] combineVSelectToBLENDV - handle vselect(vXi1,A,B) -> blendv(sext(vXi1),A,B)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-bo-select.ll
Due: fix-cc-deps

[PSE] Allow duplicate predicates in debug output
  llvm/lib/Analysis/ScalarEvolution.cpp
Due: fix-cc-deps

sanitizer_common: make internal/external headers compatible
  compiler-rt/lib/asan/asan_poisoning.cpp
  compiler-rt/lib/asan/asan_report.cpp
  compiler-rt/lib/asan/asan_rtl.cpp
  compiler-rt/lib/lsan/lsan.cpp
  compiler-rt/lib/msan/msan.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_common_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_coverage_libcdep_new.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_file.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_file.h
  compiler-rt/lib/sanitizer_common/sanitizer_fuchsia.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_posix_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_win.cpp
  compiler-rt/lib/sanitizer_common/tests/sanitizer_common_test.cpp
  compiler-rt/lib/tsan/rtl/tsan_rtl.cpp
  compiler-rt/lib/ubsan/ubsan_init.cpp
Due: fix-cc-deps

[clang][OpaquePtr] Remove call to getPointerElementType() in CodeGenModule::GetAddrOfGlobalTemporary()
  clang/lib/CodeGen/CodeGenModule.cpp
Due: fix-cc-deps

[OpenMP][FIX] The `llvm.amdgcn.s.barrier` is actually not aligned
  llvm/lib/Transforms/IPO/OpenMPOpt.cpp
  llvm/test/Transforms/OpenMP/barrier_removal.ll
Due: fix-cc-deps

[RGT] Exercise both paths through a test
  llvm/unittests/IR/ConstantsTest.cpp
Due: fix-cc-deps

[RGT] Refactor Windows-specific checks into their own test
  llvm/unittests/Support/CommandLineTest.cpp
Due: fix-cc-deps

[RGT] Refactor environment-specific checks to use GTEST_SKIP()
  llvm/unittests/Support/Host.cpp
Due: fix-cc-deps

[nfc] [hwasan] factor out logic to collect info about stack
  llvm/include/llvm/Transforms/Utils/MemoryTaggingSupport.h
  llvm/lib/Target/AArch64/AArch64StackTagging.cpp
  llvm/lib/Transforms/Instrumentation/HWAddressSanitizer.cpp
  llvm/lib/Transforms/Utils/MemoryTaggingSupport.cpp
Due: fix-cc-deps

[gn build] Manually port c7eb84634519e6497
  llvm/utils/gn/secondary/llvm/lib/Target/AMDGPU/Utils/BUILD.gn
Due: none

[lld/coff] Make lld-link work in a non-MSVC shell, add /winsysroot:
  clang/docs/tools/clang-formatted-files.txt
  clang/lib/Driver/ToolChains/MSVC.cpp
  clang/lib/Driver/ToolChains/MSVC.h
  lld/COFF/Driver.cpp
  lld/COFF/Driver.h
  lld/COFF/Options.td
  lld/COFF/SymbolTable.cpp
  lld/docs/ReleaseNotes.rst
  lld/test/COFF/winsysroot.test
  llvm/include/llvm/Support/MSVCPaths.h
  llvm/include/llvm/Support/MSVCSetupApi.h
  llvm/lib/Support/CMakeLists.txt
  llvm/lib/Support/MSVCPaths.cpp
  llvm/utils/gn/secondary/llvm/lib/Support/BUILD.gn
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Due: fix-cc-deps

[flang] Allow mixed association of procedure pointers and targets
  flang/lib/Evaluate/tools.cpp
  flang/test/Semantics/assign03.f90
  flang/test/Semantics/associated.f90
Due: fix-cc-deps

[hwasan] keep debug intrinsicts in AllocaInfo.
  llvm/include/llvm/Transforms/Utils/MemoryTaggingSupport.h
  llvm/lib/Transforms/Instrumentation/HWAddressSanitizer.cpp
  llvm/lib/Transforms/Utils/MemoryTaggingSupport.cpp
Due: fix-cc-deps

[X86] Replace X86ISD::AVG with generic ISD::AVGCEILU
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrAVX512.td
  llvm/lib/Target/X86/X86InstrFragmentsSIMD.td
  llvm/lib/Target/X86/X86InstrSSE.td
  llvm/lib/Target/X86/X86IntrinsicsInfo.h
  llvm/test/CodeGen/X86/avg.ll
  llvm/test/CodeGen/X86/min-legal-vector-width.ll
Due: fix-cc-deps

[NFC][SCEV] Add some tests for select->umax recognition
  llvm/test/Analysis/ScalarEvolution/min-max-exprs.ll
Due: none

[NFC][SCEV] Add test more tests for umin_seq recognition
  llvm/test/Analysis/ScalarEvolution/logical-operations.ll
Due: none

[SCEV] Recognize `x == 0 ? 0 : umin(..., x, ...) -> umin_seq(x, umin(...))`
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/logical-operations.ll
Due: fix-cc-deps

[SCEV] `createNodeForSelectOrPHIInstWithICmpInstCond()`: generalize eq handling
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/logical-operations.ll
  llvm/test/Analysis/ScalarEvolution/min-max-exprs.ll
  polly/test/ForwardOpTree/changed-kind.ll
Due: fix-cc-deps

[SCEV] Generalize umin_seq matching
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/logical-operations.ll
Due: fix-cc-deps

[NFCI][SCEV] `SCEVTraversal`: if search terminated, don't push further ops of nary
  llvm/include/llvm/Analysis/ScalarEvolutionExpressions.h
  llvm/lib/Analysis/ScalarEvolution.cpp
Due: fix-cc-deps

[NFC][SCEV] `createNodeForSelectOrPHIInstWithICmpInstCond()`: dedup eq/ne pred handling
  llvm/lib/Analysis/ScalarEvolution.cpp
Due: fix-cc-deps

[SCEV] Recognize `x == 0 ? 0 : umin_seq(..., x, ...) -> umin_seq(x, umin_seq(...))`
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/logical-operations.ll
Due: fix-cc-deps

[NFC] [MTE] Use helpers for stack tagging.
  llvm/include/llvm/Transforms/Utils/MemoryTaggingSupport.h
  llvm/lib/Target/AArch64/AArch64StackTagging.cpp
  llvm/lib/Transforms/Utils/MemoryTaggingSupport.cpp
Due: fix-cc-deps

more edits to respond to review
  executable_semantics/ast/declaration.h
  executable_semantics/ast/expression.h
  executable_semantics/ast/generic_binding.h
  executable_semantics/ast/pattern.h
  executable_semantics/ast/return_term.h
  executable_semantics/ast/statement.h
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/value.cpp
  executable_semantics/interpreter/value.h
Due: fix-cc-deps

Handle recursion limit errors in postfix expressions
  bazel/fuzzing/rules.bzl
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/parser/parse_tree_test.cpp
  toolchain/parser/parser_impl.cpp
Due: fix-cc-deps, forbid-llvm-googletest
