Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

executable-semantics-format-grammar:
  name: Format the executable_semantics grammar file
  entry: executable_semantics/syntax/format_grammar.py
  language: python
  pass_filenames: false

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Use functions with prototypes when appropriate; NFC
  clang/test/Parser/opencl-atomics-cl20.cl
  clang/test/Parser/vector-cast-define.cl
  clang/test/Preprocessor/macro_variadic.cl
  clang/test/Sema/builtins.cl
  clang/test/SemaOpenCL/address-spaces-conversions-cl2.0.cl
  clang/test/SemaOpenCL/clang-builtin-version.cl
  clang/test/SemaOpenCL/clk_event_t.cl
  clang/test/SemaOpenCL/fdeclare-opencl-builtins.cl
  clang/test/SemaOpenCL/invalid-assignment-constant-address-space.cl
  clang/test/SemaOpenCL/invalid-pipe-builtin-cl2.0.cl
  clang/test/SemaOpenCL/invalid-pipes-cl1.2.cl
  clang/test/SemaOpenCL/sampler_t.cl
  clang/test/SemaOpenCL/shifts.cl
  clang/test/SemaOpenCL/storageclass-cl20.cl
  clang/test/SemaOpenCL/storageclass.cl
  clang/test/SemaOpenCL/vec_compare.cl
  clang/test/SemaOpenCL/vector_inc_dec_ops.cl
  clang/test/SemaOpenCL/vector_swizzle_length.cl
Due: none

[lld-macho][NFC] Encapsulate symbol priority implementation.
  lld/MachO/Config.h
  lld/MachO/SectionPriorities.cpp
  lld/MachO/SectionPriorities.h
Due: fix-cc-deps

[gn build] Port 46774df30715
  llvm/utils/gn/secondary/llvm/lib/Transforms/Utils/BUILD.gn
Due: none

Initial support for statically-sized arrays (#1158)
  common/fuzzing/carbon.proto
  executable_semantics/ast/ast_rtti.txt
  executable_semantics/ast/expression.cpp
  executable_semantics/ast/expression.h
  executable_semantics/fuzzing/ast_to_proto.cpp
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/value.cpp
  executable_semantics/interpreter/value.h
  executable_semantics/syntax/parser.ypp
  executable_semantics/testdata/array/fail_index.carbon
  executable_semantics/testdata/array/fail_negative_size.carbon
  executable_semantics/testdata/array/fail_size_mismatch.carbon
  executable_semantics/testdata/array/index.carbon
  executable_semantics/testdata/array/nested.carbon
Due: executable-semantics-format-grammar, fix-cc-deps

Revert "Recommit "[LV] Remove unneeded createHeaderBranch.(NFCI)""
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.cpp
Due: fix-cc-deps

Revert "Added an empty __init__.py file to the MLIR Python bindings"
  mlir/python/mlir/__init__.py
Due: none

svg
  docs/images/quicksort_snippet.svg
Due: none

Fix build break from #1158
  common/fuzzing/proto_to_carbon.cpp
Due: fix-cc-deps

Reland "[llvm-readobj][MachO] Add option to sort the symbol table before dumping (MachO only, for now)." https://reviews.llvm.org/D116787
  llvm/docs/CommandGuide/llvm-readobj.rst
  llvm/test/tools/llvm-readobj/MachO/stabs-sorted.yaml
  llvm/test/tools/llvm-readobj/sort-symbols.test
  llvm/tools/llvm-readobj/MachODumper.cpp
  llvm/tools/llvm-readobj/ObjDumper.h
  llvm/tools/llvm-readobj/Opts.td
  llvm/tools/llvm-readobj/llvm-readobj.cpp
  llvm/tools/llvm-readobj/llvm-readobj.h
Due: fix-cc-deps

Fix build break from #1158 (#1165)
  common/fuzzing/proto_to_carbon.cpp
Due: fix-cc-deps

Switch highlighting
  docs/images/quicksort_snippet.svg
Due: none

[OpenMP][libomp] NFC: Move omp_* functions out of kmp_* section
  openmp/runtime/src/include/omp_lib.f90.var
  openmp/runtime/src/include/omp_lib.h.var
Due: none

[libc++] Fixes calendar function visibility.
  libcxx/include/__chrono/calendar.h
Due: fix-cc-deps

More snippetting
  docs/images/cpp_snippet.svg
Due: none

[PowerPC] Set the special DSCR with a compiler option.
  llvm/lib/Target/PowerPC/P10InstrResources.td
  llvm/lib/Target/PowerPC/P9InstrResources.td
  llvm/lib/Target/PowerPC/PPCInstrInfo.td
  llvm/lib/Target/PowerPC/PPCPreEmitPeephole.cpp
  llvm/test/CodeGen/PowerPC/dscr-set.ll
  llvm/test/MC/Disassembler/PowerPC/ppc64-encoding.txt
  llvm/test/MC/PowerPC/ppc64-encoding-ext.s
Due: fix-cc-deps

[GreedPatternRewriter] Preprocess constants while building worklist when not processing top down
  flang/test/Lower/host-associated.f90
  mlir/include/mlir/Transforms/FoldUtils.h
  mlir/lib/Transforms/Utils/FoldUtils.cpp
  mlir/lib/Transforms/Utils/GreedyPatternRewriteDriver.cpp
  mlir/test/Conversion/VectorToSCF/vector-to-scf.mlir
  mlir/test/Dialect/Async/async-parallel-for-num-worker-threads.mlir
  mlir/test/Dialect/Linalg/detensorize_if.mlir
  mlir/test/Dialect/Linalg/transform-patterns.mlir
  mlir/test/Dialect/SparseTensor/dense.mlir
  mlir/test/Dialect/SparseTensor/sparse_scalars.mlir
  mlir/test/Dialect/Tensor/bufferize.mlir
  mlir/test/Dialect/Tensor/split-padding.mlir
  mlir/test/Transforms/test-operation-folder.mlir
Due: fix-cc-deps

Update IfExpression to follow AST conventions
  executable_semantics/ast/expression.cpp
  executable_semantics/ast/expression.h
  executable_semantics/fuzzing/ast_to_proto.cpp
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/type_checker.cpp
Due: fix-cc-deps

[llvm-readobj] Fix forward build breakages caused by https://reviews.llvm.org/rG33b3c86afab06ad61d46456c85c0b565cfff8287
  llvm/tools/llvm-readobj/ObjDumper.h
Due: fix-cc-deps

better syntax
  llvm/tools/llvm-readobj/ObjDumper.h
Due: fix-cc-deps

[BOLT] AArch64: Emit text objects
  bolt/lib/Core/BinaryEmitter.cpp
  bolt/lib/Passes/Aligner.cpp
  bolt/test/AArch64/text-data.c
Due: fix-cc-deps

[BOLT] LongJmp: Check for shouldEmit
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Passes/LongJmp.cpp
Due: fix-cc-deps

[flang] Keep fully qualified !fir.heap type for fir.freemem op
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/test/Fir/array-value-copy.fir
  flang/test/Fir/fir-ops.fir
  flang/test/Lower/Intrinsics/matmul.f90
  flang/test/Lower/Intrinsics/repeat.f90
  flang/test/Lower/Intrinsics/transpose.f90
  flang/test/Lower/Intrinsics/trim.f90
Due: none

[llvm-readobj] Support non 64bit platforms too (Orignal phab: https://reviews.llvm.org/D116787)
  llvm/tools/llvm-readobj/MachODumper.cpp
Due: fix-cc-deps

More on alternatives
  proposals/p1154.md
Due: none

[PowerPC] Fix lowering of byval parameters for sizes greater than 8 bytes.
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/test/CodeGen/PowerPC/byval.ll
  llvm/test/CodeGen/PowerPC/ppc64-byval-larger-struct.ll
Due: fix-cc-deps

code review
  WORKSPACE
  executable_semantics/syntax/parser.ypp
  third_party/libraries/libprotobuf_mutator/mutator.BUILD
Due: executable-semantics-format-grammar

[X86] setcc.ll - add PR39174 test case and i686 coverage
  llvm/test/CodeGen/X86/setcc.ll
Due: none

RegAllocGreedy: Fix typo
  llvm/lib/CodeGen/RegAllocGreedy.cpp
Due: fix-cc-deps

X86: Use -NEXT checks in a test
  llvm/test/CodeGen/X86/statepoint-fixup-undef.mir
Due: none

AMDGPU: Update test checks to include -NEXT
  llvm/test/CodeGen/AMDGPU/sgpr-spill-partially-undef.mir
Due: none

Checkpoint progress.
  docs/design/classes.md
  proposals/p1154.md
Due: none

Checkpoint progress.
  docs/design/classes.md
Due: none

ARM/GlobalISel: Get pointer type from value instead of getPointerSize
  llvm/lib/Target/ARM/ARMInstructionSelector.cpp
  llvm/test/CodeGen/ARM/GlobalISel/arm-select-globals-ropi-rwpi.mir
  llvm/test/CodeGen/ARM/GlobalISel/arm-select-globals-static.mir
  llvm/test/CodeGen/ARM/GlobalISel/thumb-select-globals-ropi-rwpi.mir
  llvm/test/CodeGen/ARM/GlobalISel/thumb-select-globals-static.mir
Due: fix-cc-deps

[CUDA] Don't call inferCUDATargetForImplicitSpecialMember too early.
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/SemaCUDA/pr54537.cu
Due: fix-cc-deps

Add a setting to not require --overwrite to overwrite commands.
  lldb/include/lldb/Interpreter/CommandInterpreter.h
  lldb/source/Commands/CommandObjectCommands.cpp
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/source/Interpreter/InterpreterProperties.td
  lldb/test/API/commands/command/container/TestContainerCommands.py
Due: fix-cc-deps

Iteration
  docs/images/carbon_snippet.svg
  docs/images/cpp_snippet.svg
  docs/images/mixed_snippet.svg
  docs/images/snippets.md
Due: none

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

