Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Checkpoint progress.
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/sem_ir/function.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rename functions to clarify differences
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rewrite constraint type checking
  toolchain/check/convert.h
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/no_prelude/designator.carbon
  toolchain/check/testdata/where_expr/no_prelude/non_generic.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/no_prelude/non_generic.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: none

Add TODO
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch to guillemets
  docs/design/variadics.md
Due: none

Still has a FIXME, don't know how get a witness from a facet value
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Save changes to check/member_access.cpp for facet member access
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Revert "Still has a FIXME, don't know how get a witness from a facet value"
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_facet_lookup.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Make tests pass even though accessing the members of `.Self` is broken
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: none

Remove parameter-constant arrays from import_ref (#4360)
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Resolve FIXMEs
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/eval.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/name_component.cpp
  toolchain/check/name_component.h
  toolchain/check/pattern_match.cpp
  toolchain/check/pattern_match.h
  toolchain/check/subst.cpp
  toolchain/check/testdata/class/fail_addr_self.carbon
  toolchain/check/testdata/class/fail_memaccess_category.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Handle runtime implicit parameters, and `self` outside of methods (#4361)
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/class/fail_addr_not_self.carbon
  toolchain/check/testdata/class/fail_self_param.carbon
  toolchain/check/testdata/function/call/no_prelude/fail_explicit_self_param.carbon
  toolchain/check/testdata/function/call/no_prelude/fail_runtime_implicit_param.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Increase test timeout to unblock submit
  toolchain/testing/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Increase test timeout to unblock submit (#4365)
  toolchain/testing/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Update comment
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add comment
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove redundant optional wrapping llvm::function_ref
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/operator.cpp
  toolchain/check/operator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reject abstract function definitions (#4350)
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add test demonstrating that we preserve the spelling of the impl and constraint.
  toolchain/check/testdata/impl/no_prelude/alias.carbon
Due: none

Rename test with errors to fail_
  toolchain/check/testdata/impl/no_prelude/fail_alias.carbon
Due: none

Add comments.
  toolchain/check/handle_impl.cpp
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Another comment.
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add diagnostic helpers to print a stringified type.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/member_access.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/sem_ir/function.h
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename param -> param_info
  toolchain/check/convert.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_function.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/function.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

revise invalid comments formatting
  toolchain/check/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove unnecessary headers
  toolchain/check/handle_index.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Report when `IndexWith` is not implemented
  toolchain/check/handle_index.cpp
  toolchain/check/testdata/operators/overloaded/index.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

