Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Remove LLVM from the repo, and clean up history. (#1344)
  .pre-commit-config.yaml
  WORKSPACE
  bazel/llvm-patches/0001-Patch-for-mallinfo2-when-using-Bazel-build-system.patch
  docs/project/contribution_tools.md
  proposals/p1344.md
Due: none

Port from old fork.
  docs/project/README.md
  docs/project/going_public.md
Due: none

Addressed PR comments.
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/ast_rtti.txt
  explorer/ast/ast_test_matchers_internal.cpp
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/ast/statement.cpp
  explorer/ast/statement.h
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/parser.ypp
  explorer/testdata/returned_var/returned_var_name_lookup.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, forbid-llvm-googletest

Squashed commit for "names".
  docs/design/README.md
Due: none

Clean-ups.
  explorer/ast/statement.h
  explorer/ast/static_scope.h
  explorer/fuzzing/BUILD
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/BUILD
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/returned_var/multiple_returned_var_control_flow.carbon
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

add the proposal
  proposals/p1315.md
Due: none

Initial implementation of returned var.
  common/fuzzing/carbon.proto.orig
  common/fuzzing/proto_to_carbon.cpp.orig
  explorer/ast/ast_rtti.txt
  explorer/ast/ast_test_matchers_internal.cpp
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/statement.cpp
  explorer/ast/statement.h
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/fuzzing/ast_to_proto.cpp.orig
  explorer/interpreter/action.cpp.orig
  explorer/interpreter/action.h.orig
  explorer/interpreter/action_stack.cpp.orig
  explorer/interpreter/interpreter.cpp.orig
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp.orig
  explorer/interpreter/type_checker.cpp.orig
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp.orig
  explorer/testdata/returned_var/fail_duplicate_return_var.carbon
  explorer/testdata/returned_var/fail_missing_declaration.carbon
  explorer/testdata/returned_var/fail_missing_return.carbon
  explorer/testdata/returned_var/fail_returned_var_type_mismatch.carbon
  explorer/testdata/returned_var/multiple_returned_var_control_flow.carbon
  explorer/testdata/returned_var/normal_return_control_flow.carbon
  explorer/testdata/returned_var/returned_var_basic.carbon
  explorer/testdata/returned_var/returned_var_name_lookup.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Removed .orig files generated by patch.
  common/fuzzing/carbon.proto.orig
  common/fuzzing/proto_to_carbon.cpp.orig
  explorer/fuzzing/ast_to_proto.cpp.orig
  explorer/interpreter/action.cpp.orig
  explorer/interpreter/action.h.orig
  explorer/interpreter/action_stack.cpp.orig
  explorer/interpreter/interpreter.cpp.orig
  explorer/interpreter/resolve_names.cpp.orig
  explorer/interpreter/type_checker.cpp.orig
  explorer/syntax/parser.ypp.orig
Due: none

Semantics pass
  toolchain/semantics/BUILD
  toolchain/semantics/meta_node.h
  toolchain/semantics/meta_node_block.h
  toolchain/semantics/node_kind.h
  toolchain/semantics/node_ref.h
  toolchain/semantics/node_store.h
  toolchain/semantics/nodes/binary_operator.h
  toolchain/semantics/nodes/binary_operator_test_matchers.h
  toolchain/semantics/nodes/declared_name.h
  toolchain/semantics/nodes/declared_name_test_matchers.h
  toolchain/semantics/nodes/expression_statement.h
  toolchain/semantics/nodes/function.h
  toolchain/semantics/nodes/function_test_matchers.h
  toolchain/semantics/nodes/infix_operator.h
  toolchain/semantics/nodes/infix_operator_test_matchers.h
  toolchain/semantics/nodes/integer_literal.h
  toolchain/semantics/nodes/integer_literal_test_matchers.h
  toolchain/semantics/nodes/literal.h
  toolchain/semantics/nodes/literal_test_matchers.h
  toolchain/semantics/nodes/pattern_binding.h
  toolchain/semantics/nodes/pattern_binding_test_matchers.h
  toolchain/semantics/nodes/return.h
  toolchain/semantics/nodes/return_test_matchers.h
  toolchain/semantics/nodes/set_name.h
  toolchain/semantics/nodes/set_name_test_matchers.h
  toolchain/semantics/nodes_test_matchers.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_ir_factory.cpp
  toolchain/semantics/semantics_ir_factory.h
  toolchain/semantics/semantics_ir_factory_test.cpp
  toolchain/semantics/semantics_ir_for_test.h
  toolchain/semantics/semantics_ir_test_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

update
  WORKSPACE
Due: none

Fix missing actions in our Bazel toolchain.
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: none

rm update_llvm.sh
  third_party/update_llvm.sh
Due: none

Make the names of declarations unusable before the point where their type is known.
  .gitignore
  explorer/ast/expression.h
  explorer/ast/static_scope.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/name_lookup/class_fn_body_reorder.carbon
  explorer/testdata/name_lookup/fail_class_fn_use_before_declaration.carbon
  explorer/testdata/name_lookup/fail_class_use_in_params.carbon
  explorer/testdata/name_lookup/fail_fn_use_in_param.carbon
  explorer/testdata/name_lookup/fail_fn_use_in_return_type.carbon
  explorer/testdata/name_lookup/fail_var_use_before_declaration.carbon
Due: fix-cc-deps, clang-format, check-header-guards

oops
  WORKSPACE
Due: none

Fix missing actions in our Bazel toolchain. (#1350)
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: none

rm update_llvm.sh (it's legacy) (#1351)
  third_party/update_llvm.sh
Due: none

Update LLVM.
  WORKSPACE
Due: none

Changed fuzzer_util_test to not process the full fuzzer corpus, but instead just run on a single file, to minimize friction when making fuzzer proto changes
  explorer/fuzzing/BUILD
  explorer/fuzzing/fuzzer_util_test.cpp
Due: fix-cc-deps, clang-format, forbid-llvm-googletest

Restricted pattern kinds allowed for a variable definition
  explorer/interpreter/type_checker.cpp
  explorer/testdata/basic_syntax/fail_nested_binding.carbon
  explorer/testdata/basic_syntax/fail_var_pattern.carbon
  explorer/testdata/let/nested_tuple_pattern.carbon
Due: fix-cc-deps, clang-format

Update LLVM. (#1353)
  WORKSPACE
Due: none

Subscript syntax and semantics
  proposals/p1059.md
Due: none

Rename proposal with new PR number.
  proposals/p1356.md
Due: none

Move TODO to a later PR
  docs/design/README.md
Due: none

Move unrelated changes to a later PR
  docs/design/README.md
Due: none

Misc improvements
  docs/design/README.md
Due: none

Changed fuzzer_util_test to not process the full fuzzer corpus, but instead just run on a single file, to minimize friction when making fuzzer proto changes (#1354)
  explorer/fuzzing/BUILD
  explorer/fuzzing/fuzzer_util_test.cpp
Due: fix-cc-deps, clang-format, forbid-llvm-googletest

More changes moved from #1347
  docs/design/README.md
Due: none

Template `if` example
  docs/design/README.md
Due: none

Template `if` clarifications
  docs/design/README.md
Due: none

Respond to review comments.
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format

Added a patch with a fuzzer Bazel BUILD file to address _LIBCPP_DEBUG crash in #1208
  WORKSPACE
  bazel/llvm-patches/0002-Add-Bazel-build-to-compiler-rt-fuzzer.patch
  explorer/fuzzing/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

Handled the edge case of single-line string starting with `#+"""`.
  explorer/syntax/lex_scan_helper.cpp
  explorer/syntax/lex_scan_helper.h
  explorer/syntax/lexer.lpp
  explorer/testdata/string/fail_block_single_line.carbon
  explorer/testdata/string/raw_single_line_three_quotes.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Filling out template with PR 1360
  proposals/p1360.md
Due: none

Apply suggestions from code review
  docs/design/README.md
Due: none

Fix formatting
  docs/design/README.md
Due: none

Checkpoint progress.
  docs/design/README.md
Due: none

Update p1360.md
  proposals/p1360.md
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

