Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Fix formatting
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/parse/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Fix
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve diagnosis of mismatched brackets. (#3282)
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/testdata/fail_errors_in_two_files.carbon
  toolchain/driver/testdata/fail_errors_sorted.carbon
  toolchain/driver/testdata/fail_errors_streamed.carbon
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/fail_mismatched_brackets.carbon
  toolchain/lex/testdata/fail_mismatched_brackets_2.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/testdata/array/fail_require_close_bracket.carbon
  toolchain/parse/testdata/array/fail_syntax.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix minor grammatical error.
  docs/guides/glossary.md
Due: none

Set flow
  toolchain/check/handle_namespace.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle out-of-line declarations. (#3536)
  toolchain/check/check.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/testdata/class/fail_base_method_define.carbon
  toolchain/check/testdata/class/fail_out_of_line_decl.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/value_stores.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reorder
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix minor grammatical error in docs (#3537)
  docs/guides/glossary.md
Due: none

Review comments.
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_name.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Create a BindName for function parameters. (#3535)
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/check.cpp
  toolchain/check/node_stack.h
  toolchain/parse/extract.cpp
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix formatting
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/parse/extract.cpp
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Typed wrappers around parse tree nodes (#3534)
  common/struct_reflection.h
  common/struct_reflection_test.cpp
  toolchain/check/check.cpp
  toolchain/check/decl_state.h
  toolchain/check/node_stack.h
  toolchain/parse/BUILD
  toolchain/parse/extract.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_let.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/testdata/let/fail_empty.carbon
  toolchain/parse/testdata/struct/fail_comma_only.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_type.carbon
  toolchain/parse/testdata/struct/fail_comma_repeat_in_value.carbon
  toolchain/parse/testdata/struct/fail_dot_only.carbon
  toolchain/parse/testdata/struct/fail_dot_string_colon.carbon
  toolchain/parse/testdata/struct/fail_dot_string_equals.carbon
  toolchain/parse/testdata/struct/fail_identifier_colon.carbon
  toolchain/parse/testdata/struct/fail_identifier_equals.carbon
  toolchain/parse/testdata/struct/fail_identifier_only.carbon
  toolchain/parse/testdata/struct/fail_missing_type.carbon
  toolchain/parse/testdata/struct/fail_missing_value.carbon
  toolchain/parse/testdata/struct/fail_mix_type_and_value.carbon
  toolchain/parse/testdata/struct/fail_mix_value_and_type.carbon
  toolchain/parse/testdata/struct/fail_mix_with_unknown.carbon
  toolchain/parse/testdata/struct/fail_no_colon_or_equals.carbon
  toolchain/parse/testdata/struct/fail_type_no_designator.carbon
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.cpp
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Fix crash on incomplete `constraint`
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/generics/named_constraint/basic.carbon
  toolchain/parse/testdata/generics/named_constraint/fail_incomplete.carbon
Due: none

Do TODO to rename `QualifiedDecl`
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_period.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix crash on incomplete `constraint` (#3542)
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/generics/named_constraint/basic.carbon
  toolchain/parse/testdata/generics/named_constraint/fail_incomplete.carbon
Due: none

Implement suggestion
  toolchain/check/decl_name_stack.cpp
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix prelude search path for Bazel 7 runfiles layout.
  explorer/main_bin.cpp
Due: fix-cc-deps, clang-format

Fix prelude search path for Bazel 7 runfiles layout. (#3544)
  explorer/main_bin.cpp
Due: fix-cc-deps, clang-format

Do TODO to rename `QualifiedDecl` -> `QualifiedName` (#3543)
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_period.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Test trace output of `Tree::VerifyExtractAs`, fix found bugs
  toolchain/parse/extract.cpp
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Expand `Tree::Verify` to check that `ExtractFile` will work
  toolchain/parse/tree.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Test trace output of `Tree::VerifyExtractAs`, fix found bugs (#3545)
  toolchain/parse/extract.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use `LLVM_UNLIKELY` reduce cost of `Tree::Verify`
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use typed node ids in check handle functions
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_file.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Return typed parse node id from `PopForSoloParseNode`
  toolchain/check/handle_codeblock.cpp
  toolchain/check/node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add TODO to make more parse node ids typed
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add TODO to support conversions between typed parse node ids
  toolchain/parse/node_ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make `Parse::NodeCategory` printable
  toolchain/parse/extract.cpp
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add a `MemberName` parse node category for member access expressions
  toolchain/parse/extract.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make `Parse::NodeCategory` printable (#3548)
  toolchain/parse/extract.cpp
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/parse/node_kind.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a `MemberName` parse node category for member access expressions (#3549)
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/parse/node_ids.h
  toolchain/parse/node_ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Start using typed parse node ids in the check stage (#3547)
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_file.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_if_expr.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_namespace.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics
