Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


rename flag to indicate multi-line string and remove comment
  explorer/syntax/lexer.lpp
Due: explorer-format-grammar

[NFC] Fix issue on CMake Xcode build configuration.
  clang/lib/Headers/CMakeLists.txt
Due: none

use * to get value from std::optional
  explorer/syntax/lexer.lpp
Due: explorer-format-grammar

[MSAN] Exclude dn_expand test from Android.
  compiler-rt/test/sanitizer_common/TestCases/Linux/dn_expand.cpp
Due: fix-cc-deps, clang-format

clean-ups
  explorer/syntax/lexer.lpp
Due: explorer-format-grammar

[libc++] Forward more often to memmove in copy
  libcxx/include/__algorithm/copy.h
  libcxx/include/__iterator/iterator_traits.h
  libcxx/test/libcxx/algorithms/alg.modifying.operations/copy.pass.cpp
  libcxx/test/std/strings/basic.string/string.modifiers/string_replace/iter_iter_pointer.pass.cpp
  libcxx/test/std/strings/basic.string/string.modifiers/string_replace/iter_iter_string_view.pass.cpp
Due: fix-cc-deps, clang-format, check-header-guards

CommandObjectRegexCommand shouldn't put two commands on the history stack.
  lldb/source/Commands/CommandObjectRegexCommand.cpp
  lldb/test/API/functionalities/history/TestHistoryRecall.py
Due: fix-cc-deps, clang-format

[pseudo] Eliminate dependencies from clang-pseudo-gen. NFC
  clang-tools-extra/pseudo/gen/CMakeLists.txt
  clang-tools-extra/pseudo/lib/grammar/CMakeLists.txt
  clang-tools-extra/pseudo/lib/grammar/Grammar.cpp
Due: fix-cc-deps, clang-format

[bazel] Port 95aff23e2921
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/test/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/unittests/BUILD.bazel
Due: none

[lld][WebAssembly] Remove unnecessary accessor methods. NFC
  lld/wasm/InputChunks.cpp
  lld/wasm/InputChunks.h
  lld/wasm/OutputSegment.cpp
  lld/wasm/SyntheticSections.cpp
  lld/wasm/Writer.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[pseudo] rename pseudo-gen -> clang-pseudo-gen. NFC
  clang-tools-extra/pseudo/gen/CMakeLists.txt
  clang-tools-extra/pseudo/include/CMakeLists.txt
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/gen/BUILD.gn
Due: none

[pseudo] Add CLANG_PSEUDO_GEN cmake cache variable to avoid nested CMake invocation
  clang-tools-extra/pseudo/include/CMakeLists.txt
Due: none

[clang][dataflow] Modify `optional` model to handle type aliases.
  clang/lib/Analysis/FlowSensitive/Models/UncheckedOptionalAccessModel.cpp
  clang/unittests/Analysis/FlowSensitive/UncheckedOptionalAccessModelTest.cpp
Due: fix-cc-deps, clang-format

[Matrix] Add dot product tests
  llvm/test/Transforms/LowerMatrixIntrinsics/dot-product.ll
Due: none

[OpenMP] allow loc to be NULL in __kmp_determine_reduction_method for MSVC
  openmp/runtime/src/kmp_runtime.cpp
Due: fix-cc-deps, clang-format

Revert "[X86] combineConcatVectorOps - add support for concatenation VSELECT/BLENDV nodes"
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vec_minmax_sint.ll
  llvm/test/CodeGen/X86/vec_minmax_uint.ll
  llvm/test/CodeGen/X86/vselect-minmax.ll
Due: fix-cc-deps, clang-format

[ARM] Make a narrow tMOVi8 where possible in SEH prologues
  llvm/lib/Target/ARM/ARMFrameLowering.cpp
  llvm/test/CodeGen/ARM/Windows/wineh-opcodes.ll
Due: fix-cc-deps, clang-format

[ARM] Make narrow push/pop in SEH prologues/epilogues where applicable
  llvm/lib/Target/ARM/ARMFrameLowering.cpp
  llvm/test/CodeGen/ARM/Windows/wineh-opcodes.ll
  llvm/test/DebugInfo/COFF/ARMNT/arm-register-variables.ll
Due: fix-cc-deps, clang-format

[lld-macho] Addressed additional post-commit comments from D126046
  lld/MachO/Driver.cpp
  lld/MachO/SyntheticSections.cpp
Due: fix-cc-deps, clang-format

removed skip_scan flag and directly return in case of a single line string starting with #+\'\'\'
  explorer/syntax/lexer.lpp
Due: explorer-format-grammar

[libc] Make expm1f correctly rounded when the targets have no FMA instructions.
  libc/src/math/generic/expm1f.cpp
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/exhaustive/CMakeLists.txt
  libc/test/src/math/exhaustive/expm1f_test.cpp
  libc/test/src/math/expm1f_test.cpp
Due: fix-cc-deps, clang-format

[bazel] Update build for config.h.cmake change
  utils/bazel/llvm-project-overlay/llvm/include/llvm/Config/config.h
  utils/bazel/llvm_configs/config.h.cmake
  utils/bazel/llvm_configs/llvm-config.h.cmake
Due: fix-cc-deps, clang-format, check-header-guards

[RISCV] Pre-commit test cases for D126986. NFC
  llvm/test/CodeGen/RISCV/fold-addi-loadstore.ll
Due: none

Updated error message: simple string -> single-line string.
  explorer/syntax/lexer.lpp
Due: explorer-format-grammar

Updated test cases according to changes in error message
  explorer/testdata/string/fail_newline.carbon
  explorer/testdata/string/fail_raw_more_hash_tags_on_left.carbon
Due: none

Removed counting_hashtag flag.
  explorer/syntax/lexer.lpp
Due: explorer-format-grammar

AMDGPU: allow reordering of functions in AMDGPUResourceUsageAnalysis
  llvm/lib/Target/AMDGPU/AMDGPUResourceUsageAnalysis.cpp
  llvm/test/CodeGen/AMDGPU/hsa-metadata-resource-usage-function-ordering.ll
Due: fix-cc-deps, clang-format

[BOLT][NFC] Warning for deprecated option '-reorder-blocks=cache+'
  bolt/include/bolt/Passes/BinaryPasses.h
  bolt/lib/Passes/BinaryPasses.cpp
  bolt/test/cache+-deprecated.test
Due: fix-cc-deps, clang-format, check-header-guards

[mlir] Add peeling xform to Codegen Strategy
  mlir/include/mlir/Dialect/Linalg/Passes.h
  mlir/include/mlir/Dialect/Linalg/Passes.td
  mlir/include/mlir/Dialect/Linalg/Transforms/CodegenStrategy.h
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/Transforms/LinalgStrategyPasses.cpp
  mlir/lib/Dialect/Linalg/Transforms/Transforms.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Checkpoint progress.
  docs/design/README.md
Due: none

[Clang] Change the offload packager build to be a clang tool
  clang/tools/clang-offload-packager/CMakeLists.txt
Due: none

[clang] Allow const variables with weak attribute to be overridden
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGen/global-init.c
  clang/test/CodeGen/weak_constant.c
Due: fix-cc-deps, clang-format

Operator overloading completed
  docs/design/README.md
Due: none

[Hexagon] Enable IAS in the Hexagon backend
  llvm/lib/Target/Hexagon/MCTargetDesc/HexagonMCAsmInfo.cpp
  llvm/test/CodeGen/Hexagon/inline-asm-hexagon.ll
  llvm/test/CodeGen/Hexagon/inline-asm-i1.ll
  llvm/test/CodeGen/Hexagon/inline-asm-qv.ll
  llvm/test/CodeGen/Hexagon/rdf-inline-asm-fixed.ll
  llvm/test/CodeGen/Hexagon/v6-inlasm1.ll
  llvm/test/CodeGen/Hexagon/v6-inlasm2.ll
  llvm/test/CodeGen/Hexagon/v6-inlasm3.ll
  llvm/test/CodeGen/Hexagon/v6vec-vprint.ll
Due: fix-cc-deps, clang-format

Remove support for nesting blocks within blocks.
  explorer/syntax/parser.ypp
  explorer/testdata/assign/destruct_original.carbon
  explorer/testdata/basic_syntax/choice.carbon
  explorer/testdata/basic_syntax/fail_block.carbon
  explorer/testdata/basic_syntax/fail_choice_no_parens.carbon
  explorer/testdata/block/shadowing.carbon
  explorer/testdata/function/fail_non_exhaustive_match.carbon
  explorer/testdata/function/return_exhaustive_match.carbon
  explorer/testdata/generic_class/fail_generic_in_pattern.carbon
  explorer/testdata/let/fail_match_choice.carbon
  explorer/testdata/match/any_int.carbon
  explorer/testdata/match/convert.carbon
  explorer/testdata/match/fail_pattern_type_mismatch.carbon
  explorer/testdata/match/int.carbon
  explorer/testdata/match/int_default.carbon
  explorer/testdata/match/no_match.carbon
  explorer/testdata/match/placeholder.carbon
  explorer/testdata/name_lookup/match_shadow.carbon
  explorer/testdata/tuple/match.carbon
  explorer/testdata/tuple/match_nested.carbon
Due: explorer-format-grammar

[DWARF] Show which augmentation character was unrecognized.
  llvm/lib/DebugInfo/DWARF/DWARFDebugFrame.cpp
Due: fix-cc-deps, clang-format

[mlir][linalg] fix crash in vectorization of elementwise operations
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/test/Dialect/Linalg/vectorization.mlir
Due: fix-cc-deps, clang-format

[tools] Forward declare classes & remove includes
  llvm/tools/dsymutil/Reproducer.h
  llvm/tools/llvm-exegesis/lib/PerfHelper.h
  llvm/tools/llvm-ifs/ErrorCollector.h
  llvm/tools/llvm-mca/Views/InstructionView.h
  llvm/tools/llvm-pdbutil/OutputStyle.h
  llvm/tools/llvm-reduce/DeltaManager.cpp
  llvm/tools/llvm-reduce/ReducerWorkItem.cpp
  llvm/tools/llvm-reduce/TestRunner.cpp
  llvm/tools/llvm-reduce/TestRunner.h
  llvm/tools/llvm-reduce/deltas/Delta.cpp
  llvm/tools/llvm-reduce/deltas/Delta.h
  llvm/tools/llvm-reduce/deltas/ReduceInstructionsMIR.cpp
  llvm/tools/llvm-reduce/llvm-reduce.cpp
  llvm/tools/opt/NewPMDriver.h
Due: fix-cc-deps, clang-format, check-header-guards
