Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


clang-format
  toolchain/check/diagnostic_helpers.h
  toolchain/sem_ir/stringify_type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename InstIdAsTypeOfExpr -> TypeOfInstId.
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/member_access.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify_type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reorder diagnostic helpers and extend comments.
  toolchain/check/diagnostic_helpers.h
  toolchain/check/sem_ir_diagnostic_converter.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

sync to trunk
  toolchain/check/handle_index.cpp
  toolchain/check/testdata/builtins/print.carbon
  toolchain/check/testdata/class/fail_adapt_with_base.carbon
  toolchain/check/testdata/class/fail_self_param.carbon
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/index/fail_invalid_base.carbon
  toolchain/check/testdata/index/fail_non_tuple_access.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/tuple/access/fail_non_tuple_access.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add documentation for new stuff.
  toolchain/docs/diagnostics.md
Due: none

More experimenting
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/function.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Seems to be mostly working...
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simplify and tidy up
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/class/fail_abstract.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add TODO
  toolchain/check/context.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/class/fail_abstract.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle block scopes in compile-time binding check (#4379)
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/testdata/let/compile_time_bindings.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve infrastructure for formatting types in diagnostics. (#4374)
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/diagnostic_helpers.h
  toolchain/check/eval.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/member_access.cpp
  toolchain/check/return.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/docs/diagnostics.md
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/stringify_type.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Clean up FIXMEs from merge
  toolchain/check/convert.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/member_access.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Cleanup
  toolchain/check/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor deduction logic into a class.
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add failing test that demonstrates we're getting past impl deduction.
  toolchain/check/testdata/impl/lookup/generic.carbon
Due: none

Build definition region for generic impl.
  toolchain/check/handle_impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve `-c dbg`, enabling Split DWARF and other enhancements
  .bazelrc
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  docs/project/contribution_tools.md
Due: buildifier

Fix missing impl import logic.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add skeletal format subcommand.
  toolchain/driver/BUILD
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/format_subcommand.cpp
  toolchain/driver/format_subcommand.h
  toolchain/format/BUILD
  toolchain/format/format.cpp
  toolchain/format/format.h
  toolchain/format/testdata/basics/empty.carbon
  toolchain/format/testdata/basics/fail_invalid_comment.carbon
  toolchain/format/testdata/basics/fail_nonexistent.carbon
  toolchain/format/testdata/basics/simple.carbon
  toolchain/source/source_buffer.h
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Minor cleanups
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Roll back param_patterns_stack
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_pattern_list.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address review comments.
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

clang-format
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Don't expose the worklist. Add `Add` forwarding function.
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Basic support for argument deduction in generic `impl`s. (#4380)
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/handle_impl.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/impl/impl_forall.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
  toolchain/check/testdata/impl/no_prelude/generic_redeclaration.carbon
  toolchain/check/testdata/impl/no_prelude/import_generic.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply notation changes to p2240.md
  proposals/p2240.md
Due: none

Add support for deduction of most kinds of type constant.
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clean up existing tests that now succeed
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
Due: none

Autoupdate
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
Due: none

Improve template parameter name
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove out-of-date TODO
  toolchain/check/convert.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
Due: none

Add support for deduction of most kinds of type constant. (#4389)
  toolchain/check/deduce.cpp
  toolchain/check/eval.cpp
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/function/generic/deduce.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/impl_forall.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

merge flags
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: buildifier

improve comment
  .bazelrc
Due: none

Remove out-of-date TODO (#4390)
  toolchain/check/convert.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve `-c dbg`, enabling Split DWARF and other enhancements (#4382)
  .bazelrc
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  docs/project/contribution_tools.md
Due: buildifier

Update CoC team members
  CODE_OF_CONDUCT.md
Due: none

Addressing comments
  toolchain/driver/format_subcommand.cpp
  toolchain/format/format.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
