Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


Fix up alternatives
  proposals/p1084.md
Due: none

Finish first pass of design
  docs/design/generics/details.md
Due: none

Polish examples
  docs/design/generics/details.md
Due: none

Work on proposal text
  proposals/p1084.md
Due: none

[libc++][ranges] Implement Ranges changes to `istream{,buf}_iterator`.
  libcxx/docs/Status/RangesPaper.csv
  libcxx/include/__iterator/default_sentinel.h
  libcxx/include/__iterator/istream_iterator.h
  libcxx/include/__iterator/istreambuf_iterator.h
  libcxx/include/iterator
  libcxx/test/std/iterators/stream.iterators/istream.iterator/istream.iterator.cons/default.pass.cpp
  libcxx/test/std/iterators/stream.iterators/istream.iterator/istream.iterator.cons/default_sentinel_t.pass.cpp
  libcxx/test/std/iterators/stream.iterators/istream.iterator/istream.iterator.ops/equal.pass.cpp
  libcxx/test/std/iterators/stream.iterators/istreambuf.iterator/istreambuf.iterator.cons/default.pass.cpp
  libcxx/test/std/iterators/stream.iterators/istreambuf.iterator/istreambuf.iterator.cons/default_sentinel_t.pass.cpp
  libcxx/test/std/iterators/stream.iterators/istreambuf.iterator/istreambuf.iterator_op!=/not_equal.pass.cpp
  libcxx/test/std/iterators/stream.iterators/istreambuf.iterator/istreambuf.iterator_op==/equal.pass.cpp
Due: fix-cc-deps

Stop validating input
  toolchain/lexer/tokenized_buffer_fuzzer.cpp
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/parser/parse_tree_fuzzer.cpp
  toolchain/parser/parse_tree_test.cpp
  toolchain/semantics/semantics_test.cpp
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
  toolchain/source/source_buffer_test.cpp
Due: fix-cc-deps

[ELF] --exclude-libs: skip local symbols for ET_REL. NFC
  lld/ELF/Driver.cpp
Due: fix-cc-deps

CHECK for None
  toolchain/parser/parser_impl.cpp
Due: fix-cc-deps

[Bitstream] Add assert to ReadVBR and ReadVBR64
  llvm/include/llvm/Bitstream/BitstreamReader.h
Due: fix-cc-deps

[Bitstream] Improve error propagation from ReadVBR
  llvm/lib/Bitstream/Reader/BitstreamReader.cpp
  llvm/test/Bitcode/invalid.test
Due: fix-cc-deps

[mlir] Expose printer flags in AsmState
  mlir/include/mlir/IR/AsmState.h
  mlir/include/mlir/IR/OpDefinition.h
  mlir/include/mlir/IR/Operation.h
  mlir/lib/IR/AsmPrinter.cpp
  mlir/lib/Transforms/LocationSnapshot.cpp
Due: fix-cc-deps

[lld][WebAssembly] Don't force the export symbols assiged internal/dummy GOT entries
  lld/test/wasm/tls-non-shared-memory.s
  lld/wasm/Symbols.cpp
  lld/wasm/SyntheticSections.cpp
Due: fix-cc-deps

[DAGCombiner][AArch64] Enhance to fold CSNEG into CSINC instruction
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/aarch64-isel-csinc-type.ll
  llvm/test/CodeGen/AArch64/aarch64-isel-csinc.ll
Due: fix-cc-deps

Modify parser and AST nodes to include let statement
  executable_semantics/ast/declaration.h
  executable_semantics/ast/pattern.h
  executable_semantics/ast/statement.h
  executable_semantics/syntax/lexer.lpp
  executable_semantics/syntax/parser.ypp
Due: executable-semantics-format-grammar, fix-cc-deps

[ELF][test] Improve LTO duplicate symbol test
  lld/test/ELF/lto/duplicated.ll
Due: none

Fix crash when deserializing a lambda expression in a decltype.
  clang/lib/AST/StmtProfile.cpp
  clang/test/PCH/cxx20-unevaluated-lambda.cpp
Due: fix-cc-deps

[BOLT][DWARF] Add ability to insert new entries in to DIE
  bolt/include/bolt/Core/DebugData.h
  bolt/lib/Core/DebugData.cpp
  bolt/lib/Rewrite/DWARFRewriter.cpp
  bolt/test/X86/insert-debug-info-entry.test
Due: fix-cc-deps

[lld-macho][nfc] Factor out callgraph parsing code
  lld/MachO/InputFiles.cpp
  lld/MachO/InputFiles.h
  lld/MachO/InputSection.h
Due: fix-cc-deps

AMDGPU: Use subtarget in class instead of querying function
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
Due: fix-cc-deps

[lld-macho][nfc] Clean up trailing spaces and tabs
  lld/test/MachO/compact-unwind-both-local-and-dylib-personality.s
  lld/test/MachO/export-options.s
  lld/test/MachO/icf-scale.s
  lld/test/MachO/special-symbol-ld-hidden.s
  lld/test/MachO/treat-undef-sym.s
  lld/test/MachO/weak-import.s
Due: none

[FuncSpec] Save compilation time by caching uses for propagation
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
Due: fix-cc-deps

[NFC] Update new warning to test
  clang/test/Misc/warning-flags.c
Due: none

Revert "Add support for floating-point option `ffp-eval-method` and for"
  clang/docs/LanguageExtensions.rst
  clang/docs/UsersManual.rst
  clang/include/clang/Basic/DiagnosticCommonKinds.td
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/include/clang/Basic/FPOptions.def
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Basic/LangOptions.h
  clang/include/clang/Basic/TargetInfo.h
  clang/include/clang/Driver/Options.td
  clang/include/clang/Lex/Preprocessor.h
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Basic/Targets/OSTargets.h
  clang/lib/Basic/Targets/X86.h
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/lib/Lex/PPMacroExpansion.cpp
  clang/lib/Parse/ParsePragma.cpp
  clang/lib/Parse/ParseStmt.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaAttr.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CodeGen/X86/32bit-behavior-no-eval.c
  clang/test/CodeGen/X86/32bit-behavior.c
  clang/test/CodeGen/X86/fp-eval-method.c
  clang/test/CodeGen/flt_eval_macro.cpp
  clang/test/CodeGen/fp-floatcontrol-pragma.cpp
  clang/test/Preprocessor/flt_eval_macro.cpp
  clang/test/Preprocessor/init-aarch64.c
  clang/test/Preprocessor/init-arm.c
  clang/test/Preprocessor/init-mips.c
  clang/test/Preprocessor/init-ppc.c
  clang/test/Preprocessor/init-ppc64.c
  clang/test/Preprocessor/init-s390x.c
  clang/test/Preprocessor/init-v7k-compat.c
  clang/test/Preprocessor/init-x86.c
  clang/test/Preprocessor/init.c
  clang/test/Sema/fp-eval-pragma.cpp
  clang/test/Sema/x86-eval-method.c
  clang/test/Sema/x86_64-eval-method.c
Due: fix-cc-deps

[mlir][Linalg] Add pattern for folding reshape by collapsing.
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.td
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp
  mlir/test/Dialect/Linalg/fuse-with-reshape-by-collapsing.mlir
  mlir/test/lib/Dialect/Linalg/TestLinalgElementwiseFusion.cpp
Due: fix-cc-deps

[libc++] Remove cpp17_input_iterator.h
  libcxx/test/std/strings/basic.string/cpp17_input_iterator.h
  libcxx/test/std/strings/basic.string/string.cons/iter_alloc.pass.cpp
  libcxx/test/std/strings/basic.string/string.cons/iter_alloc_deduction.pass.cpp
  libcxx/test/std/strings/basic.string/string.cons/string_view_deduction.pass.cpp
  libcxx/test/std/strings/basic.string/string.cons/string_view_size_size_deduction.pass.cpp
Due: fix-cc-deps

Revert "[NFC] Update new warning to test"
  clang/test/Misc/warning-flags.c
Due: none

[MemoryDepndency] Add a test for re-ordering with volatile load/store.
  llvm/test/Analysis/MemoryDependenceAnalysis/reorder-volatile.ll
Due: none

Implement basic loader for Linux aarch64
  libc/loader/linux/aarch64/CMakeLists.txt
  libc/loader/linux/aarch64/start.cpp
Due: fix-cc-deps

[MachineSink] Use SkipPHIsAndLabels for sink insertion points
  llvm/lib/CodeGen/MachineSink.cpp
  llvm/test/CodeGen/AMDGPU/sink-after-control-flow.mir
Due: fix-cc-deps

Rewrite much of the index page for libc
  libc/docs/index.rst
  libc/docs/layering.rst
Due: none

[NFC][MC] remove unused argument `MCRegisterInfo` in `MCCodeEmitter`
  bolt/include/bolt/Core/BinaryContext.h
  bolt/lib/Core/BinaryContext.cpp
  clang/tools/driver/cc1as_main.cpp
  llvm/include/llvm/MC/TargetRegistry.h
  llvm/lib/CodeGen/LLVMTargetMachine.cpp
  llvm/lib/DWARFLinker/DWARFStreamer.cpp
  llvm/lib/Target/Lanai/MCTargetDesc/LanaiMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCTargetDesc.h
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/lib/Target/X86/MCTargetDesc/X86MCTargetDesc.h
  llvm/lib/Target/X86/X86AsmPrinter.cpp
  llvm/tools/llvm-dwp/llvm-dwp.cpp
  llvm/tools/llvm-exegesis/lib/LlvmState.cpp
  llvm/tools/llvm-mc-assemble-fuzzer/llvm-mc-assemble-fuzzer.cpp
  llvm/tools/llvm-mc/llvm-mc.cpp
  llvm/tools/llvm-mca/llvm-mca.cpp
  llvm/tools/llvm-ml/llvm-ml.cpp
  llvm/unittests/DebugInfo/DWARF/DWARFExpressionCopyBytesTest.cpp
  llvm/unittests/DebugInfo/DWARF/DwarfGenerator.cpp
  llvm/unittests/MC/DwarfLineTableHeaders.cpp
  mlir/lib/Dialect/GPU/Transforms/SerializeToHsaco.cpp
Due: fix-cc-deps

Revert "[NFC][MC] remove unused argument `MCRegisterInfo` in `MCCodeEmitter`"
  bolt/include/bolt/Core/BinaryContext.h
  bolt/lib/Core/BinaryContext.cpp
  clang/tools/driver/cc1as_main.cpp
  llvm/include/llvm/MC/TargetRegistry.h
  llvm/lib/CodeGen/LLVMTargetMachine.cpp
  llvm/lib/DWARFLinker/DWARFStreamer.cpp
  llvm/lib/Target/Lanai/MCTargetDesc/LanaiMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCTargetDesc.h
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/lib/Target/X86/MCTargetDesc/X86MCTargetDesc.h
  llvm/lib/Target/X86/X86AsmPrinter.cpp
  llvm/tools/llvm-dwp/llvm-dwp.cpp
  llvm/tools/llvm-exegesis/lib/LlvmState.cpp
  llvm/tools/llvm-mc-assemble-fuzzer/llvm-mc-assemble-fuzzer.cpp
  llvm/tools/llvm-mc/llvm-mc.cpp
  llvm/tools/llvm-mca/llvm-mca.cpp
  llvm/tools/llvm-ml/llvm-ml.cpp
  llvm/unittests/DebugInfo/DWARF/DWARFExpressionCopyBytesTest.cpp
  llvm/unittests/DebugInfo/DWARF/DwarfGenerator.cpp
  llvm/unittests/MC/DwarfLineTableHeaders.cpp
  mlir/lib/Dialect/GPU/Transforms/SerializeToHsaco.cpp
Due: fix-cc-deps

[MemoryDependency] Relax the re-ordering with volatile store.
  llvm/lib/Analysis/MemoryDependenceAnalysis.cpp
  llvm/test/Analysis/MemoryDependenceAnalysis/reorder-volatile.ll
Due: fix-cc-deps

Revert [SystemZ][z/OS] Fix f32 variadic argument assertion
  llvm/lib/Target/SystemZ/SystemZCallingConv.td
  llvm/lib/Target/SystemZ/SystemZISelLowering.cpp
  llvm/test/CodeGen/SystemZ/call-zos-vararg.ll
Due: fix-cc-deps

[lldb] Don't rely on wrapping in PutRawBytes/PutBytesAsRawHex8
  lldb/source/Utility/Stream.cpp
  lldb/unittests/Utility/StreamTest.cpp
Due: fix-cc-deps

[M68k][VarLenCodeEmitter] Support reloc & pc-rel immediate values
  llvm/lib/Target/M68k/M68kInstrFormats.td
  llvm/lib/Target/M68k/MCTargetDesc/M68kMCCodeEmitter.cpp
  llvm/test/MC/M68k/pc-rel.s
Due: fix-cc-deps

[M68k] Adopt VarLenCodeEmitter for control instructions
  llvm/lib/Target/M68k/M68kInstrControl.td
  llvm/test/MC/Disassembler/M68k/control.txt
  llvm/test/MC/M68k/Control/call-pc-rel.s
Due: none

[TableGen][VarLenCodeEmitterGen] Improve the error message
  llvm/utils/TableGen/VarLenCodeEmitterGen.cpp
Due: fix-cc-deps
