Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Expect an error response for non-Carbon document symbols.
  toolchain/language_server/testdata/document_symbol/language.carbon
Due: none

Fix bad yaml output in --dump-saw-sem-ir
  toolchain/base/int.h
  toolchain/sem_ir/class.h
  toolchain/sem_ir/declared_facet_type.cpp
  toolchain/sem_ir/entity_name.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update existings tests
  toolchain/check/testdata/basics/raw_sem_ir/bundle.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/non_core_interfaces.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
Due: none

Update facet output to put constraints within list
  toolchain/check/testdata/basics/raw_sem_ir/non_core_interfaces.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/sem_ir/declared_facet_type.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

s/UseRewrites/HasRewrites/g
  toolchain/check/testdata/basics/raw_sem_ir/non_core_interfaces.carbon
Due: none

Update hardened-runner to 2.21.1 (#7857)
  .github/workflows/auto_label_prs.yaml
  .github/workflows/check_dependent_pr.yaml
  .github/workflows/clangd_tidy.yaml
  .github/workflows/discord_wiki.yaml
  .github/workflows/gh_pages_ci.yaml
  .github/workflows/gh_pages_deploy.yaml
  .github/workflows/nightly_release.yaml
  .github/workflows/prek.yaml
  .github/workflows/prek_suggestions.yaml
  .github/workflows/proposal_labeled.yaml
  .github/workflows/proposal_ready.yaml
  .github/workflows/sync_repos.yaml
  .github/workflows/tests.yaml
  .github/workflows/triage_inactive.yaml
Due: none

Enable `SubobjectDestroy.Op` to destroy tuples (#7842)
  toolchain/check/custom_witness.cpp
  toolchain/check/testdata/array/basics.carbon
  toolchain/check/testdata/as/basics.carbon
  toolchain/check/testdata/class/adapter/adapt_copy.carbon
  toolchain/check/testdata/eval/call.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/check/testdata/function/call/more_param_ir.carbon
  toolchain/check/testdata/generic/template/convert.carbon
  toolchain/check/testdata/interface/generic_method.carbon
  toolchain/check/testdata/operators/builtin/assignment.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/tuple/in_place_tuple_init.carbon
  toolchain/check/testdata/tuple/tuple_pattern.carbon
  toolchain/check/testdata/var/var_pattern.carbon
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/class/generic.carbon
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/function/call/tuple_param_with_return_slot.carbon
  toolchain/lower/testdata/function/generic/type_representation.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/struct/nested_struct_in_place.carbon
  toolchain/lower/testdata/template/convert.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/access/return_value_access.carbon
  toolchain/lower/testdata/tuple/nested_tuple_in_place.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/tuple/value_formation.carbon
  toolchain/lower/testdata/var/local.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update TODO comment per feedback.
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply batched suggestions from code review
  docs/design/declaring_entities.md
Due: none

Remove ^M
  docs/design/declaring_entities.md
Due: none

Add `typeof` to syntax highlighters.
  utils/highlightjs/highlightjs_carbon_lang.js
  utils/textmate/Samples/keywords.carbon
  utils/textmate/Samples/keywords.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/tree_sitter/queries/highlights.scm
  utils/vim/syntax/carbon.vim
  utils/vscode/carbon.tmLanguage.json
Due: none

Run hashtable benchmark loops at randomly chosen code offsets
  common/map_benchmark.cpp
  common/raw_hashtable_benchmark_helpers.cpp
  common/raw_hashtable_benchmark_helpers.h
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Keep the sign of deltas between -1 and 0 in bench_runner.py (#7863)
  scripts/bench_runner.py
Due: none

Fix to match removed Function field.
  toolchain/sem_ir/dominance_test_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix clang-tidy finding.
  toolchain/sem_ir/dominance_test.cpp
  toolchain/sem_ir/dominance_test_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update design docs for some redeclaration proposals (#7839)
  docs/design/README.md
  docs/design/classes.md
  docs/design/declaring_entities.md
  docs/design/generics/details.md
  proposals/p003762-merging-forward-declarations.md
Due: none

Don't create block for imported self param (#7786)
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/class/import/method.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add `typeof` to syntax highlighters. (#7859)
  utils/highlightjs/highlightjs_carbon_lang.js
  utils/textmate/Samples/keywords.carbon
  utils/textmate/Samples/keywords.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/tree_sitter/queries/highlights.scm
  utils/vim/syntax/carbon.vim
  utils/vscode/carbon.tmLanguage.json
Due: none

Add a verifier that SemIR is in SSA form. (#7771)
  toolchain/base/BUILD
  toolchain/base/grouped_value_store.h
  toolchain/base/grouped_value_store_test.cpp
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/pending_block.h
  toolchain/language_server/BUILD
  toolchain/language_server/sem_ir_index.cpp
  toolchain/language_server/sem_ir_index.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/dominance.cpp
  toolchain/sem_ir/dominance.h
  toolchain/sem_ir/dominance_benchmark.cpp
  toolchain/sem_ir/dominance_test.cpp
  toolchain/sem_ir/dominance_test_helpers.h
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Correctly model NRVO returns
  toolchain/check/cpp/export.cpp
  toolchain/check/testdata/interop/cpp/function/export/thunk_ast.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

rewrites-in-identified
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
  toolchain/check/testdata/impl/rewrites.carbon
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/identified_facet_type.cpp
  toolchain/sem_ir/identified_facet_type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Correctly model NRVO returns (#7865)
  toolchain/check/cpp/export.cpp
  toolchain/check/testdata/interop/cpp/function/export/thunk_ast.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Support for `typeof`. (#7858)
  docs/design/lexical_conventions/words.md
  toolchain/check/eval.cpp
  toolchain/check/handle_typeof.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/typeof/basics.carbon
  toolchain/format/formatter.cpp
  toolchain/lex/token_kind.def
  toolchain/lower/testdata/typeof/not_evaluated.carbon
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_typeof_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/typeof/basic.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update syntax highlighters to match keyword list.
  docs/design/lexical_conventions/words.md
  utils/highlightjs/highlightjs_carbon_lang.js
  utils/textmate/Samples/keywords.carbon
  utils/textmate/Samples/keywords.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/tree_sitter/queries/highlights.scm
  utils/vim/syntax/carbon.vim
  utils/vscode/carbon.tmLanguage.json
Due: none

Fix wrong name
  docs/design/lexical_conventions/words.md
Due: none

Add missing keywords to words.md.
  docs/design/lexical_conventions/words.md
Due: none

Use `CARBON_KIND_SWITCH` in a few more places. (#7867)
  toolchain/check/import_ref.cpp
  toolchain/check/pattern_match.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Enable `SubobjectDestroy.Op` to destroy constant objects (#7848)
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Generalize `CalleeFunctionInfo` and reuse it in C++ import (#7787)
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/cpp/thunk.h
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Change how we save the access context
  toolchain/check/custom_witness.cpp
  toolchain/check/member_access.cpp
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Track some needed design doc updates
  docs/design/README.md
  docs/design/functions.md
  docs/design/generics/details.md
  docs/design/interoperability/README.md
  docs/design/lexical_conventions/whitespace.md
  docs/design/lexical_conventions/words.md
Due: none

Pad benchmark loop layouts in 4-byte steps on AArch64
  common/raw_hashtable_benchmark_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards

Remove check for empty structs
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply batched suggestions from code review
  docs/design/expressions/member_access.md
Due: none

Emit the layout padding `asm` statement in every layout copy
  common/raw_hashtable_benchmark_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards

Remove the hashtable seed
  common/hashing.h
  common/hashing_benchmark.cpp
  common/hashing_llvm.h
  common/hashing_test.cpp
  common/hashtable_key_context.h
  common/hashtable_key_context_test.cpp
  common/raw_hashtable.cpp
  common/raw_hashtable.h
  common/raw_hashtable_benchmark_helpers.cpp
  common/raw_hashtable_benchmark_helpers.h
  common/raw_hashtable_test_helpers.h
  toolchain/lex/mismatched_brackets.cpp
  toolchain/sem_ir/clang_decl.h
  toolchain/sem_ir/declared_facet_type.h
  toolchain/sem_ir/entity_name.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/struct_type_field.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

diagnose tuple pattern in class decleration
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/testdata/tuple/tuple_pattern.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Enable `SubobjectDestroy.Op` to destroy array elements (#7844)
  toolchain/check/custom_witness.cpp
  toolchain/check/testdata/array/basics.carbon
  toolchain/check/testdata/array/import.carbon
  toolchain/check/testdata/array/index_not_literal.carbon
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/function/generic/return_slot.carbon
  toolchain/check/testdata/generic/template/convert.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/interop/cpp/function/import/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/macros/macros.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.darwin.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.llp64.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.lp64.carbon
  toolchain/check/testdata/interop/cpp/stdlib/initializer_list.carbon
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/array/iterate.carbon
  toolchain/lower/testdata/array/layout.carbon
  toolchain/lower/testdata/builtins/cpp.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list_pointer_pointer.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list_pointer_size.carbon
  toolchain/lower/testdata/primitives/numeric_literals.carbon
  toolchain/lower/testdata/template/convert.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

canonicalized export
  toolchain/check/cpp/export.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/pattern.cpp
  toolchain/check/pattern.h
  toolchain/check/testdata/interop/cpp/function/export/default_values.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

