Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[msan][tsan] Refine __fxstat{,at}{,64} condition
  compiler-rt/lib/msan/msan_interceptors.cpp
  compiler-rt/lib/tsan/rtl/tsan_interceptors_posix.cpp
Due: fix-cc-deps

[SLP]Do not reorder top nodes if they do not require reordering.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/reordered-top-scalars.ll
Due: fix-cc-deps

[RISCV] Use tablegen size for getInstSizeInBytes.
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoA.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
Due: fix-cc-deps

[InstrProf][NFC] Move function out of InstrProf.h
  llvm/include/llvm/ProfileData/InstrProf.h
  llvm/lib/ProfileData/InstrProf.cpp
  llvm/lib/Transforms/Instrumentation/PGOInstrumentation.cpp
Due: fix-cc-deps

[RISCV] Preserve VL when truncating i64 gather/scatter indices on RV32.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-scatter.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpgather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpscatter.ll
  llvm/test/CodeGen/RISCV/rvv/vpgather-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vpscatter-sdnode.ll
Due: fix-cc-deps

[NFC][AIX]Disable new pcm tests on AIX
  clang/test/ClangScanDeps/modules-symlink.c
Due: none

Readd watchman with warning
  docs/project/contribution_tools.md
Due: none

pre-commit
  docs/project/contribution_tools.md
Due: none

[RISCV] Update comments about getInstSizeInBytes hard-coding the number of bytes.
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/RISCVExpandAtomicPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVExpandPseudoInsts.cpp
Due: fix-cc-deps

[AMDGPU] SILoadStoreOptimizer: break lists on instructions with side effects
  llvm/lib/Target/AMDGPU/SILoadStoreOptimizer.cpp
Due: fix-cc-deps

Improve string lexing performance (#1001)
  toolchain/lexer/BUILD
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal_benchmark.cpp
Due: fix-cc-deps, forbid-llvm-googletest

[ADT] support fixed-width output with `utohexstr`
  llvm/include/llvm/ADT/StringExtras.h
  llvm/unittests/ADT/StringExtrasTest.cpp
Due: fix-cc-deps

[mlir] Only build mlir-cpu-runner when the native arch is targeted
  mlir/tools/CMakeLists.txt
Due: none

Update docs/design/functions.md
  docs/design/functions.md
Due: none

Update docs/design/variables.md
  docs/design/variables.md
Due: none

Emit swift5 reflection section data in dsym bundle generated by dsymutil in the Dwarf section.
  llvm/include/llvm/BinaryFormat/Swift.def
  llvm/include/llvm/BinaryFormat/Swift.h
  llvm/include/llvm/DWARFLinker/DWARFStreamer.h
  llvm/include/llvm/MC/MCContext.h
  llvm/include/llvm/MC/MCObjectFileInfo.h
  llvm/include/llvm/Object/MachO.h
  llvm/include/llvm/Object/ObjectFile.h
  llvm/lib/DWARFLinker/DWARFStreamer.cpp
  llvm/lib/MC/MCContext.cpp
  llvm/lib/MC/MCObjectFileInfo.cpp
  llvm/lib/Object/MachOObjectFile.cpp
  llvm/test/tools/dsymutil/Inputs/main.yaml
  llvm/test/tools/dsymutil/Inputs/reflection_metadata.yaml
  llvm/test/tools/dsymutil/Inputs/test.yaml
  llvm/test/tools/dsymutil/X86/reflection-dump.test
  llvm/tools/dsymutil/DwarfLinkerForBinary.cpp
Due: fix-cc-deps

[lldb] Update the lldb build instructions on Windows
  lldb/docs/resources/build.rst
Due: none

Reapply "[llvm-libtool-darwin] Print a warning if object file names are repeated"
  llvm/test/tools/llvm-libtool-darwin/L-and-l.test
  llvm/test/tools/llvm-libtool-darwin/archive-flattening.test
  llvm/test/tools/llvm-libtool-darwin/create-static-lib.test
  llvm/tools/llvm-libtool-darwin/llvm-libtool-darwin.cpp
Due: fix-cc-deps

[AIX][clang] include_next through clang provided float.h
  clang/lib/Headers/float.h
  clang/test/Headers/Inputs/include/float.h
  clang/test/Headers/float-aix.c
Due: fix-cc-deps

[mlir][taco] Accept an integer list for the ordering when defining a tensor format.
  mlir/test/Integration/Dialect/SparseTensor/taco/tools/mlir_pytaco.py
Due: none

[libc] Refactor sqrt implementations and add tests for generic sqrt implementations.
  libc/src/__support/FPUtil/CMakeLists.txt
  libc/src/__support/FPUtil/Sqrt.h
  libc/src/__support/FPUtil/aarch64/sqrt.h
  libc/src/__support/FPUtil/generic/CMakeLists.txt
  libc/src/__support/FPUtil/generic/sqrt.h
  libc/src/__support/FPUtil/generic/sqrt_80_bit_long_double.h
  libc/src/__support/FPUtil/sqrt.h
  libc/src/__support/FPUtil/x86_64/sqrt.h
  libc/src/math/aarch64/CMakeLists.txt
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/sqrt.cpp
  libc/src/math/generic/sqrtf.cpp
  libc/src/math/generic/sqrtl.cpp
  libc/src/math/x86_64/CMakeLists.txt
  libc/src/math/x86_64/sqrt.cpp
  libc/src/math/x86_64/sqrtf.cpp
  libc/src/math/x86_64/sqrtl.cpp
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/generic_sqrt_test.cpp
  libc/test/src/math/generic_sqrtf_test.cpp
  libc/test/src/math/generic_sqrtl_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Due: fix-cc-deps

[lld][Macho] Include dead-stripped symbols in mapfile
  lld/MachO/MapFile.cpp
  lld/test/MachO/dead-strip.s
Due: fix-cc-deps

Remove submodule edits
  docs/project/contribution_tools.md
Due: none

Fix removed line
  docs/project/contribution_tools.md
Due: none

Argh readd warning
  docs/project/contribution_tools.md
Due: none

GCC ABI Compatibility: Preserve alignment of non-pod members in packed structs
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/LangOptions.h
  clang/lib/AST/RecordLayoutBuilder.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/SemaCXX/class-layout.cpp
Due: fix-cc-deps

Remove submodule mentions in tools
  docs/project/contribution_tools.md
Due: none

[SLP] Add a clarifying assert in block scheduling [NFC]
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Due: fix-cc-deps

[GVN] Add additional tests for PRE with pointer selects.
  llvm/test/Transforms/GVN/PRE/pre-loop-load-through-select.ll
Due: none

Remove paragraph
  docs/design/functions.md
Due: none

prettier
  docs/design/functions.md
Due: none

prettier
  docs/design/variables.md
Due: none

[ScalarEvolution] Mark a loop as finite if in a willreturn function
  llvm/include/llvm/Analysis/LoopInfo.h
  llvm/lib/Analysis/LoopInfo.cpp
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/lt-overflow.ll
Due: fix-cc-deps

Remove Waymarking.h as it is unused
  llvm/include/llvm/ADT/Waymarking.h
  llvm/unittests/ADT/CMakeLists.txt
  llvm/unittests/ADT/WaymarkingTest.cpp
Due: fix-cc-deps

[gn build] Port f489e86a24d3
  llvm/utils/gn/secondary/llvm/unittests/ADT/BUILD.gn
Due: none

Respond to reviewer comments
  executable_semantics/README.md
Due: none

[libc] Add implementations of the POSIX creat and openat functions.
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/llvm-libc-macros/linux/fcntl-macros.h
  libc/spec/posix.td
  libc/src/fcntl/CMakeLists.txt
  libc/src/fcntl/creat.h
  libc/src/fcntl/linux/CMakeLists.txt
  libc/src/fcntl/linux/creat.cpp
  libc/src/fcntl/linux/openat.cpp
  libc/src/fcntl/openat.h
  libc/test/src/CMakeLists.txt
  libc/test/src/fcntl/CMakeLists.txt
  libc/test/src/fcntl/creat_test.cpp
  libc/test/src/fcntl/openat_test.cpp
  libc/test/src/fcntl/testdata/CMakeLists.txt
Due: fix-cc-deps

[lld] Add module name to LTO inline asm diagnostic
  lld/Common/ErrorHandler.cpp
  lld/test/ELF/lto/inline-asm-err.ll
  lld/test/MachO/lto-module-asm-err.ll
  llvm/include/llvm/IR/DiagnosticInfo.h
  llvm/lib/CodeGen/MachineModuleInfo.cpp
Due: fix-cc-deps
