Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[RISCV] Move creation of constant pools from isel to lowering.
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/test/CodeGen/RISCV/rv64zbp-intrinsic.ll
  llvm/test/CodeGen/RISCV/rv64zbp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-mask-buildvec.ll
Due: fix-cc-deps, clang-format, check-header-guards

[RISCV] Mutate instruction after computing transfer rule in InsertVSETVLI [nfc]
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
Due: fix-cc-deps, clang-format

[libc++][NFC] Use concepts in <bit>.
  libcxx/include/__bit/bit_cast.h
  libcxx/include/bit
Due: fix-cc-deps, clang-format, check-header-guards

[mlir][spirv] Convert single element vector.splat/fma
  mlir/lib/Conversion/VectorToSPIRV/VectorToSPIRV.cpp
  mlir/test/Conversion/VectorToSPIRV/vector-to-spirv.mlir
Due: fix-cc-deps, clang-format

[mlir][spirv] Remove unused `traits` from `SPV_Attr`
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVAttributes.td
Due: none

[Flang][OpenMP] Avoid double privatisation of loop variables
  flang/lib/Lower/OpenMP.cpp
  flang/test/Lower/OpenMP/omp-parallel-private-clause-fixes.f90
Due: fix-cc-deps, clang-format

[mlir][vector] Add patterns to ppropagate vector distribution
  mlir/include/mlir/Dialect/Vector/Transforms/VectorDistribution.h
  mlir/lib/Dialect/Vector/Transforms/VectorDistribute.cpp
  mlir/test/Dialect/Vector/vector-warp-distribute.mlir
  mlir/test/Integration/Dialect/Vector/GPU/CUDA/test-warp-distribute.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[AMDGPU] Make temp vgpr selection stable in indirectCopyToAGPR
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/accvgpr-copy.mir
  llvm/test/CodeGen/AMDGPU/agpr-copy-no-free-registers.ll
Due: fix-cc-deps, clang-format

[X86] combineEXTEND_VECTOR_INREG - don't attempt to shuffle combine ANY_EXTEND_VECTOR_INREG without SSE41
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/is_fpclass.ll
  llvm/test/CodeGen/X86/madd.ll
  llvm/test/CodeGen/X86/mulvi32.ll
  llvm/test/CodeGen/X86/pmaddubsw.ll
  llvm/test/CodeGen/X86/promote-cmp.ll
  llvm/test/CodeGen/X86/vector-trunc-math.ll
Due: fix-cc-deps, clang-format

[flang][NFC] Add TODOs for KIND = 2
  flang/lib/Optimizer/Builder/Runtime/Numeric.cpp
Due: fix-cc-deps, clang-format

[mlir][spirv] Convert math.ctlz to spv.GLSL.FindUMsb
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVGLSLOps.td
  mlir/lib/Conversion/MathToSPIRV/MathToSPIRV.cpp
  mlir/lib/Conversion/MathToSPIRV/MathToSPIRVPass.cpp
  mlir/test/Conversion/MathToSPIRV/math-to-glsl-spirv.mlir
  mlir/test/Dialect/SPIRV/IR/glsl-ops.mlir
  mlir/test/Target/SPIRV/glsl-ops.mlir
Due: fix-cc-deps, clang-format

Revert "[CodeGen] Keep track info of lazy-emitted symbols in ModuleBuilder"
  clang/lib/CodeGen/CodeGenModule.h
  clang/lib/CodeGen/ModuleBuilder.cpp
  clang/test/Interpreter/execute.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Revert "Also move WeakRefReferences in CodeGenModule::moveLazyEmssionStates"
  clang/lib/CodeGen/CodeGenModule.h
Due: fix-cc-deps, clang-format, check-header-guards

[mlir][spirv] Use UnrealizedConversionCast in ArithmeticToSPIRV
  mlir/lib/Conversion/ArithmeticToSPIRV/ArithmeticToSPIRV.cpp
  mlir/test/Conversion/ArithmeticToSPIRV/arithmetic-to-spirv.mlir
Due: fix-cc-deps, clang-format

[mlir][spirv] Fix result type for arith.cmpi/cmpf conversion
  mlir/lib/Conversion/ArithmeticToSPIRV/ArithmeticToSPIRV.cpp
  mlir/test/Conversion/ArithmeticToSPIRV/arithmetic-to-spirv.mlir
Due: fix-cc-deps, clang-format

Revert "[RISCV] Teach RISCVMergeBaseOffset about cases where we use SHXADD to add some immediates."
  llvm/lib/Target/RISCV/RISCVMergeBaseOffset.cpp
  llvm/test/CodeGen/RISCV/hoist-global-addr-base.ll
Due: fix-cc-deps, clang-format

[BOLT][NFC] Forward declare ReorderBlocks for MSVC19
  bolt/lib/Passes/BinaryPasses.cpp
Due: fix-cc-deps, clang-format

[flang][runtime] Fix nonadvancing output edge case
  flang/runtime/io-stmt.cpp
Due: fix-cc-deps, clang-format

[lldb] Add missing UTF-8 char basic type entries
  lldb/bindings/python/python-extensions.swig
  lldb/docs/python_api_enums.rst
Due: none

[flang][runtime] Better (but still synchronous) support for asynchronous I/O
  flang/include/flang/Runtime/io-api.h
  flang/include/flang/Runtime/iostat.h
  flang/runtime/io-api.cpp
  flang/runtime/io-stmt.cpp
  flang/runtime/io-stmt.h
  flang/runtime/iostat.cpp
  flang/runtime/unit.cpp
  flang/runtime/unit.h
Due: fix-cc-deps, clang-format, check-header-guards

Reland [clang][AIX] add option mdefault-visibility-export-mapping
  clang/docs/UsersManual.rst
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Basic/LangOptions.h
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/CodeGen/MicrosoftCXXABI.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGen/mdefault-visibility-export-mapping.c
  clang/test/CodeGenCXX/mdefault-visibility-export-mapping-alias.cpp
  clang/test/CodeGenCXX/mdefault-visibility-export-mapping-rtti.cpp
  clang/test/CodeGenCXX/mdefault-visibility-export-mapping.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Reland: unbreak Modules/cxx20-export-import.cpp with LLVM_APPEND_VC_REV after 8c8a2679a20f
  clang/include/clang/Serialization/ASTBitCodes.h
Due: fix-cc-deps, clang-format, check-header-guards

[flang][runtime] Fix list-directed/NAMELIST complex input with "r*" repetition count
  flang/runtime/io-stmt.cpp
Due: fix-cc-deps, clang-format

Revert "[mlir][vector] Add patterns to ppropagate vector distribution"
  mlir/include/mlir/Dialect/Vector/Transforms/VectorDistribution.h
  mlir/lib/Dialect/Vector/Transforms/VectorDistribute.cpp
  mlir/test/Dialect/Vector/vector-warp-distribute.mlir
  mlir/test/Integration/Dialect/Vector/GPU/CUDA/test-warp-distribute.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[lld-macho] Require aarch64 for eh-frame.s test
  lld/test/MachO/eh-frame.s
Due: none

[Dexter] Fix incorrect test expectations for floating point tests
  cross-project-tests/debuginfo-tests/dexter/feature_tests/commands/perfect/float_range_watch/float_range_multiple.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/commands/perfect/float_range_watch/float_range_no_arg.cpp
Due: fix-cc-deps, clang-format

Add sanitizer metadata attributes to clang IR gen.
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/lib/CodeGen/SanitizerMetadata.cpp
  clang/lib/CodeGen/SanitizerMetadata.h
  clang/test/CodeGen/Inputs/sanitizer-special-case-list-globals.txt
  clang/test/CodeGen/asan-globals.cpp
  clang/test/CodeGen/sanitize-init-order.cpp
  clang/test/CodeGen/sanitizer-special-case-list-globals.c
Due: fix-cc-deps, clang-format, check-header-guards

[flang][runtime] Don't crash after reporting I/O statement errors
  flang/runtime/io-api.cpp
  flang/runtime/io-stmt.h
Due: fix-cc-deps, clang-format, check-header-guards

[clang-cl][MSVC] Map /external:Wn n=1-4 to -Wsystem-headers
  clang/include/clang/Driver/Options.td
  clang/test/Driver/cl-options.c
Due: none

[Dexter] Remove debugger-dependent test from windows
  cross-project-tests/debuginfo-tests/dexter/feature_tests/commands/perfect/float_range_watch/float_range_no_arg.cpp
Due: fix-cc-deps, clang-format

[flang][runtime] Fix runtime CSHIFT of rank>1 array case of negative shift count
  flang/runtime/transformational.cpp
Due: fix-cc-deps, clang-format

Recommit "[RISCV] Teach RISCVMergeBaseOffset about cases where we use SHXADD to add some immediates."
  llvm/lib/Target/RISCV/RISCVMergeBaseOffset.cpp
  llvm/test/CodeGen/RISCV/hoist-global-addr-base.ll
Due: fix-cc-deps, clang-format

[flang] Fix bogus branch target error on END SELECT
  flang/lib/Semantics/resolve-labels.cpp
  flang/test/Semantics/label05.f90
  flang/test/Semantics/label06.f90
  flang/test/Semantics/label07.f90
Due: fix-cc-deps, clang-format

[mlir][linalg] Add conv_2d_nhwc_fhwc to core_named_ops.py
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
  mlir/python/mlir/dialects/linalg/opdsl/ops/core_named_ops.py
Due: none

[RISCV] Add basic fshr/fshl cost and codegen coverage
  llvm/test/Analysis/CostModel/RISCV/rvv-intrinsics.ll
  llvm/test/CodeGen/RISCV/rvv/fshr-fshl.ll
Due: none

[flang] Document extension: Ew.0 output editing
  flang/docs/Extensions.md
Due: none

[clang-cl] Accept /FA[c][s][u], but ignore the arguments
  clang/include/clang/Driver/Options.td
  clang/test/Driver/cl-options.c
  clang/test/Driver/cl-outputs.c
Due: none

Implementation of returned var in static scope.
  explorer/ast/statement.h
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/resolve_names.cpp
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

[LLDB][NativePDB] Convert backslash to slash when creating CU and filter out CU with no function in ResolveSymbolContext.
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.cpp
Due: fix-cc-deps, clang-format
