Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Apply suggestions from code review
  docs/design/expressions/member_access.md
Due: none

cleanup
  toolchain/check/context.h
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Respond to reviewer comments
  docs/design/expressions/member_access.md
Due: none

Respond to reviewer comments
  proposals/p5606.md
Due: none

Change comments and lines to ValueStores
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

vsce-path
  utils/vscode/development.md
Due: none

Add filenames to stack traces
  toolchain/check/context.cpp
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

comment-dump-sem-ir
  utils/textmate/Syntaxes/carbon.tmLanguage.json
Due: none

export
  utils/vscode/development.md
Due: none

Change min_prelude to use EXTRA-ARGS and INCLUDE-FILE
  toolchain/check/testdata/deduce/min_prelude/binding_pattern.carbon
  toolchain/check/testdata/eval/min_prelude/aggregates.carbon
  toolchain/check/testdata/facet/min_prelude/access.carbon
  toolchain/check/testdata/facet/min_prelude/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/min_prelude/convert_facet_value_value_to_itself.carbon
  toolchain/check/testdata/facet/min_prelude/convert_interface.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/facet/min_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/facet/min_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/canonical_query_self.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/lookup_interface_with_enclosing_generic_inside_rewrite_constraint.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/min_prelude/forward_decls.carbon
  toolchain/check/testdata/interface/min_prelude/compound_member_access.carbon
  toolchain/check/testdata/patterns/min_prelude/underscore.carbon
  toolchain/check/testdata/tuple/min_prelude/element_access.carbon
  toolchain/check/testdata/tuple/min_prelude/in_place_tuple_init.carbon
  toolchain/testing/file_test.cpp
  toolchain/testing/min_prelude/bool.carbon
  toolchain/testing/min_prelude/convert.carbon
  toolchain/testing/min_prelude/destroy.carbon
  toolchain/testing/min_prelude/facet_types.carbon
  toolchain/testing/min_prelude/int.carbon
  toolchain/testing/min_prelude/parts/as.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

impl_thunk
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/impl_thunk_min_prelude.carbon
Due: none

Big change to merge form type
  proposals/p5389.md
Due: none

Add floats to SharedValueStores yaml
  toolchain/base/shared_value_stores.h
  toolchain/driver/testdata/dump_shared_values.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Include phase and filename in driver crash handler
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  proposals/p5389.md
Due: none

Apply review suggestions
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix GetFunctionParams() comments
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Rename GetFunctionParams() and improve comments
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

usrlocalbin
  utils/vscode/development.md
Due: none

newline
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

test
  toolchain/base/shared_value_stores_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a fixed-size ValueStore
  toolchain/base/BUILD
  toolchain/base/fixed_size_value_store.h
  toolchain/base/value_store.h
  toolchain/parse/BUILD
  toolchain/parse/tree_and_subtrees.cpp
  toolchain/parse/tree_and_subtrees.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

single-test
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

Add ranges to where_expr tests
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/dot_self_impls.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: none

remove
  toolchain/check/testdata/where_expr/dot_self_impls.carbon
Due: none

pre-commit
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
Due: none

Respond to reviewer comments
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Build a proper NameRef in a thunk, including a SpecificConstant when needed.
  toolchain/check/BUILD
  toolchain/check/handle_name.cpp
  toolchain/check/name_ref.cpp
  toolchain/check/name_ref.h
  toolchain/check/thunk.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Autoupdate.
  toolchain/check/testdata/impl/fail_call_invalid.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/impl/fail_self_type_mismatch.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
  toolchain/check/testdata/impl/use_assoc_const.carbon
Due: none

Add check test.
  toolchain/check/testdata/impl/impl_thunk.carbon
Due: none

Add lowering test.
  toolchain/lower/testdata/impl/thunk.carbon
Due: none

review
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format
