Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Update proposals/p3833.md
  proposals/p3833.md
Due: none

SemIR fidelity when representing rewrite semantics (#3833)
  proposals/p3833.md
Due: none

Delete CarbonInfraBot comments with no replies when they become outdated.
  .github/workflows/pre_commit_suggestions.yaml
Due: none

Remove stray `-`.
  .github/workflows/pre_commit_suggestions.yaml
Due: none

Update to 1.3 and apply security hardening.
  .github/workflows/pre_commit_suggestions.yaml
Due: none

Delete CarbonInfraBot comments with no replies when they become outdated. (#3982)
  .github/workflows/pre_commit_suggestions.yaml
Due: none

Expand bazel retries in tests.
  .github/workflows/tests.yaml
  scripts/run_bazel.py
Due: none

Apply suggestions from code review
  scripts/run_bazel.py
Due: none

Expand bazel retries in tests. (#3983)
  .github/workflows/tests.yaml
  scripts/run_bazel.py
Due: none

Add links about EuroLLVM panel to README
  README.md
Due: none

Filling out template with PR 3985
  proposals/p3985.md
Due: none

Use the driver to link.
  bazel/carbon_rules/defs.bzl
Due: buildifier

Note API file in versus
  proposals/p3980.md
Due: none

Note #3986
  proposals/p3980.md
Due: none

Use the driver to link. (#3987)
  bazel/carbon_rules/defs.bzl
Due: buildifier

Add links about EuroLLVM panel to README (#3984)
  README.md
Due: none

Parse parameters in name qualifiers.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/alias/no_prelude/fail_params.carbon
  toolchain/check/testdata/class/fail_base_as_declared_name.carbon
  toolchain/check/testdata/class/fail_todo_generic_method.carbon
  toolchain/check/testdata/class/generic/fail_todo_member_out_of_line.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_todo_no_params.carbon
  toolchain/check/testdata/namespace/fail_params.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_member.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_alias.cpp
  toolchain/parse/handle_choice.cpp
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_namespace.cpp
  toolchain/parse/handle_period.cpp
  toolchain/parse/handle_type.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/state.def
  toolchain/parse/testdata/alias/basic.carbon
  toolchain/parse/testdata/function/declaration/fail_identifier_instead_of_sig.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
  toolchain/parse/testdata/function/declaration/fail_no_sig_or_semi.carbon
  toolchain/parse/testdata/function/declaration/no_params.carbon
  toolchain/parse/testdata/generics/impl/fail_out_of_line_member.carbon
  toolchain/parse/testdata/generics/params/name_qualifier.carbon
  toolchain/parse/testdata/namespace/args.carbon
  toolchain/parse/testdata/namespace/fail_arrow.carbon
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/parse/testdata/packages/export.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/bind_name.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Underline parameters when rejecting them.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/alias/no_prelude/fail_params.carbon
  toolchain/check/testdata/namespace/fail_params.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Finish alternatives
  proposals/p3720.md
Due: none

Cleanups.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_decl_name_and_params.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix unit test.
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update proposals/p3720.md
  proposals/p3720.md
Due: none

Member binding operators (#3720)
  proposals/p3720.md
Due: none

Start building and bundling LLD for linking.
  bazel/check_deps/check_non_test_cc_deps.py
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/driver.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Introduce custom hash table data structures.
  .bazelrc
  .codespell_ignore
  common/BUILD
  common/hashing.h
  common/hashing_test.cpp
  common/map.h
  common/map_benchmark.cpp
  common/map_benchmark_test.sh
  common/map_test.cpp
  common/ostream.h
  common/raw_hashtable.cpp
  common/raw_hashtable.h
  common/raw_hashtable_benchmark_helpers.cpp
  common/raw_hashtable_benchmark_helpers.h
  common/raw_hashtable_metadata_group.cpp
  common/raw_hashtable_metadata_group.h
  common/raw_hashtable_metadata_group_benchmark.cpp
  common/raw_hashtable_metadata_group_benchmark_test.sh
  common/raw_hashtable_test_helpers.h
  common/set.h
  common/set_benchmark.cpp
  common/set_benchmark_test.sh
  common/set_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Allow GoogleTest tests to locate their executable path.
  common/BUILD
  common/exe_path.cpp
  common/exe_path.h
  common/exe_path_test.cpp
  testing/base/BUILD
  testing/base/gtest_main.cpp
  testing/base/gtest_main.h
  testing/base/gtest_main_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver_main.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Clean up references to #3720 now that it is merged
  proposals/p3802.md
Due: none

Fix ref type & make future work
  proposals/p3802.md
Due: none

Fix forward reference to `Box(T)`
  proposals/p3802.md
Due: none

Switch the resolve action to push
  .github/workflows/pre_commit_resolve.yaml
  .github/workflows/pre_commit_suggestions.yaml
Due: none

Switch the resolve action to push (#3998)
  .github/workflows/pre_commit_resolve.yaml
  .github/workflows/pre_commit_suggestions.yaml
Due: none

Remove the resolve stale suggestions action.
  .github/workflows/pre_commit_resolve.yaml
Due: none

Remove the resolve stale suggestions action. (#3999)
  .github/workflows/pre_commit_resolve.yaml
Due: none

Fix typo.
  toolchain/check/decl_name_stack.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix numbering.
  toolchain/parse/state.def
Due: none

Review comment.
  toolchain/parse/handle_decl_name_and_params.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

feedback from review
  testing/base/gtest_main.cpp
  testing/base/gtest_main.h
  testing/base/gtest_main_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

add a comment based on review
  common/exe_path_test.cpp
Due: fix-cc-deps, clang-format

Add child count and bracketing information to node kind definitions.
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Verify the child count even if we have a bracketing node.
  toolchain/parse/tree.cpp
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics
