Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Fix the builtins path computation to correctly handle generated files. We have to work from the path rather than the label for those.
  toolchain/base/runtimes_build_info.bzl
Due: buildifier

format
  MODULE.bazel
Due: buildifier, check-bazel-mod-deps

Fix AArch64 builtins build more fully.
  toolchain/driver/clang_runtimes.cpp
  toolchain/driver/clang_runtimes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add initial Windows CI for common tests
  .github/workflows/tests_windows.yaml
Due: none

Switch to CompleteTypeOrCheckFail
  toolchain/check/cpp/macros.cpp
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update tool verisons in script_utils
  scripts/scripts_utils.py
Due: none

pre-commit
  MODULE.bazel
Due: buildifier, check-bazel-mod-deps

Try out wolfd_bazel_compile_commands
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, check-bazel-mod-deps

black-version
  .pre-commit-config.yaml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
  bazel/version/gen_tmpl.py
  examples/bazel/update_module_to_nightly.py
  github_tools/github_helpers_test.py
  github_tools/pr_comments.py
  scripts/bench_runner.py
  scripts/fix_cc_deps.py
  scripts/lldbinit.py
  scripts/source_stats.py
  toolchain/diagnostics/check_diagnostics.py
  toolchain/lex/lex.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove obsolete patch
  bazel/llvm_project/0008_Add_filegroups_for_installed_compiler-rt_headers.patch
Due: none

Allow uploads.github.com
  .github/workflows/clangd_tidy.yaml
  .github/workflows/nightly_release.yaml
  .github/workflows/pre_commit.yaml
  .github/workflows/tests.yaml
Due: none

Add a TODO based on review
  toolchain/driver/clang_runtimes.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/full_pattern_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Factor build-related harden-runner logic into an action
  .github/actions/build-harden-runner/action.yaml
  .github/workflows/README.md
  .github/workflows/clangd_tidy.yaml
  .github/workflows/nightly_release.yaml
  .github/workflows/pre_commit.yaml
  .github/workflows/tests.yaml
Due: none

Remove ValueParamPattern case from deduction
  toolchain/check/deduce.cpp
  toolchain/check/testdata/class/generic/member_type.carbon
  toolchain/check/testdata/facet/call_combined_impl_witness.carbon
  toolchain/check/testdata/facet/convert_class_value_to_facet_value_value.carbon
  toolchain/check/testdata/facet/convert_class_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/facet/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_blanket_impl.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_generic_facet_value_value.carbon
  toolchain/check/testdata/facet/convert_facet_value_value_to_itself.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/function/generic/call.carbon
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/impl_thunk_min_prelude.carbon
  toolchain/check/testdata/impl/import_builtin_call.carbon
  toolchain/check/testdata/impl/lookup/canonical_query_self.carbon
  toolchain/check/testdata/impl/use_assoc_entity.carbon
  toolchain/check/testdata/interop/cpp/builtins.llp64.carbon
  toolchain/check/testdata/interop/cpp/builtins.lp64.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
  toolchain/check/testdata/operators/overloaded/string_indexing.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/lower/testdata/function/generic/call_deref_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_specific.carbon
  toolchain/lower/testdata/function/generic/call_recursive_basic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor `match` parse nodes.
  toolchain/check/handle_match.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_match.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/auto/match_case.carbon
  toolchain/parse/testdata/match/fail_cases_after_default.carbon
  toolchain/parse/testdata/match/fail_missing_case_arrow.carbon
  toolchain/parse/testdata/match/fail_missing_case_pattern.carbon
  toolchain/parse/testdata/match/fail_missing_case_statements_block.carbon
  toolchain/parse/testdata/match/fail_missing_default_arrow.carbon
  toolchain/parse/testdata/match/fail_missing_default_statements_block.carbon
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_parens_only_parse_errors.carbon
  toolchain/parse/testdata/match/fail_missing_matched_expr.carbon
  toolchain/parse/testdata/match/fail_unexpected_tokens_in_cases_block.carbon
  toolchain/parse/testdata/match/match.carbon
  toolchain/parse/testdata/var/unused.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Factor out textual headers from libcxx and libcxxabi
  bazel/llvm_project/0005_Introduce_basic_sources_exporting_for_libcxx_and_libcxxabi.patch
  toolchain/base/runtimes_build_info.bzl
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Introduce a Bazel-integrated build for the installed runtimes
  toolchain/base/BUILD
  toolchain/base/runtimes_build_info.bzl
  toolchain/base/runtimes_build_vars.tpl.bzl
  toolchain/install/BUILD
  toolchain/install/bazel/carbon_cc_toolchain_config.bzl
  toolchain/install/bazel/carbon_runtimes.bzl
  toolchain/install/bazel/clang_resource_dir.BUILD
  toolchain/install/bazel/install.BUILD
  toolchain/install/bazel/make_include_copts.bzl
  toolchain/install/bazel/runtimes.BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Add TODO to address the redundant work.
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update python version for black
  pyproject.toml
Due: none

Support calling constexpr functions at compile time
  toolchain/check/cpp/constant.cpp
  toolchain/check/cpp/constant.h
  toolchain/check/eval.cpp
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Mark constexpr/consteval functions as Eval/MustEval
  toolchain/check/cpp/import.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add failing test for calling a constexpr function
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: none

Update test data
  toolchain/check/testdata/interop/cpp/function/default_arg.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/impls/as.carbon
  toolchain/check/testdata/interop/cpp/impls/destroy.carbon
  toolchain/check/testdata/interop/cpp/impls/implicit_as.carbon
Due: none

Fix clang-tidy lint
  toolchain/check/cpp/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Updates the llvm-raw commit to HEAD as of 2026-03-09
  MODULE.bazel
  toolchain/driver/testdata/compile/optimize/optimize_debug.carbon
  toolchain/driver/testdata/compile/optimize/optimize_default.carbon
  toolchain/driver/testdata/compile/optimize/optimize_speed.carbon
  toolchain/lower/testdata/interop/cpp/clang_code_generator_callbacks.carbon
  toolchain/lower/testdata/interop/cpp/virtual_base.carbon
Due: buildifier, check-bazel-mod-deps

Map Carbon value expressions to const-qualified C++ prvalues.
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/testdata/interop/cpp/class/method.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/check/testdata/interop/cpp/impls/implicit_as.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix thunk generation for `&&`-qualified methods.
  toolchain/check/cpp/thunk.cpp
  toolchain/check/testdata/interop/cpp/class/method.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/install/bazel/carbon_runtimes.bzl
Due: buildifier

Fixes from review.
  toolchain/install/bazel/carbon_cc_toolchain_config.bzl
  toolchain/install/bazel/carbon_runtimes.bzl
  toolchain/install/bazel/runtimes.BUILD
Due: buildifier

Update the compiler-rt patch file.
  bazel/llvm_project/0009_Introduce_starlark_exporting_compiler-rt_build_information.patch
Due: none

Several fixes to AArch64 and macOS
  toolchain/driver/clang_runtimes.cpp
  toolchain/install/bazel/carbon_runtimes.bzl
  toolchain/install/bazel/runtimes.BUILD
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics

Remove unnecessary nullptr checks
  toolchain/check/cpp/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use a clang::ConstantExpr for args
  toolchain/check/cpp/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add test for failing to eval a constexpr function
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: none

order-self-independent
  toolchain/check/testdata/facet/identify_self_canonicalized.carbon
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add diagnostic for EvaluateAsConstantExpr failing
  toolchain/check/cpp/constant.cpp
  toolchain/check/testdata/interop/cpp/constexpr.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add "Fixing conflicts with trunk" to code_review.md
  docs/project/code_review.md
Due: none
