Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Fix crash when array contents aren't an expression. (#3424)
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/array/fail_require_close_bracket.carbon
  toolchain/parse/testdata/array/fail_require_semi.carbon
  toolchain/parse/testdata/array/fail_syntax.carbon
Due: none

Make extraction fallible, support extracting std::optional.
  toolchain/parse/extract.h
  toolchain/parse/tree.h
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix comment.
  toolchain/parse/extract.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename files to use "expr" and "deref"
  toolchain/check/testdata/expr_category/in_place_tuple_init.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/if_expr/struct.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/lower/testdata/if_expr/basic.carbon
  toolchain/lower/testdata/if_expr/empty_block.carbon
  toolchain/parse/testdata/if_expr/basic.carbon
  toolchain/parse/testdata/if_expr/fail_condition_missing.carbon
  toolchain/parse/testdata/if_expr/fail_else_expr_missing.carbon
  toolchain/parse/testdata/if_expr/fail_else_missing.carbon
  toolchain/parse/testdata/if_expr/fail_then_expr_missing.carbon
  toolchain/parse/testdata/if_expr/fail_then_missing.carbon
  toolchain/parse/testdata/if_expr/fail_top_level_if.carbon
  toolchain/parse/testdata/if_expr/in_type.carbon
  toolchain/parse/testdata/if_expr/precedence.carbon
  toolchain/parse/testdata/pointer/fail_pointer_type_in_expr.carbon
Due: none

Upgrade to latest rules_python. (#3423)
  .pre-commit-config.yaml
  WORKSPACE
  github_tools/BUILD
  github_tools/requirements.in
  github_tools/requirements.txt
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Incorporate feedback
  toolchain/check/decl_state.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/handle_function.cpp
  toolchain/check/handle_noop.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_noop.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Auto-update pre-commit repositories and fix.
  .pre-commit-config.yaml
  docs/design/generics/details.md
  docs/design/interoperability/philosophy_and_goals.md
  docs/project/principles/safety_strategy.md
  explorer/interpreter/pattern_analysis.cpp
  migrate_cpp/rewriter_test.cpp
  proposals/p0175.md
  proposals/p1964.md
  proposals/p2200.md
Due: fix-cc-deps, clang-format

Redo modifier-allowed helpers
  toolchain/check/decl_state.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/modifiers_allowed.cpp
  toolchain/check/modifiers_allowed.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename files to use "expr" and "deref" (#3426)
  toolchain/check/testdata/expr_category/in_place_tuple_init.carbon
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/if_expr/struct.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/lower/testdata/if_expr/basic.carbon
  toolchain/lower/testdata/if_expr/empty_block.carbon
  toolchain/parse/testdata/if_expr/basic.carbon
  toolchain/parse/testdata/if_expr/fail_condition_missing.carbon
  toolchain/parse/testdata/if_expr/fail_else_expr_missing.carbon
  toolchain/parse/testdata/if_expr/fail_else_missing.carbon
  toolchain/parse/testdata/if_expr/fail_then_expr_missing.carbon
  toolchain/parse/testdata/if_expr/fail_then_missing.carbon
  toolchain/parse/testdata/if_expr/fail_top_level_if.carbon
  toolchain/parse/testdata/if_expr/in_type.carbon
  toolchain/parse/testdata/if_expr/precedence.carbon
  toolchain/parse/testdata/pointer/fail_pointer_type_in_expr.carbon
Due: none

Auto-update pre-commit repositories and fix. (#3427)
  .pre-commit-config.yaml
  docs/design/generics/details.md
  docs/design/interoperability/philosophy_and_goals.md
  docs/project/principles/safety_strategy.md
  explorer/interpreter/pattern_analysis.cpp
  migrate_cpp/rewriter_test.cpp
  proposals/p0175.md
  proposals/p1964.md
  proposals/p2200.md
Due: fix-cc-deps, clang-format

Pass imports to SemIR.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Addressing comments
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/sem_ir/builtin_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix incorrect terminology
  toolchain/parse/state.def
Due: none

Remove nodiscard uses. (#3418)
  common/enum_base.h
  common/error.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lex/numeric_literal.h
  toolchain/lex/string_literal.h
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/precedence.h
  toolchain/parse/tree.h
  toolchain/sem_ir/inst_kind.h
  toolchain/source/source_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

pre-commit
  toolchain/check/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Pass imports to SemIR. (#3415)
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/lower/handle.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/builtin_kind.def
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Align on FileStart/FileEnd for naming.
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers_mid_block_indent_change.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/printing_digit_padding.carbon
  toolchain/lex/testdata/printing_integer_literal.carbon
  toolchain/lex/testdata/printing_real_literal.carbon
  toolchain/lex/testdata/printing_token.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/tree.cpp
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

FloatingPointLiteral to RealLiteral fixup
  toolchain/check/handle_literal.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/basics/builtin_types.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

clang-format
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_file.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_noop.cpp
  toolchain/check/handle_param_list.cpp
  toolchain/check/handle_return_statement.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Align on FileStart/FileEnd for naming. (#3428)
  toolchain/lex/lex.cpp
  toolchain/lex/testdata/basic_syntax.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers.carbon
  toolchain/lex/testdata/fail_bad_comment_introducers_mid_block_indent_change.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/fail_block_string_second_line.carbon
  toolchain/lex/testdata/fail_multifile.carbon
  toolchain/lex/testdata/fail_trailing_comments.carbon
  toolchain/lex/testdata/keywords.carbon
  toolchain/lex/testdata/multifile.carbon
  toolchain/lex/testdata/numeric_literals.carbon
  toolchain/lex/testdata/printing_digit_padding.carbon
  toolchain/lex/testdata/printing_integer_literal.carbon
  toolchain/lex/testdata/printing_real_literal.carbon
  toolchain/lex/testdata/printing_token.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/tree.cpp
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

FloatingPointLiteral to RealLiteral fixup (#3430)
  toolchain/check/handle_literal.cpp
  toolchain/parse/handle_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/basics/builtin_types.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Error when passing StringRef to CARBON_DIAGNOSTIC. (#3431)
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_struct.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/token_kind.h
  toolchain/parse/context.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_period.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Error when passing StringRef to CARBON_DIAGNOSTIC.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/handle_struct.cpp
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lex/token_kind.h
  toolchain/parse/context.cpp
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_period.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

format
  toolchain/diagnostics/diagnostic_emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Also update language server.
  language_server/language_server.cpp
Due: fix-cc-deps, clang-format

Rename `Token` to `TokenIndex`.
  toolchain/lex/lex.cpp
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename `Line` -> `LineIndex`.
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/context.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

clang-format
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/context.h
  toolchain/parse/handle_var.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Tidy up lint issues.
  toolchain/base/value_store.h
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/pending_block.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/mocks.h
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle_aggregates.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/node_kind.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

inline
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename Lex::{Token,Line} -> Lex::{Token,Line}Index. (#3433)
  toolchain/lex/lex.cpp
  toolchain/lex/token_kind.def
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lex/tokenized_buffer_fuzzer.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_paren_condition.cpp
  toolchain/parse/handle_statement.cpp
  toolchain/parse/handle_var.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Tidy up lint issues. (#3429)
  toolchain/base/value_store.h
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_array.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/handle_paren.cpp
  toolchain/check/pending_block.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/mocks.h
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle_aggregates.cpp
  toolchain/parse/context.cpp
  toolchain/parse/context.h
  toolchain/parse/node_kind.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics
