Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Allow defining .h files in tests without trying to compile them as Carbon files (#4667)
  testing/file_test/file_test_base.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/test_support.carbon
Due: fix-cc-deps, clang-format

Lower global variables as global definitions, not global declarations. (#4674)
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/global/class_obj.carbon
  toolchain/lower/testdata/global/class_with_fun.carbon
  toolchain/lower/testdata/global/decl.carbon
  toolchain/lower/testdata/global/simple_init.carbon
  toolchain/lower/testdata/global/simple_with_fun.carbon
  toolchain/lower/testdata/global/use.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update the vscode extension for publishing. (#4660)
  utils/vscode/images/icon.png
  utils/vscode/package.json
  website/prebuild.py
Due: none

Make more use of llvm STLExtras (#4668)
  common/array_stack.h
  common/command_line.cpp
  common/hashing_test.cpp
  common/raw_hashtable_benchmark_helpers.cpp
  testing/base/source_gen.cpp
  testing/file_test/autoupdate.h
  toolchain/check/deduce.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/scope_stack.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/numeric_literal.cpp
  toolchain/lex/tokenized_buffer.cpp
  toolchain/parse/extract.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/testing/coverage_helper.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Mark some //common, //toolchain/driver, //‎toolchain/install tests as small per 'Test execution time' warning (#4646)
  common/BUILD
  toolchain/driver/BUILD
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Rename various `TryToCompleteType` functions to better describe what they do. (#4658)
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Refactor single-unit checking out of check.cpp (#4649)
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Use a filename without a line number as a cue for autoupdate. (#4677)
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate_testdata.sh
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base_test.cpp
  testing/file_test/testdata/no_line_number.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
Due: fix-cc-deps, clang-format

Update name poisoning test following merge with trunk
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
Due: none

Fix mem usage tracking of semir (#4684)
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a --remote switch to new_proposal.py (#4681)
  proposals/scripts/new_proposal.py
Due: none

Avoid printing enums as characters (#4676)
  common/check_internal.h
Due: fix-cc-deps, clang-format, check-header-guards

Fix lowering of array indexing with an int literal. (#4686)
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/array/array_in_place.carbon
  toolchain/lower/testdata/array/assign_return_value.carbon
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/array/field.carbon
  toolchain/lower/testdata/array/function_param.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clean up missing library in test (#4678)
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
Due: none

Update toolchain/parse/context.h
  toolchain/parse/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

dcheck
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Document StepStack
  toolchain/sem_ir/stringify_type.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove `CHECK` from `GetCurrentReturnSlot`
  toolchain/check/return.cpp
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
Due: none

Respond to reviewer comments.
  toolchain/check/return.cpp
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor GetAs
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Autoupdate after merge.
  toolchain/lower/testdata/array/field.carbon
Due: none

Insert allocas in the right order.
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/array/base.carbon
  toolchain/lower/testdata/basics/numeric_literals.carbon
  toolchain/lower/testdata/builtins/no_prelude/types.carbon
  toolchain/lower/testdata/class/basic.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/lower/testdata/index/array_element_access.carbon
  toolchain/lower/testdata/let/tuple.carbon
  toolchain/lower/testdata/operators/assignment.carbon
  toolchain/lower/testdata/pointer/pointer_to_pointer.carbon
  toolchain/lower/testdata/struct/empty.carbon
  toolchain/lower/testdata/struct/member_access.carbon
  toolchain/lower/testdata/struct/one_entry.carbon
  toolchain/lower/testdata/struct/two_entries.carbon
  toolchain/lower/testdata/tuple/access/element_access.carbon
  toolchain/lower/testdata/tuple/empty.carbon
  toolchain/lower/testdata/tuple/one_entry.carbon
  toolchain/lower/testdata/tuple/two_entries.carbon
  toolchain/lower/testdata/tuple/value_formation.carbon
  toolchain/lower/testdata/var/nested.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Shuffle around yaml formatting in .clang-tidy
  .clang-tidy
Due: none

Comment change
  .clang-tidy
Due: none

Sort lower_case
  .clang-tidy
Due: none

Update clang-tidy config to pass with llvm-20
  .clang-tidy
  common/hashing.h
  common/indirect_value_test.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
  scripts/run_clang_tidy.py
  testing/base/source_gen.h
  testing/file_test/autoupdate.cpp
  testing/file_test/file_test_base.cpp
  toolchain/check/param_and_arg_refs_stack.h
  toolchain/check/pattern_match.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/language_server/server.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/extract.cpp
  toolchain/parse/handle_import_and_package.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/name_scope.h
  toolchain/sem_ir/singleton_insts.h
  toolchain/testing/coverage_helper.h
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

todo
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/extract.cpp
  toolchain/testing/coverage_helper.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

final
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/line.h
Due: fix-cc-deps, clang-format, check-header-guards

Declare new builtins in Core, in a new library that's not part of the prelude. Move the existing `Print` there too.
  core/BUILD
  core/io.carbon
  core/prelude.carbon
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day1_part2.carbon
  examples/sieve.carbon
  toolchain/check/testdata/builtins/print/char.carbon
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/builtins/read/int.carbon
  toolchain/lower/testdata/builtins/print_read.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Refactor examples and add a README.
  examples/advent2024/BUILD
  examples/advent2024/README.md
  examples/advent2024/day1_common.carbon
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day1_part2.carbon
  examples/advent2024/io_utils.carbon
  examples/advent2024/sort.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Add solutions for advent of code 2024 day 1.
  examples/advent2024/BUILD
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day1_part2.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/builtins/print/char.carbon
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/builtins/read/int.carbon
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/builtins/print.carbon
  toolchain/lower/testdata/builtins/print_read.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Alphabetize
  toolchain/check/eval.cpp
  toolchain/lower/handle_call.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/builtin_function_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Some FIXMEs
  toolchain/check/eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Import support for `Call` and `BoundMethod`.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

