Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==16.0.0

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==16.0.0

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

treesitter: split expression into simple_expression
  utils/treesitter/grammar.js
Due: none

Fix crash if no input file is given to `carbon dump objcode`
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/error_codegen_objcode_no_input_file.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Disallow namespaces as class members (#2996)
  explorer/syntax/parser.ypp
  explorer/testdata/namespace/fail_member_namespace.carbon
Due: explorer-format-grammar

Re added the fail_missing_return_empty_tuple test
  toolchain/semantics/testdata/return/fail_missing_return_empty_tuple.carbon
Due: none

Add basic VS Code extension using textmate syntax (#2969)
  utils/vscode/.gitignore
  utils/vscode/.vscode/launch.json
  utils/vscode/Carbon.plist
  utils/vscode/LICENSE
  utils/vscode/README.md
  utils/vscode/language-configuration.json
  utils/vscode/package-lock.json
  utils/vscode/package.json
  utils/vscode/src/extension.js
Due: none

wip
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
Due: fix-cc-deps, clang-format, check-header-guards

Fix crash if no input file is given to `carbon dump objcode` (#2997)
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/error_codegen_objcode_no_input_file.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

treesitter: implement where clause
  utils/treesitter/grammar.js
  utils/treesitter/test_runner.cpp
Due: fix-cc-deps, clang-format

Can handle nested tuple
  toolchain/semantics/semantics_context.h
  toolchain/semantics/testdata/tuples/nested_tuple.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Track the file kind on SourceLocation rather than computing it from the file name.
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/element_test.cpp
  explorer/ast/expression_test.cpp
  explorer/ast/pattern_test.cpp
  explorer/common/BUILD
  explorer/common/error_builders_test.cpp
  explorer/common/set_file_context_raii_test.cpp
  explorer/common/source_location.h
  explorer/common/trace_stream.h
  explorer/file_test.cpp
  explorer/fuzzing/ast_to_proto_main.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/main.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/syntax/BUILD
  explorer/syntax/parse.cpp
  explorer/syntax/parse.h
  explorer/syntax/parse_and_lex_context.h
  explorer/syntax/parse_test.cpp
  explorer/syntax/prelude.cpp
  explorer/syntax/unimplemented_example_test.cpp
  explorer/testdata/limits/fail_allocate.carbon
  explorer/testdata/limits/fail_function_recursion.carbon
  explorer/testdata/limits/fail_loop.carbon
  explorer/testdata/limits/fail_type_check_loop.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Fixup after merge.
  explorer/common/set_file_context_raii_test.cpp
  explorer/interpreter/action_stack.cpp
  explorer/parse_and_execute/parse_and_execute_test.cpp
  explorer/testdata/limits/fail_allocate.carbon
Due: fix-cc-deps, clang-format

Update explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Checkpoint progress.
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/fail_extend_after_var.carbon
  explorer/testdata/class/fail_extend_member_class.carbon
Due: fix-cc-deps, clang-format

Addressed Richard's comment on the PR
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/testdata/tuples/fail_assign_empty.carbon
  toolchain/semantics/testdata/tuples/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/tuples/fail_element_type_mismatch.carbon
  toolchain/semantics/testdata/tuples/fail_too_few_element.carbon
  toolchain/semantics/testdata/tuples/fail_type_assign.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Try alternate control flow
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Nicer skip first
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

In order to avoid copy, sending rvalue reference
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_paren.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Added test for builtin empty tuple type conversion with a todo.
  toolchain/semantics/testdata/tuples/builtin_implicit_empty_tuple.carbon
Due: none

Apply suggestions from code review
  explorer/common/source_location.h
  explorer/interpreter/interpreter.cpp
  explorer/main.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Addressed PR commits
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/testdata/return/fail_missing_return_empty_tuple.carbon
  toolchain/semantics/testdata/tuples/fail_element_type_mismatch.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address review comments and clang-format.
  explorer/common/source_location.h
  explorer/interpreter/interpreter.cpp
  explorer/parse_and_execute/parse_and_execute_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Added carbon check for stub reference pointing to another stub reference.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Track the file kind on SourceLocation rather than computing it from the file name. (#2999)
  explorer/ast/ast_test_matchers_test.cpp
  explorer/ast/element_test.cpp
  explorer/ast/expression_test.cpp
  explorer/ast/pattern_test.cpp
  explorer/common/BUILD
  explorer/common/error_builders_test.cpp
  explorer/common/set_file_context_raii_test.cpp
  explorer/common/source_location.h
  explorer/common/trace_stream.h
  explorer/file_test.cpp
  explorer/fuzzing/ast_to_proto_main.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/main.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/parse_and_execute/parse_and_execute_test.cpp
  explorer/syntax/BUILD
  explorer/syntax/parse.cpp
  explorer/syntax/parse.h
  explorer/syntax/parse_and_lex_context.h
  explorer/syntax/parse_test.cpp
  explorer/syntax/prelude.cpp
  explorer/syntax/unimplemented_example_test.cpp
  explorer/testdata/limits/fail_allocate.carbon
  explorer/testdata/limits/fail_function_recursion.carbon
  explorer/testdata/limits/fail_loop.carbon
  explorer/testdata/limits/fail_type_check_loop.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Update toolchain/semantics/testdata/return/tuple.carbon
  toolchain/semantics/testdata/return/tuple.carbon
Due: none

Update toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Addressing PR comments
  toolchain/parser/parse_node_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_name.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/testdata/return/tuple.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fixed pre commit failure
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Avoid copies when binding result of binding expression to value
  explorer/interpreter/interpreter.cpp
  explorer/testdata/let/value_expr_binding_from_initializing_expr.carbon
  explorer/testdata/let/value_expr_binding_from_temp_value.carbon
  explorer/testdata/let/value_expr_from_value.carbon
Due: fix-cc-deps, clang-format

Update the `full_trace` test
  explorer/trace_testdata/full_trace.carbon
Due: none

Add test case for reference expressions
  explorer/testdata/var/local/reference_expr_binding_from_initializing_expr.carbon
Due: none

test fix
  explorer/testdata/var/local/reference_expr_binding_from_initializing_expr.carbon
Due: none

suggested changes
  explorer/ast/static_scope.h
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format, check-header-guards

trace memory alloc, write, read and dealloc separately
  explorer/interpreter/heap.cpp
Due: fix-cc-deps, clang-format

changes in full_trace test to include memory trace
  explorer/trace_testdata/full_trace.carbon
Due: none

Update toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Moved carbon check for nested stub reference inside if block
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reduce special-casing of parameters in ParamOrArgSave.
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Consolidate ParseTree onto PrettyStackTraceFunction
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

