Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[MLIR][Presburger] Add applyDomain/Range to IntegerRelation
  mlir/include/mlir/Analysis/Presburger/IntegerRelation.h
  mlir/lib/Analysis/Presburger/IntegerRelation.cpp
  mlir/unittests/Analysis/Presburger/IntegerRelationTest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[clang] Remove `rm` script which is no longer necessary
  clang/test/Sema/test-wunaligned-access.c
Due: none

[clang-repl] Recover the lookup tables of the primary context.
  clang/lib/Interpreter/IncrementalParser.cpp
  clang/test/Interpreter/execute.cpp
Due: fix-cc-deps, clang-format

[libc++] Adds missing includes.
  libcxx/include/__type_traits/is_unsigned.h
Due: fix-cc-deps, clang-format, check-header-guards

[mlir][NFC] Trivial : Fix typo
  mlir/test/lib/Transforms/TestInlining.cpp
Due: fix-cc-deps, clang-format

[libc++] Use __enable_if_t and is_integral in cstddef
  libcxx/include/__type_traits/enable_if.h
  libcxx/include/cstddef
Due: fix-cc-deps, clang-format, check-header-guards

[libclang] Fall back to getMainExecutable when dladdr fails
  clang/tools/libclang/CIndexer.cpp
Due: fix-cc-deps, clang-format

[libclang] Fix error message capitalization
  clang/tools/libclang/CIndexer.cpp
Due: fix-cc-deps, clang-format

[libc++] Adds __format_string as nasty macro.
  libcxx/test/libcxx/nasty_macros.compile.pass.cpp
Due: fix-cc-deps, clang-format

[libc++][doc] Clarify wording on the status page.
  libcxx/docs/Status/Cxx20.rst
Due: none

[InstCombine] Add baseline tests for shift+and transforms; NFC
  llvm/test/Transforms/InstCombine/and.ll
Due: none

[X86] Adjust vector shift costs to match SoG (Issue #54889)
  llvm/lib/Target/X86/X86ScheduleZnver1.td
  llvm/lib/Target/X86/X86ScheduleZnver2.td
  llvm/test/tools/llvm-mca/X86/Znver1/resources-avx1.s
  llvm/test/tools/llvm-mca/X86/Znver1/resources-avx2.s
  llvm/test/tools/llvm-mca/X86/Znver1/resources-mmx.s
  llvm/test/tools/llvm-mca/X86/Znver1/resources-sse2.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-avx1.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-avx2.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-mmx.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-sse2.s
  llvm/test/tools/llvm-mca/X86/Znver3/reg-move-elimination-mmx.s
  llvm/test/tools/llvm-mca/X86/Znver3/reg-move-elimination-x87.s
Due: none

[InstCombine] Add baseline tests for shift+and+icmp transforms; NFC
  llvm/test/Transforms/InstCombine/icmp-and-shift.ll
Due: none

[libc++][test] Remove Clang <= 3.7 workaround in is_default_constructible test
  libcxx/test/std/utilities/meta/meta.unary/meta.unary.prop/is_default_constructible.pass.cpp
Due: fix-cc-deps, clang-format

[AArch64] Reuse larger DUP if available
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/aarch64-matrix-umull-smull.ll
Due: fix-cc-deps, clang-format

Recommit "[LICM] Only create load in ph when promoting load or store doesn't exec."
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/test/Transforms/LICM/scalar-promote.ll
Due: fix-cc-deps, clang-format

[RISCV] Add test cases showing missed opportunity to use shXadd.uw. NFC
  llvm/test/CodeGen/RISCV/rv64zba.ll
Due: none

[RISCV] isel (add (and X, 0x1FFFFFFFE), Y) as (SH1ADD (SRLI X, 1), Y)
  llvm/lib/Target/RISCV/RISCVInstrInfoZb.td
  llvm/test/CodeGen/RISCV/rv64zba.ll
Due: none

[NFC][VP] Fix llvm.vp.merge intrinsic Expansion in LangRef
  llvm/docs/LangRef.rst
Due: none

Fix `performance-unnecessary-value-param` for template specialization
  clang-tools-extra/clang-tidy/performance/UnnecessaryValueParamCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/performance-unnecessary-value-param-delayed.cpp
  clang-tools-extra/test/clang-tidy/checkers/performance-unnecessary-value-param.cpp
Due: fix-cc-deps, clang-format

[InstCombine] bitcast (extractelement <1 x elt>, dest) -> bitcast(<1 x elt>, dest)
  llvm/lib/Transforms/InstCombine/InstCombineCasts.cpp
  llvm/test/Transforms/InstCombine/bitcast-inseltpoison.ll
  llvm/test/Transforms/InstCombine/bitcast.ll
Due: fix-cc-deps, clang-format

[Driver] Enable to use C++20 standalne by -fcxx-modules
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/modules.cpp
  clang/test/Modules/cxx-modules.cppm
Due: fix-cc-deps, clang-format

Revert "[Driver] Enable to use C++20 standalne by -fcxx-modules"
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/modules.cpp
  clang/test/Modules/cxx-modules.cppm
Due: fix-cc-deps, clang-format

[LegalizeTypes][VP] Add integer promotion support for vp.fptosi/vp.fptoui
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp2i.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fptosi-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fptoui-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfptoi-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vfptosi-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfptoui-vp.ll
Due: fix-cc-deps, clang-format

[RISCV] Support VP_REDUCE_MUL mask operation
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-reduction-mask-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vreductions-mask-vp.ll
Due: fix-cc-deps, clang-format

[clang-apply-replacements] Added an option to ignore insert conflict.
  clang-tools-extra/clang-apply-replacements/include/clang-apply-replacements/Tooling/ApplyReplacements.h
  clang-tools-extra/clang-apply-replacements/lib/Tooling/ApplyReplacements.cpp
  clang-tools-extra/clang-apply-replacements/tool/ClangApplyReplacementsMain.cpp
  clang-tools-extra/clang-tidy/tool/run-clang-tidy.py
  clang-tools-extra/test/clang-apply-replacements/Inputs/ignore-conflict/file1.yaml
  clang-tools-extra/test/clang-apply-replacements/Inputs/ignore-conflict/ignore-conflict.cpp
  clang-tools-extra/test/clang-apply-replacements/ignore-conflict.cpp
  clang/include/clang/Tooling/Refactoring/AtomicChange.h
Due: fix-cc-deps, clang-format, check-header-guards

[JumpThreading][NFCI] Reuse existing DT instead of recomputation
  llvm/lib/Transforms/Scalar/JumpThreading.cpp
Due: fix-cc-deps, clang-format

[Driver] Enable to use C++20 standalne by -fcxx-modules
  clang-tools-extra/test/pp-trace/pp-trace-modules.cpp
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/modules.cpp
  clang/test/Modules/cxx-modules.cppm
Due: fix-cc-deps, clang-format

[TableGen] Remove code beads
  llvm/lib/Target/M68k/CMakeLists.txt
  llvm/lib/Target/M68k/M68kInstrInfo.cpp
  llvm/lib/Target/M68k/MCTargetDesc/M68kMCCodeEmitter.cpp
  llvm/test/CodeGen/M68k/is-pcrel-register-operand-legal.mir
  llvm/utils/TableGen/CMakeLists.txt
  llvm/utils/TableGen/CodeBeadsGen.cpp
  llvm/utils/TableGen/TableGen.cpp
  llvm/utils/TableGen/TableGenBackends.h
Due: fix-cc-deps, clang-format, check-header-guards

[gn build] Port 751c7be5b20f
  llvm/utils/gn/secondary/llvm/utils/TableGen/BUILD.gn
Due: none

[NFC] Use %clang instead of %clang++ in tests
  clang/test/Driver/modules.cpp
Due: fix-cc-deps, clang-format

[pseudo] Remove an unnecessary nullable check diagnostic in the bnf grammar, NFC.
  clang-tools-extra/pseudo/lib/grammar/GrammarBNF.cpp
Due: fix-cc-deps, clang-format

[MLIR][GPU] Expose GpuParallelLoopMapping as non-test pass.
  mlir/include/mlir/Dialect/GPU/ParallelLoopMapper.h
  mlir/include/mlir/Dialect/GPU/Passes.h
  mlir/include/mlir/Dialect/GPU/Passes.td
  mlir/lib/Dialect/GPU/Transforms/ParallelLoopMapper.cpp
  mlir/test/Dialect/GPU/mapping.mlir
  mlir/test/lib/Dialect/GPU/CMakeLists.txt
  mlir/test/lib/Dialect/GPU/TestGpuParallelLoopMapping.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir] Lower complex.sqrt and complex.atan2 to Arithmetic dialect.
  mlir/lib/Conversion/ComplexToStandard/ComplexToStandard.cpp
  mlir/test/Conversion/ComplexToStandard/convert-to-standard.mlir
Due: fix-cc-deps, clang-format

[GVN] Enable enable-split-backedge-in-load-pre option by default
  llvm/lib/Transforms/Scalar/GVN.cpp
  llvm/test/Transforms/GVN/PRE/load-pre-metadata-accsess-group.ll
  llvm/test/Transforms/GVN/PRE/pre-loop-load-through-select.ll
  llvm/test/Transforms/GVN/PRE/rle.ll
  llvm/test/Transforms/GVN/PRE/volatile.ll
  llvm/test/Transforms/GVN/condprop-memdep-invalidation.ll
  llvm/test/Transforms/PhaseOrdering/X86/vector-reduction-known-first-value.ll
Due: fix-cc-deps, clang-format

[X86] Adjust vector extend to ymm to match SoG (Issue #54889)
  llvm/lib/Target/X86/X86ScheduleZnver1.td
  llvm/test/tools/llvm-mca/X86/Znver1/resources-avx2.s
Due: none

[M68k] Remove unused variable to fix MSVC warning. NFC.
  llvm/lib/Target/M68k/MCTargetDesc/M68kMCCodeEmitter.cpp
Due: fix-cc-deps, clang-format

[MLIR][NVVM] NFC: add labels to test functions.
  mlir/test/Dialect/LLVMIR/nvvm.mlir
  mlir/test/Target/LLVMIR/nvvmir.mlir
Due: none

Revert "[mlir] Lower complex.sqrt and complex.atan2 to Arithmetic dialect."
  mlir/lib/Conversion/ComplexToStandard/ComplexToStandard.cpp
  mlir/test/Conversion/ComplexToStandard/convert-to-standard.mlir
Due: fix-cc-deps, clang-format

[X86] Adjust vector fp test costs to match int test costs
  llvm/lib/Target/X86/X86ScheduleZnver1.td
  llvm/lib/Target/X86/X86ScheduleZnver2.td
  llvm/test/tools/llvm-mca/X86/Znver1/resources-avx1.s
  llvm/test/tools/llvm-mca/X86/Znver2/resources-avx1.s
Due: none
