Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Change field_initializers_ value to InstId
  toolchain/check/convert.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/class/field/field_initializer.carbon
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add failing field_initializer_generic test
  toolchain/check/testdata/class/field/field_initializer.carbon
Due: none

Call GetConstantValueInSpecific for generics
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/field/field_initializer.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix crash if initializing Clang fails.
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/handle_inline_decl.cpp
  toolchain/check/testdata/interop/cpp/basics/import/bad_args.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Factor out scope as a variable.
  toolchain/check/handle_inline_decl.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/facet/early_impls.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Drop AddDefaultsToInitializer
  toolchain/check/convert.cpp
  toolchain/check/testdata/choice/basic.carbon
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/field/field_initializer.carbon
  toolchain/check/testdata/impl/use_assoc_entity.carbon
  toolchain/check/testdata/struct/fail_assign_empty.carbon
  toolchain/check/testdata/struct/fail_assign_nested.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/check/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_too_few_values.carbon
  toolchain/check/testdata/struct/import.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix diagnostic tests
  toolchain/check/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/diagnostics/kind.def
Due: none

Fix GetTokenText for raw identifiers.
  toolchain/check/testdata/class/syntactic_merge.carbon
  toolchain/check/testdata/function/definition/syntactic_merge.carbon
  toolchain/check/testdata/interface/syntactic_merge.carbon
  toolchain/check/testdata/interop/cpp/class/import/template.carbon
  toolchain/lex/testdata/fail_bad_raw_identifier.carbon
  toolchain/lex/testdata/raw_identifier.carbon
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/testdata/packages/library/fail_invalid_name.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make proposal filenames use 6 digits and include the title
  .pre-commit-config.yaml
  docs/project/evolution.md
  proposals/README.md
  proposals/scripts/BUILD
  proposals/scripts/check_proposal_names.py
  proposals/scripts/check_proposal_names_test.py
  proposals/scripts/new_proposal.py
  proposals/scripts/utils.py
  proposals/scripts/utils_test.py
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Avoid looking at the identifier table when determining if an identifier is raw.
  toolchain/lex/character_set.h
  toolchain/lex/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply feedback
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/testdata/interop/cpp/range_for.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve diagnostics and error recovery for invalid identifiers.
  toolchain/check/testdata/class/self/fail_self_type_member.carbon
  toolchain/check/testdata/struct/fail_keyword_name.carbon
  toolchain/lex/token_info.h
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/context.h
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/handle_pattern.cpp
  toolchain/parse/handle_period.cpp
  toolchain/parse/testdata/basics/fail_invalid_designators.carbon
  toolchain/parse/testdata/member_access/fail_keyword.carbon
  toolchain/parse/testdata/package_expr/fail_in_name.carbon
  toolchain/parse/testdata/var/fail_bad_name.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Format
  docs/design/classes.md
  docs/design/expressions/comparison_operators.md
  docs/design/expressions/if.md
  docs/design/expressions/member_access.md
  docs/design/generics/details.md
  docs/design/pattern_matching.md
  docs/design/sum_types.md
  docs/design/values.md
  docs/project/faq.md
  docs/project/principles/information_accumulation.md
  docs/project/principles/one_way.md
  proposals/p000157-design-direction-for-sum-types.md
  proposals/p000162-basic-syntax.md
  proposals/p000339-var-statement.md
  proposals/p000555-operator-precedence.md
  proposals/p000623-require-braces.md
  proposals/p000818-constraints-for-generics-generics-details-3.md
  proposals/p000826-function-return-type-inference.md
  proposals/p000851-variable-type-inference.md
  proposals/p000866-allow-ties-in-floating-literals.md
  proposals/p000920-generic-blanket-impls-details-5.md
  proposals/p001083-arithmetic-expressions.md
  proposals/p001983-weaken-digit-separator-placement-rules.md
  proposals/p002187-update-sum-types-design.md
  proposals/p002188-pattern-matching-syntax-and-semantics.md
  proposals/p002347-what-can-be-done-with-an-incomplete-interface.md
  proposals/p002360-types-are-values-of-type-type.md
  proposals/p003162-reduce-ambiguity-in-terminology.md
  proposals/p003564-roadmap-for-2024-and-a-retrospective-for-2023.md
  proposals/p003720-member-binding-operators.md
  proposals/p003763-matching-redeclarations.md
  proposals/p003927-more-consistent-package-syntax.md
  proposals/p005337-interface-extension-and-final-impl-update.md
  proposals/p005366-the-name-of-an-impl-in-class-scope.md
  proposals/p005448-carbon-c-interop-primitive-types.md
  proposals/p005606-keep-design-documents-current.md
  proposals/p006668-c-interop-type-mapping-for-integer-and-floating-point-literals.md
  proposals/p006902-identification-of-a-named-constraint-during-definition.md
  proposals/p006910-support-octal-literals.md
  proposals/p007016-updating-self-syntax-and-adding-static-member-variables.md
Due: none

Revert "Avoid looking at the identifier table when determining if an identifier"
  toolchain/lex/character_set.h
  toolchain/lex/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix website list of proposals
  website/prebuild.py
Due: none

Only provide an error for one invalid src field at a time
  toolchain/check/convert.cpp
  toolchain/check/testdata/struct/import.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add diagnostics for unknown fields
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/fail_init.carbon
  toolchain/check/testdata/class/field/field_initializer.carbon
  toolchain/check/testdata/impl/use_assoc_entity.carbon
  toolchain/check/testdata/struct/fail_assign_nested.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/check/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simplify call to GetConstantValueInSpecific
  toolchain/check/convert.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix CI
  toolchain/check/testdata/interop/cpp/range_for.carbon
Due: none

alias ref
  proposals/p5389.md
Due: none

Fix CI (after syncing with trunk)
  toolchain/check/testdata/interop/cpp/range_for.carbon
Due: none

Fix GetRange to produce lsp diagnostics
  toolchain/language_server/context.cpp
  toolchain/language_server/testdata/text_document/diagnostics.carbon
  toolchain/language_server/testdata/text_document/open_with_cpp_nonexistent.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update method syntax to match proposal #7016
  proposals/p5389.md
Due: none

Address review comments.
  toolchain/lex/tokenized_buffer.cpp
  toolchain/lex/tokenized_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Convert `TokenInfo::ResetAs...` functions to return new `TokenInfo`s.
  toolchain/lex/lex.cpp
  toolchain/lex/token_info.h
  toolchain/lex/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address some feedback; add pointer #7190
  proposals/p5389.md
Due: none

Apply suggestion from @geoffromer
  proposals/p5389.md
Due: none

Ignore `.Self` dependence on RHS of `where`.
  toolchain/check/eval.cpp
  toolchain/check/testdata/deduce/binding_pattern.carbon
  toolchain/check/testdata/facet/period_self.carbon
  toolchain/check/testdata/facet/self_in_interface_param.carbon
  toolchain/check/testdata/facet/validate_impl_constraints.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/lookup/access.carbon
  toolchain/check/testdata/interop/cpp/range_for.carbon
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/lower/testdata/interface/where.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add a link for "slug" term
  docs/project/evolution.md
Due: none

fix remaining 4-digit names
  docs/design/README.md
  docs/design/classes.md
  docs/design/expressions/member_access.md
  docs/design/functions.md
  docs/design/generics/details.md
  docs/design/values.md
  docs/project/design_style_guide.md
  docs/project/evolution.md
  docs/project/versioning.md
  proposals/p001885-for-statement-and-user-types.md
  proposals/p002006-values-variables-pointers-and-references.md
  proposals/p004682-the-core-array-type-for-direct-storage-immutably-sized-buffers.md
  proposals/p005270-move-explorer-out-of-toolchain-git-repository.md
  proposals/p005606-keep-design-documents-current.md
  proposals/p007016-updating-self-syntax-and-adding-static-member-variables.md
  toolchain/check/cpp/import.cpp
  toolchain/check/merge.cpp
  toolchain/check/testdata/impl/redeclaration.carbon
  utils/tree_sitter/grammar.js
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix a comment in the script.
  proposals/scripts/new_proposal.py
Due: none

Fix new-proposal script to correctly get GitHub username
  proposals/scripts/new_proposal.py
Due: none

Add a skill file for creating proposals
  .agents/skills/proposals/SKILL.md
Due: none

Replace `:!` and `:?` with keywords and contextual defaults
  docs/design/README.md
  docs/design/expressions/member_access.md
  docs/design/generics/terminology.md
  docs/design/pattern_matching.md
  docs/design/values.md
  proposals/p007254-replace-and-with-keywords-and-contextual-defaults.md
  toolchain/check/convert.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Support converted `ref` arguments.
  toolchain/check/convert.cpp
  toolchain/check/testdata/builtins/int/and_assign.carbon
  toolchain/check/testdata/builtins/int/left_shift_assign.carbon
  toolchain/check/testdata/builtins/int/or_assign.carbon
  toolchain/check/testdata/builtins/int/right_shift_assign.carbon
  toolchain/check/testdata/builtins/int/sdiv_assign.carbon
  toolchain/check/testdata/builtins/int/smod_assign.carbon
  toolchain/check/testdata/builtins/int/smul_assign.carbon
  toolchain/check/testdata/builtins/int/ssub_assign.carbon
  toolchain/check/testdata/builtins/int/uadd_assign.carbon
  toolchain/check/testdata/builtins/int/udiv_assign.carbon
  toolchain/check/testdata/builtins/int/umod_assign.carbon
  toolchain/check/testdata/builtins/int/umul_assign.carbon
  toolchain/check/testdata/builtins/int/usub_assign.carbon
  toolchain/check/testdata/builtins/int/xor_assign.carbon
  toolchain/check/testdata/function/call/form.carbon
  toolchain/check/testdata/function/call/ref.carbon
  toolchain/check/testdata/interop/cpp/function/import/reference.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Additional design fixes.
  docs/design/README.md
  docs/design/pattern_matching.md
  docs/design/variadics.md
  docs/project/faq.md
Due: none

Still more design updates
  docs/design/README.md
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

