Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


autoupdate: mention in the output tests that would still fail after the update (#7877)
  testing/file_test/file_test_base.cpp
  testing/file_test/test_file.cpp
  toolchain/driver/config_subcommand.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/testdata/fail_config.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/generic/template/convert.carbon
Due: none

Update tree-sitter grammar to match toolchain, plus a couple of features the toolchain doesn't yet implement: `like`, `each`, `expand`, `friend`.
  utils/tree_sitter/BUILD
  utils/tree_sitter/grammar.js
  utils/tree_sitter/queries/highlights.scm
  utils/tree_sitter/src/scanner.c
  utils/tree_sitter/test_runner.cpp
Due: fix-cc-deps, buildifier, clang-format, forbid-llvm-googletest

Special case formatting of `None` insts in a specific (#7882)
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/class/destroy_calls.carbon
  toolchain/check/testdata/eval/call.carbon
  toolchain/check/testdata/generic/template/convert.carbon
  toolchain/check/testdata/generic/template/dependence.carbon
  toolchain/check/testdata/generic/template/member_access.carbon
  toolchain/check/testdata/generic/template/operator.carbon
  toolchain/check/testdata/interop/cpp/class/import/template.carbon
  toolchain/check/testdata/interop/cpp/template/generic_call.carbon
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update member access design docs for proposals #3720 and #7697 (#7823)
  docs/design/expressions/member_access.md
  docs/design/expressions/type_operators.md
  docs/design/generics/details.md
  proposals/p003720-member-binding-operators.md
Due: none

Respond to reviewer comments
  toolchain/check/testdata/interop/cpp/function/import/function_ptr.carbon
  toolchain/check/testdata/interop/cpp/function/import/method_ptr.carbon
Due: none

change to overload set
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Replace TODO with desired logic
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove TODO
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Keep benchmark values passed to `DoNotOptimize` in registers
  common/BUILD
  common/filesystem_benchmark.cpp
  common/hashing_benchmark.cpp
  common/map_benchmark.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
  common/set_benchmark.cpp
  common/terminal/BUILD
  common/terminal/terminal_benchmark.cpp
  testing/base/BUILD
  testing/base/benchmark_helpers.h
  toolchain/benchmarking/BUILD
  toolchain/benchmarking/compile_benchmark.cpp
  toolchain/benchmarking/prelude_benchmark.cpp
  toolchain/lex/BUILD
  toolchain/lex/mismatched_brackets_benchmark.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Only allocate return storage when the callee has a return parameter
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/testdata/function/call/form.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Keep benchmark values passed to `DoNotOptimize` in registers (#7870)
  common/BUILD
  common/filesystem_benchmark.cpp
  common/hashing_benchmark.cpp
  common/map_benchmark.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
  common/set_benchmark.cpp
  common/terminal/BUILD
  common/terminal/terminal_benchmark.cpp
  testing/base/BUILD
  testing/base/benchmark_helpers.h
  toolchain/benchmarking/BUILD
  toolchain/benchmarking/compile_benchmark.cpp
  toolchain/benchmarking/prelude_benchmark.cpp
  toolchain/lex/BUILD
  toolchain/lex/mismatched_brackets_benchmark.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Render the TextMate samples in a palette built for the grammar
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.svg
  utils/textmate/render_sample.py
Due: none

Improve the TextMate grammar scopes and precision
  utils/textmate/README.md
  utils/textmate/Samples/choices.svg
  utils/textmate/Samples/comments.carbon
  utils/textmate/Samples/comments.svg
  utils/textmate/Samples/customs.svg
  utils/textmate/Samples/functions_variables.carbon
  utils/textmate/Samples/functions_variables.svg
  utils/textmate/Samples/interop.svg
  utils/textmate/Samples/keywords.svg
  utils/textmate/Samples/literals.carbon
  utils/textmate/Samples/literals.svg
  utils/textmate/Samples/main.svg
  utils/textmate/Samples/types.carbon
  utils/textmate/Samples/types.svg
  utils/textmate/Syntaxes/carbon.tmLanguage
  utils/textmate/render_sample.py
  utils/textmate/tmlanguage.py
  utils/vscode/carbon.tmLanguage.json
Due: none

Address the first review of the terminal rendering
  .agents/skills/diagnostics/SKILL.md
  toolchain/check/check_fuzzer.cpp
  toolchain/check/cpp/diagnostic_consumer.cpp
  toolchain/check/cpp/location.cpp
  toolchain/check/cpp/location.h
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/testdata/interop/cpp/basics/fail_import_fix_its.carbon
  toolchain/check/testdata/interop/cpp/function/import/function.carbon
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/renderer.cpp
  toolchain/diagnostics/renderer_test.cpp
  toolchain/diagnostics/sorting_consumer.h
  toolchain/docs/diagnostics.md
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

add tests for different ordered fields
  toolchain/check/testdata/patterns/struct.carbon
Due: none

update comments and naming based on feedback
  toolchain/check/context.h
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

refactor struct patten_match to remove lambda and use conditional control flow instead
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

factor out common functionality for struct patterns/values/literals into struct.h/.cpp
  toolchain/check/BUILD
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/handle_struct.cpp
  toolchain/check/struct.cpp
  toolchain/check/struct.h
  toolchain/check/testdata/patterns/struct.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add support for C++ pointers to Carbon methods (#7881)
  integration_tests/BUILD
  integration_tests/callback_test.carbon
  toolchain/check/convert.cpp
  toolchain/check/cpp/export.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/testdata/interop/cpp/function/import/function_ptr.carbon
  toolchain/check/testdata/interop/cpp/function/import/method_ptr.carbon
  toolchain/lower/testdata/interop/cpp/function/import/method_ptr.carbon
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Check support for simple `friend` declarations.
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/class/access/access_modifiers.carbon
  toolchain/check/testdata/class/access/friend.carbon
  toolchain/diagnostics/kind.def
  toolchain/sem_ir/class.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Parse support for simple `friend` declarations
  toolchain/check/handle_class.cpp
  toolchain/check/node_stack.h
  toolchain/diagnostics/kind.def
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_friend.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/class/friend.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use `CXXRecordDecl` for consistency
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix format
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use `CXXRecordDecl` for consistency (#7891)
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Merge the best from Gemini's merge and Claude's merge.
  toolchain/check/convert.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/operators.cpp
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/custom_witness.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_array.cpp
  toolchain/check/literal.cpp
  toolchain/check/literal.h
  toolchain/check/testdata/interop/cpp/stdlib/initializer_list.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list_pointer_pointer.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list_pointer_size.carbon
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Delete imprecise comment.
  core/prelude/types/array.carbon
Due: none

Respond to reviewer comments
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/access/friend.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix formatting
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Move function logic out of handle_function.cpp into function.cpp.
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Initial support for `fn` expressions.
  toolchain/check/handle_lambda.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/scope_stack.h
  toolchain/check/testdata/lambda/lambda.carbon
  toolchain/diagnostics/kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/lambda/lambda.carbon
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/function/default_values.carbon
  toolchain/parse/testdata/lambda/lambda.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/mangler.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Don't create two parse nodes for each `=>` token.
  toolchain/check/handle_lambda.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/function/declaration/fail_todo_no_params.carbon
  toolchain/check/testdata/lambda/lambda.carbon
  toolchain/language_server/testdata/document_symbol/fn_definition.carbon
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/default_values.carbon
  toolchain/parse/testdata/function/terse.carbon
  toolchain/parse/testdata/lambda/lambda.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Diagnose combining a `->` return type with `=>`.
  toolchain/diagnostics/kind.def
  toolchain/parse/handle_function.cpp
  toolchain/parse/handle_lambda.cpp
  toolchain/parse/testdata/function/terse.carbon
  toolchain/parse/testdata/lambda/lambda.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Check support for `=>` function bodies.
  toolchain/check/call.cpp
  toolchain/check/function.cpp
  toolchain/check/function.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_lambda.cpp
  toolchain/check/node_id_traversal.cpp
  toolchain/check/testdata/function/declaration/fail_todo_no_params.carbon
  toolchain/check/testdata/function/definition/terse.carbon
  toolchain/check/testdata/lambda/lambda.carbon
  toolchain/check/thunk.cpp
  toolchain/language_server/testdata/document_symbol/fn_definition.carbon
  toolchain/lower/testdata/function/definition/terse.carbon
  toolchain/lower/testdata/lambda/lambda.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add unformed state to the design documents
  docs/design/README.md
  docs/design/assignment.md
  docs/design/classes.md
  docs/design/expressions/as_expressions.md
  docs/design/expressions/implicit_conversions.md
  docs/design/lexical_conventions/words.md
  docs/design/safety/README.md
  docs/design/values.md
Due: none

Rework unformed state proposal (#7640)
  proposals/p007640-reworking-unformed-state.md
Due: none

Fix clangd-tidy handling of tree_sitter test runner.
  scripts/BUILD
  scripts/create_compdb.py
  scripts/deps_for_clangd_tidy.cpp
  utils/tree_sitter/test_runner.cpp
Due: fix-cc-deps, buildifier, clang-format, forbid-llvm-googletest
