Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Model category conversion as a state machine.
  toolchain/check/convert.cpp
  toolchain/check/testdata/tuple/class_tuples.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add support for jj conflict markers
  testing/file_test/test_file.cpp
Due: fix-cc-deps, clang-format

support for UInt(Int) to Char
  core/prelude/types/char.carbon
Due: none

Parse `ref` as operator
  docs/design/expressions/README.md
  toolchain/check/handle_call_expr.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/testdata/operators/builtin/ref.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_brace_expr.cpp
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/precedence.cpp
  toolchain/parse/precedence.h
  toolchain/parse/state.def
  toolchain/parse/testdata/function/call.carbon
  toolchain/parse/testdata/operators/ref.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  testing/file_test/test_file.cpp
Due: fix-cc-deps, clang-format

Allocate `CallParamIndex`es eagerly
  toolchain/check/cpp/import.cpp
  toolchain/check/custom_witness.cpp
  toolchain/check/full_pattern_stack.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/pattern.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/function/declaration/fail_pattern_in_signature.carbon
  toolchain/check/thunk.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  docs/design/expressions/README.md
Due: none

Fix test failure
  toolchain/check/testdata/operators/builtin/ref.carbon
Due: none

Introduce RefTagExpr inst
  toolchain/check/call.cpp
  toolchain/check/call.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/cpp/call.cpp
  toolchain/check/cpp/call.h
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/handle_operator.cpp
  toolchain/check/operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/pattern_match.h
  toolchain/check/testdata/builtins/int/and_assign.carbon
  toolchain/check/testdata/builtins/int/left_shift_assign.carbon
  toolchain/check/testdata/builtins/int/or_assign.carbon
  toolchain/check/testdata/builtins/int/right_shift_assign.carbon
  toolchain/check/testdata/builtins/int/sdiv_assign.carbon
  toolchain/check/testdata/builtins/int/smod_assign.carbon
  toolchain/check/testdata/builtins/int/smul_assign.carbon
  toolchain/check/testdata/builtins/int/ssub_assign.carbon
  toolchain/check/testdata/builtins/int/uadd_assign.carbon
  toolchain/check/testdata/builtins/int/udiv_assign.carbon
  toolchain/check/testdata/builtins/int/umod_assign.carbon
  toolchain/check/testdata/builtins/int/umul_assign.carbon
  toolchain/check/testdata/builtins/int/usub_assign.carbon
  toolchain/check/testdata/builtins/int/xor_assign.carbon
  toolchain/check/testdata/function/call/ref.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/check/testdata/operators/builtin/ref.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_kind.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add support for installing compiler-rt provided headers
  MODULE.bazel
  bazel/llvm_project/0008_Add_filegroups_for_installed_compiler-rt_headers.patch
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, check-bazel-mod-deps, forbid-llvm-googletest

Fix support for `zlib` and `zstd` in LLVM
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: buildifier

improve vscode regex syntax highlighting
  utils/textmate/Syntaxes/carbon.tmLanguage.json
Due: none

Add support for forcing a rebuild of runtimes
  toolchain/driver/build_runtimes_subcommand.cpp
  toolchain/driver/build_runtimes_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/runtimes_cache.cpp
  toolchain/driver/runtimes_cache.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checking for qualified `let` and `var` declarations within namespaces
  toolchain/check/context.h
  toolchain/check/decl_name_stack.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/pattern.cpp
  toolchain/check/pattern.h
  toolchain/check/testdata/namespace/let_and_var.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Build archives with only the basename as the name of members.
  toolchain/driver/clang_runtimes.cpp
  toolchain/driver/clang_runtimes_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Pivot towards relative paths for installs and runtimes
  common/BUILD
  common/bazel_working_dir.h
  common/filesystem.cpp
  common/filesystem.h
  common/filesystem_benchmark.cpp
  common/filesystem_test.cpp
  testing/base/source_gen_main.cpp
  toolchain/base/install_paths.cpp
  toolchain/driver/clang_runtimes.cpp
  toolchain/driver/runtimes_cache.cpp
  toolchain/driver/runtimes_cache.h
  toolchain/driver/runtimes_cache_test.cpp
  toolchain/install/busybox_info_test.cpp
  toolchain/install/busybox_main.cpp
  toolchain/install/make_installation_digest.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Consolidate default Clang argument handling
  toolchain/base/BUILD
  toolchain/base/clang_invocation.cpp
  toolchain/base/clang_invocation.h
  toolchain/check/testdata/interop/cpp/cpp_namespace.carbon
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/link_subcommand.cpp
  toolchain/driver/testdata/compile/fail_clang_arg_extra_input.carbon
  toolchain/language_server/context.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Update test
  toolchain/check/testdata/namespace/let_and_var.carbon
Due: none

add comments to textmate json
  utils/textmate/Syntaxes/carbon.tmLanguage.json
Due: none

Bring back accidently deleted TODO
  toolchain/check/handle_binding_pattern.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Better error handling when using an undefined or non-namespace qualifier
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_name.cpp
  toolchain/check/testdata/namespace/let_and_var.carbon
  toolchain/parse/testdata/namespace/let_and_var.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

trailing public
  toolchain/check/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove unnecessary include.
  toolchain/driver/link_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve comment
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: buildifier

Introduce a Bazel runtimes building system
  .bazelrc
  toolchain/driver/BUILD
  toolchain/driver/bazel_build_clang_runtimes.cpp
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runtimes.cpp
  toolchain/driver/clang_runtimes_test.cpp
  toolchain/driver/prebuilt_runtimes.bzl
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Respond to reviewer comments
  toolchain/check/cpp/import.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add-simple-test-back
  toolchain/check/testdata/facet/require_satisified.carbon
Due: none

review
  toolchain/check/impl.cpp
  toolchain/check/require_impls.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

is-one-of
  toolchain/check/convert.cpp
  toolchain/check/generic.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/require_impls.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/sem_ir/builtin_function_kind.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Misc. improvements to raw/debug SemIR output
  toolchain/base/canonical_value_store.h
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/associated_constant.h
  toolchain/sem_ir/constant.h
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/name.h
  toolchain/sem_ir/specific_interface.h
  toolchain/sem_ir/type.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add flag to dump the raw SemIR in the event of a crash.
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/docs/adding_features.md
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/driver/bazel_build_clang_runtimes.cpp
  toolchain/driver/bazel_build_clang_runtimes.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Enable using our own C++ runtimes across the board
  bazel/carbon_rules/defs.bzl
  examples/interop/cpp/BUILD
  toolchain/base/clang_invocation.cpp
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/link_subcommand.cpp
  toolchain/install/BUILD
  toolchain/install/busybox_main.cpp
  toolchain/install/llvm_symlinks_test.py
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Address review feedback by updating comments.
  bazel/carbon_rules/defs.bzl
Due: buildifier

Handle jj diff-style conflict markers in autoupdate
  testing/file_test/BUILD
  testing/file_test/test_file.cpp
  testing/file_test/test_file_test.cpp
Due: fix-cc-deps, buildifier, clang-format, forbid-llvm-googletest

Respond to reviewer comments
  toolchain/check/convert.cpp
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/return/fail_call_in_type.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/check/testdata/return/fail_var_in_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Drop redundant CHECK
  toolchain/check/convert.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
