Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


p002006-values-variables-pointers-and-references.md: Add postfix `*` for dereference pros and cons
  proposals/p002006-values-variables-pointers-and-references.md
Due: none

Implement a terminal rendering library in common/terminal
  .codespell_ignore
  common/filesystem.cpp
  common/filesystem.h
  common/filesystem_test.cpp
  common/terminal/BUILD
  common/terminal/buffer.cpp
  common/terminal/buffer.h
  common/terminal/buffer_test.cpp
  common/terminal/capabilities.cpp
  common/terminal/capabilities.h
  common/terminal/capabilities_test.cpp
  common/terminal/color.cpp
  common/terminal/color.h
  common/terminal/color_test.cpp
  common/terminal/output_buffer_ref.h
  common/terminal/output_buffer_ref_test.cpp
  common/terminal/style.cpp
  common/terminal/style.h
  common/terminal/style_test.cpp
  common/terminal/terminal_benchmark.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

address review
  proposals/p007545-restrict-observe-declarations-to-names-that-are-part-of-the-enclosing-interface.md
Due: none

Fix bitwise OR markdown table pipe escapes
  docs/design/expressions/README.md
Due: none

File concatenation principle (#6031)
  docs/project/principles/README.md
  docs/project/principles/file_concatenation.md
Due: none

Add comments and clean up `MapBuiltinIntegerType`.
  toolchain/check/cpp/import.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Autoupdate.
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.darwin.carbon
Due: none

Remove "fail_todo_" from passing tests.
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.darwin.carbon
Due: none

Share a single LLVM context across all compilations.
  toolchain/check/cpp/generate_ast.cpp
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_driver.h
  toolchain/lower/context.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_deref_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_specific.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
  toolchain/lower/testdata/interop/cpp/class/export/class.carbon
  toolchain/lower/testdata/interop/cpp/class/export/method.carbon
  toolchain/lower/testdata/interop/cpp/class/import/constructor.carbon
  toolchain/lower/testdata/interop/cpp/class/import/method.carbon
  toolchain/lower/testdata/interop/cpp/globals.carbon
  toolchain/lower/testdata/interop/cpp/operators.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/interop/cpp/share_ast.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list.carbon
  toolchain/lower/testdata/primitives/type_values.carbon
  toolchain/sem_ir/mangler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Generate a CodeGenerator per output file.
  toolchain/check/check.cpp
  toolchain/check/cpp/domain.cpp
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/lower/file_context.cpp
  toolchain/lower/lower.cpp
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
  toolchain/sem_ir/mangler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Clean up mapping of input files to code generators.
  toolchain/check/check.cpp
  toolchain/check/cpp/domain.cpp
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Testing for split-ast lowering. Crashes!
  toolchain/check/testdata/interop/cpp/basics/share_ast.carbon
  toolchain/lower/testdata/interop/cpp/share_ast.carbon
Due: none

Grow a terminal buffer's width to fit what is drawn into it
  common/terminal/buffer.cpp
  common/terminal/buffer.h
  common/terminal/buffer_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Have terminal drawing report where it ended
  common/terminal/buffer.cpp
  common/terminal/buffer.h
  common/terminal/buffer_test.cpp
  common/terminal/terminal_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Keep words whole when wrapping terminal text
  common/terminal/buffer.cpp
  common/terminal/buffer.h
  common/terminal/buffer_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Address review comments
  toolchain/check/cpp/generate_ast.cpp
  toolchain/lower/context.cpp
  toolchain/lower/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix C++ code generation in `--share-cpp-ast` mode (#7605)
  toolchain/check/check.cpp
  toolchain/check/cpp/domain.cpp
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/testdata/interop/cpp/basics/share_ast.carbon
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_driver.h
  toolchain/lower/context.cpp
  toolchain/lower/context.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/lower.cpp
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_deref_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_specific.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
  toolchain/lower/testdata/interop/cpp/class/export/class.carbon
  toolchain/lower/testdata/interop/cpp/class/export/method.carbon
  toolchain/lower/testdata/interop/cpp/class/import/constructor.carbon
  toolchain/lower/testdata/interop/cpp/class/import/method.carbon
  toolchain/lower/testdata/interop/cpp/globals.carbon
  toolchain/lower/testdata/interop/cpp/operators.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/interop/cpp/share_ast.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list.carbon
  toolchain/lower/testdata/primitives/type_values.carbon
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
  toolchain/sem_ir/mangler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

When a split file in a test unexpectedly succeeds or fails, include the test filename in the error as well as the name of the split.
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

downscoping the draft
  proposals/p007521-default-values-for-function-arguments.md
  proposals/p007521-default-values-for-struct-and-tuple-patterns.md
Due: none

feedback from zygoloid
  proposals/p007521-default-values-for-function-arguments.md
Due: none

clarify semantic vs. syntactic
  proposals/p007521-default-values-for-function-arguments.md
Due: none

first draft of default args proposal
  proposals/p007521-default-values-for-struct-and-tuple-patterns.md
Due: none

feedback from geoffromer
  proposals/p007521-default-values-for-function-arguments.md
Due: none

Improve readability of test failures.
  testing/base/BUILD
  testing/base/unified_diff.h
  testing/base/unified_diff_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Improve readability of test failures. (#7609)
  testing/base/BUILD
  testing/base/unified_diff.h
  testing/base/unified_diff_test.cpp
  testing/file_test/BUILD
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Fix some portability issues in tests.
  core/prelude/types/cpp/int.carbon
  toolchain/check/testdata/interop/cpp/class/import/template.carbon
  toolchain/check/testdata/interop/cpp/function/import/arithmetic_types_direct.carbon
  toolchain/check/testdata/interop/cpp/function/import/overloads.carbon
  toolchain/check/testdata/interop/cpp/macros/macros.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.llp64.carbon
Due: none

Only lower files we are going to emit.
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_driver.h
  toolchain/driver/compile_options.cpp
  toolchain/driver/compile_options.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/stdin.carbon
  toolchain/lower/testdata/function/generic/call_different_specific.carbon
  toolchain/lower/testdata/interop/cpp/operators.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Measure terminal text without a buffer to draw into
  common/terminal/BUILD
  common/terminal/buffer.cpp
  common/terminal/buffer.h
  common/terminal/buffer_test.cpp
  common/terminal/metrics.cpp
  common/terminal/metrics.h
  common/terminal/metrics_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Leave a terminal's width unknown rather than inventing one
  common/terminal/buffer.cpp
  common/terminal/buffer.h
  common/terminal/buffer_test.cpp
  common/terminal/capabilities.cpp
  common/terminal/capabilities.h
  common/terminal/capabilities_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Only lower files we are going to emit. (#7611)
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_driver.h
  toolchain/driver/compile_options.cpp
  toolchain/driver/compile_options.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/stdin.carbon
  toolchain/lower/testdata/function/generic/call_different_specific.carbon
  toolchain/lower/testdata/interop/cpp/operators.carbon
  toolchain/lower/testdata/interop/cpp/std_initializer_list.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

second round of feedback from geoffromer
  proposals/p007521-default-values-for-function-arguments.md
Due: none

feedback from chandlerc
  proposals/p007521-default-values-for-function-arguments.md
Due: none

make prek happy
  proposals/p007521-default-values-for-function-arguments.md
Due: none

Improve diagnostic when test split unexpectedly succeeds or fails. (#7608)
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

Add missing long <-> unsigned long `as` conversions.
  core/prelude/types/cpp/int.carbon
Due: none

Split up failure tests into separate splits.
  toolchain/check/testdata/primitives/int_conversions.carbon
Due: none

Split up tests for bad imports.
  toolchain/check/testdata/interop/cpp/basics/import/bad_import.carbon
  toolchain/check/testdata/interop/cpp/basics/import/bad_import_empty.carbon
  toolchain/check/testdata/interop/cpp/basics/import/bad_import_nested_quotes.carbon
  toolchain/check/testdata/interop/cpp/basics/import/bad_import_not_found.carbon
Due: none

Autoupdate file headers.
  toolchain/check/testdata/interop/cpp/basics/import/bad_import_empty.carbon
  toolchain/check/testdata/interop/cpp/basics/import/bad_import_nested_quotes.carbon
  toolchain/check/testdata/interop/cpp/basics/import/bad_import_not_found.carbon
Due: none

Restrict observe declarations to names that are part of the enclosing interface (#7545)
  proposals/p007545-restrict-observe-declarations-to-names-that-are-part-of-the-enclosing-interface.md
Due: none

Create modules for header imports.
  toolchain/check/check_unit.cpp
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/basics/import/bad_import.carbon
  toolchain/check/testdata/interop/cpp/basics/import/indirect.carbon
  toolchain/check/testdata/interop/cpp/function/import/thunk_ast.carbon
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics
