Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

rebased
  core/range.carbon
  toolchain/language_server/context.cpp
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/lower/testdata/function/generic/call_different_impls.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

carbon_lib working but prelude is not linking in
  bazel/carbon_rules/defs.bzl
  core/BUILD
  core/io.impl.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

fix build subcommand
  core/BUILD
  toolchain/base/install_paths.cpp
  toolchain/base/install_paths.h
  toolchain/diagnostics/kind.def
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_options.cpp
  toolchain/driver/compile_options.h
  toolchain/driver/link_driver.cpp
  toolchain/driver/link_options.cpp
  toolchain/driver/link_options.h
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

prelude building in runtimes
  bazel/carbon_rules/defs.bzl
  core/BUILD
  toolchain/base/runtimes_build_info.bzl
  toolchain/base/runtimes_build_info.tpl.h
  toolchain/base/runtimes_build_vars.tpl.bzl
  toolchain/driver/BUILD
  toolchain/driver/build_runtimes_subcommand.cpp
  toolchain/driver/build_runtimes_subcommand.h
  toolchain/driver/build_subcommand.cpp
  toolchain/driver/carbon_runtimes.cpp
  toolchain/driver/carbon_runtimes.h
  toolchain/driver/clang_runtimes.h
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_driver.h
  toolchain/driver/compile_options.cpp
  toolchain/driver/compile_options.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/runtimes_cache.h
  toolchain/runtimes/BUILD
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

--no-carbon-core redundant flag cleanup
  bazel/carbon_rules/defs.bzl
  toolchain/driver/compile_options.cpp
  toolchain/driver/driver_test.cpp
  toolchain/driver/link_driver.cpp
  toolchain/driver/testdata/fail_flush_errors.carbon
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
  toolchain/driver/testdata/fail_output_is_directory.carbon
  toolchain/driver/testdata/multi_input_with_output.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics

fold-ifs
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

impls-in-final-block-arent-always-final
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/match_first/prioritization.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Impls in final match_first block aren't always final (#7512)
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/match_first/prioritization.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

comma
  proposals/p007437-reject-nested-where-expressions-to-prevent-ambiguous-self.md
Due: none

add-test
  toolchain/check/testdata/facet/nested_facet_types.carbon
Due: none

Destroy temporaries at the end of expression statements. (#7513)
  toolchain/check/control_flow.cpp
  toolchain/check/control_flow.h
  toolchain/check/handle_codeblock.cpp
  toolchain/check/handle_expr_statement.cpp
  toolchain/check/handle_if_statement.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/testdata/class/destroy_calls.carbon
  toolchain/check/testdata/facet/convert_facet_value_as_type_knows_original_type.carbon
  toolchain/check/testdata/function/declaration/fail_import_incomplete_return.carbon
  toolchain/check/testdata/if/lifetime.carbon
  toolchain/check/testdata/impl/lookup/canonical_query_self.carbon
  toolchain/check/testdata/interop/cpp/class/import/access.carbon
  toolchain/check/testdata/interop/cpp/class/import/method.carbon
  toolchain/check/testdata/interop/cpp/function/import/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/import/default_arg.carbon
  toolchain/check/testdata/interop/cpp/function/import/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/import/return.carbon
  toolchain/check/testdata/interop/cpp/operators/arithmetic_operators.carbon
  toolchain/check/testdata/interop/cpp/stdlib/initializer_list.carbon
  toolchain/check/testdata/let/lifetime.carbon
  toolchain/check/testdata/namespace/merging_with_indirections.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/check/testdata/var/lifetime.carbon
  toolchain/check/testdata/while/lifetime.carbon
  toolchain/lower/testdata/builtins/cpp.carbon
  toolchain/lower/testdata/function/definition/destroy.carbon
  toolchain/lower/testdata/function/definition/var_param.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/lower/testdata/interop/cpp/class/import/method.carbon
  toolchain/lower/testdata/interop/cpp/function/import/parameters.carbon
  toolchain/lower/testdata/interop/cpp/nullptr.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/packages/imported_type_completeness.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix crash attempting constant evaluation of a constexpr constructor. (#7514)
  toolchain/check/cpp/constant.cpp
  toolchain/check/testdata/interop/cpp/function/import/constexpr.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

nested-where-in-binding
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/facet/nested_facet_types.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove-test
  proposals/p007437-reject-nested-where-expressions-to-prevent-ambiguous-self.md
  toolchain/check/testdata/facet/nested_facet_types.carbon
Due: none

abstract
  proposals/p007437-reject-nested-where-expressions-to-prevent-ambiguous-self.md
Due: none

verify-other-requirements
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

use-identified-facet-type-to-get-impl-as-target
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/where_expr/designator.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Consolidate checking for and rejecting `other_requirements` in impl lookup (#7518)
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add memory safety talk links to README
  README.md
Due: none

Bump vscode extension version to 0.0.9 for release.
  utils/vscode/package-lock.json
  utils/vscode/package.json
Due: none

Bump vscode extension version to 0.0.9 for release. (#7522)
  utils/vscode/package-lock.json
  utils/vscode/package.json
Due: none

Look outside constant values for designators in `where` constraints (#7367)
  toolchain/check/handle_alias.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/name_component.cpp
  toolchain/check/name_component.h
  toolchain/check/testdata/facet/nested_facet_types_from_eval.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use identified facet type to get impl-as target (#7519)
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

move Core//range into prelude
  bazel/carbon_rules/defs.bzl
  core/BUILD
  core/prelude.carbon
  core/prelude/range.carbon
  examples/advent2024/day10_common.carbon
  examples/advent2024/day10_part1.carbon
  examples/advent2024/day10_part2.carbon
  examples/advent2024/day11_part2.carbon
  examples/advent2024/day12_common.carbon
  examples/advent2024/day12_part1.carbon
  examples/advent2024/day12_part2.carbon
  examples/advent2024/day14_part2.carbon
  examples/advent2024/day1_common.carbon
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day4_part1.carbon
  examples/advent2024/day4_part2.carbon
  examples/advent2024/day5_common.carbon
  examples/advent2024/day8_common.carbon
  examples/advent2024/day8_part1.carbon
  examples/advent2024/day8_part2.carbon
  examples/advent2024/day9_common.carbon
  examples/advent2024/io_utils.carbon
  examples/sieve.carbon
  toolchain/driver/testdata/compile/optimize/optimize_debug.carbon
  toolchain/driver/testdata/compile/optimize/optimize_default.carbon
  toolchain/driver/testdata/compile/optimize/optimize_none.carbon
  toolchain/driver/testdata/compile/optimize/optimize_size.carbon
  toolchain/driver/testdata/compile/optimize/optimize_speed.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

review
  docs/design/generics/details.md
  proposals/p007299-ensure-where-requirements-in-named-constraints-are-visible-to-lookups.md
Due: none

move Core//range into prelude (#7524)
  bazel/carbon_rules/defs.bzl
  core/BUILD
  core/prelude.carbon
  core/prelude/range.carbon
  examples/advent2024/day10_common.carbon
  examples/advent2024/day10_part1.carbon
  examples/advent2024/day10_part2.carbon
  examples/advent2024/day11_part2.carbon
  examples/advent2024/day12_common.carbon
  examples/advent2024/day12_part1.carbon
  examples/advent2024/day12_part2.carbon
  examples/advent2024/day14_part2.carbon
  examples/advent2024/day1_common.carbon
  examples/advent2024/day1_part1.carbon
  examples/advent2024/day4_part1.carbon
  examples/advent2024/day4_part2.carbon
  examples/advent2024/day5_common.carbon
  examples/advent2024/day8_common.carbon
  examples/advent2024/day8_part1.carbon
  examples/advent2024/day8_part2.carbon
  examples/advent2024/day9_common.carbon
  examples/advent2024/io_utils.carbon
  examples/sieve.carbon
  toolchain/driver/testdata/compile/optimize/optimize_debug.carbon
  toolchain/driver/testdata/compile/optimize/optimize_default.carbon
  toolchain/driver/testdata/compile/optimize/optimize_none.carbon
  toolchain/driver/testdata/compile/optimize/optimize_size.carbon
  toolchain/driver/testdata/compile/optimize/optimize_speed.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Give thunks weak_odr linkage.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/class/static.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/impl/import_thunk.carbon
  toolchain/lower/testdata/impl/thunk.carbon
  toolchain/lower/testdata/interop/cpp/class/export/class.carbon
  toolchain/lower/testdata/interop/cpp/class/export/method.carbon
  toolchain/lower/testdata/interop/cpp/class/import/alignment.carbon
  toolchain/lower/testdata/interop/cpp/class/import/constructor.carbon
  toolchain/lower/testdata/interop/cpp/class/import/destructor.carbon
  toolchain/lower/testdata/interop/cpp/class/import/dynamic.carbon
  toolchain/lower/testdata/interop/cpp/class/virtual_fn.carbon
  toolchain/lower/testdata/interop/cpp/enum.carbon
  toolchain/lower/testdata/interop/cpp/function/export/generic.carbon
  toolchain/lower/testdata/interop/cpp/function/import/parameters.carbon
  toolchain/lower/testdata/interop/cpp/issue7142.carbon
  toolchain/lower/testdata/interop/cpp/operators.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/interop/cpp/thunks.carbon
  toolchain/lower/testdata/var/destroy_control_flow.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a TODO
  toolchain/check/eval_inst.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Avoid copy
  toolchain/check/eval_inst.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor CppRange interface and fix a crash exposed by doing so. (#7515)
  core/prelude/iterate.carbon
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/class/field/field_initializer.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/interop/cpp/impls/cpp_range_for_iterate.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.llp64.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.lp64.carbon
  toolchain/check/testdata/interop/cpp/range_for.carbon
  toolchain/check/testdata/where_expr/subst.carbon
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

rename FacetType::facet_type_id
  toolchain/check/custom_witness.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/period_self.cpp
  toolchain/check/type.cpp
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

rename IdentifiedFacetTypeKey::facet_type_id
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Give thunks weak_odr linkage. (#7525)
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/class/static.carbon
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/lower/testdata/impl/import_thunk.carbon
  toolchain/lower/testdata/impl/thunk.carbon
  toolchain/lower/testdata/interop/cpp/class/export/class.carbon
  toolchain/lower/testdata/interop/cpp/class/export/method.carbon
  toolchain/lower/testdata/interop/cpp/class/import/alignment.carbon
  toolchain/lower/testdata/interop/cpp/class/import/constructor.carbon
  toolchain/lower/testdata/interop/cpp/class/import/destructor.carbon
  toolchain/lower/testdata/interop/cpp/class/import/dynamic.carbon
  toolchain/lower/testdata/interop/cpp/class/virtual_fn.carbon
  toolchain/lower/testdata/interop/cpp/enum.carbon
  toolchain/lower/testdata/interop/cpp/function/export/generic.carbon
  toolchain/lower/testdata/interop/cpp/function/import/parameters.carbon
  toolchain/lower/testdata/interop/cpp/issue7142.carbon
  toolchain/lower/testdata/interop/cpp/operators.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/interop/cpp/thunks.carbon
  toolchain/lower/testdata/var/destroy_control_flow.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

rename variables and fn parameters
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/subst.cpp
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/stringify.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Respond to feedback
  proposals/p007362-define-destroy-for-class-types.md
  proposals/p007362-regularise-carbon-destructors.md
Due: none

rename facet_type_info_id to declared_facet_type_id
  toolchain/check/custom_witness.cpp
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/period_self.cpp
  toolchain/check/subst.cpp
  toolchain/check/type.cpp
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/inst_fingerprinter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/stringify.h
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

require-identified-interfaces-at-impl
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/testdata/impl/impl_assoc_const.carbon
  toolchain/check/testdata/impl/import_generic.carbon
  toolchain/check/testdata/impl/incomplete.carbon
  toolchain/check/testdata/impl/require_satisified_in_interface.carbon
  toolchain/check/testdata/impl/require_satisified_in_named_constraint.carbon
  toolchain/check/testdata/where_expr/dot_self_impls.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

