Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Handle null inst_namer by falling back to "const" name
  toolchain/lower/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

DRAFT: range-based for loops on C++ types
  core/prelude/iterate.carbon
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/testdata/interop/cpp/range_for.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Filling out template with PR 6970
  proposals/p6970.md
Due: none

Add support for `inline Cpp` declarations.
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/handle_import_and_package.cpp
  toolchain/check/handle_inline_decl.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/interop/cpp/inline_decl.carbon
  toolchain/diagnostics/kind.def
  toolchain/lower/testdata/interop/cpp/reverse/function.carbon
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_inline_decl.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/packages/import/cpp_inline.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix import_symbolic_decl test
  toolchain/check/testdata/array/import.carbon
Due: none

Drop unncessary if
  toolchain/check/eval_inst.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add TODO
  toolchain/check/cpp/constant.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

designator-error
  toolchain/check/eval.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Special case Temporary instead of ValueAsRef in ConvertArgToExpr
  toolchain/check/cpp/constant.cpp
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Revert change to Temporary.storage_id type
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address review comments.
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/handle_inline_decl.cpp
  toolchain/check/testdata/interop/cpp/inline_decl.carbon
  toolchain/diagnostics/kind.def
  toolchain/parse/testdata/packages/import/cpp_inline.carbon
  toolchain/sem_ir/inst_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add documentation for setting up `jj b a`.
  docs/project/contribution_tools.md
Due: none

Fix formatting of compound-type variable declarations in macros
  .clang-format
  toolchain/lex/lex.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/pattern_match.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update LLVM and fix a couple of API usages
  MODULE.bazel
  toolchain/check/cpp/call.cpp
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, check-toolchain-diagnostics

bool -> void
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix typo
  toolchain/check/cpp/generate_ast.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

descendent -> descendant
  docs/project/contribution_tools.md
Due: none

qualified-stringify
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Address some review comments.
  docs/project/contribution_tools.md
Due: none

Avoid copying `Lower::FunctionInfo`.
  toolchain/lower/handle_call.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Finish comment.
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Remove ASan from the default build mode
  .bazelrc
  bazel/cc_toolchains/cc_toolchain_carbon_project_features.bzl
  bazel/cc_toolchains/cc_toolchain_optimization.bzl
  docs/project/contribution_tools.md
Due: buildifier

remove-impls-constraint
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve handling of incomplete signatures.
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/handle_call.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

add-type-impls-to-facettype
  toolchain/check/eval.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch jj settings to 'jj config set' because of repo
  docs/project/contribution_tools.md
Due: none

Simplify lowering of `NameRef`
  toolchain/lower/handle.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add failing test.
  toolchain/lower/testdata/packages/imported_type_completeness.carbon
Due: none

Iterate over a list of functions when forming function type info.
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Consider both the call-site and callee specific when lowering a called function declaration.
  toolchain/check/import_ref.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/handle_call.cpp
  toolchain/lower/testdata/packages/imported_type_completeness.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

pre-commit
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update LLVM (again) to pick up a workaround crashes the compiler when building with ASan
  MODULE.bazel
Due: buildifier, check-bazel-mod-deps

Add ASan to post-merge CI and improve the action structure for GitHub
  .github/workflows/tests.yaml
Due: none

Revert "Simplify lowering of `NameRef`"
  toolchain/lower/handle.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

