Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/diagnostic_registry\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Update roadmap.md
  docs/project/2132/roadmap.md
Due: none

Update README.md
  docs/project/2132/README.md
Due: none

Change TokenKind's Print overload to a format_provider. (#2534)
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Apply suggestions from code review
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format

Add comment.
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Add style rule for field order in simple structs with member functions.
  docs/project/cpp_style_guide.md
  explorer/ast/paren_contents.h
  explorer/interpreter/impl_scope.h
  explorer/interpreter/value.h
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_test_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Increase precision.
  docs/project/cpp_style_guide.md
Due: none

Update explorer/interpreter/value.h
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

Reorder struct members, reformat.
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

We have no lvalue conditionals; remove suggestion that we do.
  docs/design/assignment.md
Due: none

Make built-in conversions visible to `ImplicitAs`. (#2525)
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/data/prelude.carbon
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/testdata/as/struct_as_class.carbon
  explorer/testdata/class/pointer_conversion.carbon
  explorer/testdata/member_access/convert_lhs_struct.carbon
  explorer/testdata/tuple/to_type.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Update test expectation.
  explorer/testdata/struct/fail_assign_different_types.carbon
Due: none

Add default impls for compound assignment and test them.
  explorer/data/prelude.carbon
  explorer/interpreter/builtins.cpp
  explorer/testdata/operators/add.carbon
  explorer/testdata/operators/assign_builtin.carbon
  explorer/testdata/operators/bit_and.carbon
  explorer/testdata/operators/bit_or.carbon
  explorer/testdata/operators/bit_xor.carbon
  explorer/testdata/operators/div.carbon
  explorer/testdata/operators/mul.carbon
  explorer/testdata/operators/shift.carbon
  explorer/testdata/operators/sub.carbon
Due: fix-cc-deps, clang-format

Reverse word order `AssignOp` -> `OpAssign`.
  explorer/data/prelude.carbon
  explorer/interpreter/builtins.cpp
  explorer/interpreter/builtins.h
Due: fix-cc-deps, clang-format, check-header-guards

AssignFrom -> AssignWith
  explorer/data/prelude.carbon
  explorer/interpreter/builtins.cpp
  explorer/interpreter/builtins.h
Due: fix-cc-deps, clang-format, check-header-guards

Parsing support for compound assignment, increment, decrement.
  common/fuzzing/carbon.proto
  common/fuzzing/proto_to_carbon.cpp
  explorer/ast/ast_rtti.txt
  explorer/ast/statement.cpp
  explorer/ast/statement.h
  explorer/fuzzing/ast_to_proto.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/type_checker.cpp
  explorer/syntax/lexer.lpp
  explorer/syntax/parser.ypp
  explorer/testdata/basic_syntax/fail_missing_var.carbon
  explorer/testdata/basic_syntax/fail_var_named_self.carbon
  explorer/testdata/let/fail_local_named_self.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Initial support for type-checking overloaded compound assignment.
  explorer/data/prelude.carbon
  explorer/interpreter/builtins.cpp
  explorer/interpreter/builtins.h
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Use `AssignWith` for all non-same-type assignments.
  explorer/data/prelude.carbon
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Increment and decrement prelude support and tests.
  explorer/data/prelude.carbon
  explorer/testdata/operators/inc_dec.carbon
Due: none

clang-format
  explorer/ast/statement.h
  explorer/interpreter/interpreter.cpp
  explorer/syntax/lexer.lpp
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Switch SemanticsIR dumps to produce YAML (#2517)
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir_test.cpp
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/basics/empty_decl.carbon
  toolchain/semantics/testdata/basics/fail_name_lookup.carbon
  toolchain/semantics/testdata/basics/verbose.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_duplicate_decl.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_init_with_self.carbon
  toolchain/semantics/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Change DiagnosticKind to use EnumBase (#2532)
  toolchain/diagnostics/BUILD
  toolchain/diagnostics/check_diagnostics.py
  toolchain/diagnostics/diagnostic_kind.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/diagnostic_kind.h
  toolchain/diagnostics/diagnostic_kind_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Explorer: prevent creating invalid class with missing parent
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Explorer: prevent creating invalid class with missing parent (#2536)
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Support explicit conversion of tuples.
  explorer/data/prelude.carbon
  explorer/testdata/tuple/convert.carbon
  explorer/testdata/tuple/fail_implicit_convert_with_as.carbon
Due: none

Add example of increment in the tour of the language. Add assignment statements to the list of things that can appear in a block.
  docs/design/README.md
Due: none

Add writeup of intended compound assignment and increment semantics.
  docs/design/assignment.md
  proposals/p2511.md
Due: none

Fix test expectation.
  explorer/testdata/tuple/fail_implicit_convert_with_as.carbon
Due: none

Fix lit_autoupdate to use consistent relative paths in FileCheck stanzas regardless of where it's run from.
  bazel/testing/lit_autoupdate_base.py
Due: none

Support explicit conversion of tuples. (#2537)
  explorer/data/prelude.carbon
  explorer/testdata/tuple/convert.carbon
  explorer/testdata/tuple/fail_implicit_convert_with_as.carbon
Due: none

Update explorer/data/prelude.carbon
  explorer/data/prelude.carbon
Due: none

Fix lit_autoupdate to use consistent relative paths in FileCheck stanzas regardless of where it's run from. (#2538)
  bazel/testing/lit_autoupdate_base.py
Due: none

Switch to using Print instead of return in tests.
  explorer/testdata/operators/add.carbon
  explorer/testdata/operators/bit_and.carbon
  explorer/testdata/operators/bit_or.carbon
  explorer/testdata/operators/bit_xor.carbon
  explorer/testdata/operators/div.carbon
  explorer/testdata/operators/mod.carbon
  explorer/testdata/operators/mul.carbon
  explorer/testdata/operators/sub.carbon
Due: none

Add test for unformedness check.
  explorer/testdata/unformed/static/fail_compound_assign.carbon
  explorer/testdata/unformed/static/fail_increment.carbon
Due: none

Rename ToString to mention Operator
  explorer/ast/ast_test_matchers_internal.cpp
  explorer/ast/expression.cpp
  explorer/ast/expression.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

x
  explorer/ast/expression.cpp
Due: fix-cc-deps, clang-format

x
  .github/workflows/tests.yaml
Due: none

x
  explorer/main.cpp
Due: fix-cc-deps, clang-format
