Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[AMDGPU][GFX9][NFC] Rename the base class for SMEM stores.
  llvm/lib/Target/AMDGPU/SMInstructions.td
Due: none

[mlir] add interchange, pad and scalarize to structured transform dialect
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.h
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/include/mlir/Dialect/Transform/IR/TransformInterfaces.h
  mlir/include/mlir/Dialect/Transform/IR/TransformInterfaces.td
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/test/Dialect/Linalg/transform-op-interchange.mlir
  mlir/test/Dialect/Linalg/transform-op-pad.mlir
  mlir/test/Dialect/Linalg/transform-op-scalarize.mlir
  mlir/test/Dialect/Linalg/transform-op-tile.mlir
  mlir/test/Dialect/Linalg/transform-ops-invalid.mlir
  mlir/test/Dialect/Linalg/transform-ops.mlir
Due: fix-cc-deps, clang-format, check-header-guards

[AArch64] Tests for showing MachineCombiner COPY patterns. NFC
  llvm/test/CodeGen/AArch64/machine-combiner-copy.ll
  llvm/test/CodeGen/AArch64/machine-combiner-fmul-dup.mir
Due: none

[OpenCL] Expose wg collective functions for CL3 SPIR targets
  clang/lib/Headers/opencl-c-base.h
Due: fix-cc-deps, clang-format, check-header-guards

Test stackmap support for floating point types.
  llvm/test/CodeGen/AArch64/arm64-stackmap.ll
  llvm/test/CodeGen/AArch64/stackmap.ll
  llvm/test/CodeGen/PowerPC/ppc64-stackmap.ll
  llvm/test/CodeGen/SystemZ/stackmap.ll
  llvm/test/CodeGen/X86/stackmap.ll
Due: none

Update the Windows packaging script
  llvm/utils/release/build_llvm_package.bat
Due: none

[MemDep][NFCI] Remove redundant dyn_cast, replace with cast
  llvm/lib/Analysis/MemoryDependenceAnalysis.cpp
Due: fix-cc-deps, clang-format

[VP] vp intrinsics are not speculatable
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/include/llvm/IR/Intrinsics.td
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/CodeGen/ExpandVectorPredication.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[MemDep][NFC] Remove duplicating check in `if` and `else` branch
  llvm/lib/Analysis/MemoryDependenceAnalysis.cpp
Due: fix-cc-deps, clang-format

[OpenMP] Pass chunk-size to MLIR while lowering from parse-tree
  flang/lib/Lower/OpenMP.cpp
  flang/test/Lower/OpenMP/omp-wsloop-chunks.f90
Due: fix-cc-deps, clang-format

Revert "build_llvm_package.bat: Produce zip files in addition to the installers"
  llvm/utils/release/build_llvm_package.bat
Due: none

Apply clang-tidy fixes for modernize-use-override in SparseTensorUtils.cpp (NFC)
  mlir/lib/ExecutionEngine/SparseTensorUtils.cpp
Due: fix-cc-deps, clang-format

Apply clang-tidy fixes for llvm-else-after-return in OpPythonBindingGen.cpp (NFC)
  mlir/tools/mlir-tblgen/OpPythonBindingGen.cpp
Due: fix-cc-deps, clang-format

Revert "[VP] vp intrinsics are not speculatable"
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/include/llvm/IR/Intrinsics.td
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/CodeGen/ExpandVectorPredication.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Re-land "[VP] vp intrinsics are not speculatable" with test fix
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/include/llvm/IR/Intrinsics.td
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/CodeGen/ExpandVectorPredication.cpp
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
Due: fix-cc-deps, clang-format, check-header-guards

[InstCombine] Fold a mul with bool value into and
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/test/Transforms/InstCombine/mul-masked-bits.ll
Due: fix-cc-deps, clang-format

Revert "[clang][test] mark tests added in ee8524087c78 as unsupported on AIX"
  clang/test/Index/index-concept-kind.cpp
  clang/test/Index/index-concepts.cpp
Due: fix-cc-deps, clang-format

[SimplifyCFG] Add test for invoke of nounwind non-willreturn function (NFC)
  llvm/test/Transforms/SimplifyCFG/invoke.ll
Due: none

[Local] Don't remove invoke of non-willreturn function
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/SimplifyCFG/invoke.ll
Due: fix-cc-deps, clang-format

[InstCombine] Add tests for inbounds handling in loop invariant GEP fold (NFC)
  llvm/test/Transforms/InstCombine/gep-combine-loop-invariant.ll
Due: none

Try is-usable based implementation
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/resolve_names.cpp
  explorer/testdata/alias/fail_self_alias.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Changed MarkUsable() to return void
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[InstCombine] Always create new GEPs when swapping GEPs
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/gep-combine-loop-invariant.ll
Due: fix-cc-deps, clang-format

[flang][OpenMP] Check for occurrence of multiple list items in nontemporal clause for simd directive
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/test/Semantics/omp-simd-nontemporal.f90
Due: fix-cc-deps, clang-format, check-header-guards

[OpenMP][Clang] Fix atomic compare for signed vs. unsigned
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/test/OpenMP/atomic_compare_codegen.cpp
  openmp/libomptarget/test/offloading/atomic-compare-signedness.c
  openmp/runtime/test/atomic/omp-atomic-compare-signedness.c
Due: fix-cc-deps, clang-format

[InstCombine] When swapping GEPs, only keep inbounds if both are
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/gep-combine-loop-invariant.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence.ll
Due: fix-cc-deps, clang-format

Change build_llvm_package.bat to build_llvm_release.bat
  llvm/utils/release/build_llvm_release.bat
Due: none

[mlir] add VectorizeOp to structured transform ops
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.td
  mlir/lib/Dialect/Linalg/TransformOps/CMakeLists.txt
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/test/Dialect/Linalg/transform-op-vectorize.mlir
  mlir/test/Dialect/Transform/test-interpreter.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Due: fix-cc-deps, clang-format

[mlir] provide Python bindings for the Transform dialect
  mlir/cmake/modules/AddMLIRPython.cmake
  mlir/python/CMakeLists.txt
  mlir/python/mlir/dialects/LinalgStructuredTransformOps.td
  mlir/python/mlir/dialects/TransformOps.td
  mlir/python/mlir/dialects/_structured_transform_ops_ext.py
  mlir/python/mlir/dialects/_transform_ops_ext.py
  mlir/python/mlir/dialects/transform/__init__.py
  mlir/python/mlir/dialects/transform/structured.py
  mlir/test/python/dialects/transform.py
  mlir/test/python/dialects/transform_structured_ext.py
  mlir/tools/mlir-tblgen/OpPythonBindingGen.cpp
  utils/bazel/llvm-project-overlay/mlir/python/BUILD.bazel
Due: fix-cc-deps, clang-format

[sanitizers] Fixes strndup API behaviour when intercepted by sanitizers
  compiler-rt/lib/sanitizer_common/sanitizer_common_interceptors.inc
  compiler-rt/test/sanitizer_common/TestCases/max_allocation_size.cpp
Due: fix-cc-deps, clang-format

[libc++] Reduce the verbosity when running the libc++ Lit configuration
  libcxx/utils/libcxx/test/newconfig.py
Due: none

[HLSL] Enable vector types for hlsl.
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/LangOptions.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/hlsl.h
  clang/lib/Headers/hlsl/hlsl_basic_types.h
  clang/test/CodeGenHLSL/basic_types.hlsl
  clang/test/Driver/hlsl_no_stdinc.hlsl
Due: fix-cc-deps, clang-format, check-header-guards

[TwoAddressInstructionPass] Special processing of STATEPOINT instruction.
  llvm/lib/CodeGen/TwoAddressInstructionPass.cpp
  llvm/test/CodeGen/X86/statepoint-invoke-ra.mir
  llvm/test/CodeGen/X86/statepoint-vreg-twoaddr.mir
  llvm/test/CodeGen/X86/statepoint-vreg-unlimited-tied-opnds.ll
Due: fix-cc-deps, clang-format

[gn build] Port e576280380d3
  llvm/utils/gn/secondary/clang/lib/Headers/BUILD.gn
Due: none

Fix warning for unused variable in the non-assert build (NFC)
  llvm/lib/Analysis/ValueTracking.cpp
Due: fix-cc-deps, clang-format

[ODRHash][NFC] Add missing 'select' case for `ODRMismatchDecl`.
  clang/include/clang/Basic/DiagnosticSerializationKinds.td
Due: none

[VPlan] Add test for printing VPlan for outer loop vectorization.
  llvm/test/Transforms/LoopVectorize/vplan-printing-outer-loop.ll
Due: none

Revert "[HLSL] Enable vector types for hlsl."
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/LangOptions.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/hlsl.h
  clang/lib/Headers/hlsl/hlsl_basic_types.h
  clang/test/CodeGenHLSL/basic_types.hlsl
  clang/test/Driver/hlsl_no_stdinc.hlsl
  llvm/utils/gn/secondary/clang/lib/Headers/BUILD.gn
Due: fix-cc-deps, clang-format, check-header-guards

[Support] Make report_fatal_error respect its GenCrashDiag argument so it doesn't generate a backtrace
  llvm/lib/Support/ErrorHandling.cpp
  llvm/lib/Target/Mips/MipsSubtarget.cpp
  llvm/lib/Transforms/IPO/BlockExtractor.cpp
  llvm/lib/Transforms/Instrumentation/GCOVProfiling.cpp
  llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp
  llvm/test/CodeGen/ARM/codemodel.ll
  llvm/test/CodeGen/BPF/xadd.ll
  llvm/test/CodeGen/Lanai/codemodel.ll
  llvm/test/CodeGen/Mips/cpus.ll
  llvm/test/CodeGen/Mips/fp64a.ll
  llvm/test/CodeGen/Mips/fpxx.ll
  llvm/test/CodeGen/Mips/micromips64-unsupported.ll
  llvm/test/CodeGen/Mips/mips32r6/compatibility.ll
  llvm/test/CodeGen/Mips/mips64r6/compatibility.ll
  llvm/test/CodeGen/Mips/msa/3r-a.ll
  llvm/test/CodeGen/PowerPC/codemodel.ll
  llvm/test/CodeGen/SPARC/codemodel.ll
  llvm/test/CodeGen/SystemZ/codemodel.ll
  llvm/test/CodeGen/WebAssembly/tls-general-dynamic.ll
  llvm/test/CodeGen/X86/codemodel.ll
  llvm/test/MC/Mips/micromips64-unsupported.s
  llvm/test/MC/Mips/micromips64r6-unsupported.s
  llvm/test/Other/optimization-remarks-inline.ll
  llvm/test/Transforms/BlockExtractor/invalid-block.ll
  llvm/test/Transforms/BlockExtractor/invalid-function.ll
  llvm/test/Transforms/BlockExtractor/invalid-line.ll
  llvm/test/Transforms/GCOVProfiling/version.ll
  llvm/test/Transforms/LoopUnroll/peel-loop-and-unroll.ll
Due: fix-cc-deps, clang-format
