Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

[libc++abi][AIX] add personality and helper functions for the state table EH
  libcxxabi/src/aix_state_tab_eh.inc
  libcxxabi/src/cxa_personality.cpp
Due: fix-cc-deps, clang-format

[X86] LowerTRUNCATE - avoid creating extract_subvector(bitcast(vec)) patterns
  llvm/lib/Target/X86/X86ISelLowering.cpp
Due: fix-cc-deps, clang-format

[Clang] Always set opaque pointers mode
  clang/lib/CodeGen/CodeGenAction.cpp
Due: fix-cc-deps, clang-format

[InstCombine] Fix inbounds preservation when swapping GEPs (PR44206)
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/gep-combine-loop-invariant.ll
  llvm/test/Transforms/LoopVectorize/ARM/mve-reductions.ll
  llvm/test/Transforms/LoopVectorize/X86/x86-interleaved-accesses-masked-group.ll
  llvm/test/Transforms/LoopVectorize/X86/x86-interleaved-store-accesses-with-gaps.ll
  llvm/test/Transforms/LoopVectorize/consecutive-ptr-uniforms.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses.ll
Due: fix-cc-deps, clang-format

[X86] narrowExtractedVectorSelect - don't peek through bitcasts to find source vector
  llvm/lib/Target/X86/X86ISelLowering.cpp
Due: fix-cc-deps, clang-format

attributes: introduce allockind attr for describing allocator fn behavior
  llvm/docs/LangRef.rst
  llvm/include/llvm/AsmParser/LLParser.h
  llvm/include/llvm/Bitcode/LLVMBitCodes.h
  llvm/include/llvm/IR/Attributes.h
  llvm/include/llvm/IR/Attributes.td
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/IR/AttributeImpl.h
  llvm/lib/IR/Attributes.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Transforms/Utils/CodeExtractor.cpp
  llvm/test/Assembler/allockind-missing.ll
  llvm/test/Assembler/allockind.ll
  llvm/test/Bitcode/compatibility.ll
  llvm/test/Verifier/allockind.ll
Due: fix-cc-deps, clang-format, check-header-guards

BuildLibCalls: infer allockind attributes on relevant functions
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/test/Transforms/InferFunctionAttrs/annotate.ll
Due: fix-cc-deps, clang-format

Revert "[Libomptarget] Add `leaf` attribute to `vprintf` declaration"
  openmp/libomptarget/DeviceRTL/src/Debug.cpp
Due: fix-cc-deps, clang-format

[Driver][Modules] Remove dependence on linking support from clang/test/Driver/modules.cpp
  clang/test/Driver/modules.cpp
Due: fix-cc-deps, clang-format

[AMDGPU] gfx11 Image instructions
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/MIMGInstructions.td
  llvm/lib/Target/AMDGPU/SIInstrFormats.td
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/MC/AMDGPU/gfx11_asm_mimg.s
  llvm/test/MC/AMDGPU/gfx11_asm_mimg_err.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_mimg.txt
Due: fix-cc-deps, clang-format, check-header-guards

LangRef: fix bad indentation in allockind bullets
  llvm/docs/LangRef.rst
Due: none

[X86] combineEXTRACT_SUBVECTOR - pull out repeated getVectorNumElements() calls. NFC.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Due: fix-cc-deps, clang-format

[clangd] ExtractVariable support for C and Objective-C
  clang-tools-extra/clangd/refactor/tweaks/ExtractVariable.cpp
  clang-tools-extra/clangd/unittests/tweaks/ExtractVariableTests.cpp
Due: fix-cc-deps, clang-format

[PS5] Tweak dllexport test
  clang/test/SemaCXX/dllexport.cpp
Due: fix-cc-deps, clang-format

[Scalarizer] Regenerate test checks (NFC)
  llvm/test/Transforms/Scalarizer/basic-inseltpoison.ll
  llvm/test/Transforms/Scalarizer/basic.ll
Due: none

[flang] Support BIND(C) variable scope check
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/resolve113.f90
Due: fix-cc-deps, clang-format

[clangd] Minor fixes to ExtractVariableTests missed in D124486
  clang-tools-extra/clangd/unittests/tweaks/ExtractVariableTests.cpp
Due: fix-cc-deps, clang-format

[Clang][Docs] Document the clang-offload-packager better
  clang/docs/ClangOffloadPackager.rst
Due: none

Big reorg and update
  docs/design/README.md
Due: none

[MLIR][Math] Improve docs (NFC)
  mlir/include/mlir/Dialect/Math/IR/MathBase.td
  mlir/include/mlir/Dialect/Math/IR/MathOps.td
Due: none

[Clang][Docs] Fix typo in offload packager reference
  clang/docs/ClangOffloadPackager.rst
Due: none

[X86] Add test case for PR55648
  llvm/test/CodeGen/X86/pr55648.ll
Due: none

[X86] LowerMINMAX - split v4i64 types on AVX1 targets (Issue #55648)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/horizontal-reduce-smax.ll
  llvm/test/CodeGen/X86/horizontal-reduce-smin.ll
  llvm/test/CodeGen/X86/horizontal-reduce-umax.ll
  llvm/test/CodeGen/X86/horizontal-reduce-umin.ll
  llvm/test/CodeGen/X86/masked_store_trunc_ssat.ll
  llvm/test/CodeGen/X86/masked_store_trunc_usat.ll
  llvm/test/CodeGen/X86/midpoint-int-vec-256.ll
  llvm/test/CodeGen/X86/vec_minmax_sint.ll
  llvm/test/CodeGen/X86/vec_minmax_uint.ll
  llvm/test/CodeGen/X86/vector-pcmp.ll
  llvm/test/CodeGen/X86/vector-reduce-smax.ll
  llvm/test/CodeGen/X86/vector-reduce-smin.ll
  llvm/test/CodeGen/X86/vector-reduce-umax.ll
  llvm/test/CodeGen/X86/vector-reduce-umin.ll
  llvm/test/CodeGen/X86/vector-trunc-packus.ll
  llvm/test/CodeGen/X86/vector-trunc-ssat.ll
  llvm/test/CodeGen/X86/vector-trunc-usat.ll
  llvm/test/CodeGen/X86/vselect-minmax.ll
Due: fix-cc-deps, clang-format

[InstCombine] fold icmp of sext bool based on limited range
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/icmp-range.ll
Due: fix-cc-deps, clang-format

[InstCombine] add tests for icmp of sext i1; NFC
  llvm/test/Transforms/InstCombine/icmp-range.ll
Due: none

[RISCV] Pre-commit tests for D126635. NFC
  llvm/test/CodeGen/RISCV/hoist-global-addr-base.ll
Due: none

[RISCV] Fix a few corner case bugs in RISCVMergeBaseOffsetOpt::matchLargeOffset
  llvm/lib/Target/RISCV/RISCVMergeBaseOffset.cpp
  llvm/test/CodeGen/RISCV/hoist-global-addr-base.ll
Due: fix-cc-deps, clang-format

[Clang] Extend -gen-reproducer flag
  clang/include/clang/Driver/Driver.h
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/crash-report-crashfile.m
  clang/test/Driver/emit-reproducer.c
  clang/tools/driver/driver.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[InstrProf] Stop exporting lprofDirMode
  clang/lib/Driver/ToolChains/Darwin.cpp
  compiler-rt/lib/profile/InstrProfilingUtil.c
Due: fix-cc-deps, clang-format

[scudo] Ensure pointer is not null
  compiler-rt/lib/scudo/standalone/fuchsia.cpp
Due: fix-cc-deps, clang-format

[libc++] Removes __cpp_lib_monadic_optional.
  libcxx/docs/FeatureTestMacroTable.rst
  libcxx/docs/Status/Cxx20.rst
  libcxx/docs/Status/Cxx20Papers.csv
  libcxx/docs/Status/Cxx2bIssues.csv
  libcxx/include/optional
  libcxx/include/version
  libcxx/test/std/language.support/support.limits/support.limits.general/optional.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Due: fix-cc-deps, clang-format

[libc++][CI][AIX] change grouping() return value of std::moneypunct_byname for en_US.UTF-8
  libcxx/test/std/localization/locale.categories/category.monetary/locale.moneypunct.byname/grouping.pass.cpp
Due: fix-cc-deps, clang-format

[RISCV] Use two ADDIs to do some stack pointer adjustments.
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/emergency-slot.mir
  llvm/test/CodeGen/RISCV/rvv/large-rvv-stack-size.mir
  llvm/test/CodeGen/RISCV/stack-realignment.ll
Due: fix-cc-deps, clang-format

[riscv] add test coverage for fractional lmul w/fixed length vectorization
  llvm/test/CodeGen/RISCV/rvv/sink-splat-operands.ll
Due: none

[clang][Driver] Fix SIE builders
  clang/test/Driver/emit-reproducer.c
Due: none

Fix windows build
  clang/test/Driver/emit-reproducer.c
Due: none

[AMDGPU] Instruction Type Pipeline
  llvm/lib/Target/AMDGPU/AMDGPUMFMAClustering.cpp
  llvm/lib/Target/AMDGPU/AMDGPUMFMAIGroupLP.cpp
  llvm/lib/Target/AMDGPU/AMDGPUMFMAIGroupLP.h
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/CMakeLists.txt
  llvm/test/CodeGen/AMDGPU/mfma-cluster-edges.mir
  llvm/test/CodeGen/AMDGPU/mfma-cluster.mir
  llvm/test/CodeGen/AMDGPU/mfma-igrouplp-dag-mutation.mir
Due: fix-cc-deps, clang-format, check-header-guards

[libc++][CI] fixed convert_thousands_sep_ru_RU for Russian in the libcxx/test/support/locale_helpers.h for AIX
  libcxx/test/std/localization/locale.categories/category.monetary/locale.money.get/locale.money.get.members/get_long_double_ru_RU.pass.cpp
  libcxx/test/std/localization/locale.categories/category.monetary/locale.money.put/locale.money.put.members/put_long_double_ru_RU.pass.cpp
  libcxx/test/support/locale_helpers.h
Due: fix-cc-deps, clang-format, check-header-guards

[gn build] Port 2e61dfb1249e
  llvm/utils/gn/secondary/llvm/lib/Target/AMDGPU/BUILD.gn
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

