Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Revert "[RISCV] Testcase to show wrong register allocation result of subreg liveness"
  llvm/test/CodeGen/RISCV/early-clobber-tied-def-subreg-liveness.ll
  llvm/test/CodeGen/RISCV/early-clobber-tied-def-subreg-liveness.mir
Due: none

M68k: Fix build
  llvm/lib/Target/M68k/M68kMachineFunction.h
Due: fix-cc-deps, clang-format, check-header-guards

[libc] Add expm1f function to bazel's build overlay.
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Due: none

[Libomptarget] Add missing include to define `printf`
  openmp/libomptarget/test/env/base_ptr_ref_count.c
Due: none

[Target] Remove `startswith` for adding `SHF_EXCLUDE` to offload section
  llvm/lib/CodeGen/TargetLoweringObjectFileImpl.cpp
Due: fix-cc-deps, clang-format

[RISCV] Add ISD::EH_DWARF_CFA
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/test/CodeGen/RISCV/eh-dwarf-cfa.ll
Due: fix-cc-deps, clang-format, check-header-guards

[AArch64] Add tests for bitcast high register extracts. NFC
  llvm/test/CodeGen/AArch64/highextractbitcast.ll
Due: none

Restore isa<Ty>(X) asserts inside cast<Ty>(X)
  llvm/include/llvm/Support/Casting.h
Due: fix-cc-deps, clang-format, check-header-guards

[Dexter] Catch value error when encountering invalid address
  cross-project-tests/debuginfo-tests/dexter/dex/command/commands/DexDeclareAddress.py
Due: none

[clang][NFC][SVE] Add tests for operators on VLS vectors
  clang/test/CodeGen/aarch64-sve-vls-arith-ops.c
  clang/test/CodeGen/aarch64-sve-vls-bitwise-ops.c
  clang/test/CodeGen/aarch64-sve-vls-compare-ops.c
  clang/test/CodeGen/aarch64-sve-vls-shift-ops.c
  clang/test/CodeGen/aarch64-sve-vls-subscript-ops.c
Due: none

[clang] co_return cleanup
  clang/include/clang/AST/StmtCXX.h
Due: fix-cc-deps, clang-format, check-header-guards

[RISCV] Untangle instruction properties from VSETVLIInfo [NFC]
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
Due: fix-cc-deps, clang-format

[SystemZ] Use STDY/STEY/LDY/LEY for VR32/VR64 in eliminateFrameIndex().
  llvm/lib/Target/SystemZ/SystemZInstrInfo.cpp
  llvm/lib/Target/SystemZ/SystemZInstrInfo.h
  llvm/lib/Target/SystemZ/SystemZRegisterInfo.cpp
  llvm/test/CodeGen/SystemZ/elim-frame-index-VR.ll
Due: fix-cc-deps, clang-format, check-header-guards

Reland [AMDGPU] gfx11 VOP1+VOP2 Instruction MC support
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/Target/AMDGPU/VOP2Instructions.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_dpp.s
  llvm/test/MC/AMDGPU/gfx11_asm_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_vop123.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_all.txt
Due: fix-cc-deps, clang-format, check-header-guards

[DA] Handle mismatching loop levels by considering them non-linear
  llvm/lib/Analysis/DependenceAnalysis.cpp
  llvm/test/Analysis/DependenceAnalysis/MismatchingNestLevels.ll
Due: fix-cc-deps, clang-format

[DAG] visitVSELECT - don't wait for truncation of sub before attempting to match with getTruncatedUSUBSAT
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Due: fix-cc-deps, clang-format

[mlir][spirv] NFC: fix typo in UnifyAliasedResourcePass pass
  mlir/lib/Dialect/SPIRV/Transforms/UnifyAliasedResourcePass.cpp
Due: fix-cc-deps, clang-format

[RISCV] Support LUI+ADDIW in RISCVMergeBaseOffsetOpt::matchLargeOffset.
  llvm/lib/Target/RISCV/RISCVMergeBaseOffset.cpp
  llvm/test/CodeGen/RISCV/hoist-global-addr-base.ll
Due: fix-cc-deps, clang-format

[RISCV] Support (addi (addi globaladdr, C1), C2) in RISCVMergeBaseOffset.
  llvm/lib/Target/RISCV/RISCVMergeBaseOffset.cpp
  llvm/test/CodeGen/RISCV/hoist-global-addr-base.ll
Due: fix-cc-deps, clang-format

[Dexter] Use PurePath to compare paths in Dexter commands
  cross-project-tests/debuginfo-tests/dexter/dex/command/commands/DexDeclareAddress.py
  cross-project-tests/debuginfo-tests/dexter/dex/command/commands/DexExpectWatchBase.py
  cross-project-tests/debuginfo-tests/dexter/dex/dextIR/ProgramState.py
Due: none

Add an error message to the default SIGPIPE handler
  llvm/lib/Support/Unix/Signals.inc
  llvm/test/tools/llvm-nm/unix03-sigpipe-exit.test
Due: none

Add a parameter to LoadFromASTFile that accepts a file system and defaults to the real file-system.
  clang/include/clang/Frontend/ASTUnit.h
  clang/lib/Frontend/ASTUnit.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[flang] Add proper todo in BoxValue
  flang/lib/Optimizer/Builder/BoxValue.cpp
Due: fix-cc-deps, clang-format

[WebAssembly] Regenerate simd-build-vector.ll to show full codegen
  llvm/test/CodeGen/WebAssembly/simd-build-vector.ll
Due: none

[lldb] Update TestMultithreaded to report FAIL for a non-zero exit code
  lldb/test/API/api/multithreaded/TestMultithreaded.py
Due: none

[lldb] Parse the dotest output to determine the most appropriate result code
  lldb/test/API/lldbtest.py
Due: none

[flang][NFC] Move genMaxWithZero into fir:::factory
  flang/include/flang/Lower/ConvertExpr.h
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[libc] Fix build when __FE_DENORM is defined
  libc/src/__support/FPUtil/x86_64/FEnvImpl.h
Due: fix-cc-deps, clang-format, check-header-guards

[AArch64] Remove ToBeRemoved from AArch64MIPeepholeOpt
  llvm/lib/Target/AArch64/AArch64MIPeepholeOpt.cpp
  llvm/test/CodeGen/AArch64/peephole-orr.mir
Due: fix-cc-deps, clang-format

[libc++] Make sure we add /llvm to the list of safe directories
  libcxx/utils/ci/run-buildbot-container
Due: none

[NFC][Flang][OpenMP] Refactor getting ompobject symbol
  flang/lib/Lower/OpenMP.cpp
Due: fix-cc-deps, clang-format

[LIBOMPTARGET] Adding AMD to llvm-omp-device-info
  openmp/libomptarget/plugins/amdgpu/dynamic_hsa/hsa.cpp
  openmp/libomptarget/plugins/amdgpu/dynamic_hsa/hsa.h
  openmp/libomptarget/plugins/amdgpu/dynamic_hsa/hsa_ext_amd.h
  openmp/libomptarget/plugins/amdgpu/src/rtl.cpp
  openmp/libomptarget/plugins/generic-elf-64bit/src/rtl.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[flang] Add one semantic check for procedure bind(C) interface-name
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/bind-c03.f90
  flang/test/Semantics/modfile16.f90
  flang/test/Semantics/resolve82.f90
Due: fix-cc-deps, clang-format

[flang] Add one missed semantic check for named constant in common block
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/declarations01.f90
Due: fix-cc-deps, clang-format

[libc++][NFC] Simplify enable_if for std::copy optimization
  libcxx/include/__algorithm/copy.h
Due: fix-cc-deps, clang-format, check-header-guards

[X86] combineMOVMSK - constant fold with getTargetConstantBitsFromNode not just BUILD_VECTOR
  llvm/lib/Target/X86/X86ISelLowering.cpp
Due: fix-cc-deps, clang-format

[mlir][sparse] Add F16 and BF16.
  mlir/include/mlir/ExecutionEngine/Float16bits.h
  mlir/include/mlir/ExecutionEngine/SparseTensorUtils.h
  mlir/lib/Dialect/SparseTensor/Transforms/CodegenUtils.cpp
  mlir/lib/ExecutionEngine/CMakeLists.txt
  mlir/lib/ExecutionEngine/Float16bits.cpp
  mlir/lib/ExecutionEngine/SparseTensorUtils.cpp
  mlir/test/Dialect/SparseTensor/conversion_sparse2dense.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/dense_output_f16.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_sum_f16.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Due: fix-cc-deps, clang-format, check-header-guards

[libc++][NFC] Add missing 'return 0'
  libcxx/test/libcxx/algorithms/alg.modifying.operations/copy.pass.cpp
Due: fix-cc-deps, clang-format

[Clang] Fix memory leak due to TemplateArgumentListInfo used in AST node.
  clang-tools-extra/clangd/AST.cpp
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/DeclTemplate.h
  clang/include/clang/AST/TemplateBase.h
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/DeclTemplate.cpp
  clang/lib/AST/TemplateBase.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir] Fix handling of some region branch terminator successors
  mlir/include/mlir/Dialect/SCF/SCFOps.td
  mlir/include/mlir/Interfaces/ControlFlowInterfaces.td
  mlir/lib/Analysis/DataFlowAnalysis.cpp
  mlir/lib/Analysis/IntRangeAnalysis.cpp
  mlir/lib/Dialect/SCF/SCF.cpp
  mlir/lib/Interfaces/ControlFlowInterfaces.cpp
  mlir/test/Dialect/SCF/invalid.mlir
  mlir/test/Interfaces/InferIntRangeInterface/infer-int-range-test-ops.mlir
  mlir/test/Transforms/sccp-structured.mlir
Due: fix-cc-deps, clang-format
