Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

executable-semantics-format-grammar:
  name: Format the executable_semantics grammar file
  entry: executable_semantics/syntax/format_grammar.py
  language: python
  pass_filenames: false

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Replaced std::exit() with return llvm::Expected/llvm::Error<T> for expected errors like invalid syntax.
  common/ostream.h
  executable_semantics/ast/BUILD
  executable_semantics/ast/declaration.cpp
  executable_semantics/ast/declaration.h
  executable_semantics/ast/expression.cpp
  executable_semantics/ast/expression.h
  executable_semantics/ast/pattern.cpp
  executable_semantics/ast/pattern.h
  executable_semantics/ast/static_scope.cpp
  executable_semantics/ast/static_scope.h
  executable_semantics/common/BUILD
  executable_semantics/common/error.h
  executable_semantics/common/error_test.cpp
  executable_semantics/interpreter/BUILD
  executable_semantics/interpreter/action_stack.cpp
  executable_semantics/interpreter/action_stack.h
  executable_semantics/interpreter/exec_program.cpp
  executable_semantics/interpreter/exec_program.h
  executable_semantics/interpreter/heap.cpp
  executable_semantics/interpreter/heap.h
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/interpreter.h
  executable_semantics/interpreter/resolve_control_flow.cpp
  executable_semantics/interpreter/resolve_control_flow.h
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/resolve_names.h
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.h
  executable_semantics/interpreter/value.cpp
  executable_semantics/interpreter/value.h
  executable_semantics/main.cpp
  executable_semantics/syntax/BUILD
  executable_semantics/syntax/lexer.lpp
  executable_semantics/syntax/parse.cpp
  executable_semantics/syntax/parse.h
  executable_semantics/syntax/parse_and_lex_context.cpp
  executable_semantics/syntax/parse_and_lex_context.h
  executable_semantics/syntax/parse_test.cpp
  executable_semantics/syntax/parse_test_matchers_internal.h
  executable_semantics/syntax/parser.ypp
Due: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Use llvm::formatv() for formatting lexer error messages. x
  executable_semantics/syntax/lexer.lpp
Due: executable-semantics-format-grammar

[libc++] Remove workarounds for re-defining _LIBCPP_ASSERT in the test suite
  libcxx/docs/DesignDocs/DebugMode.rst
  libcxx/include/__algorithm/comp_ref_type.h
  libcxx/include/__assert
  libcxx/test/libcxx/algorithms/debug_less.pass.cpp
  libcxx/test/libcxx/experimental/memory/memory.polymorphic.allocator.class/memory.polymorphic.allocator.mem/deallocate.assert.pass.cpp
  libcxx/test/libcxx/experimental/memory/memory.resource.adaptor/memory.resource.adaptor.mem/deallocate.assert.pass.cpp
  libcxx/utils/libcxx/test/format.py
Due: fix-cc-deps

[mlir][linalg] Add a FillOpInterface.
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.h
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.td
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
  mlir/lib/Dialect/Linalg/IR/LinalgInterfaces.cpp
  mlir/python/mlir/dialects/linalg/opdsl/lang/comprehension.py
  mlir/python/mlir/dialects/linalg/opdsl/ops/core_named_ops.py
  mlir/test/Dialect/Linalg/fill-interface-invalid.mlir
  mlir/test/lib/Dialect/Test/TestOps.td
Due: fix-cc-deps

[mlir][linalg] Add returning rewrite method to fusion pattern (NFC).
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/Transforms/Transforms.cpp
Due: fix-cc-deps

[mlir][OpDSL] Add support for adding canonicalization patterns.
  mlir/docs/Dialects/Linalg/OpDSL.md
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/python/mlir/dialects/linalg/opdsl/lang/comprehension.py
  mlir/python/mlir/dialects/linalg/opdsl/lang/dsl.py
  mlir/python/mlir/dialects/linalg/opdsl/ops/core_named_ops.py
  mlir/test/mlir-linalg-ods-gen/test-linalg-ods-yaml-gen.yaml
  mlir/test/python/dialects/linalg/opdsl/metadata.py
  mlir/tools/mlir-linalg-ods-gen/mlir-linalg-ods-yaml-gen.cpp
Due: fix-cc-deps

[SelectionDAG][NFC] Address a few clang-tidy warnings
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
Due: fix-cc-deps

Addresed merge errors.
  executable_semantics/ast/static_scope.cpp
  executable_semantics/interpreter/action_stack.h
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/resolve_control_flow.cpp
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.h
  executable_semantics/interpreter/value.cpp
  executable_semantics/syntax/lexer.lpp
Due: executable-semantics-format-grammar, fix-cc-deps

[PowerPC] Fix the none tail call in scalar MASS conversion This patch is proposing a fix for patch https://reviews.llvm.org/D101759 on none tail call math function conversion to MASS call.
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/test/CodeGen/PowerPC/lower-intrinsics-afn-mass_notail.ll
  llvm/test/CodeGen/PowerPC/lower-intrinsics-fast-mass_notail.ll
Due: fix-cc-deps

Fixed impl scope.
  executable_semantics/interpreter/impl_scope.cpp
  executable_semantics/interpreter/impl_scope.h
  executable_semantics/interpreter/type_checker.cpp
Due: fix-cc-deps

[llvm-profgen] Turn on CS nested profile generation by default for CSSPGO.
  llvm/test/tools/llvm-profgen/cs-extbinary.test
  llvm/test/tools/llvm-profgen/cs-interrupt.test
  llvm/test/tools/llvm-profgen/cs-preinline.test
  llvm/test/tools/llvm-profgen/fname-canonicalization.test
  llvm/test/tools/llvm-profgen/func-split.test
  llvm/test/tools/llvm-profgen/inline-cs-noprobe.test
  llvm/test/tools/llvm-profgen/inline-cs-pseudoprobe.test
  llvm/test/tools/llvm-profgen/merge-cold-profile.test
  llvm/test/tools/llvm-profgen/multi-load-segs.test
  llvm/test/tools/llvm-profgen/noinline-cs-noprobe.test
  llvm/test/tools/llvm-profgen/noinline-cs-pseudoprobe.test
  llvm/test/tools/llvm-profgen/recursion-compression-noprobe.test
  llvm/test/tools/llvm-profgen/recursion-compression-pseudoprobe.test
  llvm/test/tools/llvm-profgen/separate-debuginfo-binary.test
  llvm/test/tools/llvm-profgen/truncated-pseudoprobe.test
  llvm/tools/llvm-profgen/ProfileGenerator.cpp
Due: fix-cc-deps

[CSSPGO][SCCIterator] Fix a non-determinism in scc_member_iterator
  llvm/include/llvm/ADT/SCCIterator.h
Due: fix-cc-deps

InstCombine: Can't fold a phi arg load into the phi if the load is from a swifterror address
  llvm/lib/Transforms/InstCombine/InstCombinePHI.cpp
  llvm/test/Transforms/InstCombine/phi-equal-incoming-pointers.ll
Due: fix-cc-deps

[mlir][OpDSL] Simplify index and constant tests.
  mlir/python/mlir/dialects/linalg/opdsl/lang/config.py
  mlir/test/Dialect/Linalg/generalize-named-polymorphic-ops.mlir
  mlir/test/python/dialects/linalg/opdsl/emit_misc.py
Due: none

[BOLT][NFC] Check section contents before registering it
  bolt/include/bolt/Rewrite/RewriteInstance.h
  bolt/lib/Rewrite/RewriteInstance.cpp
Due: fix-cc-deps

Made ErrorBuilder::operator<< nodiscard, to catch code forgetting 'return' in 'return FATAL_COMPILATION_ERROR()'.
  executable_semantics/common/error.h
  executable_semantics/interpreter/type_checker.cpp
Due: fix-cc-deps

[flang][nfc] Update the CMake dependencies for `flangFrontend`
  flang/lib/Frontend/CMakeLists.txt
Due: none

[mlir][OpDSL] Remove unused SoftPlus2DOp operation.
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
  mlir/python/mlir/dialects/linalg/opdsl/ops/core_named_ops.py
Due: none

[MSSA] Add comments describing optimized uses for MemoryDefs [nfc]
  llvm/include/llvm/Analysis/MemorySSA.h
Due: fix-cc-deps

[mlir][OpDSL] Support pointwise ops with rank zero inputs.
  mlir/python/mlir/dialects/linalg/opdsl/lang/emitter.py
  mlir/test/Dialect/Linalg/generalize-named-polymorphic-ops.mlir
  mlir/test/python/dialects/linalg/opdsl/emit_fill.py
  mlir/test/python/integration/dialects/linalg/opsrun.py
  mlir/tools/mlir-linalg-ods-gen/mlir-linalg-ods-yaml-gen.cpp
Due: fix-cc-deps

[InstCombine] fold fcmp with lossy casted constant
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/fcmp.ll
Due: fix-cc-deps

[MSSA] Add clarifying comment for isOptimized on MemoryUse [nfc]
  llvm/include/llvm/Analysis/MemorySSA.h
Due: fix-cc-deps

[NFC][Clang][OpaquePtr] Remove calls to Address::deprecated in CGBuiltin.cpp
  clang/lib/CodeGen/CGBuiltin.cpp
Due: fix-cc-deps

[flang] Lower sum intrinsic
  flang/include/flang/Lower/AbstractConverter.h
  flang/include/flang/Lower/ConvertExpr.h
  flang/include/flang/Lower/CustomIntrinsicCall.h
  flang/include/flang/Lower/IntrinsicCall.h
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/include/flang/Optimizer/Dialect/FIRType.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/CMakeLists.txt
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Lower/CustomIntrinsicCall.cpp
  flang/lib/Lower/IntrinsicCall.cpp
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/lib/Optimizer/Dialect/FIRType.cpp
  flang/test/Lower/Intrinsics/sum.f90
  flang/unittests/Runtime/Time.cpp
Due: fix-cc-deps

[RISCV] Add combination crypto extensions in ISAInfo
  clang/test/Preprocessor/riscv-target-features.c
  llvm/include/llvm/Support/RISCVISAInfo.h
  llvm/lib/Support/RISCVISAInfo.cpp
  llvm/test/CodeGen/RISCV/attributes.ll
Due: fix-cc-deps

[mlir][Linalg] Add a polymorphic linalg.copy operation
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
  mlir/python/mlir/dialects/linalg/opdsl/ops/core_named_ops.py
  mlir/test/Dialect/Linalg/generalize-named-polymorphic-ops.mlir
Due: none

fixing bugs and finding new ones
  executable_semantics/ast/ast_node.h
  executable_semantics/ast/declaration.cpp
  executable_semantics/ast/declaration.h
  executable_semantics/ast/expression.cpp
  executable_semantics/ast/expression.h
  executable_semantics/ast/generic_binding.h
  executable_semantics/ast/pattern.cpp
  executable_semantics/ast/pattern.h
  executable_semantics/ast/statement.h
  executable_semantics/ast/static_scope.h
  executable_semantics/interpreter/impl_scope.cpp
  executable_semantics/interpreter/impl_scope.h
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.h
  executable_semantics/interpreter/value.cpp
  executable_semantics/testdata/generic_class/class_function.carbon
  executable_semantics/testdata/generic_class/class_function2.carbon
Due: fix-cc-deps

[LegalizeTypes][VP] Add splitting and widening support for VP_FNEG.
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfneg-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfneg-vp.ll
Due: fix-cc-deps

[LegalizeTypes][VP] Add widening and splitting support for VP_FMA.
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfma-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfma-vp.ll
Due: fix-cc-deps

[X86] Add cheapX86FSETCC_SSE helper. NFC.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Due: fix-cc-deps

[X86] convertIntLogicToFPLogic - enable fp-logic on pre-AVX targets for supported fp predicates (PR34563)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/fcmp-logic.ll
  llvm/test/CodeGen/X86/pr40539.ll
Due: fix-cc-deps

[mlir] Check nullity of MixedContainerType and TypedArrayAttrBase
  mlir/include/mlir/IR/OpBase.td
  mlir/test/mlir-tblgen/op-attribute.td
Due: none

Fix copy-paste error (#1123)
  docs/design/expressions/README.md
Due: none

[mlir] Add canonicalizations for op -> tensor.cast folding.
  mlir/include/mlir/Dialect/Linalg/IR/LinalgOps.td
  mlir/include/mlir/Dialect/Tensor/IR/Tensor.h
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Linalg/canonicalize.mlir
  mlir/test/Dialect/Linalg/tile-and-fuse-tensors.mlir
Due: fix-cc-deps

[JITLink] Demote symbol scope to local during external-to-absolute conversion.
  llvm/include/llvm/ExecutionEngine/JITLink/JITLink.h
  llvm/test/ExecutionEngine/JITLink/X86/ELF_external_to_absolute_conversion.s
Due: fix-cc-deps

[BOLT] CMOVConversion pass
  bolt/include/bolt/Core/MCPlusBuilder.h
  bolt/include/bolt/Passes/CMOVConversion.h
  bolt/lib/Passes/CMOVConversion.cpp
  bolt/lib/Passes/CMakeLists.txt
  bolt/lib/Rewrite/BinaryPassManager.cpp
  bolt/lib/Target/X86/X86MCPlusBuilder.cpp
  bolt/test/X86/cmov-conversion.s
Due: fix-cc-deps

disable unqualified access to members from other members for now
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/testdata/generic_class/class_function2.carbon
Due: fix-cc-deps

[libc++] Complexity regression tests for make_heap and sort_heap.
  libcxx/test/libcxx/algorithms/alg.sorting/alg.heap.operations/make.heap/complexity.pass.cpp
  libcxx/test/libcxx/algorithms/alg.sorting/alg.heap.operations/sort.heap/complexity.pass.cpp
Due: fix-cc-deps

[libc++] "Bottom-up heapsort" improvement to sort_heap.
  libcxx/docs/ReleaseNotes.rst
  libcxx/include/__algorithm/pop_heap.h
  libcxx/include/__algorithm/sift_down.h
  libcxx/test/libcxx/algorithms/alg.sorting/alg.heap.operations/sort.heap/complexity.pass.cpp
Due: fix-cc-deps

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

