Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

x
  .github/workflows/tests.yaml
Due: none

Checkpoint progress.
  proposals/p2376.md
Due: none

Apply suggestions from code review
  proposals/p1964.md
Due: none

Update to for more integer based approach, disallow numeric escape sequences
  proposals/p1964.md
Due: none

Remove pattern evaluation from the interpreter.
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Remove unnecessary SetValue function.
  explorer/ast/pattern.h
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Update details
  proposals/p1964.md
Due: none

Remove pattern evaluation from the interpreter. (#2400)
  explorer/ast/pattern.h
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.h
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Refactor Pattern and FunctionParameter handling for Parser consistency (#2385)
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
Due: fix-cc-deps, clang-format, check-header-guards

Clean up Parser stack construction (#2386)
  toolchain/parser/parser.h
Due: fix-cc-deps, clang-format, check-header-guards

Change keyword statements to bracket arguments. (#2394)
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/testdata/basics/return.carbon
  toolchain/parser/testdata/return/basic.carbon
  toolchain/parser/testdata/return/expr.carbon
  toolchain/parser/testdata/return/fail_expr_no_semi.carbon
  toolchain/parser/testdata/return/fail_no_semi.carbon
  toolchain/parser/testdata/while/fail_no_semi.carbon
  toolchain/parser/testdata/while/fail_unbraced.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Change StructLiteral and StructTypeLiteral parsing to use an ambiguous start. (#2396)
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/structs.carbon
Due: fix-cc-deps, clang-format

Use Consume() more where possible. (#2397)
  toolchain/parser/parser.cpp
Due: fix-cc-deps, clang-format

Require exhaustiveness as suggested in code review and discussed on discord.
  proposals/p2188.md
Due: none

Attempt to improve definition of _facet type_.
  proposals/p2360.md
Due: none

Rename to StructLiteralOrStructTypeLiteralStart
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/structs.carbon
Due: fix-cc-deps, clang-format

x
  toolchain/parser/parse_tree_test.cpp
Due: fix-cc-deps, clang-format

Add notes to comment on #access-requests as a notification substitute.
  CONTRIBUTING.md
Due: none

x
  CONTRIBUTING.md
Due: none

s
  CONTRIBUTING.md
Due: none

links
  CONTRIBUTING.md
Due: none

;
  CONTRIBUTING.md
Due: none

Reflect updates to #2360
  proposals/p2200.md
Due: none

Fix wrong issue number in reference.
  proposals/p2360.md
Due: none

Apply suggestions from code review
  proposals/p2360.md
Due: none

Start drafting out semantic type checking.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/driver/driver.cpp
  toolchain/lexer/numeric_literal.h
  toolchain/lexer/tokenized_buffer.h
  toolchain/semantics/BUILD
  toolchain/semantics/lit_autoupdate.py
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/operators/binary_op.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/return/trivial.carbon
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

x
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/semantics/semantics_ir.h
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Track the ParseTree::Node with SemanticsNode.
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Replace some reference members with pointer members.
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/semantics/testdata/operators/type_mismatch.carbon
  toolchain/semantics/testdata/operators/type_mismatch_once.carbon
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

