Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==16.0.0

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==16.0.0

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Refactored StaticScope for maintainability and readability.
  explorer/ast/static_scope.cpp
Due: fix-cc-deps, clang-format

Checkpoint progress.
  toolchain/check/check.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/sem_ir/typed_insts_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Implement a list of exported names for imports.
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/value_stores.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Disable bugprone-unchecked-optional-access due to false positives
  .clang-tidy
Due: none

Disable bugprone-unchecked-optional-access due to false positives (#3553)
  .clang-tidy
Due: none

Comments
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Implement a list of exported names for imports. (#3552)
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/check/decl_name_stack.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/value_stores.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/node_stack.h
  toolchain/parse/node_ids.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Checkpoint progress.
  toolchain/check/handle_class.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make ID formatting consistently use *this for special cases
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/base/index_base.h
  toolchain/check/check.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/return.cpp
  toolchain/check/return.h
  toolchain/parse/node_ids.h
  toolchain/parse/tree_node_location_translator.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add BindGenericName.
  toolchain/check/context.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add mechanism to define instruction categories to support inspecting the common representation of similar kinds of instruction.
  common/struct_reflection.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make ID formatting consistently use *this for special cases (#3554)
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reflow comments.
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Split Parse out to its own target.
  language_server/BUILD
  language_server/language_server.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/parse/BUILD
  toolchain/parse/parse.cpp
  toolchain/parse/parse.h
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Split Parse out to its own target. (#3556)
  language_server/BUILD
  language_server/language_server.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/parse/BUILD
  toolchain/parse/parse.cpp
  toolchain/parse/parse.h
  toolchain/parse/parse_fuzzer.cpp
  toolchain/parse/tree.cpp
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Respond to reviewer comments
  toolchain/parse/state.def
Due: none

Split out context targets for check and parse.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/parse/BUILD
  toolchain/parse/context.h
  toolchain/parse/parse.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Change the core Parse loop to dispatch.
  toolchain/check/check.cpp
  toolchain/lower/function_context.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/parse.cpp
  toolchain/parse/state.h
  toolchain/sem_ir/builtin_kind.h
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_interface.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Split out context targets for check and parse. (#3558)
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/context.h
  toolchain/parse/BUILD
  toolchain/parse/context.h
  toolchain/parse/parse.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Checkpoint progress.
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Comments
  toolchain/check/check.cpp
  toolchain/lower/function_context.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/parse.cpp
  toolchain/parse/state.h
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

static
  toolchain/lower/function_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Support using generic type bindings as types.
  toolchain/check/context.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/function/generic/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/type_param.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add (failing) lower test.
  toolchain/lower/testdata/function/generic/type_param.carbon
Due: none

Move comments to the struct
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use typed parse node ids in SemIR instruction types (#3560)
  toolchain/base/index_base.h
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/node_stack.h
  toolchain/check/return.cpp
  toolchain/check/return.h
  toolchain/parse/node_ids.h
  toolchain/parse/tree_node_location_translator.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/typed_insts_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

