Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[SLP][NFC]Fix misprint in function name, NFC.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Due: fix-cc-deps

[mlir][spirv] Add a pass to unify aliased resource variables
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVStructureOps.td
  mlir/include/mlir/Dialect/SPIRV/Transforms/Passes.h
  mlir/include/mlir/Dialect/SPIRV/Transforms/Passes.td
  mlir/lib/Dialect/SPIRV/Transforms/CMakeLists.txt
  mlir/lib/Dialect/SPIRV/Transforms/UnifyAliasedResourcePass.cpp
  mlir/test/Dialect/SPIRV/Transforms/unify-aliased-resource.mlir
Due: fix-cc-deps

tsan: Add a missing disable_sanitizer_instrumentation attribute
  compiler-rt/test/tsan/Linux/fork_deadlock.cpp
Due: fix-cc-deps

[RISCV] Add the passthru operand for vmv.vv/vmv.vx/vfmv.vf IR intrinsics.
  clang/include/clang/Basic/riscv_vector.td
  clang/test/CodeGen/RISCV/rvv-intrinsics-overloaded/vmv.c
  clang/test/CodeGen/RISCV/rvv-intrinsics/vfmv.c
  clang/test/CodeGen/RISCV/rvv-intrinsics/vmv.c
  llvm/include/llvm/IR/IntrinsicsRISCV.td
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVSDPatterns.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
  llvm/test/CodeGen/RISCV/rvv/setcc-integer-rv32.ll
  llvm/test/CodeGen/RISCV/rvv/setcc-integer-rv64.ll
  llvm/test/CodeGen/RISCV/rvv/unmasked-tu.ll
  llvm/test/CodeGen/RISCV/rvv/vfmv.v.f.ll
  llvm/test/CodeGen/RISCV/rvv/vmv.v.v-rv32.ll
  llvm/test/CodeGen/RISCV/rvv/vmv.v.v-rv64.ll
  llvm/test/CodeGen/RISCV/rvv/vmv.v.x-rv32.ll
  llvm/test/CodeGen/RISCV/rvv/vmv.v.x-rv64.ll
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.ll
  llvm/test/CodeGen/RISCV/spill-fpr-scalar.ll
Due: fix-cc-deps

[JITLink][RISCV] fix the extractBits behavior and add R_RISCV_JAL relocation.
  llvm/include/llvm/ExecutionEngine/JITLink/riscv.h
  llvm/lib/ExecutionEngine/JITLink/ELF_riscv.cpp
  llvm/lib/ExecutionEngine/JITLink/riscv.cpp
  llvm/test/ExecutionEngine/JITLink/RISCV/ELF_jal.s
Due: fix-cc-deps

[OpenMP][Offloading] Fix test case issues in bug49334.cpp
  openmp/libomptarget/test/offloading/bug49334.cpp
Due: fix-cc-deps

[InstCombine] add test for min/max intrinsic with constant expression; NFC
  llvm/test/Transforms/InstCombine/minmax-intrinsics.ll
Due: none

[InstCombine] push constant operand down/outside in sequence of min/max intrinsics
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/minmax-intrinsics.ll
Due: fix-cc-deps

Revert "[JITLink][RISCV] fix the extractBits behavior and add R_RISCV_JAL relocation."
  llvm/include/llvm/ExecutionEngine/JITLink/riscv.h
  llvm/lib/ExecutionEngine/JITLink/ELF_riscv.cpp
  llvm/lib/ExecutionEngine/JITLink/riscv.cpp
  llvm/test/ExecutionEngine/JITLink/RISCV/ELF_jal.s
Due: fix-cc-deps

[polly] Fix regression test after D110620.
  polly/test/ScopInfo/NonAffine/non_affine_loop_used_later.ll
Due: none

[AArch64][SVE] Invert VSelect operand order and condition for predicated arithmetic operations
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-fp-reciprocal.ll
  llvm/test/CodeGen/AArch64/sve-select.ll
Due: fix-cc-deps

[GlobalDCE] Simplify and return Changed = true less often
  llvm/lib/Transforms/IPO/GlobalDCE.cpp
Due: fix-cc-deps

[AArch64] Add some missing strict FP vector lowering
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/fp-intrinsics-vector.ll
Due: fix-cc-deps

[RISCV] Fix incorrect MemOperand copy converting splat+load to vlse.
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-buildvec.ll
Due: fix-cc-deps

[RISCV] Match shufflevector corresponding to slideup.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-shuffles.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-shuffles.ll
Due: fix-cc-deps

[objcopy] followup patch after f75da0c8e65cf1b09012a8b62cd7f3e9a646bbc9
  clang/docs/tools/clang-formatted-files.txt
  llvm/unittests/CMakeLists.txt
Due: none

Title: Export unique symbol list with llvm-nm new option "--export-symbols"
  llvm/docs/CommandGuide/llvm-nm.rst
  llvm/include/llvm/BinaryFormat/XCOFF.h
  llvm/include/llvm/Object/XCOFFObjectFile.h
  llvm/lib/Object/XCOFFObjectFile.cpp
  llvm/test/tools/llvm-nm/XCOFF/export-symbols.test
  llvm/test/tools/llvm-nm/bitcode-export-sym.test
  llvm/tools/llvm-nm/Opts.td
  llvm/tools/llvm-nm/llvm-nm.cpp
Due: fix-cc-deps

[AArch64] Remove an unused variable in my previous patch
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Due: fix-cc-deps

[test][IndVarSimplify][OpaquePtr] Precommit test
  llvm/test/Transforms/IndVarSimplify/opaque-ptr.ll
Due: none

[SCEVExpander][OpaquePtr] Check GEP source type when finding identical GEP
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/test/Transforms/IndVarSimplify/opaque-ptr.ll
Due: fix-cc-deps

[mlir][linalg][sparse] add linalg optimization passes "upstream"
  mlir/lib/Dialect/Linalg/IR/CMakeLists.txt
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp
  mlir/lib/Dialect/SparseTensor/Pipelines/SparseTensorPipelines.cpp
  mlir/test/Integration/Dialect/SparseTensor/CPU/dense_output.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_filter_conv2d.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_matmul.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_quantized_matmul.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_reductions.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_sampled_mm_fusion.mlir
  mlir/test/Integration/Dialect/SparseTensor/python/test_SpMM.py
  mlir/test/Integration/Dialect/SparseTensor/python/test_output.py
  mlir/test/Integration/Dialect/SparseTensor/python/test_stress.py
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Due: fix-cc-deps

[clang] [NFC] More exhaustive tests for deducing void return types
  clang/test/SemaCXX/deduced-return-void.cpp
Due: fix-cc-deps

Add support for floating-point option `ffp-eval-method` and for `pragma clang fp eval_method`.
  clang/docs/LanguageExtensions.rst
  clang/docs/UsersManual.rst
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/include/clang/Basic/FPOptions.def
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Basic/LangOptions.h
  clang/include/clang/Basic/TargetInfo.h
  clang/include/clang/Driver/Options.td
  clang/include/clang/Lex/Preprocessor.h
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Basic/Targets/OSTargets.h
  clang/lib/Basic/Targets/X86.h
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/lib/Lex/PPMacroExpansion.cpp
  clang/lib/Parse/ParsePragma.cpp
  clang/lib/Parse/ParseStmt.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaAttr.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CodeGen/X86/32bit-behavior-no-eval.c
  clang/test/CodeGen/X86/32bit-behavior.c
  clang/test/CodeGen/X86/fp-eval-method.c
  clang/test/CodeGen/flt_eval_macro.cpp
  clang/test/CodeGen/fp-floatcontrol-pragma.cpp
  clang/test/Preprocessor/flt_eval_macro.cpp
  clang/test/Preprocessor/init-aarch64.c
  clang/test/Preprocessor/init-arm.c
  clang/test/Preprocessor/init-mips.c
  clang/test/Preprocessor/init-ppc.c
  clang/test/Preprocessor/init-ppc64.c
  clang/test/Preprocessor/init-s390x.c
  clang/test/Preprocessor/init-v7k-compat.c
  clang/test/Preprocessor/init-x86.c
  clang/test/Preprocessor/init.c
  clang/test/Sema/fp-eval-pragma.cpp
  clang/test/Sema/x86-eval-method.c
  clang/test/Sema/x86_64-eval-method.c
Due: fix-cc-deps

[clang] Sema::CheckEquivalentExceptionSpec - remove useless nullptr test
  clang/lib/Sema/SemaExceptionSpec.cpp
Due: fix-cc-deps

add missing include
  lldb/tools/debugserver/source/RNBRemote.cpp
Due: fix-cc-deps

[NFC][llvm-nm] refactor function dumpSymbolNamesFromFile Summary: split the function into several small functions.
  llvm/tools/llvm-nm/llvm-nm.cpp
Due: fix-cc-deps

[AArch64][SVE] Add structured load/store opcodes to getMemOpInfo
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/sve-fixed-ld2-alloca.ll
  llvm/test/CodeGen/AArch64/sve-ldN.mir
  llvm/test/CodeGen/AArch64/sve-stN.mir
Due: fix-cc-deps

[instsimplify] Precommit a test showing an alloca equality miscompile
  llvm/test/Transforms/InstSimplify/compare.ll
Due: none

[RuntimeDyld] Fix building on OpenBSD
  llvm/tools/llvm-rtdyld/llvm-rtdyld.cpp
Due: fix-cc-deps

[clangd] Fix building SerializationTests unit test on OpenBSD
  clang-tools-extra/clangd/unittests/SerializationTests.cpp
Due: fix-cc-deps

checkpoint
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parse_tree_node_location_translator.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantic_analyzer.cpp
  toolchain/semantics/semantic_analyzer.h
  toolchain/semantics/semantic_analyzer_test.cpp
  toolchain/semantics/semantics.cpp
  toolchain/semantics/semantics.h
Due: fix-cc-deps, forbid-llvm-googletest

[libc] Add exit and atexit
  libc/config/linux/api.td
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/CMakeLists.txt
  libc/include/llvm-libc-types/CMakeLists.txt
  libc/include/llvm-libc-types/__atexithandler_t.h
  libc/spec/spec.td
  libc/spec/stdc.td
  libc/src/stdlib/CMakeLists.txt
  libc/src/stdlib/atexit.cpp
  libc/src/stdlib/atexit.h
  libc/src/stdlib/exit.cpp
  libc/src/stdlib/exit.h
  libc/test/src/stdlib/CMakeLists.txt
  libc/test/src/stdlib/_Exit_test.cpp
  libc/test/src/stdlib/atexit_test.cpp
Due: fix-cc-deps

[flang] Lower simple scalar assignment
  flang/include/flang/Lower/ConvertExpr.h
  flang/include/flang/Lower/ConvertType.h
  flang/include/flang/Lower/Support/Utils.h
  flang/include/flang/Lower/Utils.h
  flang/include/flang/Optimizer/Dialect/FIROps.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Lower/ConvertType.cpp
  flang/lib/Lower/Mangler.cpp
  flang/test/Lower/assignment.f90
Due: fix-cc-deps

[instsimplify] Fix a miscompile with zero sized allocas
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/compare.ll
Due: fix-cc-deps

[CUDA][SPIRV] Assign global address space to CUDA kernel arguments
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/CodeGen/TargetInfo.cpp
  clang/test/CodeGenCUDASPIRV/kernel-argument.cu
Due: fix-cc-deps

Grouping text
  docs/design/expressions/README.md
Due: none

[instsimplify] When compare allocas, consider their minimal size
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/Analysis/MemoryBuiltins.cpp
  llvm/test/Transforms/InstSimplify/compare.ll
Due: fix-cc-deps

[SLP][NFC]Add another test for swapped main/alternate cmp, NFC.
  llvm/test/Transforms/SLPVectorizer/X86/cmp-as-alternate-ops.ll
Due: none
