Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Add range flag settings to index files
  toolchain/check/testdata/index/array_element_access.carbon
  toolchain/check/testdata/index/expr_category.carbon
  toolchain/check/testdata/index/fail_array_large_index.carbon
  toolchain/check/testdata/index/fail_array_non_int_indexing.carbon
  toolchain/check/testdata/index/fail_array_out_of_bound_access.carbon
  toolchain/check/testdata/index/fail_expr_category.carbon
  toolchain/check/testdata/index/fail_invalid_base.carbon
  toolchain/check/testdata/index/fail_name_not_found.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/index/fail_non_tuple_access.carbon
Due: none

Move NameScope update to go alongside other similar work
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add range flag settings to if_expr files
  toolchain/check/testdata/if_expr/basic.carbon
  toolchain/check/testdata/if_expr/constant_condition.carbon
  toolchain/check/testdata/if_expr/control_flow.carbon
  toolchain/check/testdata/if_expr/fail_not_in_function.carbon
  toolchain/check/testdata/if_expr/fail_partial_constant.carbon
  toolchain/check/testdata/if_expr/nested.carbon
  toolchain/check/testdata/if_expr/struct.carbon
Due: none

Add range flag settings to interop files
  toolchain/check/testdata/interop/cpp/function_param_int16.carbon
  toolchain/check/testdata/interop/cpp/function_param_int32.carbon
  toolchain/check/testdata/interop/cpp/function_param_unsupported.carbon
  toolchain/check/testdata/interop/cpp/function_return.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/class.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function_inline.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/include.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/multiple_imports.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/namespace.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/struct.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/union.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/unsupported_decl_type.carbon
Due: none

Add range flag settings to let files
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/check/testdata/let/convert.carbon
  toolchain/check/testdata/let/fail_duplicate_decl.carbon
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/let/fail_generic_import.carbon
  toolchain/check/testdata/let/fail_missing_value.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/let/fail_use_in_init.carbon
  toolchain/check/testdata/let/generic.carbon
  toolchain/check/testdata/let/generic_import.carbon
  toolchain/check/testdata/let/global.carbon
  toolchain/check/testdata/let/local.carbon
  toolchain/check/testdata/let/no_prelude/import.carbon
  toolchain/check/testdata/let/no_prelude/import_access.carbon
  toolchain/check/testdata/let/shadowed_decl.carbon
Due: none

Add range flag settings to namespace files
  toolchain/check/testdata/namespace/add_to_import.carbon
  toolchain/check/testdata/namespace/alias.carbon
  toolchain/check/testdata/namespace/fail_conflict_after_merge.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_nested.carbon
  toolchain/check/testdata/namespace/fail_conflict_imported_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_first.carbon
  toolchain/check/testdata/namespace/fail_conflict_in_imports_namespace_second.carbon
  toolchain/check/testdata/namespace/fail_decl_in_alias.carbon
  toolchain/check/testdata/namespace/fail_duplicate.carbon
  toolchain/check/testdata/namespace/fail_modifiers.carbon
  toolchain/check/testdata/namespace/fail_not_top_level.carbon
  toolchain/check/testdata/namespace/fail_params.carbon
  toolchain/check/testdata/namespace/fail_unresolved_scope.carbon
  toolchain/check/testdata/namespace/function.carbon
  toolchain/check/testdata/namespace/imported.carbon
  toolchain/check/testdata/namespace/imported_indirect.carbon
  toolchain/check/testdata/namespace/merging.carbon
  toolchain/check/testdata/namespace/merging_with_indirections.carbon
  toolchain/check/testdata/namespace/min_prelude/name_poisoning.carbon
  toolchain/check/testdata/namespace/nested.carbon
  toolchain/check/testdata/namespace/shadow.carbon
  toolchain/check/testdata/namespace/unqualified_lookup.carbon
Due: none

No longer expect this test to fail.
  toolchain/check/testdata/var/no_prelude/export_name.carbon
Due: none

Checkpoint progress.
  proposals/p5389.md
Due: none

inline ReplaceNameScopeBeforeConstantUse
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove dead helper function now that it's been inlined
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add range flag settings to operators files
  toolchain/check/testdata/operators/builtin/and.carbon
  toolchain/check/testdata/operators/builtin/assignment.carbon
  toolchain/check/testdata/operators/builtin/bit_and.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_not_in_function.carbon
  toolchain/check/testdata/operators/builtin/fail_and_or_partial_constant.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_error.carbon
  toolchain/check/testdata/operators/builtin/fail_assignment_to_non_assignable.carbon
  toolchain/check/testdata/operators/builtin/fail_redundant_compound_access.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_assignment.carbon
  toolchain/check/testdata/operators/builtin/fail_type_mismatch_once.carbon
  toolchain/check/testdata/operators/builtin/fail_unimplemented_op.carbon
  toolchain/check/testdata/operators/builtin/or.carbon
  toolchain/check/testdata/operators/builtin/unary_op.carbon
  toolchain/check/testdata/operators/overloaded/add.carbon
  toolchain/check/testdata/operators/overloaded/binary_op.carbon.tmpl
  toolchain/check/testdata/operators/overloaded/bit_and.carbon
  toolchain/check/testdata/operators/overloaded/bit_complement.carbon
  toolchain/check/testdata/operators/overloaded/bit_or.carbon
  toolchain/check/testdata/operators/overloaded/bit_xor.carbon
  toolchain/check/testdata/operators/overloaded/dec.carbon
  toolchain/check/testdata/operators/overloaded/div.carbon
  toolchain/check/testdata/operators/overloaded/eq.carbon
  toolchain/check/testdata/operators/overloaded/fail_assign_non_ref.carbon
  toolchain/check/testdata/operators/overloaded/fail_error_recovery.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl.carbon
  toolchain/check/testdata/operators/overloaded/fail_no_impl_for_arg.carbon
  toolchain/check/testdata/operators/overloaded/implicit_as.carbon
  toolchain/check/testdata/operators/overloaded/inc.carbon
  toolchain/check/testdata/operators/overloaded/index.carbon
  toolchain/check/testdata/operators/overloaded/left_shift.carbon
  toolchain/check/testdata/operators/overloaded/mod.carbon
  toolchain/check/testdata/operators/overloaded/mul.carbon
  toolchain/check/testdata/operators/overloaded/negate.carbon
  toolchain/check/testdata/operators/overloaded/no_prelude/index.carbon
  toolchain/check/testdata/operators/overloaded/ordered.carbon
  toolchain/check/testdata/operators/overloaded/right_shift.carbon
  toolchain/check/testdata/operators/overloaded/sub.carbon
  toolchain/check/testdata/operators/overloaded/unary_op.carbon.tmpl
  toolchain/check/testdata/operators/overloaded/unary_stmt.carbon.tmpl
Due: none

Add range flag settings to package-expr files
  toolchain/check/testdata/package_expr/fail_not_found.carbon
  toolchain/check/testdata/package_expr/syntax.carbon
Due: none

Add range flag settings to packages files
  toolchain/check/testdata/packages/explicit_imports.carbon
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_conflict_no_namespaces.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/check/testdata/packages/fail_import_type_error.carbon
  toolchain/check/testdata/packages/fail_name_with_import_failure.carbon
  toolchain/check/testdata/packages/loaded_global.carbon
  toolchain/check/testdata/packages/no_prelude/core_name_poisoning.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_export.carbon
  toolchain/check/testdata/packages/no_prelude/cross_package_import.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/packages/no_prelude/export_mixed.carbon
  toolchain/check/testdata/packages/no_prelude/export_name.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_member.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/packages/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_empty.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_entities.carbon
  toolchain/check/testdata/packages/no_prelude/missing_prelude.carbon
  toolchain/check/testdata/packages/no_prelude/restricted_package_names.carbon
  toolchain/check/testdata/packages/raw_core.carbon
  toolchain/check/testdata/packages/unused_lazy_import.carbon
Due: none

Add range flag settings to patterns files
  toolchain/check/testdata/patterns/min_prelude/underscore.carbon
Due: none

Add range flag settings to pointer files
  toolchain/check/testdata/pointer/address_of_deref.carbon
  toolchain/check/testdata/pointer/address_of_lvalue.carbon
  toolchain/check/testdata/pointer/arrow.carbon
  toolchain/check/testdata/pointer/basic.carbon
  toolchain/check/testdata/pointer/fail_address_of_error.carbon
  toolchain/check/testdata/pointer/fail_address_of_value.carbon
  toolchain/check/testdata/pointer/fail_deref_error.carbon
  toolchain/check/testdata/pointer/fail_deref_function.carbon
  toolchain/check/testdata/pointer/fail_deref_namespace.carbon
  toolchain/check/testdata/pointer/fail_deref_not_pointer.carbon
  toolchain/check/testdata/pointer/fail_deref_type.carbon
  toolchain/check/testdata/pointer/fail_type_mismatch.carbon
  toolchain/check/testdata/pointer/import.carbon
  toolchain/check/testdata/pointer/nested_const.carbon
  toolchain/check/testdata/pointer/types.carbon
Due: none

Add range flag settings to return files
  toolchain/check/testdata/return/code_after_return.carbon
  toolchain/check/testdata/return/code_after_return_value.carbon
  toolchain/check/testdata/return/fail_call_in_type.carbon
  toolchain/check/testdata/return/fail_error_in_type.carbon
  toolchain/check/testdata/return/fail_let_in_type.carbon
  toolchain/check/testdata/return/fail_missing_return.carbon
  toolchain/check/testdata/return/fail_missing_return_empty_tuple.carbon
  toolchain/check/testdata/return/fail_return_var_no_returned_var.carbon
  toolchain/check/testdata/return/fail_return_with_returned_var.carbon
  toolchain/check/testdata/return/fail_returned_var_no_return_type.carbon
  toolchain/check/testdata/return/fail_returned_var_shadow.carbon
  toolchain/check/testdata/return/fail_returned_var_type.carbon
  toolchain/check/testdata/return/fail_type_mismatch.carbon
  toolchain/check/testdata/return/fail_value_disallowed.carbon
  toolchain/check/testdata/return/fail_value_missing.carbon
  toolchain/check/testdata/return/fail_var_in_type.carbon
  toolchain/check/testdata/return/min_prelude/import_convert_function.carbon
  toolchain/check/testdata/return/missing_return_no_return_type.carbon
  toolchain/check/testdata/return/no_value.carbon
  toolchain/check/testdata/return/returned_var.carbon
  toolchain/check/testdata/return/returned_var_scope.carbon
  toolchain/check/testdata/return/struct.carbon
  toolchain/check/testdata/return/tuple.carbon
  toolchain/check/testdata/return/value.carbon
Due: none

Add range flag settings to struct files
  toolchain/check/testdata/struct/fail_access_into_invalid.carbon
  toolchain/check/testdata/struct/fail_assign_empty.carbon
  toolchain/check/testdata/struct/fail_assign_to_empty.carbon
  toolchain/check/testdata/struct/fail_duplicate_name.carbon
  toolchain/check/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/check/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/check/testdata/struct/fail_keyword_name.carbon
  toolchain/check/testdata/struct/fail_member_access_type.carbon
  toolchain/check/testdata/struct/fail_member_of_function.carbon
  toolchain/check/testdata/struct/fail_non_member_access.carbon
  toolchain/check/testdata/struct/fail_too_few_values.carbon
  toolchain/check/testdata/struct/fail_type_assign.carbon
  toolchain/check/testdata/struct/fail_value_as_type.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/struct/literal_member_access.carbon
  toolchain/check/testdata/struct/member_access.carbon
  toolchain/check/testdata/struct/nested_struct_in_place.carbon
  toolchain/check/testdata/struct/no_prelude/empty.carbon
  toolchain/check/testdata/struct/no_prelude/fail_assign_nested.carbon
  toolchain/check/testdata/struct/no_prelude/fail_nested_incomplete.carbon
  toolchain/check/testdata/struct/one_entry.carbon
  toolchain/check/testdata/struct/partially_const.carbon
  toolchain/check/testdata/struct/reorder_fields.carbon
  toolchain/check/testdata/struct/tuple_as_element.carbon
  toolchain/check/testdata/struct/two_entries.carbon
Due: none

Add range flag settings to var files
  toolchain/check/testdata/var/fail_not_copyable.carbon
  toolchain/check/testdata/var/fail_storage_is_literal.carbon
  toolchain/check/testdata/var/fail_todo_control_flow_init.carbon
  toolchain/check/testdata/var/min_prelude/decl.carbon
  toolchain/check/testdata/var/min_prelude/decl_with_init.carbon
  toolchain/check/testdata/var/min_prelude/fail_duplicate_decl.carbon
  toolchain/check/testdata/var/min_prelude/fail_init_with_self.carbon
  toolchain/check/testdata/var/min_prelude/fail_lookup_outside_scope.carbon
  toolchain/check/testdata/var/min_prelude/global_lookup_in_scope.carbon
  toolchain/check/testdata/var/min_prelude/lookup.carbon
  toolchain/check/testdata/var/min_prelude/shadowing.carbon
  toolchain/check/testdata/var/min_prelude/var_pattern.carbon
  toolchain/check/testdata/var/no_prelude/export_name.carbon
  toolchain/check/testdata/var/no_prelude/fail_generic.carbon
  toolchain/check/testdata/var/no_prelude/fail_init_type_mismatch.carbon
  toolchain/check/testdata/var/no_prelude/fail_modifiers.carbon
  toolchain/check/testdata/var/no_prelude/fail_namespace_conflict.carbon
  toolchain/check/testdata/var/no_prelude/global_decl.carbon
  toolchain/check/testdata/var/no_prelude/global_decl_with_init.carbon
  toolchain/check/testdata/var/no_prelude/global_lookup.carbon
  toolchain/check/testdata/var/no_prelude/import.carbon
  toolchain/check/testdata/var/no_prelude/import_access.carbon
Due: none

Update if tests
  toolchain/check/testdata/if/else.carbon
  toolchain/check/testdata/if/fail_reachable_fallthrough.carbon
  toolchain/check/testdata/if/fail_scope.carbon
  toolchain/check/testdata/if/min_prelude/basics.carbon
  toolchain/check/testdata/if/no_else.carbon
  toolchain/check/testdata/if/unreachable_fallthrough.carbon
Due: none

Use `linkonce_odr` linkage for specific functions.
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/function/generic/call.carbon
  toolchain/lower/testdata/function/generic/call_basic.carbon
  toolchain/lower/testdata/function/generic/call_basic_depth.carbon
  toolchain/lower/testdata/function/generic/call_dedup_ptr.carbon
  toolchain/lower/testdata/function/generic/call_deref_ptr.carbon
  toolchain/lower/testdata/function/generic/call_different_associated_const.carbon
  toolchain/lower/testdata/function/generic/call_different_impls.carbon
  toolchain/lower/testdata/function/generic/call_impl_function.carbon
  toolchain/lower/testdata/function/generic/call_method.carbon
  toolchain/lower/testdata/function/generic/call_recursive_basic.carbon
  toolchain/lower/testdata/function/generic/call_recursive_diamond.carbon
  toolchain/lower/testdata/function/generic/call_recursive_impl.carbon
  toolchain/lower/testdata/function/generic/call_recursive_mutual.carbon
  toolchain/lower/testdata/function/generic/call_recursive_sccs_deep.carbon
  toolchain/lower/testdata/function/generic/call_specific_in_class.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

stable-pointers
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/BUILD
  common/flatten.h
  toolchain/base/BUILD
  toolchain/base/int.h
  toolchain/base/value_store.h
  toolchain/base/value_store_chunk.h
  toolchain/check/check_unit.cpp
  toolchain/check/handle_index.cpp
  toolchain/check/impl_validation.cpp
  toolchain/check/import_ref.cpp
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/generic.cpp
  toolchain/sem_ir/generic.h
  toolchain/sem_ir/impl.h
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

fix-lifetimes-with-init-list
  common/flatten.h
Due: fix-cc-deps, clang-format, check-header-guards

Use concat in formatter
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Make struct test headings more readable
  toolchain/check/testdata/interop/cpp/no_prelude/function.carbon
Due: none

Move `toolchain/check/testdata/interop/cpp/no_prelude/{function,function_inline}.carbon` to a dedicated `function` directory
  toolchain/check/testdata/interop/cpp/no_prelude/function/function.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function/inline.carbon
Due: none

Duplicate `toolchain/check/testdata/interop/cpp/no_prelude/function/function.carbon` to `struct.carbon` before removing tests to make this test split easier to review.
  toolchain/check/testdata/interop/cpp/no_prelude/function/struct.carbon
Due: none

Remove `struct` specific code from `function.carbon` and non-`struct` specific code from `struct.carbon`
  toolchain/check/testdata/interop/cpp/no_prelude/function/function.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function/struct.carbon
Due: none

Remove `struct` from shard filenames given the container filename is `struct.carbon`
  toolchain/check/testdata/interop/cpp/no_prelude/function/struct.carbon
Due: none

Adding `--dump-sem-ir-ranges` per https://github.com/carbon-language/carbon-lang/pull/5539/files#r2112877693
  toolchain/check/testdata/interop/cpp/no_prelude/function/function.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function/inline.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/function/struct.carbon
Due: none

Add an int min_prelude
  toolchain/testing/min_prelude/int.carbon
Due: none

Add if-present markers to deduce files
  toolchain/check/testdata/deduce/array.carbon
  toolchain/check/testdata/deduce/generic_type.carbon
  toolchain/check/testdata/deduce/int_float.carbon
  toolchain/check/testdata/deduce/min_prelude/binding_pattern.carbon
  toolchain/check/testdata/deduce/tuple.carbon
  toolchain/check/testdata/deduce/type_operator.carbon
  toolchain/check/testdata/deduce/value_with_type_through_access.carbon
Due: none

track size_, rename base_chunk_, rearrange some things
  toolchain/base/value_store.h
  toolchain/base/value_store_chunk.h
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Revert "Add FUZZING_BUILD_MODE_UNSAFE_FOR_PRODUCTION to fuzzer mode and enable DCHECKs under fuzzing (#5489)"
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/check.h
  common/raw_hashtable_metadata_group.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards

no-fuzzer-branch
  toolchain/base/value_store_chunk.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

comma
  toolchain/base/value_store.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

array
  common/type_enum.h
  toolchain/check/eval.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/inst_fingerprinter.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add ranges flags in a smattering of files missed in other PRs
  toolchain/check/testdata/builtins/print/int.carbon
  toolchain/check/testdata/class/min_prelude/destroy_calls.carbon
  toolchain/check/testdata/class/min_prelude/fail_abstract.carbon
  toolchain/check/testdata/class/min_prelude/fail_abstract_in_tuple.carbon
  toolchain/check/testdata/function/call/min_prelude/alias.carbon
  toolchain/check/testdata/function/call/min_prelude/return_implicit.carbon
  toolchain/check/testdata/function/declaration/min_prelude/fail_import_incomplete_return.carbon
  toolchain/check/testdata/function/definition/min_prelude/fail_local_decl.carbon
  toolchain/check/testdata/function/generic/min_prelude/call.carbon
  toolchain/check/testdata/function/generic/min_prelude/fail_type_param_mismatch.carbon
  toolchain/check/testdata/function/generic/min_prelude/type_param.carbon
  toolchain/check/testdata/var/no_prelude/global_decl_import.carbon
Due: none

Add range flag settings to where_expr files
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/check/testdata/where_expr/dot_self_index.carbon
  toolchain/check/testdata/where_expr/equal_rewrite.carbon
  toolchain/check/testdata/where_expr/fail_not_facet.carbon
  toolchain/check/testdata/where_expr/min_prelude/dot_self_impls.carbon
  toolchain/check/testdata/where_expr/non_generic.carbon
Due: none
