Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Reorder aliases
  toolchain/base/relational_value_store.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add unit tagging to CppGlobalVarId
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add unit tagging to InstBlockId
  toolchain/base/block_value_store.h
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Actually pass in the `CheckIRId`
  toolchain/base/value_store.h
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Explain the number of reserved ids in a comment
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve comment
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Prefer CHECK rather than DCHECK
  toolchain/base/value_store.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Test updates
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
Due: none

Add unit tagging to StructTypeFieldId
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestion from @danakj
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add unit tagging to SymbolicConstantId
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/sem_ir/constant.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

`PrintChar` takes a `char`
  core/io.carbon
  examples/advent2024/day11_part2.carbon
  examples/advent2024/io_utils.carbon
  toolchain/check/testdata/builtins/print/char.carbon
Due: none

Add unit tagging to ImportIRId
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Correct format string specifier to match number of parameters
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add unit tagging to IdentifiedFacetTypeIds
  toolchain/base/canonical_value_store.h
  toolchain/base/relational_value_store.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add TODO
  core/io.carbon
Due: none

Drop the plus, since this is an absolute value
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fail-test-names
  toolchain/check/testdata/facet/require_invalid.carbon
  toolchain/check/testdata/interface/require.carbon
Due: none

parse-require
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/impl.cpp
  toolchain/check/merge.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/facet/require_invalid.carbon
  toolchain/check/testdata/interface/require.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/handle_impl.cpp
  toolchain/parse/handle_require.cpp
  toolchain/parse/node_category.h
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/precedence.h
  toolchain/parse/state.def
  toolchain/parse/testdata/function/decl_statement.carbon
  toolchain/parse/testdata/function/definition.carbon
  toolchain/parse/testdata/generics/impl/basic.carbon
  toolchain/parse/testdata/generics/impl/class.carbon
  toolchain/parse/testdata/generics/impl/declaration.carbon
  toolchain/parse/testdata/generics/impl/empty_body.carbon
  toolchain/parse/testdata/generics/impl/fail_impl.carbon
  toolchain/parse/testdata/generics/impl/fail_out_of_line_member.carbon
  toolchain/parse/testdata/generics/impl/forall.carbon
  toolchain/parse/testdata/generics/interface/require.carbon
  toolchain/parse/testdata/packages/package/impl.carbon
  toolchain/parse/testdata/where_expr/impl_where.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

review
  toolchain/parse/handle_require.cpp
  toolchain/parse/precedence.h
  toolchain/parse/state.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/named_constraint/convert.carbon
Due: none

self-required
  docs/design/generics/details.md
Due: none

ticks
  docs/design/generics/details.md
Due: none

Add unit tagging to CustomLayoutId
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add unit tagging to ExprRegionId
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add unit tagging to ClangSourceLocId
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add unit tagging to ClangDeclId
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Create a `Call` instruction directly when building a thunk call.
  toolchain/check/cpp/thunk.cpp
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply review suggestions
  toolchain/check/cpp/type_mapping.cpp
  toolchain/check/testdata/interop/cpp/function/overloads.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix function comments
  toolchain/check/cpp/type_mapping.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unnecessary semicolons
  toolchain/check/cpp/type_mapping.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Reorder invariant before code that relies on it.
  toolchain/check/cpp/thunk.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Unify "needs thunk" logic.
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/testdata/interop/cpp/enum/anonymous.carbon
  toolchain/check/testdata/interop/cpp/function/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/lower/testdata/interop/cpp/parameters.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add support for `ref` patterns
  toolchain/check/convert.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/node_stack.h
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/class/base_method_addr.carbon
  toolchain/check/testdata/class/base_method_shadow_addr.carbon
  toolchain/check/testdata/class/fail_ref_self.carbon
  toolchain/check/testdata/class/generic/basic_addr.carbon
  toolchain/check/testdata/class/import_addr.carbon
  toolchain/check/testdata/class/method_addr.carbon
  toolchain/check/testdata/class/raw_self_addr.carbon
  toolchain/check/testdata/class/self_addr.carbon
  toolchain/check/testdata/class/self_conversion_addr.carbon
  toolchain/check/testdata/class/syntactic_merge.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/lookup/impl_forall_addr.carbon
  toolchain/check/testdata/interface/compound_member_access_addr.carbon
  toolchain/check/testdata/let/ref.carbon
  toolchain/check/thunk.cpp
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lex/token_kind.def
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/let/fail_generic_ref.carbon
  toolchain/parse/testdata/let/let_ref.carbon
  toolchain/parse/testdata/var/fail_ref.carbon
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add lowering tests for `ref`
  toolchain/lower/testdata/array/field_addr.carbon
  toolchain/lower/testdata/class/method_addr.carbon
  toolchain/lower/testdata/class/self_addr.carbon
  toolchain/lower/testdata/impl/instance_method_addr.carbon
Due: none

Fix lowering of ref params
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/function/call/ref_param.carbon
  toolchain/sem_ir/function.cpp
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix merge
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/sem_ir/inst_kind.def
Due: none

Limit `ref` to durable references
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/class/fail_call_ref_method_with_initializing.carbon
  toolchain/check/testdata/class/fail_ref_self.carbon
  toolchain/check/testdata/class/method.carbon
  toolchain/check/testdata/interface/compound_member_access.carbon
  toolchain/check/testdata/interface/compound_member_access_addr.carbon
  toolchain/check/testdata/var/var_pattern.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/function/definition/destroy.carbon
  toolchain/lower/testdata/function/definition/var_param.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

