Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==14.0.6

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==14.0.6

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Can't override virtual methods in an adapter
  docs/design/generics/details.md
Due: none

Clean up some small mistakes
  docs/design/generics/details.md
  proposals/p0818.md
Due: none

Add another benefit of `is` from the weekly sync meeting.
  proposals/p2188.md
Due: none

Start adding var decls to semantics. (#2447)
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Can't override virtual methods in an adapter (#2450)
  docs/design/generics/details.md
Due: none

Clean up some small mistakes (#2451)
  docs/design/generics/details.md
  proposals/p0818.md
Due: none

Remove equality on enum types
  toolchain/lexer/token_kind.h
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser_state.h
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards

todo
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format

x
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format

x
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Try to reduce enum boilerplate
  toolchain/common/BUILD
  toolchain/common/enum_base.def
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Change result_id to use is_valid instead of an optional. (#2449)
  toolchain/common/index_base.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Due: fix-cc-deps, clang-format, check-header-guards

comment
  toolchain/common/enum_base.def
Due: none

x
  toolchain/semantics/semantics_builtin_kind.def
Due: none

x
  toolchain/common/enum_base.def
Due: none

Explorer: partially fix generics pointer conversion
  explorer/interpreter/interpreter.cpp
  explorer/testdata/linked_list/typed_linked_list.carbon
Due: fix-cc-deps, clang-format

Explorer: Fix `BaseElement` returning type instead of value
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format

Use macros to enforce handling parse nodes in SemanticsIR. (#2448)
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Due: fix-cc-deps, clang-format, check-header-guards

Other enums
  toolchain/common/enum_base.def
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

WIP attempt to diagnose infinite recursion
  explorer/data/prelude.carbon
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Support `p->member`, rewriting it to `(*p).member` in the parser.
  explorer/syntax/parser.ypp
  explorer/testdata/member_access/arrow.carbon
Due: explorer-format-grammar

Don't use `addr` for now, given its partial support.
  explorer/testdata/member_access/arrow.carbon
Due: none

Switch to separate `Print` statements.
  explorer/testdata/member_access/arrow.carbon
Due: none

Explorer: rename 'Member/TupleElement' to 'Named/Positional'
  explorer/ast/ast_rtti.txt
  explorer/ast/element.cpp
  explorer/ast/element.h
  explorer/ast/element_test.cpp
  explorer/ast/expression.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

Support `p->member`, rewriting it to `(*p).member` in the parser. (#2455)
  explorer/syntax/parser.ypp
  explorer/testdata/member_access/arrow.carbon
Due: explorer-format-grammar

x
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_assign.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Make TokenKind's API closer to toolchain's typical API setup.
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parser.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Undo
  toolchain/common/enum_base.def
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/token_registry.def
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/BUILD
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Make TokenKind's API closer to toolchain's typical API setup. (#2456)
  toolchain/lexer/BUILD
  toolchain/lexer/token_kind.cpp
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind.h
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parser.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Explorer: rename `GetMember` to `GetElement`
  explorer/interpreter/heap.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

Address review comments.
  explorer/README.md
  explorer/interpreter/BUILD
  explorer/interpreter/value.h
  explorer/interpreter/value_kinds.def
  explorer/interpreter/value_transform.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Typos and formatting fixes
  docs/design/README.md
  docs/design/expressions/README.md
  docs/design/expressions/literals.md
Due: none

Missing overview fix
  docs/design/expressions/literals.md
Due: none

x
  toolchain/common/BUILD
  toolchain/common/enum_base.def
  toolchain/common/enum_base.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node_kind.cpp
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Update moderator/conduct team contacts
  CODE_OF_CONDUCT.md
Due: none

x
  CODE_OF_CONDUCT.md
Due: none

Still misphrasing
  CODE_OF_CONDUCT.md
Due: none

Remove equality on enum types (#2452)
  toolchain/lexer/token_kind.h
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parser_state.h
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/common/enum_base.h
  toolchain/parser/BUILD
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/parser_state.h
  toolchain/parser/parser_state_test.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_builtin_kind.h
  toolchain/semantics/semantics_node_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

