Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==16.0.0

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==16.0.0

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Checkpoint progress.
  toolchain/check/handle_modifier.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_modifier.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_pattern_binding.cpp
  toolchain/check/node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_modifier.cpp
  toolchain/parse/tree.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

update tests
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/fail_import_repeat.carbon
  toolchain/parse/testdata/namespace/fail_incomplete.carbon
  toolchain/parse/testdata/packages/library/fail_invalid_name.carbon
  toolchain/parse/testdata/packages/library/fail_too_late.carbon
Due: none

handle empty tokens
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/parse/testdata/array/fail_require_close_bracket.carbon
  toolchain/parse/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parse/testdata/function/declaration/fail_missing_implicit_close.carbon
  toolchain/parse/testdata/function/declaration/fail_no_sig_or_semi.carbon
  toolchain/parse/testdata/generics/interface/fail_missing_open_curly.carbon
  toolchain/parse/testdata/let/fail_no_semi.carbon
  toolchain/parse/testdata/packages/import/fail_no_semi.carbon
  toolchain/parse/testdata/packages/library/fail_invalid_name.carbon
  toolchain/parse/testdata/packages/package/fail_no_semi.carbon
  toolchain/parse/testdata/var/fail_no_semi.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Introduce a Carbon hashing framework. (#3327)
  common/BUILD
  common/hashing.cpp
  common/hashing.h
  common/hashing_benchmark.cpp
  common/hashing_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Add nested array size deduction from tuple (#2909)
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.h
  explorer/interpreter/pattern_match.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_utils.cpp
  explorer/interpreter/type_utils.h
  explorer/testdata/array/fail_to_deduce_nested_array_size_from_tuple_different_subtuples_size.carbon
  explorer/testdata/array/fail_to_deduce_nested_array_size_from_tuple_of_different_types.carbon
  explorer/testdata/array/fail_to_deduce_size_from_tuple_of_different_types.carbon
  explorer/testdata/array/fail_to_index_deduced_nested_size_from_array.carbon
  explorer/testdata/array/fail_to_index_deduced_nested_size_from_tuple.carbon
  explorer/testdata/array/nested_and_external_array_size_deduction_from_tuple.carbon
  explorer/testdata/array/nested_array_size_deduction_from_array.carbon
  explorer/testdata/array/nested_array_size_deduction_from_empty_tuple.carbon
  explorer/testdata/array/nested_array_size_deduction_from_tuple.carbon
  explorer/testdata/array/nested_array_size_deduction_from_tuple_of_tuple_and_array.carbon
  explorer/testdata/array/three_dim_array_size_deduction_from_tuple.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

run autoupdate_testdata.sh
  explorer/testdata/class/abstract_method.carbon
  explorer/testdata/class/abstract_method_base_instance.carbon
  explorer/testdata/class/fail_abstract_method_abstract_class.carbon
  explorer/testdata/class/fail_abstract_method_base_class.carbon
  explorer/testdata/class/fail_abstract_method_body.carbon
  explorer/testdata/class/fail_abstract_method_final_impl.carbon
  explorer/testdata/class/fail_abstract_method_non_abstract_class.carbon
Due: none

Diagnose incorrect file extensions. (#3409)
  toolchain/check/check.cpp
  toolchain/check/testdata/packages/fail_api_not_found.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/packages/fail_import_default.carbon
  toolchain/check/testdata/packages/fail_import_invalid.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch cross references to a ValueStore.
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch to a bitset instead a struct of bools
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_modifier.cpp
  toolchain/check/handle_modifier.h
  toolchain/check/handle_variable.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

[explorer] Add support for `abstract` virtual methods (#3411)
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/abstract_method.carbon
  explorer/testdata/class/abstract_method_base_instance.carbon
  explorer/testdata/class/fail_abstract_method_abstract_class.carbon
  explorer/testdata/class/fail_abstract_method_base_class.carbon
  explorer/testdata/class/fail_abstract_method_body.carbon
  explorer/testdata/class/fail_abstract_method_final_impl.carbon
  explorer/testdata/class/fail_abstract_method_non_abstract_class.carbon
Due: fix-cc-deps, clang-format

Support for reading source code from stdin and other unusual places.
  toolchain/autoupdate_testdata.py
  toolchain/check/check.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
  toolchain/driver/testdata/stdin.carbon
  toolchain/lex/tokenized_buffer.h
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve diagnostic messages
  toolchain/check/handle_modifier.cpp
  toolchain/check/testdata/class/fail_modifiers.carbon
  toolchain/check/testdata/function/declaration/fail_modifiers.carbon
  toolchain/check/testdata/let/fail_modifiers.carbon
  toolchain/check/testdata/var/fail_modifiers.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

update tests
  toolchain/lex/testdata/fail_block_string_second_line.carbon
Due: none

Tree::Verify verifies no placeholder nodes left
  toolchain/parse/tree.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Merge DeclScopeLoop and DeclModifier
  toolchain/parse/context.cpp
  toolchain/parse/handle_decl_scope_loop.cpp
  toolchain/parse/state.def
  toolchain/parse/testdata/basics/empty_decl.carbon
  toolchain/parse/testdata/basics/fail_modifiers_before_semi.carbon
  toolchain/parse/testdata/basics/fail_no_intro_without_semi.carbon
  toolchain/parse/testdata/function/declaration/fail_skip_without_semi_to_curly.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove CARBON_DECL_MODIFIER_KEYWORD_TOKEN mechanism
  toolchain/lex/token_kind.def
  toolchain/parse/handle_decl_scope_loop.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Finish restoring lex/token_kind.def
  toolchain/lex/token_kind.def
Due: none

edits
  proposals/p3407.md
Due: none

Respond to reviewer comments
  toolchain/check/handle_paren.cpp
  toolchain/check/node_stack.h
  toolchain/parse/handle_expr.cpp
  toolchain/parse/handle_paren_expr.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
  toolchain/parse/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parse/testdata/basics/function_call.carbon
  toolchain/parse/testdata/basics/numeric_literals.carbon
  toolchain/parse/testdata/basics/parens.carbon
  toolchain/parse/testdata/operators/fail_precedence_assign.carbon
  toolchain/parse/testdata/operators/infix_with_paren_after.carbon
  toolchain/parse/testdata/operators/infix_with_paren_before.carbon
  toolchain/parse/testdata/operators/precedence_assign.carbon
  toolchain/parse/testdata/pointer/const_pointer.carbon
  toolchain/parse/testdata/tuple/nested.carbon
  toolchain/parse/testdata/tuple/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rephrase to clarify paren expression terminology
  docs/design/tuples.md
Due: none

Addressing comments
  docs/design/code_and_name_organization/README.md
  proposals/p3407.md
Due: none

Quote filename.
  toolchain/driver/driver.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Combine checking a MemoryBuffer with creating the SourceBuffer from it.
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Expose source buffer from tokenized buffer.
  toolchain/autoupdate_testdata.py
  toolchain/check/check.cpp
  toolchain/driver/testdata/fail_missing_stdin_output.carbon
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/tree.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add test for failure to open input file.
  toolchain/driver/testdata/fail_input_is_directory.carbon
Due: none

Revert incomplete change
  toolchain/parse/node_kind.def
  toolchain/parse/state.def
Due: none

Remove nodiscard uses.
  common/enum_base.h
  common/error.h
  explorer/ast/bindings.h
  explorer/interpreter/pattern_match.h
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/lex/numeric_literal.h
  toolchain/lex/string_literal.h
  toolchain/lex/token_kind.h
  toolchain/lex/tokenized_buffer.h
  toolchain/parse/precedence.h
  toolchain/parse/tree.h
  toolchain/sem_ir/inst_kind.h
  toolchain/source/source_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update proposals/p3407.md
  proposals/p3407.md
Due: none

Finish sentence
  proposals/p3407.md
Due: none

declaring
  docs/design/code_and_name_organization/README.md
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

