Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==14.0.6

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==14.0.6

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

empty
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one.carbon
  toolchain/semantics/testdata/function/call/params_one_comma.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

comment
  toolchain/semantics/semantics_parse_tree_handler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

x
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
Due: none

del
  toolchain/semantics/testdata/function/call/fail_empty_struct.carbon
Due: none

x
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/semantics/testdata/function/call/i32.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one.carbon
  toolchain/semantics/testdata/function/call/params_one_comma.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/function/call/params_zero.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

x
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Restore clone_test, accidentally removed by #2700 (#2723)
  explorer/fuzzing/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

doc: replace references to #821 by #2006 (#2724)
  docs/design/README.md
Due: none

Added design of comments in design docs (#2641)
  docs/design/lexical_conventions/README.md
  docs/design/lexical_conventions/comments.md
Due: none

Update toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add semantics for struct type and value literals. (#2709)
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_stack.cpp
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/builtin_nodes.carbon
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one_comma.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Clean up a few missed stringification comments and one diagnostic. (#2718)
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/return/fail_value_missing.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  CONTRIBUTING.md
Due: none

Incorporate feedback
  CONTRIBUTING.md
Due: none

Fix formatting
  CONTRIBUTING.md
Due: none

Add a "How to say things" section to CONTRIBUTING (#2715)
  CONTRIBUTING.md
Due: none

Replace RTTI generation script with macros. (#2703)
  .clang-format
  common/enum_base.h
  explorer/BUILD
  explorer/ast/BUILD
  explorer/ast/README.md
  explorer/ast/ast_kinds.h
  explorer/ast/ast_rtti.cpp
  explorer/ast/ast_rtti.h
  explorer/ast/ast_rtti.txt
  explorer/ast/clone_context.cpp
  explorer/ast/clone_context.h
  explorer/gen_rtti.py
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Support designator expressions on structs. (#2716)
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/designators/fail_unsupported.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reduce dumped context on parse verify errors.
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Record alternative considered
  proposals/p2687.md
Due: none

Update proposals/p2687.md
  proposals/p2687.md
Due: none

Rephrase
  proposals/p2687.md
Due: none

Reduce dumped context on parse verify errors. (#2725)
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

trim down to just the value semantic bits and leave pattern matching on its own
  docs/design/values.md
Due: none

expand much of the values docs
  docs/design/values.md
Due: none

toc
  docs/design/values.md
Due: none

more content and skeleton
  docs/design/values.md
Due: none

Consolidate towards ImplicitAs handling. (#2719)
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/function/call/fail_return_type_mismatch.carbon
  toolchain/semantics/testdata/function/call/i32.carbon
  toolchain/semantics/testdata/function/call/more_param_ir.carbon
  toolchain/semantics/testdata/function/call/params_one.carbon
  toolchain/semantics/testdata/function/call/params_two.carbon
  toolchain/semantics/testdata/function/call/params_two_comma.carbon
  toolchain/semantics/testdata/function/call/params_zero.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/return/struct.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve parsing of invalid expressions.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/operators/fail_invalid_infix.carbon
  toolchain/parser/testdata/return/fail_no_semi.carbon
  toolchain/parser/testdata/struct/fail_missing_type.carbon
  toolchain/parser/testdata/struct/fail_missing_value.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Explorer: Fuzzer issue around divide-by-zero
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/fail_div_by_zero.carbon
  explorer/testdata/operators/fail_mod_by_zero.carbon
Due: fix-cc-deps, clang-format

Remove trailing-whitespace
  explorer/testdata/operators/fail_div_by_zero.carbon
  explorer/testdata/operators/fail_mod_by_zero.carbon
Due: none

Fix trailing-whitespace
  explorer/testdata/operators/fail_div_by_zero.carbon
Due: none

Explorer: drop `Heap::GetAllocationId`, add `Bind`/`BindValue`
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/heap.h
  explorer/interpreter/heap_allocation_interface.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/destructor/destructor_var_and_let.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Improve parsing of invalid expressions. (#2726)
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/operators/fail_invalid_infix.carbon
  toolchain/parser/testdata/return/fail_no_semi.carbon
  toolchain/parser/testdata/struct/fail_missing_type.carbon
  toolchain/parser/testdata/struct/fail_missing_value.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Explorer: Fuzzer issue around divide-by-zero (#2735)
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/fail_div_by_zero.carbon
  explorer/testdata/operators/fail_mod_by_zero.carbon
Due: fix-cc-deps, clang-format

Removed unwanted details
  docs/design/lexical_conventions/words.md
Due: none

Add integer overflow checks
  explorer/interpreter/interpreter.cpp
  explorer/testdata/operators/fail_overflow_add.carbon
  explorer/testdata/operators/fail_overflow_div.carbon
  explorer/testdata/operators/fail_overflow_multiply.carbon
  explorer/testdata/operators/fail_overflow_sub.carbon
Due: fix-cc-deps, clang-format

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/diagnostic_registry\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

