Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, explorer-format-grammar, clang-format, forbid-llvm-googletest, require-sha-filenames

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: ^(.*/)?(BUILD\.bazel|BUILD|WORKSPACE)$|\.BUILD$|\.bzl$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  require-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[ArgPromotion] Make a non-byval promotion attempt first
  llvm/lib/Transforms/IPO/ArgumentPromotion.cpp
  llvm/test/Transforms/ArgumentPromotion/byval-through-pointer-promotion.ll
  llvm/test/Transforms/ArgumentPromotion/dbg.ll
  llvm/test/Transforms/ArgumentPromotion/fp80.ll
Due: fix-cc-deps, clang-format

[CodeGen][NFC] Move some comments from the end of lines to above them
  llvm/lib/CodeGen/PrologEpilogInserter.cpp
Due: fix-cc-deps, clang-format

[DebugInfo][InstrRef] Describe value sizes when spilt to stack
  llvm/lib/CodeGen/LiveDebugValues/InstrRefBasedImpl.cpp
  llvm/lib/CodeGen/LiveDebugValues/InstrRefBasedImpl.h
  llvm/test/DebugInfo/MIR/InstrRef/deref-spills-with-size.mir
  llvm/test/DebugInfo/MIR/InstrRef/follow-spill-of-indir-value.mir
  llvm/test/DebugInfo/MIR/X86/live-debug-values-restore.mir
  llvm/test/DebugInfo/MIR/X86/livedebugvalues_load_in_loop.mir
Due: fix-cc-deps, clang-format

Fixes a performance problem with lowering of forall loops and creating too many temporaries.
  flang/lib/Lower/ConvertExpr.cpp
  flang/test/Lower/forall/array-constructor.f90
  flang/test/Lower/forall/forall-2.f90
  flang/test/Lower/forall/forall-construct-2.f90
  flang/test/Lower/forall/forall-construct-3.f90
  flang/test/Lower/forall/forall-construct.f90
  flang/test/Lower/forall/forall-ranked.f90
  flang/test/Lower/forall/forall-slice.f90
  flang/test/Lower/forall/test9.f90
Due: fix-cc-deps, clang-format

Various improvements suggested by river NFC.
  mlir/include/mlir/IR/BuiltinAttributes.td
  mlir/lib/IR/BuiltinAttributes.cpp
Due: fix-cc-deps, clang-format

[DenseElementAttr] Simplify the public API for creating these.
  mlir/include/mlir/IR/BuiltinAttributes.h
  mlir/include/mlir/IR/BuiltinAttributes.td
  mlir/lib/CAPI/IR/BuiltinAttributes.cpp
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/lib/IR/BuiltinAttributes.cpp
  mlir/lib/Parser/AttributeParser.cpp
Due: fix-cc-deps, clang-format

[DeadArgElim] Re-apply: Set unused arguments for internal functions
  clang/test/CodeGen/debug-info-block-vars.c
  clang/test/CodeGenObjCXX/nrvo.mm
  llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp
  llvm/test/Transforms/DeadArgElim/fct_ptr.ll
Due: fix-cc-deps, clang-format

Initial support for generic parameters that are introduced in a function parameter list (#1247)
  explorer/ast/declaration.cpp
  explorer/ast/pattern.cpp
  explorer/ast/pattern.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.h
  explorer/testdata/generic_class/fail_argument_deduction.carbon
  explorer/testdata/generic_function/fail_implicit_conversion_extra_field.carbon
  explorer/testdata/generic_function/fail_implicit_conversion_missing_field.carbon
  explorer/testdata/generic_function/fail_type_deduction_mismatch.carbon
  explorer/testdata/generic_function/implicit_conversion.carbon
  explorer/testdata/generic_function/nondeduced_generic_param.carbon
Due: fix-cc-deps, clang-format

Fix buildifier file regex (#1254)
  .pre-commit-config.yaml
Due: none

[DenseElementAttr] Silence warning in -DNDEBUG builds. NFC.
  mlir/lib/IR/BuiltinAttributes.cpp
Due: fix-cc-deps, clang-format

[libcxx] Switch __cxx_contention_t to int32_t on 32 bit AIX
  libcxx/include/atomic
Due: none

draft
  scripts/check_header_guards.py
Due: none

[clang]Silence warning in MicrosoftCXXABI.cpp
  clang/lib/AST/MicrosoftCXXABI.cpp
Due: fix-cc-deps, clang-format

[RISCV] Use tail agnostic policy when selecting riscv_fma_vl to instructions
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfma-vp.ll
  llvm/test/CodeGen/RISCV/rvv/sink-splat-operands.ll
  llvm/test/CodeGen/RISCV/rvv/vfma-vp.ll
Due: none

[TypePromotion] Promote undef by converting to 0.
  llvm/lib/CodeGen/TypePromotion.cpp
  llvm/test/CodeGen/AArch64/typepromotion-phisret.ll
  llvm/test/Transforms/TypePromotion/AArch64/trunc-zext-chain.ll
  llvm/test/Transforms/TypePromotion/ARM/phis-ret.ll
Due: fix-cc-deps, clang-format

[CSSPGO][llvm-profgen] Do not duplicate context profiles into base profile when converting CS flat profile to nested.
  llvm/lib/ProfileData/SampleProf.cpp
  llvm/test/tools/llvm-profgen/cs-preinline.test
Due: fix-cc-deps, clang-format

Patch for mallinfo2
  third_party/llvm-project/llvm/lib/Support/Unix/Process.inc
Due: none

[Headers][MSVC] Define wchar_t in stddef.h like MSVC if not using the builtin type
  clang/lib/Headers/stddef.h
  clang/test/Headers/ms-no-wchar.cpp
Due: fix-cc-deps, clang-format

[CostModel][X86] Auto generate gather/scatter LV costs using UTC_ARGS --filter control
  llvm/test/Analysis/CostModel/X86/gather-i16-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/gather-i32-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/gather-i64-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/gather-i8-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/masked-gather-i32-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/masked-gather-i64-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/masked-scatter-i32-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/masked-scatter-i64-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/scatter-i16-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/scatter-i32-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/scatter-i64-with-i8-index.ll
  llvm/test/Analysis/CostModel/X86/scatter-i8-with-i8-index.ll
Due: none

[CostModel][X86] Auto generate masked load/store LV costs using UTC_ARGS --filter control
  llvm/test/Analysis/CostModel/X86/masked-interleaved-load-i16.ll
  llvm/test/Analysis/CostModel/X86/masked-interleaved-store-i16.ll
  llvm/test/Analysis/CostModel/X86/masked-load-i16.ll
  llvm/test/Analysis/CostModel/X86/masked-load-i32.ll
  llvm/test/Analysis/CostModel/X86/masked-load-i64.ll
  llvm/test/Analysis/CostModel/X86/masked-load-i8.ll
  llvm/test/Analysis/CostModel/X86/masked-store-i16.ll
  llvm/test/Analysis/CostModel/X86/masked-store-i32.ll
  llvm/test/Analysis/CostModel/X86/masked-store-i64.ll
  llvm/test/Analysis/CostModel/X86/masked-store-i8.ll
Due: none

[CostModel][X86] Auto generate partial interleaved load LV costs using UTC_ARGS --filter control
  llvm/test/Analysis/CostModel/X86/interleaved-load-i32-stride-2-indices-0u.ll
  llvm/test/Analysis/CostModel/X86/interleaved-load-i32-stride-3-indices-01u.ll
  llvm/test/Analysis/CostModel/X86/interleaved-load-i32-stride-3-indices-0uu.ll
  llvm/test/Analysis/CostModel/X86/interleaved-load-i32-stride-4-indices-012u.ll
  llvm/test/Analysis/CostModel/X86/interleaved-load-i32-stride-4-indices-01uu.ll
  llvm/test/Analysis/CostModel/X86/interleaved-load-i32-stride-4-indices-0uuu.ll
Due: none

Changed ExpectReturnOnAllPaths() to treat continuation, run and awai as missing returns
  explorer/fuzzing/fuzzer_corpus/770513d3093894a2df74c8efcb4d135f430f45b5.textproto
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, require-sha-filenames

[libc++abi] Refactor exception type demangling into a separate function
  libcxxabi/src/cxa_default_handlers.cpp
Due: fix-cc-deps, clang-format

Check for resource exhaustion when recursively parsing declarators
  clang/docs/ReleaseNotes.rst
  clang/lib/Parse/ParseDecl.cpp
Due: fix-cc-deps, clang-format

[libc++abi][NFC] Add comment on long reaching #if
  libcxxabi/src/cxa_default_handlers.cpp
Due: fix-cc-deps, clang-format

[RISCV] Extend dataflow workaround from D119518 to fallthrough blocks
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.mir
Due: fix-cc-deps, clang-format

[InstCombine] freeze operand in div+mul fold
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/test/Transforms/InstCombine/add4.ll
  llvm/test/Transforms/InstCombine/exact.ll
  llvm/test/Transforms/InstCombine/rem.ll
Due: fix-cc-deps, clang-format

Collect arguments for explicitly-specified generic parameters as we type-check.
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/testdata/function/fail_call_with_tuple.carbon
  explorer/testdata/generic_class/convert_from_struct.carbon
Due: fix-cc-deps, clang-format

[Sanitizers][Darwin] Add READ/WRITE detection on arm64 for darwin.
  compiler-rt/lib/sanitizer_common/sanitizer_mac.cpp
Due: fix-cc-deps, clang-format

[llvm-profgen] Filter out oversized LBR ranges.
  llvm/test/tools/llvm-profgen/Inputs/invalid-range.perfscript
  llvm/test/tools/llvm-profgen/invalid-range.test
  llvm/tools/llvm-profgen/PerfReader.cpp
  llvm/tools/llvm-profgen/PerfReader.h
  llvm/tools/llvm-profgen/ProfiledBinary.cpp
  llvm/tools/llvm-profgen/ProfiledBinary.h
Due: fix-cc-deps, clang-format

[ELF] Align the end of PT_GNU_RELRO to max-page-size instead of common-page-size
  lld/ELF/Writer.cpp
  lld/docs/ReleaseNotes.rst
  lld/test/ELF/aarch64-relro.s
  lld/test/ELF/basic-ppc64.s
Due: fix-cc-deps, clang-format

[clang] Allow all string types for all attribute(format) styles
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/SemaObjC/format-strings-objc.m
Due: fix-cc-deps, clang-format

[libc] add uint128 implementation
  libc/src/__support/CPP/CMakeLists.txt
  libc/src/__support/CPP/TypeTraits.h
  libc/src/__support/CPP/UInt.h
  libc/src/__support/FPUtil/CMakeLists.txt
  libc/src/__support/FPUtil/UInt.h
  libc/src/__support/FPUtil/XFloat.h
  libc/src/math/generic/CMakeLists.txt
  libc/test/src/__support/CMakeLists.txt
  libc/test/src/__support/uint128_test.cpp
  libc/utils/UnitTest/LibcTest.cpp
Due: fix-cc-deps, clang-format

[SLP][NFC] Added test to exercise the cause of a crash caused by reordering.
  llvm/test/Transforms/SLPVectorizer/X86/reorder_with_external_users.ll
Due: none

[LAA] Initial support for runtime checks with pointer selects.
  llvm/include/llvm/Analysis/LoopAccessAnalysis.h
  llvm/lib/Analysis/LoopAccessAnalysis.cpp
  llvm/test/Analysis/LoopAccessAnalysis/forked-pointers.ll
Due: fix-cc-deps, clang-format

[libc] fix uint includes and libc bazel
  libc/src/__support/CPP/UInt.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Due: fix-cc-deps, buildifier, clang-format
