Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

executable-semantics-format-grammar:
  name: Format the executable_semantics grammar file
  entry: executable_semantics/syntax/format_grammar.py
  language: python
  pass_filenames: false

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

[SDAG] Handle A and B&~A in haveNoCommonBitsSet()
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/X86/add-and-not.ll
Due: fix-cc-deps

[gn build] Port eac22d0754f7
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/lib/BUILD.gn
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/unittests/BUILD.gn
Due: none

Revert "[pseudo] Implement the GLR parsing algorithm."
  clang-tools-extra/pseudo/include/clang-pseudo/Forest.h
  clang-tools-extra/pseudo/include/clang-pseudo/GLR.h
  clang-tools-extra/pseudo/lib/CMakeLists.txt
  clang-tools-extra/pseudo/lib/GLR.cpp
  clang-tools-extra/pseudo/test/glr.cpp
  clang-tools-extra/pseudo/tool/ClangPseudo.cpp
  clang-tools-extra/pseudo/unittests/CMakeLists.txt
  clang-tools-extra/pseudo/unittests/GLRTest.cpp
Due: fix-cc-deps

[gn build] Port 860eabb3953a
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/lib/BUILD.gn
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/unittests/BUILD.gn
Due: none

Fix a typo in an OpenMP test
  clang/test/OpenMP/predefined_macro.c
Due: none

Add explicit OpenMP 5.0 case for version macros; NFC
  clang/lib/Frontend/InitPreprocessor.cpp
Due: fix-cc-deps

[bazel] Add test targets for dataflow framework
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
  utils/bazel/llvm-project-overlay/clang/unittests/BUILD.bazel
Due: none

[X86] load-local-v3i129.ll - add checks for targets with fast/slow shld funnel shift ops
  llvm/test/CodeGen/X86/load-local-v3i129.ll
Due: none

[X86] const-shift-of-constmasked.ll - replace X32 check prefix with X86
  llvm/test/CodeGen/X86/const-shift-of-constmasked.ll
Due: none

[lldb][NFC] Simplify part of Options::GenerateOptionUsage
  lldb/source/Interpreter/Options.cpp
Due: fix-cc-deps

[AArch64] Support for Ampere1 core
  clang/test/Misc/target-invalid-cpu-note.c
  llvm/include/llvm/Support/AArch64TargetParser.def
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64SchedAmpere1.td
  llvm/lib/Target/AArch64/AArch64SchedPredAmpere.td
  llvm/lib/Target/AArch64/AArch64SchedPredicates.td
  llvm/lib/Target/AArch64/AArch64Subtarget.cpp
  llvm/lib/Target/AArch64/AArch64Subtarget.h
  llvm/test/CodeGen/AArch64/cpus.ll
  llvm/test/CodeGen/AArch64/neon-dot-product.ll
  llvm/test/CodeGen/AArch64/remat.ll
  llvm/test/MC/AArch64/armv8.2a-dotprod.s
  llvm/test/MC/AArch64/armv8.3a-rcpc.s
  llvm/test/MC/Disassembler/AArch64/armv8.3a-rcpc.txt
  llvm/unittests/Support/TargetParserTest.cpp
Due: fix-cc-deps

[PowerPC] Regenerate urem-seteq-illegal-types.ll
  llvm/test/CodeGen/PowerPC/urem-seteq-illegal-types.ll
Due: none

[X86] Add additional add of and not tests (NFC)
  llvm/test/CodeGen/X86/add-and-not.ll
Due: none

[AArch64] Add native CPU detection for Ampere1
  llvm/lib/Support/Host.cpp
  llvm/unittests/Support/Host.cpp
Due: fix-cc-deps

[BOLT] [NFC] Remove unused variable
  bolt/lib/Profile/DataReader.cpp
Due: fix-cc-deps

[lldb][NFC] Refactor printing of short options in help
  lldb/source/Interpreter/Options.cpp
Due: fix-cc-deps

[NFC][GVNSink] Don't pretend that iteration is over instructions when it's actually over blocks
  llvm/lib/Transforms/Scalar/GVNSink.cpp
Due: fix-cc-deps

[X86] Autogen a few tests for ease of update [nfc]
  llvm/test/CodeGen/X86/lsr-interesting-step.ll
  llvm/test/CodeGen/X86/sink-out-of-loop.ll
  llvm/test/Transforms/LoopStrengthReduce/X86/2012-01-13-phielim.ll
Due: none

[Clang][OpenMP] Add the support for floating-point variables for specific atomic clauses
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/test/OpenMP/atomic_capture_codegen.cpp
  clang/test/OpenMP/atomic_update_codegen.cpp
  clang/test/OpenMP/for_reduction_codegen.cpp
  clang/test/OpenMP/parallel_reduction_codegen.cpp
  clang/test/OpenMP/reduction_implicit_map.cpp
  clang/test/OpenMP/sections_reduction_codegen.cpp
Due: fix-cc-deps

[SCEV] Regenerate test checks (NFC)
  llvm/test/Analysis/ScalarEvolution/trip-count14.ll
Due: none

[ELF] Fix branch range computation when picking ThunkSection
  lld/ELF/Relocations.cpp
  lld/test/ELF/aarch64-thunk-reuse2.s
Due: fix-cc-deps

[X86] Add test showing failure to modulo the rotation amounts before merging an inner rotation
  llvm/test/CodeGen/X86/combine-rotates.ll
Due: none

[RFC] Add and sort decl to maintain order instead of inserting in order
  clang/lib/Serialization/ASTWriter.cpp
Due: fix-cc-deps

[DAG] Fix issue with rot(rot(x,c1),c2) -> rot(x,c1+c2) fold with unnormalized rotation amounts
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/X86/combine-rotates.ll
Due: fix-cc-deps

[mlir][LLVMIR] Add support for translating Switch instruction
  mlir/lib/Target/LLVMIR/ConvertFromLLVMIR.cpp
  mlir/test/Target/LLVMIR/Import/basic.ll
Due: fix-cc-deps

[llvm-ar] Modify usage printouts to use the correct toolname
  llvm/test/tools/llvm-ar/tool-name.test
  llvm/test/tools/llvm-ranlib/tool-name.test
  llvm/tools/llvm-ar/llvm-ar.cpp
Due: fix-cc-deps

Checkpoint progress.
  executable_semantics/ast/declaration.cpp
  executable_semantics/ast/declaration.h
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/syntax/parser.ypp
Due: executable-semantics-format-grammar, fix-cc-deps

[libc] fix strtold tests on 32 bit systems
  libc/test/src/stdlib/strtold_test.cpp
Due: fix-cc-deps

[libc] add printf writer
  libc/src/stdio/printf_core/CMakeLists.txt
  libc/src/stdio/printf_core/string_writer.h
  libc/src/stdio/printf_core/writer.cpp
  libc/src/stdio/printf_core/writer.h
  libc/test/src/stdio/printf_core/CMakeLists.txt
  libc/test/src/stdio/printf_core/string_writer_test.cpp
Due: fix-cc-deps

BuildLibCalls: simplify switch statement slightly
  llvm/lib/Analysis/MemoryBuiltins.cpp
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/test/Transforms/InferFunctionAttrs/annotate.ll
Due: fix-cc-deps

tsan: for unittests, change to use test fixtures to clear racy stacks
  compiler-rt/lib/tsan/tests/rtl/tsan_mop.cpp
  compiler-rt/lib/tsan/tests/rtl/tsan_mutex.cpp
  compiler-rt/lib/tsan/tests/rtl/tsan_string.cpp
  compiler-rt/lib/tsan/tests/rtl/tsan_test.cpp
  compiler-rt/lib/tsan/tests/rtl/tsan_test_util.h
  compiler-rt/lib/tsan/tests/rtl/tsan_test_util_posix.cpp
  compiler-rt/lib/tsan/tests/rtl/tsan_thread.cpp
Due: fix-cc-deps

[mlir] Add sin & cos ops to complex dialect
  mlir/include/mlir/Dialect/Complex/IR/ComplexOps.td
  mlir/lib/Conversion/ComplexToStandard/ComplexToStandard.cpp
  mlir/test/Conversion/ComplexToStandard/convert-to-standard.mlir
  mlir/test/Dialect/Complex/ops.mlir
Due: fix-cc-deps

[lldb] Add setting for max depth of value object printing (NFC)
  lldb/include/lldb/DataFormatters/DumpValueObjectOptions.h
  lldb/include/lldb/DataFormatters/ValueObjectPrinter.h
  lldb/include/lldb/Interpreter/CommandInterpreter.h
  lldb/include/lldb/Interpreter/OptionGroupValueObjectDisplay.h
  lldb/include/lldb/Interpreter/OptionValueProperties.h
  lldb/include/lldb/Target/Target.h
  lldb/source/Commands/CommandObjectFrame.cpp
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/DataFormatters/DumpValueObjectOptions.cpp
  lldb/source/DataFormatters/ValueObjectPrinter.cpp
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/source/Interpreter/OptionGroupValueObjectDisplay.cpp
  lldb/source/Interpreter/OptionValueProperties.cpp
  lldb/source/Target/Target.cpp
  lldb/source/Target/TargetProperties.td
Due: fix-cc-deps

Fill in generic_args in DeclareClassDeclaration
  executable_semantics/interpreter/type_checker.cpp
Due: fix-cc-deps

Check for the right error message
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/testdata/generic_class/fail_self_with_arg.carbon
Due: fix-cc-deps

[randstruct] Move initializer check to be more effective
  clang/lib/Sema/SemaInit.cpp
  clang/test/Sema/init-randomized-struct.c
Due: fix-cc-deps

[pseudo] Implement the GLR parsing algorithm.
  clang-tools-extra/pseudo/include/clang-pseudo/Forest.h
  clang-tools-extra/pseudo/include/clang-pseudo/GLR.h
  clang-tools-extra/pseudo/lib/CMakeLists.txt
  clang-tools-extra/pseudo/lib/GLR.cpp
  clang-tools-extra/pseudo/test/glr.cpp
  clang-tools-extra/pseudo/tool/ClangPseudo.cpp
  clang-tools-extra/pseudo/unittests/CMakeLists.txt
  clang-tools-extra/pseudo/unittests/GLRTest.cpp
Due: fix-cc-deps

Clean up
  executable_semantics/ast/declaration.h
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/syntax/parser.ypp
Due: executable-semantics-format-grammar, fix-cc-deps

[gn build] Port 9f38da258ea7
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/lib/BUILD.gn
  llvm/utils/gn/secondary/clang-tools-extra/pseudo/unittests/BUILD.gn
Due: none

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

