Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[mlir][vector] Add unrolling pattern for TransposeOp
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorUnrollDistribute.cpp
  mlir/test/Dialect/Vector/vector-unroll-options.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Due: fix-cc-deps

[clang][dataflow] Weaken abstract comparison to enable loop termination.
  clang/include/clang/Analysis/FlowSensitive/DataflowEnvironment.h
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
  clang/unittests/Analysis/FlowSensitive/TypeErasedDataflowAnalysisTest.cpp
Due: fix-cc-deps

Replace %0 in function arguments with descriptive names.
  llvm/test/Transforms/InstCombine/memrchr-2.ll
  llvm/test/Transforms/InstCombine/memrchr-3.ll
  llvm/test/Transforms/InstCombine/memrchr-4.ll
Due: none

Generics details 9: forward declarations (#1084)
  docs/design/generics/details.md
  docs/design/generics/overview.md
  proposals/p1084.md
Due: none

[BOLT] Update skipRelocation for aarch64
  bolt/lib/Core/Relocation.cpp
  bolt/test/AArch64/Inputs/skip-got-rel.yaml
  bolt/test/AArch64/skip-got-rel.test
  bolt/test/runtime/plt-lld.test
Due: fix-cc-deps

Install scripts
  executable_semantics/BUILD
  executable_semantics/main.cpp
  executable_semantics/main.h
  executable_semantics/main_bin.cpp
  installers/local/BUILD
  installers/local/carbon.cpp
  installers/local/install.sh
  installers/local/uninstall.sh
Due: fix-cc-deps, forbid-llvm-googletest

[lldb] Expand $ when using tcsh
  lldb/source/Utility/Args.cpp
  lldb/test/Shell/Process/Inputs/echo.c
  lldb/test/Shell/Process/TestShell.test
  lldb/unittests/Utility/ArgsTest.cpp
Due: fix-cc-deps

Revert "[sanitizer] Don't run malloc hooks for stacktraces"
  compiler-rt/lib/msan/msan_allocator.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_fuchsia.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_linux_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_mac.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer.h
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_markup.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_unwind_linux_libcdep.cpp
  compiler-rt/test/sanitizer_common/TestCases/malloc_hook_skip.cpp
Due: fix-cc-deps

[lld-macho][nfc] De-templatize UnwindInfoSection
  lld/MachO/UnwindInfoSection.cpp
  lld/MachO/UnwindInfoSection.h
Due: fix-cc-deps

RegAlloc: Fix remaining virtual registers after allocation failure
  llvm/lib/CodeGen/RegAllocBase.cpp
  llvm/test/CodeGen/AMDGPU/remaining-virtual-register-operands.ll
Due: fix-cc-deps

[libc++] `bitset::operator[] const` should return bool
  libcxx/include/__config
  libcxx/include/bitset
  libcxx/include/vector
  libcxx/test/std/containers/sequences/vector.bool/const_reference.pass.cpp
  libcxx/test/std/utilities/template.bitset/bitset.members/index.pass.cpp
  libcxx/test/std/utilities/template.bitset/bitset.members/index_const.pass.cpp
Due: fix-cc-deps

Fix compatibility with retroactive C++23 change [NFC]
  llvm/include/llvm/CodeGen/LiveInterval.h
Due: fix-cc-deps

Replace numbered function arguments with descriptive names.
  llvm/test/Transforms/InstCombine/strnlen-2.ll
  llvm/test/Transforms/InstCombine/strnlen-3.ll
  llvm/test/Transforms/InstCombine/strnlen-4.ll
  llvm/test/Transforms/InstCombine/strnlen-5.ll
Due: none

[clang] Implement Change scope of lambda trailing-return-type
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/DeclCXX.h
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Scope.h
  clang/include/clang/Sema/ScopeInfo.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseExprCXX.cpp
  clang/lib/Sema/Scope.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaCXXScopeSpec.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/CXX/expr/expr.prim/expr.prim.lambda/p11-1y.cpp
  clang/test/SemaCXX/lambda-capture-type-deduction.cpp
  clang/test/SemaCXX/warn-shadow-in-lambdas.cpp
  clang/www/cxx_status.html
Due: fix-cc-deps

[SimplifyCFG] improve readability in switch-to-select; NFC
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
Due: fix-cc-deps

[SimplifyCFG] add more tests for switch to select transform; NFC
  llvm/test/Transforms/SimplifyCFG/switch-to-select-two-case.ll
Due: none

[AMDGPU] Increate hazard for store dwordx3/4 to 2 waitstates on gfx940
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
  llvm/test/CodeGen/AMDGPU/gfx940-hazards.mir
  llvm/test/CodeGen/AMDGPU/mai-hazards-gfx940.mir
Due: fix-cc-deps

inching along
  toolchain/semantics/semantics_ir_factory.cpp
  toolchain/semantics/semantics_ir_factory_test.cpp
Due: fix-cc-deps

[debugserver ] Un-conditionalize use of libcompression
  lldb/tools/debugserver/source/CMakeLists.txt
Due: none

Run update_test_checks.py after parameter renaming in r03b807d3f2999888bbe395945987af06f201c142 (NFC).
  llvm/test/Transforms/InstCombine/strnlen-3.ll
  llvm/test/Transforms/InstCombine/strnlen-4.ll
  llvm/test/Transforms/InstCombine/strnlen-5.ll
Due: none

[lldb] Fix a bug in the decorator matching logic.
  lldb/packages/Python/lldbsuite/test/decorators.py
  lldb/test/API/test_utils/TestDecorators.py
Due: none

Adapt "cross compile?" check for Apple Silicon
  compiler-rt/cmake/config-ix.cmake
Due: none

[MLIR][GPU] Add GPU ops nvvm.mma.sync, nvvm.mma.ldmatrix, lane_id
  mlir/include/mlir/Dialect/GPU/GPUOps.td
  mlir/lib/Conversion/GPUToNVVM/LowerGpuOpsToNVVMOps.cpp
  mlir/test/Conversion/GPUToNVVM/gpu-to-nvvm.mlir
  mlir/test/Conversion/GPUToNVVM/mma-sync-to-nvvm.mlir
Due: fix-cc-deps

[flang] Emit a portability warning for padding in COMMON
  flang/lib/Semantics/compute-offsets.cpp
Due: fix-cc-deps

[flang] expand the num_images test coverage
  flang/test/Semantics/num_images01.f90
  flang/test/Semantics/num_images02.f90
Due: none

Apply clang-tidy fixes for llvm-else-after-return in SCF.cpp (NFC)
  mlir/lib/Dialect/SCF/SCF.cpp
Due: fix-cc-deps

Apply clang-tidy fixes for readability-identifier-naming in OpenMPDialect.cpp (NFC)
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
Due: fix-cc-deps

relpath
  installers/local/BUILD
  installers/local/install.bzl
  installers/local/install.sh
  installers/local/uninstall.sh
Due: fix-cc-deps, forbid-llvm-googletest

lib
  installers/local/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

[lldb] Remove reproducer logic from LocateSymbolFileMacOSX
  lldb/source/Symbol/LocateSymbolFileMacOSX.cpp
  lldb/test/Shell/Reproducer/Inputs/dsymforuuid.sh
  lldb/test/Shell/Reproducer/TestDebugSymbols.test
Due: fix-cc-deps

[lldb] Format LocateSymbolFileMacOSX (NFC)
  lldb/source/Symbol/LocateSymbolFileMacOSX.cpp
Due: fix-cc-deps

[gn build] Set CLANG_ENABLE_OPAQUE_POINTERS_INTERNAL=1
  llvm/utils/gn/secondary/clang/include/clang/Config/BUILD.gn
Due: none

[bazel] Set CLANG_ENABLE_OPAQUE_POINTERS_INTERNAL to 1
  utils/bazel/llvm-project-overlay/clang/include/clang/Config/config.h
Due: fix-cc-deps

[sanitizer] Don't run malloc hooks for stacktraces
  compiler-rt/lib/msan/msan_allocator.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_fuchsia.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_linux_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_mac.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer.h
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_markup.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_unwind_linux_libcdep.cpp
  compiler-rt/test/sanitizer_common/TestCases/malloc_hook_skip.cpp
Due: fix-cc-deps

[Driver] Change CLANG_ENABLE_OPAQUE_POINTERS_INTERNAL to affect driver default instead of cc1 default
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CMakeLists.txt
  clang/test/Driver/opaque-pointers-off.c
  clang/test/Driver/rewrite-legacy-objc.m
  clang/test/Driver/rewrite-objc.m
  clang/test/lit.cfg.py
  clang/test/lit.site.cfg.py.in
Due: fix-cc-deps

[mlir] Fix a typo to load lsp-mode correctly.
  mlir/utils/emacs/mlir-lsp-client.el
Due: none

[flang] Fold IBITS() intrinsic function
  flang/lib/Evaluate/fold-integer.cpp
  flang/test/Evaluate/fold-ibits.f90
Due: fix-cc-deps

[randstruct] Fix -Wunused-but-set-variable with Clang>=D122271 in -DLLVM_ENABLE_ASSERTIONS=off builds
  clang/lib/AST/Randstruct.cpp
Due: fix-cc-deps

[gn build] (manually) port ab8abeaf48ab
  llvm/utils/gn/secondary/clang/test/BUILD.gn
Due: none
