Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[CGOpenMPRuntime] Remove uses of deprecated Address constructor
  clang/lib/CodeGen/Address.h
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
Due: fix-cc-deps

Reland "[llvm][AArch64] Insert "bti j" after call to setjmp"
  clang/docs/ClangCommandLineReference.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Arch/AArch64.cpp
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64ExpandPseudoInsts.cpp
  llvm/lib/Target/AArch64/AArch64FastISel.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/GISel/AArch64CallLowering.cpp
  llvm/test/CodeGen/AArch64/setjmp-bti-no-enforcement.ll
  llvm/test/CodeGen/AArch64/setjmp-bti-outliner.ll
  llvm/test/CodeGen/AArch64/setjmp-bti.ll
Due: fix-cc-deps

[InstCombine] add tests for shuffle of mismatched binops; NFC
  llvm/test/Transforms/InstCombine/shuffle_select.ll
Due: none

Revert "[clang] roll-forward "[clang] Mark `trivial_abi` types as "trivially relocatable""."
  clang/docs/LanguageExtensions.rst
  clang/include/clang/AST/Type.h
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/TokenKinds.def
  clang/lib/AST/Type.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/test/SemaCXX/attr-trivial-abi.cpp
  clang/test/SemaCXX/type-traits.cpp
  clang/test/SemaObjCXX/arc-type-traits.mm
  clang/test/SemaObjCXX/objc-weak-type-traits.mm
Due: fix-cc-deps

[LLVMContext] Respect default value of -opaque-pointers option (NFC)
  llvm/lib/IR/LLVMContextImpl.cpp
Due: fix-cc-deps

Update the C and C++ status pages now that Clang 14 is out
  clang/www/c_status.html
  clang/www/cxx_status.html
Due: none

[mlir][bufferize] Do not run the buffer deallocation pass if no allocs escape block boundaries
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizableOpInterface.h
  mlir/lib/Dialect/Bufferization/IR/BufferizableOpInterface.cpp
  mlir/lib/Dialect/Bufferization/Transforms/Bufferize.cpp
Due: fix-cc-deps

Re-land c3460689288abc98c91d8d6bffa74be9eb16c74d with fixes
  llvm/include/llvm/Support/ConvertUTF.h
  llvm/lib/Support/ConvertUTFWrapper.cpp
  llvm/unittests/Support/ConvertUTFTest.cpp
Due: fix-cc-deps

[clang-format] [doc] Add script to automatically update help output in ClangFormat.rst.
  clang/docs/ClangFormat.rst
  clang/docs/tools/dump_format_help.py
  clang/tools/clang-format/ClangFormat.cpp
Due: fix-cc-deps

Cleanup include: codegen second round
  llvm/include/llvm/CodeGen/GlobalISel/CallLowering.h
  llvm/include/llvm/CodeGen/GlobalISel/Legalizer.h
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/include/llvm/CodeGen/RegisterUsageInfo.h
  llvm/lib/CodeGen/GlobalISel/Legalizer.cpp
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/lib/CodeGen/MIRParser/MIRParser.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
Due: fix-cc-deps

[dsymutil] Update vector of section starts with size of current section
  llvm/tools/dsymutil/DwarfLinkerForBinary.cpp
  llvm/tools/dsymutil/DwarfLinkerForBinary.h
Due: fix-cc-deps

[analyzer] refactor makeIntValWithPtrWidth, remove getZeroWithPtrWidth (NFC)
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/BasicValueFactory.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SValBuilder.h
  clang/lib/StaticAnalyzer/Checkers/MallocChecker.cpp
  clang/lib/StaticAnalyzer/Core/ExprEngine.cpp
  clang/lib/StaticAnalyzer/Core/SValBuilder.cpp
Due: fix-cc-deps

[analyzer] Fix crash in RangedConstraintManager.cpp
  clang/lib/StaticAnalyzer/Core/RangedConstraintManager.cpp
  clang/test/Analysis/symbol-simplification-bo-div.c
Due: fix-cc-deps

Unbreak the build after 02c28970b2
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
Due: fix-cc-deps

Apply suggestions from code review
  .pre-commit-config.yaml
  executable_semantics/fuzzing/ast_to_proto.cpp
  executable_semantics/fuzzing/ast_to_proto.h
Due: fix-cc-deps

Apply suggestions from code review
  executable_semantics/fuzzing/ast_to_proto.cpp
Due: fix-cc-deps

Update executable_semantics/fuzzing/BUILD
  executable_semantics/fuzzing/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

[clang][lex] Fix failures with Microsoft header search rules
  clang/lib/Lex/HeaderSearch.cpp
  clang/test/Preprocessor/microsoft-header-search-fail.c
Due: fix-cc-deps

Replace links to archived mailing lists by links to Discourse forums
  clang-tools-extra/README.txt
  clang/README.txt
  clang/www/analyzer/menu.html.incl
  clang/www/demo/index.cgi
  clang/www/menu.html.incl
  compiler-rt/www/menu.html.incl
  flang/docs/GettingInvolved.md
  libcxx/docs/index.rst
  libunwind/docs/index.rst
  lldb/docs/index.rst
  llvm/docs/Contributing.rst
  llvm/docs/ExtendingLLVM.rst
  llvm/docs/tutorial/MyFirstLanguageFrontend/LangImpl10.rst
Due: none

addressed review comments
  WORKSPACE
  common/fuzzing/BUILD
  common/fuzzing/carbon.proto
  executable_semantics/fuzzing/BUILD
  executable_semantics/fuzzing/ast_to_proto.cpp
  executable_semantics/fuzzing/ast_to_proto.h
  executable_semantics/fuzzing/ast_to_proto_test.cpp
  executable_semantics/interpreter/resolve_names.cpp
  executable_semantics/syntax/BUILD
  executable_semantics/testdata/basic_syntax/fail_unimplemented_example.carbon
Due: fix-cc-deps, forbid-llvm-googletest

Cleanup include: Add missing header
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
Due: fix-cc-deps

Fix LLVM sphinx build
  llvm/docs/Contributing.rst
Due: none

[clang][AArc64][SVE] Implement vector-scalar operators
  clang/include/clang/Sema/Sema.h
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CodeGen/aarch64-sve-vector-arith-ops.c
  clang/test/Sema/aarch64-sve-vector-arith-ops.c
Due: fix-cc-deps

[flang] Add lowering C interoperability test
  flang/test/Lower/c-interoperability.f90
  flang/tools/bbc/bbc.cpp
Due: fix-cc-deps

[flang][NFC] Add misc lowering tests
  flang/test/Lower/associate-construct-2.f90
  flang/test/Lower/assumed-shape-callee.f90
  flang/test/Lower/assumed-shape-caller.f90
  flang/test/Lower/attributes.f90
Due: none

[flang][NFC] Add call lowering tests
  flang/test/Lower/call-by-value-attr.f90
  flang/test/Lower/call-by-value.f90
  flang/test/Lower/call-copy-in-out.f90
  flang/test/Lower/call-implicit.f90
  flang/test/Lower/call-parenthesized-arg.f90
  flang/test/Lower/call-site-mangling.f90
  flang/test/Lower/call-suspect.f90
  flang/test/Lower/call.f90
Due: none

[flang][NFC] Add character lowering tests
  flang/test/Lower/character-assignment.f90
  flang/test/Lower/character-compare.f90
  flang/test/Lower/character-concatenation.f90
  flang/test/Lower/character-elemental.f90
  flang/test/Lower/character-local-variables.f90
  flang/test/Lower/character-substrings.f90
Due: none

[compiler-rt] Remove forgotten mention of SVN modules, LLVM now uses Git.
  compiler-rt/www/index.html
Due: none

[Clang][NFC] Cleanup dcl.constexpr/p3 tests
  clang/test/CXX/dcl.dcl/dcl.spec/dcl.constexpr/p3.cpp
Due: fix-cc-deps

[Bitcode] Check for live uses of llvm.cmdline/embedded.module
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
Due: fix-cc-deps

[CGObjCMac] Check global value type instead of poitner type
  clang/lib/CodeGen/CGObjCMac.cpp
Due: fix-cc-deps

[CGExpr] Perform bitcast unconditionally
  clang/lib/CodeGen/CGExpr.cpp
Due: fix-cc-deps

[InstrProfiling] Account for missing bitcast/GEP
  clang/test/CoverageMapping/ir.c
  llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp
Due: fix-cc-deps

[CGBlocks] Don't assume presence of bitcast
  clang/lib/CodeGen/CGBlocks.cpp
Due: fix-cc-deps

[FuncSpec][NFC] Clang-format the source code and fix debug typo.
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
Due: fix-cc-deps

[clang][deps] Create lit substitution for deps-to-rsp
  clang/test/ClangScanDeps/modulemap-via-vfs.m
  clang/test/ClangScanDeps/modules-inferred-explicit-build.m
  clang/test/ClangScanDeps/modules-no-undeclared-includes.c
  clang/test/ClangScanDeps/modules-pch-common-submodule.c
  clang/test/ClangScanDeps/modules-pch-common-via-submodule.c
  clang/test/ClangScanDeps/modules-pch-dangling.c
  clang/test/ClangScanDeps/modules-pch.c
  clang/test/ClangScanDeps/modules-symlink.c
  clang/test/lit.cfg.py
Due: none

[clang][deps] NFC: De-duplicate clang-cl tests
  clang/test/ClangScanDeps/Inputs/has_include_if_elif.json
  clang/test/ClangScanDeps/Inputs/header_stat_before_open_cdb.json
  clang/test/ClangScanDeps/Inputs/headerwithdirname.json
  clang/test/ClangScanDeps/Inputs/headerwithdirnamefollowedbyinclude.json
  clang/test/ClangScanDeps/Inputs/modules_cdb_clangcl.json
  clang/test/ClangScanDeps/Inputs/modules_cdb_clangcl_by_mod_name.json
  clang/test/ClangScanDeps/Inputs/no-werror.json
  clang/test/ClangScanDeps/Inputs/regular_cdb_clangcl.json
  clang/test/ClangScanDeps/Inputs/static-analyzer-cdb.json
  clang/test/ClangScanDeps/Inputs/target-filename-cdb.json
  clang/test/ClangScanDeps/Inputs/vfsoverlay_cdb.json
  clang/test/ClangScanDeps/cl-output.c
  clang/test/ClangScanDeps/cl-resource-dir.c
  clang/test/ClangScanDeps/cl-xclang.c
  clang/test/ClangScanDeps/error.cpp
  clang/test/ClangScanDeps/has_include_if_elif.cpp
  clang/test/ClangScanDeps/header_stat_before_open.m
  clang/test/ClangScanDeps/headerwithdirname.cpp
  clang/test/ClangScanDeps/headerwithdirnamefollowedbyinclude.cpp
  clang/test/ClangScanDeps/modules-fmodule-name-no-module-built.m
  clang/test/ClangScanDeps/modules-full-by-mod-name.cpp
  clang/test/ClangScanDeps/modules-full.cpp
  clang/test/ClangScanDeps/modules.cpp
  clang/test/ClangScanDeps/no-werror.cpp
  clang/test/ClangScanDeps/regular_cdb.cpp
  clang/test/ClangScanDeps/static-analyzer.c
  clang/test/ClangScanDeps/strip_diag_serialize.cpp
  clang/test/ClangScanDeps/target-filename.cpp
  clang/test/ClangScanDeps/vfsoverlay.cpp
Due: fix-cc-deps

[Flang] Lower atan, sinh, cosh intrinsics
  flang/lib/Lower/IntrinsicCall.cpp
  flang/test/Lower/llvm-math.f90
  flang/test/Lower/trigonometric-intrinsics.f90
Due: fix-cc-deps

[LangRef] Allow non-power-of-two assume operand bundle
  llvm/docs/LangRef.rst
Due: none

[Clang][NFC] Some `const` for `IdentifierInfo *`s feeding `DeclarationName`
  clang/include/clang/AST/Decl.h
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/Decl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
Due: fix-cc-deps
