Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Update explorer/interpreter/action.h
  explorer/interpreter/action.h
Due: fix-cc-deps, clang-format, check-header-guards

Update explorer/interpreter/interpreter.cpp
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Explorer: add class qualified initialization
  explorer/ast/expression.h
  explorer/ast/member.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parser.ypp
  explorer/testdata/class/fail_incorrect_qualification.carbon
  explorer/testdata/class/qualified_initialization.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Explorer: split TypeChecker::FieldTypes into two variants
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

p1885: add Iterator `Advance()` method
  proposals/p1885.md
Due: none

remove destroy tuple method
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

finished
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format, check-header-guards

step one
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
Due: fix-cc-deps, clang-format, check-header-guards

add changes
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
  explorer/testdata/destructor/destroy_inner_destructor.carbon
Due: fix-cc-deps, clang-format, check-header-guards

run pre-commit
  explorer/interpreter/action.h
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format, check-header-guards

run pre-commit
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Add alternatives considered to classes (#2332)
  docs/design/classes.md
Due: none

C/C++ -> C and C++
  docs/design/README.md
  docs/design/classes.md
  docs/design/interoperability/README.md
  docs/design/interoperability/philosophy_and_goals.md
  docs/design/metaprogramming.md
  docs/project/difficulties_improving_cpp.md
  explorer/ast/value_category.h
  proposals/p0051.md
  proposals/p0175.md
  proposals/p0257.md
  proposals/p0285.md
  proposals/p0339.md
  proposals/p0340.md
  proposals/p0353.md
  proposals/p1363.md
Due: fix-cc-deps, clang-format, check-header-guards

REstore quote
  proposals/p1363.md
Due: none

note
  proposals/p2287.md
Due: none

Apply suggestions from code review
  proposals/p2200.md
Due: none

Fix formatting
  proposals/p2200.md
Due: none

Cleanup lit's carbon command
  bazel/testing/lit.cfg.py
Due: none

Update design to use current `impl` syntax. (#2309)
  docs/design/README.md
  docs/design/expressions/if.md
Due: none

Add TODO for testcase that is supposed to be accepted.
  explorer/testdata/assoc_const/fail_impl_used_by_later_rewrite.carbon
Due: none

Address review suggestion
  proposals/p2200.md
Due: none

Defer resolving rewrites until we apply a constraint to a binding (#2333)
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/testdata/assoc_const/fail_impl_used_by_later_rewrite.carbon
  explorer/testdata/assoc_const/fail_overspecified_impl.carbon
  explorer/testdata/constraint/fail_dot_self_after_scope_2.carbon
  explorer/testdata/constraint/fail_infinite_self.carbon
  explorer/testdata/constraint/fail_infinite_self_ptr.carbon
  explorer/testdata/constraint/fail_non_type_self.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Set the value of `.Self` in a `where` to that of the outer `.Self`.
  explorer/ast/expression.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
  explorer/testdata/assoc_const/fail_implied_constraints.carbon
  explorer/testdata/assoc_const/fail_rewrite_depends_on_later_rewrite.carbon
  explorer/testdata/assoc_const/indirect_constraints.carbon
  explorer/testdata/interface/assoc_constant_constraints_in_scope.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Remove unnecessary check that might look at the type of a declaration before it's known.
  explorer/interpreter/type_checker.cpp
  explorer/testdata/assoc_const/indirect_constraints.carbon
Due: fix-cc-deps, clang-format

Remove unnecessary test contents after error.
  explorer/testdata/assoc_const/fail_implied_constraints.carbon
Due: none

Test updates
  explorer/testdata/assoc_const/fail_impl_used_by_later_rewrite.carbon
  explorer/testdata/assoc_const/indirect_constraints.carbon
  explorer/testdata/interface/assoc_constant_constraints_in_scope.carbon
Due: none

Update docs/design/metaprogramming.md
  docs/design/metaprogramming.md
Due: none

Update explorer/ast/value_category.h
  explorer/ast/value_category.h
Due: fix-cc-deps, clang-format, check-header-guards

Update docs/design/interoperability/philosophy_and_goals.md
  docs/design/interoperability/philosophy_and_goals.md
Due: none

Update proposals/p0175.md
  proposals/p0175.md
Due: none

Refactory the IR/builder relationship
  bazel/check_deps/BUILD
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_file_builder.cpp
  toolchain/semantics/semantics_file_builder.h
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Reference #1371
  proposals/p2200.md
Due: none

fix issue-1392
  explorer/interpreter/interpreter.cpp
  explorer/testdata/tuple/issue.carbon
Due: fix-cc-deps, clang-format

run pre-commit
  explorer/interpreter/interpreter.cpp
  explorer/testdata/struct/fail_assign_different_types.carbon
  explorer/testdata/tuple/issue.carbon
Due: fix-cc-deps, clang-format
