Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


more review
  proposals/p5913.md
Due: none

feat: Add lowering tests for float compound assignment (#6)
  toolchain/lower/testdata/builtins/float.carbon
Due: none

Apply suggestions from code review
  README.md
  docs/design/safety/README.md
  docs/design/safety/terminology.md
  proposals/p5914.md
Due: none

Apply suggestions from code review
  docs/design/safety/README.md
  docs/design/safety/terminology.md
  proposals/p5914.md
Due: none

Fix up tests.
  toolchain/check/testdata/builtins/float/add_assign.carbon
  toolchain/check/testdata/builtins/float/convert_checked.carbon
  toolchain/check/testdata/builtins/float/div_assign.carbon
  toolchain/check/testdata/builtins/float/mul_assign.carbon
  toolchain/check/testdata/builtins/float/sub_assign.carbon
  toolchain/check/testdata/builtins/float_literal/make_type.carbon
  toolchain/lower/testdata/builtins/float.carbon
  toolchain/lower/testdata/builtins/types.carbon
Due: none

review
  README.md
  docs/design/safety/README.md
  proposals/p5914.md
Due: none

more review
  docs/design/safety/README.md
  docs/project/principles/safety_strategy.md
Due: none

fix
  docs/design/safety/terminology.md
Due: none

try out rewinding
  common/filesystem.cpp
  common/filesystem.h
Due: fix-cc-deps, clang-format, check-header-guards

Renames following merge.
  toolchain/check/check.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Avoid `readability-function-size` clang-tidy checks on `Stringify()` This currently triggers due to preprocessing.
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix imports for overloaded_cpp_function.h
  toolchain/check/import_cpp.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  proposals/p5913.md
Due: none

lambdas
  .clang-tidy
Due: none

review
  toolchain/check/facet_type.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/facet/early_rewrites.carbon
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

dump-parse-context
  toolchain/parse/BUILD
  toolchain/parse/dump.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Reformat.
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Make convert_checked work between floating-point types. Do another pass over check tests.
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/builtins/float/convert_checked.carbon
  toolchain/sem_ir/builtin_function_kind.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

key-canonical
  toolchain/check/facet_type.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

review
  toolchain/check/facet_type.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Implement initialization for C++ thunk parameters.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/cpp_thunk.cpp
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/full_semir.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/lower/testdata/interop/cpp/thunk.carbon
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Extend autoupdate to put errors with an unattached location next to the location of their first note instead.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/line.h
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/builtins/float/add_assign.carbon
  toolchain/check/testdata/builtins/float/convert_checked.carbon
  toolchain/check/testdata/builtins/float/div_assign.carbon
  toolchain/check/testdata/builtins/float/mul_assign.carbon
  toolchain/check/testdata/builtins/float/sub_assign.carbon
  toolchain/check/testdata/function/generic/resolve_used.carbon
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

replace rewinding with a similar data structure approach to original w/o excess fd
  common/filesystem.cpp
Due: fix-cc-deps, clang-format

Update the SemIR (some are wrong)
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/interface/default_fn.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_binding.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/fail_assoc_const_template.carbon
  toolchain/check/testdata/patterns/underscore.carbon
  toolchain/check/testdata/tuple/tuple_pattern.carbon
  toolchain/check/testdata/var/fail_in_interface.carbon
  toolchain/parse/handle_decl_scope_loop.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

force close on writable files and drop errors on readonly
  common/filesystem.cpp
  common/filesystem.h
  common/filesystem_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

fix
  common/filesystem.cpp
  common/filesystem.h
Due: fix-cc-deps, clang-format, check-header-guards

more review
  README.md
  docs/design/safety/README.md
  docs/design/safety/terminology.md
  proposals/p5914.md
Due: none

tweak ecosystem section
  docs/design/safety/README.md
Due: none

fix
  docs/design/safety/README.md
Due: none

Reuse `num_params`
  toolchain/check/cpp_thunk.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Iterate over `callee_function_params`, `thunk_function_params` and `callee_arg_ids` using `llvm::zip()`.
  toolchain/check/cpp_thunk.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  examples/hello_world.carbon
Due: none

hello world example
  examples/BUILD
  examples/hello_world.carbon
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

stdio
  examples/hello_world.carbon
Due: none

inline
  examples/hello_world.carbon
Due: none

Create LoadedImportRefs for vtable entries with import insts instead of local insts
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use structured binding for more readability
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use `GetAttached` since this is an attached constant, for more explicitness
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
