Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$


[WebAssembly] Add tests for the Asm type checker
  llvm/test/MC/WebAssembly/type-checker-errors.s
  llvm/test/MC/WebAssembly/type-checker-return.s
Due: none

clang-tidy readability checks
  .clang-tidy
  executable_semantics/interpreter/action.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.h
  executable_semantics/interpreter/value.cpp
  executable_semantics/interpreter/value.h
  toolchain/common/yaml_test_helpers.cpp
  toolchain/common/yaml_test_helpers.h
  toolchain/diagnostics/null_diagnostics.h
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_test.cpp
  toolchain/parser/parse_test_helpers.h
  toolchain/parser/parser_impl.h
Due: fix-cc-deps

fixed comment
  executable_semantics/ast/declaration.h
Due: fix-cc-deps

[WebAssembly][NFC] Delete type checking logic for removed ref.null instruction
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmTypeCheck.cpp
Due: fix-cc-deps

[IR] Allow matching pointer to vector with opaque pointers.
  llvm/lib/IR/Function.cpp
Due: fix-cc-deps

[clang][NFC] Refactor logic for picking standard library on Apple
  clang/lib/Driver/ToolChains/Darwin.cpp
Due: fix-cc-deps

restored cxx settings
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: none

[VP] Preserve address space of pointer for strided load/store intrinsics.
  llvm/include/llvm/IR/Intrinsics.h
  llvm/include/llvm/IR/Intrinsics.td
  llvm/lib/IR/Function.cpp
  llvm/lib/IR/IntrinsicInst.cpp
  llvm/test/CodeGen/VE/Vector/vp_strided_load.ll
  llvm/test/CodeGen/VE/Vector/vp_strided_store.ll
  llvm/unittests/IR/VPIntrinsicTest.cpp
  llvm/utils/TableGen/IntrinsicEmitter.cpp
Due: fix-cc-deps

[RISCV][NFC] Refine and refactor RISCVVEmitter and riscv_vector.td.
  clang/include/clang/Basic/riscv_vector.td
  clang/utils/TableGen/RISCVVEmitter.cpp
  llvm/include/llvm/IR/IntrinsicsRISCV.td
Due: fix-cc-deps

deps change
  WORKSPACE
  fuzzing/carbon.proto
Due: none

[TableGen][RISCV] Add InstAliases with zero_reg to cover unmasked vnot.v, vncvt.x.x.w, vneg.v, etc.
  llvm/lib/Target/ARM/ARMInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoV.td
  llvm/test/CodeGen/RISCV/rvv/aliases.mir
  llvm/test/CodeGen/RISCV/rvv/constant-folding.ll
  llvm/test/CodeGen/RISCV/rvv/ctlz-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/cttz-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/extload-truncstore.ll
  llvm/test/CodeGen/RISCV/rvv/fceil-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/ffloor-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-ctlz.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-cttz.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-extload-truncstore.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp2i.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-exttrunc.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-scatter.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfneg-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpgather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpscatter.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vxor-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fround-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/ftrunc-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/legalize-scalable-vectortype.ll
  llvm/test/CodeGen/RISCV/rvv/mgather-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/mscatter-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vfabs-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vfneg-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vfneg-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vfptoi-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vpgather-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vpscatter-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.ll
  llvm/test/CodeGen/RISCV/rvv/vtruncs-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vxor-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vxor-vp.ll
  llvm/test/MC/RISCV/rvv/add.s
  llvm/test/MC/RISCV/rvv/xor.s
  llvm/utils/TableGen/AsmWriterEmitter.cpp
Due: fix-cc-deps

Allow -Wno-gnu to silence GNU extensions related to pointer arithmetic
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/test/Sema/pointer-addition.c
Due: none

restored ostream.h as #976 makes the change unnecesary
  common/ostream.h
Due: fix-cc-deps

[RISCV] Special case sign extended scalars when type legalizing nxvXi64 .vx instrinsics on RV32.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/vadd.ll
Due: fix-cc-deps

[ARM] select_xform.ll - re-add and fix missing CHECK prefixes
  llvm/test/CodeGen/ARM/select_xform.ll
Due: none

Add UTF32 to/from UTF8 conversion functions
  llvm/include/llvm/Support/ConvertUTF.h
  llvm/lib/Support/ConvertUTFWrapper.cpp
  llvm/unittests/Support/ConvertUTFTest.cpp
Due: fix-cc-deps

[MLIR][Presburger] Fix a comment in the unittests
  mlir/unittests/Analysis/Presburger/PresburgerSetTest.cpp
Due: fix-cc-deps

[lldb] Set the TERM environment variable for the API tests
  lldb/test/API/lit.cfg.py
Due: none

[mlir][ods] Add Deprecate helper
  mlir/docs/OpDefinitions.md
  mlir/include/mlir/IR/OpBase.td
  mlir/test/mlir-tblgen/deprecation.td
  mlir/tools/mlir-tblgen/mlir-tblgen.cpp
Due: fix-cc-deps

[flang] Fix crash: ENTRY with generic interface of the same name
  flang/lib/Semantics/resolve-names.cpp
Due: fix-cc-deps

clang-tidy without config changes (#1147)
  executable_semantics/ast/declaration.h
  executable_semantics/interpreter/impl_scope.cpp
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/value.cpp
  executable_semantics/interpreter/value.h
  toolchain/driver/driver.cpp
Due: fix-cc-deps

Cleaned up WORKSPACE and changed the test to read carbon sources from testdata
  WORKSPACE
  executable_semantics/fuzzing/BUILD
  executable_semantics/fuzzing/ast_to_proto.cpp
  executable_semantics/fuzzing/ast_to_proto_test.cpp
  executable_semantics/testdata/BUILD
  fuzzing/carbon.proto
Due: fix-cc-deps, forbid-llvm-googletest

updated comment
  scripts/fix_cc_deps.py
Due: none

[flang] Initial UTF-8 support in runtime I/O
  flang/include/flang/Runtime/iostat.h
  flang/runtime/CMakeLists.txt
  flang/runtime/descriptor-io.h
  flang/runtime/edit-input.cpp
  flang/runtime/edit-input.h
  flang/runtime/edit-output.cpp
  flang/runtime/edit-output.h
  flang/runtime/environment.cpp
  flang/runtime/environment.h
  flang/runtime/internal-unit.cpp
  flang/runtime/internal-unit.h
  flang/runtime/io-stmt.cpp
  flang/runtime/io-stmt.h
  flang/runtime/iostat.cpp
  flang/runtime/namelist.cpp
  flang/runtime/unit.cpp
  flang/runtime/unit.h
  flang/runtime/utf.cpp
  flang/runtime/utf.h
  flang/unittests/Runtime/ExternalIOTest.cpp
Due: fix-cc-deps

[Clang][C++2b] P2242R3: Non-literal variables [...] in constexpr
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticASTKinds.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/AST/ExprConstant.cpp
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/CXX/dcl.dcl/dcl.spec/dcl.constexpr/dtor.cpp
  clang/test/CXX/dcl.dcl/dcl.spec/dcl.constexpr/p3-2b.cpp
  clang/test/CXX/dcl.dcl/dcl.spec/dcl.constexpr/p3.cpp
  clang/test/Lexer/cxx-features.cpp
  clang/test/SemaCXX/constant-expression-cxx14.cpp
  clang/test/SemaCXX/constant-expression-cxx2b.cpp
  clang/www/cxx_status.html
Due: fix-cc-deps

rename compile_time_value to symbolic_identity
  executable_semantics/ast/declaration.h
  executable_semantics/ast/impl_binding.h
  executable_semantics/ast/pattern.h
  executable_semantics/ast/statement.h
  executable_semantics/ast/static_scope.h
  executable_semantics/interpreter/action_stack.cpp
  executable_semantics/interpreter/interpreter.cpp
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/value.h
  executable_semantics/testdata/generic_class/generic_class_substitution.carbon
Due: fix-cc-deps

Revert "Add UTF32 to/from UTF8 conversion functions"
  llvm/include/llvm/Support/ConvertUTF.h
  llvm/lib/Support/ConvertUTFWrapper.cpp
  llvm/unittests/Support/ConvertUTFTest.cpp
Due: fix-cc-deps

Update executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.cpp
Due: fix-cc-deps

Update executable_semantics/interpreter/value.cpp
  executable_semantics/interpreter/value.cpp
Due: fix-cc-deps

review comments
  executable_semantics/common/error.h
Due: fix-cc-deps

more edits from review
  executable_semantics/interpreter/impl_scope.cpp
  executable_semantics/interpreter/type_checker.h
Due: fix-cc-deps
