Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


pre-commit
  toolchain/check/check.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/sem_ir_loc_diagnostic_emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

comments
  toolchain/check/check.cpp
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/sem_ir_loc_diagnostic_emitter.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/lex/tokenized_buffer.h
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

more tree_and_subtrees_getters
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/sem_ir_loc_diagnostic_emitter.h
  toolchain/driver/compile_subcommand.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/lower.cpp
  toolchain/lower/lower.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix rebase
  toolchain/check/sem_ir_loc_diagnostic_emitter.cpp
  toolchain/lower/BUILD
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Fix bazel warning
  .bazelrc
Due: none

todo
  toolchain/check/sem_ir_loc_diagnostic_emitter.h
  toolchain/lower/BUILD
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Fix comment
  toolchain/diagnostics/diagnostic_emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Respond to reviewer commentsxsx
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/testdata/var/no_prelude/fail_in_interface.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

provide Core.ImplicitAs in test
  toolchain/check/testdata/builtin_conversions/no_prelude/convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
Due: none

Diagnose when deduction produces a runtime value
  toolchain/check/deduce.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Deduce an error if we diagnose a runtime value
  toolchain/check/deduce.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_deduction_uses_runtime_type_conversion.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

clang-format
  toolchain/check/check.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Implement caching of calculated file state
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle.h
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/incoming_messages.cpp
  toolchain/language_server/language_server.cpp
  toolchain/language_server/testdata/basics/exit.carbon
  toolchain/language_server/testdata/basics/fail_empty_stdin.carbon
  toolchain/language_server/testdata/basics/fail_no_stdin.carbon
  toolchain/language_server/testdata/basics/initialize.carbon
  toolchain/language_server/testdata/basics/notify_parse_error.carbon
  toolchain/language_server/testdata/basics/unexpected_reply.carbon
  toolchain/language_server/testdata/basics/unsupported_call.carbon
  toolchain/language_server/testdata/basics/unsupported_notification.carbon
  toolchain/language_server/testdata/basics/verbose.carbon
  toolchain/language_server/testdata/document_symbol/basics.carbon
  toolchain/language_server/testdata/document_symbol/language.carbon
  toolchain/language_server/testdata/document_symbol/unknown.carbon
  toolchain/language_server/testdata/text_document/change_count.carbon
  toolchain/language_server/testdata/text_document/change_unknown.carbon
  toolchain/language_server/testdata/text_document/close_unknown.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
  toolchain/language_server/testdata/text_document/open_duplicate.carbon
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Fix filename and clarify buffer ownership
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle_text_document.cpp
  toolchain/source/source_buffer.cpp
  toolchain/source/source_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

derived
  toolchain/language_server/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rephrase comment
  toolchain/language_server/context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Avoid redundantly specifying Id::Kind.
  toolchain/check/node_stack.cpp
  toolchain/check/node_stack.h
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add tests.
  toolchain/parse/testdata/package_expr/core.carbon
  toolchain/parse/testdata/packages/import/core.carbon
  toolchain/parse/testdata/packages/package/core.carbon
Due: none

Review comments
  toolchain/base/value_ids.h
  toolchain/check/check.cpp
  toolchain/sem_ir/ids.cpp
  toolchain/sem_ir/inst_fingerprinter.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix unit test.
  toolchain/lex/token_kind_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use raw identifier syntax for `Core` class
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
Due: none

Change `GenerateAst()` to return whether errors were encountered and use that to set `has_error` in `NameScope`
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/bad_import.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/no_prelude/file_not_found.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Reuse `import.cpp`'s `AddNamespace()` in `import_cpp.cpp`'s `AddNamespace()`.
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/cpp_namespace.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add a parameter comment
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle building a value repr when the type is named through an aggregate
  toolchain/check/context.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/value_with_type_through_access.carbon
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

more explanation in TODO
  toolchain/check/testdata/builtin_conversions/no_prelude/value_with_type_through_access.carbon
Due: none

autoupdate
  toolchain/check/testdata/builtin_conversions/no_prelude/value_with_type_through_access.carbon
Due: none

Handle FacetAccessWitness in eval of ImplWitnessAccess
  toolchain/check/eval.cpp
  toolchain/check/testdata/function/generic/fail_todo_call_method_on_generic_facet.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

test-passes-now
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
Due: none

autoupdate
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
Due: none

undo change in eval
  toolchain/check/eval.cpp
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add-test for crash
  toolchain/check/testdata/function/generic/call_method_on_generic_facet.carbon
Due: none

comments
  toolchain/diagnostics/coverage_test.cpp
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle_text_document.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add support for publishDiagnostics
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/diagnostic_consumer.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/diagnostics/mocks.cpp
  toolchain/diagnostics/mocks.h
  toolchain/language_server/BUILD
  toolchain/language_server/context.cpp
  toolchain/language_server/context.h
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/language_server.cpp
  toolchain/language_server/testdata/document_symbol/basics.carbon
  toolchain/language_server/testdata/text_document/change_count.carbon
  toolchain/language_server/testdata/text_document/diagnostics.carbon
  toolchain/language_server/testdata/text_document/open_change_close.carbon
  toolchain/language_server/testdata/text_document/open_duplicate.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add notes about PR labels
  docs/project/code_review.md
Due: none

Update build
  toolchain/language_server/BUILD
  toolchain/language_server/handle_document_symbol.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Add SymbolStore class to easily attach symbols to parent
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/testdata/document_symbol/nested.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Improve check diagnostic
  toolchain/base/value_ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add TODO
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update DocumentSymbol handler to provide accurate ranges
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/testdata/document_symbol/basics.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
