Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


[AMDGPU] gfx11 FLAT Instructions
  llvm/lib/Target/AMDGPU/FLATInstructions.td
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/test/MC/AMDGPU/flat-gfx11-mnemonic.s
  llvm/test/MC/AMDGPU/gfx11-flat-errs.s
  llvm/test/MC/AMDGPU/gfx11_err.s
  llvm/test/MC/AMDGPU/gfx11_flat.s
  llvm/test/MC/Disassembler/AMDGPU/flat-gfx11.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_all.txt
Due: fix-cc-deps, clang-format

[clang] Fix the begin location of concepts specialization expression
  clang/include/clang/AST/ExprConcepts.h
  clang/test/Index/index-concepts.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Fix conversion error to Expected
  lldb/source/Plugins/Process/Linux/IntelPTCollector.cpp
  lldb/source/Plugins/Process/Linux/IntelPTSingleBufferTrace.cpp
Due: fix-cc-deps, clang-format

Refactor the deduced_param_list grammar rule
  explorer/syntax/parser.ypp
Due: explorer-format-grammar

[LLDB][NativePDB] Check for missing type info to avoid crash.
  lldb/source/Plugins/SymbolFile/NativePDB/PdbAstBuilder.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/UdtRecordCompleter.cpp
  lldb/test/Shell/SymbolFile/NativePDB/missing-type.s
Due: fix-cc-deps, clang-format

[mlir][bufferization][NFC] Remove dead code
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizableOpInterface.h
  mlir/lib/Dialect/Bufferization/IR/BufferizableOpInterface.cpp
  mlir/lib/Dialect/Bufferization/Transforms/Bufferize.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[Clang] Introduce `--offload-link` option to perform offload device linking
  clang/docs/ClangCommandLineReference.rst
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/cuda-openmp-driver.cu
Due: fix-cc-deps, clang-format

Round up zero-sized symbols to 1 byte in `.debug_aranges`.
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/test/CodeGen/Generic/dwarf-aranges-zero-size.ll
  llvm/test/DebugInfo/MSP430/dwarf-basics-v5.ll
  llvm/test/DebugInfo/X86/dwarf-aranges.ll
Due: fix-cc-deps, clang-format

[BOLT][DWARF] Convert dwarf5-df-* tests to assembly tests
  bolt/test/X86/Inputs/dwarf4-df-dualcu-helper.ll
  bolt/test/X86/Inputs/dwarf4-df-dualcu-helper.s
  bolt/test/X86/Inputs/dwarf4-df-dualcu-loclist-helper.ll
  bolt/test/X86/Inputs/dwarf4-df-dualcu-loclist-helper.s
  bolt/test/X86/Inputs/dwarf4-df-dualcu-loclist-main.ll
  bolt/test/X86/Inputs/dwarf4-df-dualcu-loclist-main.s
  bolt/test/X86/Inputs/dwarf4-df-dualcu-main.ll
  bolt/test/X86/Inputs/dwarf4-df-dualcu-main.s
  bolt/test/X86/Inputs/dwarf5-df-dualcu-helper.ll
  bolt/test/X86/Inputs/dwarf5-df-dualcu-helper.s
  bolt/test/X86/Inputs/dwarf5-df-dualcu-loclist-helper.ll
  bolt/test/X86/Inputs/dwarf5-df-dualcu-loclist-helper.s
  bolt/test/X86/Inputs/dwarf5-df-dualcu-loclist-main.ll
  bolt/test/X86/Inputs/dwarf5-df-dualcu-loclist-main.s
  bolt/test/X86/Inputs/dwarf5-df-dualcu-main.ll
  bolt/test/X86/Inputs/dwarf5-df-dualcu-main.s
  bolt/test/X86/Inputs/dwarf5-df-mono-helper.ll
  bolt/test/X86/Inputs/dwarf5-df-mono-helper.s
  bolt/test/X86/Inputs/dwarf5-df-mono-main.ll
  bolt/test/X86/Inputs/dwarf5-df-mono-main.s
  bolt/test/X86/Inputs/dwarf5-locaddrx.s
  bolt/test/X86/dwarf4-df-dualcu-loclist.test
  bolt/test/X86/dwarf4-df-dualcu.test
  bolt/test/X86/dwarf5-df-dualcu-loclist.test
  bolt/test/X86/dwarf5-df-dualcu.test
  bolt/test/X86/dwarf5-df-mono-dualcu.test
  bolt/test/X86/dwarf5-locaddrx.test
Due: none

[MCDisassembler] Disambiguate Size parameter in tryAddingSymbolicOperand()
  llvm/include/llvm-c/DisassemblerTypes.h
  llvm/include/llvm/MC/MCDisassembler/MCDisassembler.h
  llvm/include/llvm/MC/MCDisassembler/MCExternalSymbolizer.h
  llvm/include/llvm/MC/MCDisassembler/MCSymbolizer.h
  llvm/lib/MC/MCDisassembler/MCDisassembler.cpp
  llvm/lib/MC/MCDisassembler/MCExternalSymbolizer.cpp
  llvm/lib/Target/AArch64/Disassembler/AArch64Disassembler.cpp
  llvm/lib/Target/AArch64/Disassembler/AArch64ExternalSymbolizer.cpp
  llvm/lib/Target/AArch64/Disassembler/AArch64ExternalSymbolizer.h
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.h
  llvm/lib/Target/ARC/Disassembler/ARCDisassembler.cpp
  llvm/lib/Target/ARM/Disassembler/ARMDisassembler.cpp
  llvm/lib/Target/Hexagon/Disassembler/HexagonDisassembler.cpp
  llvm/lib/Target/Lanai/Disassembler/LanaiDisassembler.cpp
  llvm/lib/Target/Sparc/Disassembler/SparcDisassembler.cpp
  llvm/lib/Target/SystemZ/Disassembler/SystemZDisassembler.cpp
  llvm/lib/Target/X86/Disassembler/X86Disassembler.cpp
  llvm/tools/llvm-objdump/MachODump.cpp
  llvm/unittests/MC/X86/CMakeLists.txt
  llvm/unittests/MC/X86/X86MCDisassemblerTest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[gn build] Set llvm_have_mallinfo2 to true by default
  llvm/utils/gn/secondary/llvm/include/llvm/Config/BUILD.gn
Due: none

[clang][dataflow] Relax assert on existence of `this` pointee storage
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Due: fix-cc-deps, clang-format

[clang][dataflow] Fix incorrect CXXThisExpr pointee for lambdas
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Due: fix-cc-deps, clang-format

[SLP]Fix PR55688: Miscompile due to incorrect nuw/nsw handling.
  llvm/include/llvm/Transforms/Utils/LoopUtils.h
  llvm/lib/Transforms/Utils/LoopUtils.cpp
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/horizontal.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal-list.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal.ll
  llvm/test/Transforms/SLPVectorizer/X86/remark_horcost.ll
  llvm/test/Transforms/SLPVectorizer/X86/scheduling.ll
Due: fix-cc-deps, clang-format, check-header-guards

[memprof] Keep and display symbol names in the RawMemProfReader.
  llvm/include/llvm/ProfileData/MemProf.h
  llvm/include/llvm/ProfileData/RawMemProfReader.h
  llvm/lib/ProfileData/RawMemProfReader.cpp
  llvm/test/tools/llvm-profdata/memprof-basic.test
  llvm/test/tools/llvm-profdata/memprof-inline.test
  llvm/tools/llvm-profdata/llvm-profdata.cpp
  llvm/unittests/ProfileData/MemProfTest.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[bazel] Unset REVISION as if LLVM_APPEND_VC_REV=OFF, for now.
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Due: none

[bazel] Bump to 15.0.0git
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
  utils/bazel/llvm-project-overlay/clang/include/clang/Config/config.h
  utils/bazel/llvm-project-overlay/lld/BUILD.bazel
  utils/bazel/llvm-project-overlay/llvm/include/llvm/Config/llvm-config.h
Due: fix-cc-deps, clang-format, check-header-guards

[SLP]Do not try to generate ScatterVectorize if it will be scalarized.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/pr47623.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr47629-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr47629.ll
Due: fix-cc-deps, clang-format

[gn build] Manually port bed9efed71
  llvm/utils/gn/secondary/llvm/unittests/BUILD.gn
  llvm/utils/gn/secondary/llvm/unittests/MC/X86/BUILD.gn
Due: none

[flang] Fix crash from a blank BIND(C,NAME="") on subprogram
  flang/lib/Semantics/resolve-names.cpp
Due: fix-cc-deps, clang-format

[gn build] Fix D126415 to only set `llvm_have_mallinfo2 = true` on linux
  llvm/utils/gn/secondary/llvm/include/llvm/Config/BUILD.gn
Due: none

[NFC][llvm-ml] Rename rip-relative-addressing.asm to rip_relative_addressing.asm
  llvm/test/tools/llvm-ml/rip_relative_addressing.asm
Due: none

Allow unknown fields in fuzzing text proto (#1296)
  explorer/fuzzing/fuzzer_util.cpp
  explorer/fuzzing/fuzzer_util.h
  explorer/fuzzing/fuzzer_util_test.cpp
  explorer/fuzzing/fuzzverter.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Skip testing of watchpoint hit-count/ignore-count on multithreaded
  lldb/test/API/commands/watchpoints/hello_watchlocation/TestWatchLocation.py
  lldb/test/API/commands/watchpoints/watchpoint_set_command/TestWatchLocationWithWatchSet.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentManyWatchpoints.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentNWatchNBreak.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentSignalNWatchNBreak.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentSignalWatch.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentSignalWatchBreak.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentTwoWatchpointThreads.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentTwoWatchpointsOneBreakpoint.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentTwoWatchpointsOneDelayBreakpoint.py
  lldb/test/API/functionalities/thread/concurrent_events/TestConcurrentTwoWatchpointsOneSignal.py
  lldb/test/API/python_api/watchpoint/TestWatchpointIgnoreCount.py
Due: none

Lower complex.expm1 to standard dialect.
  mlir/lib/Conversion/ComplexToStandard/ComplexToStandard.cpp
  mlir/test/Conversion/ComplexToStandard/convert-to-standard.mlir
Due: fix-cc-deps, clang-format

[mlir][sparse] Add more complex operations.
  mlir/include/mlir/Dialect/SparseTensor/Utils/Merger.h
  mlir/lib/Dialect/SparseTensor/Utils/Merger.cpp
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_complex_ops.mlir
Due: fix-cc-deps, clang-format, check-header-guards

[flang] Update intrinsic module source files
  flang/module/__fortran_builtins.f90
  flang/module/__fortran_ieee_exceptions.f90
  flang/module/ieee_arithmetic.f90
  flang/module/iso_fortran_env.f90
Due: none

[flang] Allow forward reference to ENTRY from generic interface
  flang/lib/Semantics/resolve-names.cpp
Due: fix-cc-deps, clang-format

Implement suggestions from review
  docs/design/README.md
Due: none

added a script for regenerating explorer fuzzer corpus
  explorer/fuzzing/regen_corpus.py
Due: none

Changed fuzzer_util_test to not process the full fuzzer corpus, but instead just run on a single file, to minimize friction when making fuzzer proto changes
  explorer/fuzzing/BUILD
  explorer/fuzzing/fuzzer_util_test.cpp
Due: fix-cc-deps, clang-format, forbid-llvm-googletest

Fill in declarations & scope section
  docs/design/README.md
Due: none

[RISCV][NFC] Remove solved TODO for combining constant shifts
  llvm/test/CodeGen/RISCV/rv64i-exhaustive-w-insts.ll
Due: none

[LegalizeTypes][VP] Add widen and split support for VP_TRUNCATE
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vector-trunc-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vtrunc-vp.ll
Due: fix-cc-deps, clang-format

[llvm-ml] Add support for the .S extension
  llvm/test/tools/llvm-ml/invalid_file_extension.blah
  llvm/test/tools/llvm-ml/lit.local.cfg
  llvm/test/tools/llvm-ml/valid_file_extension.S
  llvm/tools/llvm-ml/Opts.td
  llvm/tools/llvm-ml/llvm-ml.cpp
Due: fix-cc-deps, clang-format

[RISCV] Replace ISD::FP_EXTEND and ISD::FP_ROUND with RVV VL op.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoVSDPatterns.td
Due: fix-cc-deps, clang-format

[InstCombine] bitcast(logic(bitcast(X), bitcast(Y))) -> bitcast'(logic(bitcast'(X), Y))
  llvm/lib/Transforms/InstCombine/InstCombineCasts.cpp
  llvm/test/Transforms/InstCombine/bitcast-inseltpoison.ll
  llvm/test/Transforms/InstCombine/bitcast.ll
Due: fix-cc-deps, clang-format

[InstCombine] [NFC] refector foldXorOfICmps
  llvm/lib/Transforms/InstCombine/InstCombineAndOrXor.cpp
Due: fix-cc-deps, clang-format

[NFC][LoopCacheAnalysis] Update test cases to make sure the outputs follow the right order
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/LoopnestFixedSize.ll
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/loads-store.ll
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/matmul.ll
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/matvecmul.ll
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/multi-store.ll
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/single-store.ll
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/stencil.ll
Due: none
