Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Move default values to a value store.
  toolchain/check/context.h
  toolchain/check/cpp/import.cpp
  toolchain/check/full_pattern_stack.h
  toolchain/check/function.cpp
  toolchain/check/global_init.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/name_component.cpp
  toolchain/check/name_component.h
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/function/declaration/default_values.carbon
  toolchain/check/testdata/function/definition/default_values.carbon
  toolchain/check/thunk.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/default_value.cpp
  toolchain/sem_ir/default_value.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

update unrelated file tests
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/bundle.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/non_core_interfaces.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/driver/testdata/stdin.carbon
Due: none

fix coverage and yaml tests
  toolchain/check/merge.cpp
  toolchain/check/pattern_match.cpp
  toolchain/diagnostics/kind.def
  toolchain/sem_ir/default_value.cpp
  toolchain/sem_ir/default_value.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix crash when lowering Carbon derived class with C++ virtual base class (#7745)
  toolchain/check/class.cpp
  toolchain/check/cpp/export.cpp
  toolchain/check/cpp/export.h
  toolchain/check/testdata/interop/cpp/class/export/override.carbon
  toolchain/check/testdata/interop/cpp/class/import/override.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/interop/cpp/class/import/dynamic.carbon
  toolchain/lower/testdata/interop/cpp/class/virtual_fn.carbon
  toolchain/lower/testdata/interop/cpp/class/virtual_fn_carbon_only.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Autoupdate
  toolchain/check/testdata/interop/cpp/function/import/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/import/function_ptr.carbon
Due: none

Add rules for working with jj history and prek (#7808)
  .agents/skills/jj/SKILL.md
  .agents/skills/prek/SKILL.md
  AGENTS.md
Due: none

Use SaveAndRestore
  toolchain/check/eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add TODO
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix accessing protected members from templates derived classes (#7780)
  toolchain/check/context.h
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/eval.cpp
  toolchain/check/member_access.cpp
  toolchain/check/member_access.h
  toolchain/check/testdata/class/generic/member_access.carbon
  toolchain/check/testdata/generic/template/member_access.carbon
  toolchain/check/testdata/impl/access.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add a `jj push` wrapper that runs prek before pushing. (#7805)
  docs/project/contribution_tools.md
  scripts/completions/README.md
  scripts/completions/jj_push.bash
  scripts/completions/jj_push.fish
  scripts/completions/jj_push.zsh
  scripts/jj_prek.sh
  scripts/jj_push.sh
Due: none

Diagnose C++ classes with multiple virtual tables as unsupported
  toolchain/check/class.cpp
  toolchain/check/convert.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/class/fail_multiple_vtables.carbon
  toolchain/sem_ir/vtable.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

fix literal
  common/set_test.cpp
Due: fix-cc-deps, clang-format

feedback
  toolchain/check/full_pattern_stack.h
  toolchain/check/handle_function.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/name_component.h
  toolchain/sem_ir/default_value.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Replace hashtable ForEach callback with range-based iteration (#7806)
  common/map.h
  common/map_benchmark.cpp
  common/map_test.cpp
  common/raw_hashtable.cpp
  common/raw_hashtable.h
  common/set.h
  common/set_benchmark.cpp
  common/set_test.cpp
  toolchain/benchmarking/source_gen.cpp
  toolchain/check/scope_stack.cpp
  toolchain/lower/specific_coalescer.cpp
  toolchain/testing/coverage_helper.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

add dump
  scripts/lldbinit.py
  toolchain/check/dump.cpp
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

cleanup
  toolchain/check/handle_function.cpp
  toolchain/check/testdata/function/declaration/default_values.carbon
  toolchain/check/testdata/function/definition/default_values.carbon
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

const auto
  toolchain/check/merge.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

flip const auto back
  toolchain/check/merge.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Don't apply "InCppThunk" to function pointer thunks
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/function/import/function_ptr.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/cpp/type_mapping.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/call.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/function/import/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/import/function_ptr.carbon
  toolchain/sem_ir/clang_decl.h
  toolchain/sem_ir/function.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve comments.
  toolchain/check/action.h
  toolchain/sem_ir/inst_kind.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Preserve the type-as-written for bindings and use it in diagnostics. (#7804)
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/pattern.cpp
  toolchain/check/pattern.h
  toolchain/check/testdata/basics/raw_sem_ir/bundle.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/non_core_interfaces.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/check/testdata/class/self/self.carbon
  toolchain/check/testdata/interface/fail_type_as_facet.carbon
  toolchain/check/testdata/interop/cpp/class/import/base.carbon
  toolchain/check/testdata/interop/cpp/impls/as.carbon
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
  toolchain/check/testdata/interop/cpp/impls/implicit_as.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.llp64.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/long_and_long_long.lp64.carbon
  toolchain/check/testdata/interop/cpp/primitive_types/void_pointer.carbon
  toolchain/check/testdata/primitives/int_conversions.carbon
  toolchain/check/thunk.cpp
  toolchain/sem_ir/entity_name.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/sugared_type.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address review comments on the constant hash seed change
  common/hashing.h
  common/raw_hashtable.h
Due: fix-cc-deps, clang-format, check-header-guards

Test the TextMate grammar
  examples/BUILD
  examples/advent2024/BUILD
  examples/interop/cpp/BUILD
  examples/re2_playground/BUILD
  toolchain/lex/BUILD
  utils/textmate/.gitignore
  utils/textmate/BUILD
  utils/textmate/README.md
  utils/textmate/conformance.mjs
  utils/textmate/conformance_test.py
  utils/textmate/golden_test.py
  utils/textmate/grammar_test.py
  utils/textmate/render_sample.py
  utils/textmate/testdata/highlight/choices.scopes
  utils/textmate/testdata/highlight/comments.scopes
  utils/textmate/testdata/highlight/customs.scopes
  utils/textmate/testdata/highlight/functions_variables.scopes
  utils/textmate/testdata/highlight/interop.scopes
  utils/textmate/testdata/highlight/keywords.scopes
  utils/textmate/testdata/highlight/literals.scopes
  utils/textmate/testdata/highlight/main.scopes
  utils/textmate/testdata/highlight/types.scopes
  utils/vscode/development.md
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

skill-code-style
  .agents/skills/code_style/SKILL.md
Due: none

skill-review-testdata
  .agents/skills/review_testdata_changes/SKILL.md
  .agents/skills/summarize_testdata_changes/SKILL.md
  .agents/skills/toolchain_tests/SKILL.md
Due: none

feedback round
  toolchain/check/merge.cpp
  toolchain/check/testdata/function/declaration/default_values.carbon
  toolchain/check/testdata/function/definition/default_values.carbon
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

comment fix
  toolchain/sem_ir/default_value.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Skill file docs about how to write prose, names, and to prioritize the data model (#7814)
  .agents/skills/code_style/SKILL.md
Due: none

tweak dump
  toolchain/sem_ir/dump.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Move default value inst ids to a dedicated value store. (#7810)
  scripts/lldbinit.py
  toolchain/check/context.h
  toolchain/check/cpp/import.cpp
  toolchain/check/dump.cpp
  toolchain/check/full_pattern_stack.h
  toolchain/check/function.cpp
  toolchain/check/global_init.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/handle_pattern_list.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/name_component.cpp
  toolchain/check/name_component.h
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/basics/raw_sem_ir/builtins.carbon
  toolchain/check/testdata/basics/raw_sem_ir/bundle.carbon
  toolchain/check/testdata/basics/raw_sem_ir/cpp_interop.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile.carbon
  toolchain/check/testdata/basics/raw_sem_ir/multifile_with_textual_ir.carbon
  toolchain/check/testdata/basics/raw_sem_ir/non_core_interfaces.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file.carbon
  toolchain/check/testdata/basics/raw_sem_ir/one_file_with_textual_ir.carbon
  toolchain/check/testdata/function/declaration/default_values.carbon
  toolchain/check/testdata/function/definition/default_values.carbon
  toolchain/check/thunk.cpp
  toolchain/diagnostics/kind.def
  toolchain/driver/testdata/stdin.carbon
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/default_value.cpp
  toolchain/sem_ir/default_value.h
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/function.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add caller support for default arguments
  toolchain/check/call.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/merge.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/function/call/default_values.carbon
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add test for `default fn` in a generic impl.
  toolchain/check/testdata/interface/default_fn.carbon
Due: none

Add a test for a miscompile fixed by this change.
  toolchain/lower/testdata/interface/default_fn.carbon
Due: none

Ensure `default fn` and `final fn` values get added to the eval block of the impl if needed.
  toolchain/check/impl.cpp
  toolchain/check/testdata/interface/default_fn.carbon
  toolchain/lower/testdata/interface/default_fn.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

comment
  toolchain/check/type_completion.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

more-comments
  toolchain/check/type_structure.h
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

review
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics
