Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Extend ConstantEvalResult to handle cases where the resulting instruction has a different phase from the arguments to the evaluation.
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/eval_inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

rearrange
  toolchain/parse/testdata/function/decl_statement.carbon
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/testdata/function/definition.carbon
  toolchain/parse/testdata/function/definition/builtin.carbon
  toolchain/parse/testdata/function/definition/extern.carbon
  toolchain/parse/testdata/function/extern.carbon
  toolchain/parse/testdata/function/impl_fn.carbon
Due: none

impl_fn
  toolchain/parse/testdata/function/decl_statement.carbon
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/testdata/function/definition.carbon
  toolchain/parse/testdata/function/extern.carbon
  toolchain/parse/testdata/function/impl_fn.carbon
Due: none

Lookup
  toolchain/check/handle_interface.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/impl/fail_todo_use_assoc_const.carbon
  toolchain/check/testdata/interface/no_prelude/assoc_const_in_fn_signature.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/name_scope.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Move `poison.impl.carbon` to interface name poisoning file, since it has no `impl`
  toolchain/check/testdata/impl/no_prelude/name_poisoning.carbon
  toolchain/check/testdata/interface/no_prelude/name_poisoning.carbon
Due: none

Add a TODO to allow defining names after they're poisoned
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
Due: none

Update file following TODO addition
  toolchain/check/testdata/function/declaration/no_prelude/name_poisoning.carbon
Due: none

Fix formatting
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Style: Avoid typename in braced initialization
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

When finding a name in `Cpp`, but the found declaration is not supported, return error `InstId` to avoid diagnosing on name not found
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a TODO to remove `File::set_cpp_ast()`
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

TODO for `isClassLookup()`
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add function comments
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Change `ImportCppFiles()` to return the AST instead of using a return value as a parameter
  toolchain/check/check_unit.cpp
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Improve `File::cpp_ast_` comment
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove unnecessary `CARBON_CHECK`
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Handle special names by using `GetIRBaseName()`
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a test for using a the wrong name when calling a `Cpp` function
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
Due: none

Update test name to include `fail_`
  toolchain/check/testdata/interop/cpp/no_prelude/function_decl.carbon
Due: none

Narrow the CRC scope in file_test
  explorer/file_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/run_test.cpp
  testing/file_test/run_test.h
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Move PrettyStackTraceString to CRC scope
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

Failing test
  toolchain/check/testdata/interface/no_prelude/compound_member_access.carbon
Due: none

Refactor HandleIdentifierName away
  toolchain/check/handle_name.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simple member access works
  toolchain/check/testdata/interface/no_prelude/compound_member_access.carbon
Due: none

Rephase check
  toolchain/check/handle_name.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

nit
  toolchain/check/handle_name.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

Checkpoint progress.
  toolchain/check/testdata/interface/no_prelude/assoc_const_in_fn_signature.carbon
Due: none

cleanup
  testing/file_test/file_test_base.cpp
Due: fix-cc-deps, clang-format

Add parsing for 'fn destroy'
  toolchain/check/handle_name.cpp
  toolchain/check/name_component.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/no_prelude/destroy.carbon
  toolchain/lex/token_kind.def
  toolchain/parse/BUILD
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/node_category.h
  toolchain/parse/node_ids.h
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Fix multiline incremental sync.
  toolchain/language_server/handle_text_document.cpp
  toolchain/language_server/testdata/text_document/incremental_sync.carbon
  toolchain/language_server/testdata/text_document/incremental_sync_multiline.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

comment
  toolchain/language_server/handle_text_document.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

maybe-unused
  toolchain/language_server/handle_text_document.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Addressing comments
  toolchain/check/handle_name.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/class/no_prelude/destroy.carbon
  toolchain/parse/handle_decl_name_and_params.cpp
  toolchain/parse/node_kind.def
  toolchain/parse/testdata/alias/basic.carbon
  toolchain/parse/testdata/class/local.carbon
  toolchain/parse/testdata/function/declaration.carbon
  toolchain/parse/testdata/generics/impl/fail_out_of_line_member.carbon
  toolchain/parse/testdata/namespace/fail_incomplete_name.carbon
  toolchain/parse/testdata/namespace/nested.carbon
  toolchain/parse/testdata/packages/export.carbon
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add minimal action infrastructure.
  toolchain/check/BUILD
  toolchain/check/action.cpp
  toolchain/check/action.h
  toolchain/check/eval_inst.cpp
  toolchain/check/member_access.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

FindWitnessInFacet
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/interface/no_prelude/compound_member_access.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/impl_lookup.cpp
  toolchain/check/member_access.cpp
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_class_type_to_generic_facet_value.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_shouldnt_know_concrete_type.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_facet_value_to_missing_impl.carbon
  toolchain/check/testdata/builtin_conversions/no_prelude/fail_convert_type_erased_type_to_facet.carbon
  toolchain/check/testdata/builtins/bool/eq.carbon
  toolchain/check/testdata/builtins/bool/neq.carbon
  toolchain/check/testdata/facet/no_prelude/combine.carbon
  toolchain/check/testdata/function/builtin/no_prelude/call_from_operator.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/compound.carbon
  toolchain/check/testdata/impl/lookup/generic.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/import.carbon
  toolchain/check/testdata/impl/lookup/no_prelude/specific_args.carbon
  toolchain/check/testdata/impl/lookup/transitive.carbon
  toolchain/check/testdata/impl/no_prelude/fail_impl_as_scope.carbon
  toolchain/check/testdata/impl/no_prelude/import_builtin_call.carbon
  toolchain/check/testdata/impl/no_prelude/import_use_generic.carbon
  toolchain/check/testdata/impl/no_prelude/interface_args.carbon
  toolchain/check/testdata/index/fail_negative_indexing.carbon
  toolchain/check/testdata/interface/no_prelude/compound_member_access.carbon
  toolchain/check/testdata/interface/no_prelude/default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/fail_member_lookup.carbon
  toolchain/check/testdata/interface/no_prelude/local.carbon
  toolchain/check/testdata/return/no_prelude/import_convert_function.carbon
  toolchain/check/testdata/tuple/access/fail_negative_indexing.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

IsInstanceMember
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
