Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


name
  .github/workflows/label_prs.yaml
Due: none

Fix name, add fail test
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
Due: none

x
  toolchain/semantics/testdata/var/init_type_mismatch.carbon
Due: none

Have the driver return errors on SemanticsIR errors.
  toolchain/driver/driver.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Add support for VariableDeclaration and VariableInitialization (#2466)
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/init_type_mismatch.carbon
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
Due: none

Automate labeling of explorer and toolchain PRs (#2470)
  .github/workflows/label_prs.yaml
Due: none

Restructure the patches dir in expectation of non-llvm patches. (#2469)
  .pre-commit-config.yaml
  WORKSPACE
  bazel/patches/llvm/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/patches/llvm/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
  bazel/patches/llvm/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

Indicate Maintenance Future Step for M4
  WORKSPACE
Due: none

Indicate Maintenance Future Step for Bison
  WORKSPACE
Due: none

Minor Punctuation
  bazel/cc_toolchains/clang_configuration.bzl
Due: none

Minor Spacing
  bazel/cc_toolchains/clang_configuration.bzl
Due: none

lookup draft
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/bad_name_lookup.carbon
  toolchain/semantics/testdata/basics/empty.carbon
  toolchain/semantics/testdata/basics/empty_decl.carbon
  toolchain/semantics/testdata/function/basic.carbon
  toolchain/semantics/testdata/function/order.carbon
  toolchain/semantics/testdata/operators/type_mismatch.carbon
  toolchain/semantics/testdata/operators/type_mismatch_once.carbon
  toolchain/semantics/testdata/return/literal.carbon
  toolchain/semantics/testdata/return/trivial.carbon
  toolchain/semantics/testdata/var/bad_init_with_self.carbon
  toolchain/semantics/testdata/var/decl.carbon
  toolchain/semantics/testdata/var/decl_with_init.carbon
  toolchain/semantics/testdata/var/global_decl.carbon
  toolchain/semantics/testdata/var/global_decl_with_init.carbon
  toolchain/semantics/testdata/var/init_type_mismatch.carbon
  toolchain/semantics/testdata/var/name_lookup.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Partial Patch of `#2469`
  WORKSPACE
  bazel/patches/bison/0001_Support_Bison_building_on_FreeBSD.patch
  bazel/patches/bison/BUILD
  bazel/patches/llvm/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/patches/llvm/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
  bazel/patches/llvm/BUILD
  bazel/patches/m4/0001_Support_M4_building_on_FreeBSD.patch
  bazel/patches/m4/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

lookup draft
  toolchain/diagnostics/diagnostic_registry.def
Due: none

Partial Patch of `#2469`
  .pre-commit-config.yaml
Due: none

Minor Syntax
  WORKSPACE
Due: none

Support building on FreeBSD (#2463)
  WORKSPACE
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  bazel/cc_toolchains/clang_configuration.bzl
  bazel/cc_toolchains/clang_toolchain.BUILD
  bazel/patches/bison/0001_Support_Bison_building_on_FreeBSD.patch
  bazel/patches/bison/BUILD
  bazel/patches/m4/0001_Support_M4_building_on_FreeBSD.patch
  bazel/patches/m4/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

x
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/basics/bad_name_lookup.carbon
  toolchain/semantics/testdata/basics/verbose.carbon
  toolchain/semantics/testdata/var/bad_duplicate_decl.carbon
  toolchain/semantics/testdata/var/bad_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/global_lookup.carbon
  toolchain/semantics/testdata/var/global_lookup_in_scope.carbon
  toolchain/semantics/testdata/var/lookup.carbon
  toolchain/semantics/testdata/var/todo_bad_init_with_self.carbon
  toolchain/semantics/testdata/var/todo_bad_lookup_outside_scope.carbon
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
Due: fix-cc-deps, clang-format, check-header-guards

Updates based on implementation experience.
  proposals/p2173.md
Due: none

Updates based on review feedback. Precommit.
  proposals/p2173.md
Due: none

Fix examples
  proposals/p2173.md
Due: none

Apply suggestions from code review
  proposals/p2173.md
Due: none

[parser] More support for `interface`s: methods and `me` param.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/lexer/token_kind.def
  toolchain/lexer/token_kind_test.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/empty.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Add missing docs.
  toolchain/parser/parser_state.def
Due: none

Add TODO check of nesting.
  toolchain/parser/parser.cpp
Due: fix-cc-deps, clang-format

Simplify the stack management.
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
Due: fix-cc-deps, clang-format, check-header-guards

Checkpoint for current progress.
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/fail_no_impl_allowed.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Handle a few more comments.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_self_param_syntax.carbon
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Handle a few review comments.
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/generics/interface/fail_me_param_required.carbon
Due: fix-cc-deps, clang-format

Handle some review comments.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_me_param_required.carbon
  toolchain/parser/testdata/generics/interface/fail_no_impl_allowed.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Checkin for current progress.
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/fail_me_param_required.carbon
Due: fix-cc-deps, clang-format

Rename `me` to `self`.
  toolchain/lexer/token_kind.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_me_param_required.carbon
  toolchain/parser/testdata/generics/interface/fail_no_impl_allowed.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Handle some more review comments.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/generics/interface/fail_me_param_required.carbon
Due: fix-cc-deps, clang-format

Add more docs.
  toolchain/parser/parse_node_kind.def
Due: none

Add semantic parse tree handler stubs.
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format

Add TODO to merge pattern handling methods.
  toolchain/parser/parser.cpp
Due: fix-cc-deps, clang-format

Added code from comment
  toolchain/lexer/string_literal.cpp
Due: fix-cc-deps, clang-format

Changed code from comment
  toolchain/lexer/string_literal.cpp
Due: fix-cc-deps, clang-format
