Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Checkpoint progress.
  proposals/p5389.md
Due: none

Apply review comments
  toolchain/check/testdata/interop/cpp/function_decl.carbon
Due: none

Apply review comments
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
  toolchain/check/testdata/impl/min_prelude/generic_redeclaration.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

struct
  toolchain/check/testdata/impl/lookup/min_prelude/struct.carbon
Due: none

typo
  toolchain/check/type_structure.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

comment
  toolchain/check/type_structure.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

plurals
  toolchain/check/type_structure.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

whitespace
  toolchain/check/type_structure.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

overlap-wording
  toolchain/check/check_unit.cpp
  toolchain/check/testdata/impl/lookup/min_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
  toolchain/check/testdata/impl/min_prelude/generic_redeclaration.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

final-placement
  toolchain/check/testdata/impl/lookup/min_prelude/final_placement.carbon
Due: none

tidy
  toolchain/check/type_structure.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/testdata/impl/no_prelude/import_thunk.carbon
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename GetImportIRInstId -> GetImportSource.
  toolchain/check/check_unit.cpp
  toolchain/check/import.cpp
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/import_ir.cpp
  toolchain/sem_ir/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove-semir
  toolchain/check/testdata/impl/lookup/min_prelude/struct.carbon
Due: none

todo
  toolchain/check/testdata/impl/lookup/min_prelude/struct.carbon
Due: none

more-comment
  toolchain/check/testdata/impl/lookup/min_prelude/struct.carbon
Due: none

better-grammar
  toolchain/check/testdata/impl/lookup/min_prelude/struct.carbon
Due: none

Autoupdate after renaming parameter.
  toolchain/check/testdata/impl/no_prelude/import_thunk.carbon
Due: none

Avoid unused case variable
  toolchain/check/type_structure.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add mangling support for thunks.
  toolchain/check/import_ref.cpp
  toolchain/check/thunk.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/impl/import_thunk.carbon
  toolchain/lower/testdata/impl/thunk.carbon
  toolchain/sem_ir/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

stable-sort
  toolchain/check/check_unit.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix a bug found by clang-tidy where we accidentally copied a suspended scope.
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
  toolchain/check/deferred_definition_scope.h
  toolchain/check/deferred_definition_worklist.cpp
  toolchain/check/deferred_definition_worklist.h
  toolchain/check/handle.h
  toolchain/check/handle_function.cpp
  toolchain/check/node_id_traversal.cpp
  toolchain/check/scope_stack.cpp
  toolchain/check/scope_stack.h
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  proposals/p5366.md
Due: none

Clean up `KeywordModifierSet` after #5345
  toolchain/check/keyword_modifier_set.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Iterate on alternatives
  proposals/p5337.md
Due: none

Add test for const int and a link to int32_t definition
  toolchain/check/testdata/interop/cpp/function_decl.carbon
Due: none

Address new review comments, add more tests
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function_decl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  proposals/p5337.md
Due: none

Fixing deduce crash
  toolchain/check/deduce.cpp
  toolchain/check/testdata/deduce/min_prelude/binding_pattern.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix handling of null StringRef file buffers
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_test.cpp
  toolchain/parse/tree_test.cpp
  toolchain/testing/compile_helper.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Print ubsan stack traces
  .bazelrc
  bazel/cc_toolchains/defs.bzl
Due: buildifier

Finish switching to simpler overlapping final impl rule
  proposals/p5337.md
Due: none

Move comment
  bazel/cc_toolchains/defs.bzl
Due: buildifier

disable unsorted-dict-items
  bazel/cc_toolchains/defs.bzl
Due: buildifier

type-iterator
  toolchain/check/BUILD
  toolchain/check/testdata/impl/lookup/min_prelude/specialization_poison.carbon
  toolchain/check/testdata/impl/lookup/overlap_with_non_types.carbon
  toolchain/check/type_structure.cpp
  toolchain/check/type_structure.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest
