Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Factor code out of templates to reduce compile time of `parse/extract.cpp` (#3561)
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Define `Any*DeclId` aliases for brevity
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Form a struct value directly in tree extraction.
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Define `Any`...`DeclId` aliases for brevity (#3562)
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/parse/node_ids.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add parameter name comments.
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Delete no-longer-used NoOp SemIR instruction
  toolchain/check/context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Lowering support, testing, bug fixes.
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/let/generic.carbon
  toolchain/check/testdata/var/fail_generic.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/file_context.cpp
  toolchain/lower/testdata/function/generic/type_param.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix up after merge.
  toolchain/check/handle_binding_pattern.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

pre-commit
  toolchain/parse/extract.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Minor fix to verify failure diagnostics.
  toolchain/parse/extract.cpp
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Form a struct value directly in tree extraction. (#3563)
  toolchain/parse/extract.cpp
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a pop and a TODO call to avoid crashing on a generic class testcase in the fuzzer corpus.
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

More fixes for fuzzing testcases that now get further and crash.
  toolchain/check/convert.cpp
  toolchain/check/handle_interface.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Filling out template with PR 3564
  proposals/p3564.md
Due: none

update content
  docs/project/roadmap.md
  proposals/p3564.md
Due: none

fixes
  README.md
  docs/project/roadmap.md
  proposals/p3564.md
Due: none

Add support for '--config=clang-tidy'
  .bazelrc
  .clang-tidy
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  common/init_llvm.cpp
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/interpreter/BUILD
  language_server/language_server.cpp
  language_server/language_server.h
  toolchain/check/check.cpp
  toolchain/check/handle_name.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/parse/extract.cpp
  utils/treesitter/test_runner.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add support for '--config=clang-tidy' (#3559)
  .bazelrc
  .clang-tidy
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  common/init_llvm.cpp
  explorer/BUILD
  explorer/ast/BUILD
  explorer/base/BUILD
  explorer/fuzzing/BUILD
  explorer/interpreter/BUILD
  language_server/language_server.cpp
  language_server/language_server.h
  toolchain/check/check.cpp
  toolchain/check/handle_name.cpp
  toolchain/lex/lex.cpp
  toolchain/lex/tokenized_buffer_benchmark.cpp
  toolchain/parse/extract.cpp
  utils/treesitter/test_runner.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

`Tree::TryAs` to cast to a typed parse node id
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Refactor BindName to support tracking the enclosing scope.
  toolchain/check/check.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_let.cpp
  toolchain/check/handle_variable.cpp
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/check/testdata/basics/multifile_raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/multifile_raw_ir.carbon
  toolchain/check/testdata/basics/raw_and_textual_ir.carbon
  toolchain/check/testdata/basics/raw_ir.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/typed_insts.h
  toolchain/sem_ir/yaml_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add clang-tidy to tests.yaml
  .github/workflows/tests.yaml
Due: none

DCHECK for invalid node id
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Test failure
  .github/workflows/tests.yaml
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Cleanup for merge
  .github/workflows/tests.yaml
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update LLVM to a recent commit.
  MODULE.bazel
  MODULE.bazel.lock
  testing/file_test/file_test_base_test.cpp
Due: fix-cc-deps, clang-format

Rename BindGenericName -> BindSymbolicName.
  toolchain/check/context.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/testdata/let/fail_generic.carbon
  toolchain/check/testdata/let/generic.carbon
  toolchain/check/testdata/var/fail_generic.carbon
  toolchain/lower/file_context.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/parse/tree.h
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add mechanism to define instruction categories to support inspecting the common representation of similar kinds of instruction.
  common/struct_reflection.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add test
  toolchain/parse/tree_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix formatting
  toolchain/parse/tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Check clang-tidy in tests.yaml (#3567)
  .github/workflows/tests.yaml
Due: none

Add `Tree::TryAs` to cast to a typed parse node id (#3565)
  toolchain/parse/tree.h
  toolchain/parse/tree_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use AnyBranch in formatter.
  toolchain/sem_ir/formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update docs/project/roadmap.md
  docs/project/roadmap.md
Due: none

Remove stray comment.
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

fix
  docs/project/roadmap.md
Due: none

Suppress clang-tidy error to use `auto` in tree_test.cpp
  toolchain/parse/tree_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Suppress clang-tidy error to use `auto` in tree_test.cpp (#3570)
  toolchain/parse/tree_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update setup instructions for recent debian / ubuntu
  docs/project/contribution_tools.md
Due: none
