Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Add separate FATAL for incomplete parameter type
  toolchain/lower/file_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Avoid the need for separate tracking of parameter types
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix wording, actually add principle.
  docs/project/principles/README.md
  docs/project/principles/flow_checking.md
  proposals/p6118.md
Due: none

fix
  proposals/p6395.md
Due: none

nominated
  proposals/p6395.md
Due: none

entity
  proposals/p6395.md
Due: none

format
  proposals/p6395.md
Due: none

Implement support for copying C++ classes.
  toolchain/check/BUILD
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/cpp/impl_lookup.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/operators.cpp
  toolchain/check/cpp/operators.h
  toolchain/check/cpp/overload_resolution.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
  toolchain/lower/testdata/interop/cpp/constructor.carbon
  toolchain/sem_ir/inst_fingerprinter.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

specific-named-constraints
  toolchain/check/handle_require.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/facet/require_import.carbon
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
  toolchain/check/testdata/impl/import_generic.carbon
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
  toolchain/check/type_completion.cpp
  toolchain/check/type_completion.h
  toolchain/sem_ir/impl.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Reduce the minimum benchmark batch size
  toolchain/driver/compile_benchmark.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove mentioning of #6254.
  proposals/p6358.md
Due: none

Group conversions of the same type together.
  core/prelude/types/cpp/int.carbon
Due: none

Add explicit lowering tests.
  toolchain/lower/testdata/interop/cpp/cpp_compat_int.carbon
Due: none

Fix bad merge.
  toolchain/diagnostics/coverage_test.cpp
  toolchain/lower/testdata/interop/cpp/cpp_compat_int.carbon
  toolchain/sem_ir/type_info.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add const
  toolchain/check/cpp/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Skip expensive testing under ASan and add TODO based on review.
  toolchain/driver/clang_runtimes_test.cpp
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Begin building libc++ and libc++abi runtimes on demand
  MODULE.bazel
  bazel/check_deps/check_non_test_cc_deps.py
  bazel/llvm_project/0005_Introduce_basic_sources_exporting_for_libcxx_and_libcxxabi.patch
  bazel/llvm_project/0006_Add_a_filegroup_containing__all__sources_to_the_libc_build_rules.patch
  bazel/llvm_project/0007_Remove_target_compatibility_restrictions_for_float128.patch
  toolchain/base/runtime_sources.bzl
  toolchain/driver/BUILD
  toolchain/driver/build_runtimes_subcommand.cpp
  toolchain/driver/clang_runtimes.cpp
  toolchain/driver/clang_runtimes.h
  toolchain/driver/clang_runtimes_test.cpp
  toolchain/driver/runtimes_cache.h
  toolchain/install/BUILD
  toolchain/install/configure_cmake_file.bzl
  toolchain/install/configure_cmake_file_impl.py
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
Due: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

clang-format suggested edit
  toolchain/check/cpp/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Address some review comments.
  toolchain/check/impl_lookup.cpp
  toolchain/sem_ir/type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use InstId instead of EvalImplLookupResult.
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/cpp/impl_lookup.h
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

isfacettypeorerror
  toolchain/check/handle_where.cpp
  toolchain/sem_ir/type_iterator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

review
  toolchain/check/facet_type.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/name_scope.cpp
  toolchain/check/testdata/impl/forward_decls.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove debugging stuff
  toolchain/check/eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove more debug
  toolchain/check/generic.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Adjust the framing to be about a design for implementing C++ function calls in the toolchain.
  proposals/p6254.md
Due: none

Fix SemIR printout for string literals in macros
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add support for macros pointing to a constexpr integer
  toolchain/check/cpp/macros.cpp
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

C++ Interop: Add implicit casting between int literals and `CppCompat` integers
  core/prelude/types/cpp/int.carbon
  toolchain/check/testdata/interop/cpp/builtins.llp64.carbon
  toolchain/check/testdata/interop/cpp/builtins.lp64.carbon
Due: none

review
  toolchain/check/import_ref.cpp
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/impl.cpp
  toolchain/sem_ir/impl.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

crash-error-self
  toolchain/check/handle_require.cpp
  toolchain/check/testdata/impl/impl_as_named_constraint.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

stringify-named-constraints
  toolchain/check/testdata/generic/extend_type_completion.carbon
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

no-crash
  toolchain/check/testdata/generic/identify_specific_facet_type.carbon
  toolchain/check/type_completion.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

merge-fns
  toolchain/check/type_completion.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

comment
  toolchain/check/type_completion.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add comment about extend
  toolchain/check/testdata/generic/identify_specific_facet_type.carbon
Due: none

remove-require-facettypeid
  toolchain/check/handle_require.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/facet/require_import.carbon
  toolchain/check/testdata/impl/import_generic.carbon
  toolchain/check/testdata/impl/incomplete.carbon
  toolchain/check/testdata/interface/incomplete.carbon
  toolchain/check/testdata/interface/require.carbon
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/require_impls.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

lldbinit
  .vscode/lldb_launch.json
Due: none
