Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

format and fix
  common/raw_hashtable_benchmark_helpers.cpp
  common/raw_hashtable_metadata_group_benchmark.cpp
Due: fix-cc-deps, clang-format

Apply suggestions from code review
  common/map_benchmark.cpp
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format

review feedback
  common/map_benchmark.cpp
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format

format
  common/map_benchmark.cpp
  common/raw_hashtable_metadata_group.h
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Fix test expectations.
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
Due: none

more review fixes
  common/raw_hashtable_metadata_group.h
Due: fix-cc-deps, clang-format, check-header-guards

Merge check's handle_let and handle_variable files.
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_variable.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Refactor SemIRDiagnosticConverter out of check.cpp
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

comment
  toolchain/check/sem_ir_diagnostic_converter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Autoupdate
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
Due: none

Refactor SemIRDiagnosticConverter out of check.cpp (#4039)
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/sem_ir_diagnostic_converter.cpp
  toolchain/check/sem_ir_diagnostic_converter.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

More support for generic interfaces, aiming for parity with support for generic classes. (#4034)
  toolchain/check/BUILD
  toolchain/check/call.cpp
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/call.carbon
  toolchain/check/testdata/class/generic/fail_todo_use.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/impl/fail_extend_impl_forall.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/fail_todo_generic_default_fn.carbon
  toolchain/check/testdata/interface/no_prelude/generic.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/interface.h
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Remove glob_sh_run
  bazel/sh_run/BUILD
  bazel/sh_run/exec.sh
  bazel/sh_run/rules.bzl
  explorer/BUILD
  toolchain/check/BUILD
  toolchain/lex/BUILD
  toolchain/lower/BUILD
  toolchain/parse/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Remove glob_sh_run (#4041)
  bazel/sh_run/BUILD
  bazel/sh_run/exec.sh
  bazel/sh_run/rules.bzl
  explorer/BUILD
  toolchain/check/BUILD
  toolchain/lex/BUILD
  toolchain/lower/BUILD
  toolchain/parse/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Merge check's handle_let and handle_variable files. (#4040)
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_variable.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Import support for tuple, struct and integer values.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/parse/node_kind.def
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
Due: none

Change implicit import handling to be namespace-oriented.
  toolchain/check/check.cpp
  toolchain/check/import.cpp
  toolchain/check/import.h
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/alias/no_prelude/import_access.carbon
  toolchain/check/testdata/class/no_prelude/import_access.carbon
  toolchain/check/testdata/function/definition/import_access.carbon
  toolchain/check/testdata/interface/no_prelude/import_access.carbon
  toolchain/check/testdata/let/no_prelude/import_access.carbon
  toolchain/check/testdata/namespace/imported.carbon
  toolchain/check/testdata/packages/implicit_imports.carbon
  toolchain/check/testdata/packages/implicit_imports_prelude.carbon
  toolchain/check/testdata/packages/no_prelude/export_import.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_empty.carbon
  toolchain/check/testdata/packages/no_prelude/implicit_imports_entities.carbon
  toolchain/check/testdata/var/no_prelude/import_access.carbon
  toolchain/sem_ir/file.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Factor out instruction from call to Eval.
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Import support for tuple, struct and integer values. (#4042)
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
  toolchain/parse/node_kind.def
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  common/raw_hashtable_metadata_group.h
  common/raw_hashtable_metadata_group_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Factor out common work of building a new constant for an imported instruction.
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/interface/no_prelude/export_name.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Factor out common work of building a new constant for an imported instruction. (#4043)
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/interface/no_prelude/export_name.carbon
  toolchain/check/testdata/interface/no_prelude/generic_import.carbon
  toolchain/check/testdata/packages/no_prelude/fail_export_name_params.carbon
  toolchain/check/testdata/struct/import.carbon
  toolchain/check/testdata/tuples/import.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

updates from review and formatting
  common/raw_hashtable_benchmark_helpers.cpp
  common/raw_hashtable_metadata_group.h
Due: fix-cc-deps, clang-format, check-header-guards

more comments
  common/raw_hashtable_metadata_group.h
Due: fix-cc-deps, clang-format, check-header-guards

Introduce custom hash table data structures. (#3940)
  .bazelrc
  .codespell_ignore
  common/BUILD
  common/hashing.h
  common/hashing_test.cpp
  common/hashtable_key_context.h
  common/map.h
  common/map_benchmark.cpp
  common/map_benchmark_test.sh
  common/map_test.cpp
  common/ostream.h
  common/raw_hashtable.cpp
  common/raw_hashtable.h
  common/raw_hashtable_benchmark_helpers.cpp
  common/raw_hashtable_benchmark_helpers.h
  common/raw_hashtable_metadata_group.cpp
  common/raw_hashtable_metadata_group.h
  common/raw_hashtable_metadata_group_benchmark.cpp
  common/raw_hashtable_metadata_group_benchmark_test.sh
  common/raw_hashtable_test_helpers.h
  common/set.h
  common/set_benchmark.cpp
  common/set_benchmark_test.sh
  common/set_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Add growth API to the new hashtables.
  common/map.h
  common/map_test.cpp
  common/raw_hashtable.h
  common/set.h
  common/set_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Add a build of `boost_unordered` for benchmarking.
  MODULE.bazel
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/BUILD
  common/map_benchmark.cpp
  scripts/fix_cc_deps.py
  third_party/boost_unordered/BUILD.bazel
Due: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, forbid-llvm-googletest

Collect more detailed metrics on hashtables.
  common/map.h
  common/map_benchmark.cpp
  common/raw_hashtable.h
  common/set.h
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  common/raw_hashtable.h
Due: fix-cc-deps, clang-format, check-header-guards

fixes from review
  common/raw_hashtable.h
Due: fix-cc-deps, clang-format, check-header-guards

more feedback
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format

factor out common code based on review
  common/map_benchmark.cpp
  common/raw_hashtable_benchmark_helpers.h
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

rename
  common/map.h
  common/raw_hashtable.h
  common/raw_hashtable_benchmark_helpers.h
  common/set.h
Due: fix-cc-deps, clang-format, check-header-guards

Collect more detailed metrics on hashtables. (#4046)
  common/map.h
  common/map_benchmark.cpp
  common/raw_hashtable.h
  common/raw_hashtable_benchmark_helpers.h
  common/set.h
  common/set_benchmark.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Add a build of `boost_unordered` for benchmarking. (#4045)
  MODULE.bazel
  MODULE.bazel.lock
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  common/BUILD
  common/map_benchmark.cpp
  scripts/fix_cc_deps.py
  third_party/boost_unordered/BUILD.bazel
Due: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, forbid-llvm-googletest

review feedback
  common/map.h
  common/map_test.cpp
  common/raw_hashtable.h
  common/set.h
  common/set_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

