Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - -r
  - .
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==16.0.0

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==16.0.0

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

test file moved accroding to PR comments.
  toolchain/semantics/testdata/function/call/return_implicit.carbon
Due: none

Clean up uncommented SmallVector size parameters.
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Treesitter: fix where clause (#2998)
  utils/treesitter/grammar.js
  utils/treesitter/test_runner.cpp
Due: fix-cc-deps, clang-format

Integrates tuple to semantic analysis (#2992)
  toolchain/common/index_base.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_codeblock.cpp
  toolchain/semantics/semantics_handle_paren.cpp
  toolchain/semantics/semantics_handle_variable.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/testdata/function/call/empty_tuple.carbon
  toolchain/semantics/testdata/function/call/return_implicit.carbon
  toolchain/semantics/testdata/return/tuple.carbon
  toolchain/semantics/testdata/struct/tuple_as_element.carbon
  toolchain/semantics/testdata/tuples/empty.carbon
  toolchain/semantics/testdata/tuples/fail_assign_empty.carbon
  toolchain/semantics/testdata/tuples/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/tuples/fail_element_type_mismatch.carbon
  toolchain/semantics/testdata/tuples/fail_too_few_element.carbon
  toolchain/semantics/testdata/tuples/fail_type_assign.carbon
  toolchain/semantics/testdata/tuples/fail_value_as_type.carbon
  toolchain/semantics/testdata/tuples/nested_tuple.carbon
  toolchain/semantics/testdata/tuples/one_element.carbon
  toolchain/semantics/testdata/tuples/two_elements.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Reduce special-casing of parameters in ParamOrArgSave. (#3001)
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Consolidate ParseTree onto PrettyStackTraceFunction (#3002)
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser_context.cpp
  toolchain/parser/parser_context.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Clean up uncommented SmallVector size parameters. (#3006)
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/sorting_diagnostic_consumer.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/parse_tree.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add name resolution information to trace stream (#2986)
  explorer/ast/BUILD
  explorer/ast/static_scope.cpp
  explorer/ast/static_scope.h
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/resolve_names.h
  explorer/trace_testdata/full_trace.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Trace stack and memory only when there is change in state (#2982)
  explorer/interpreter/BUILD
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
  explorer/interpreter/heap.cpp
  explorer/interpreter/heap.h
  explorer/interpreter/interpreter.cpp
  explorer/trace_testdata/full_trace.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

treesitter: implement strings completely
  explorer/BUILD
  utils/treesitter/grammar.js
  utils/treesitter/queries/highlights.scm
  utils/treesitter/src/scanner.c
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Clean up unnecessary Carbon:: uses in the node stack.
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Clean up unnecessary Carbon:: uses in the node stack. (#3004)
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Free disk space because we seem to be encroaching on limits.
  .github/workflows/tests.yaml
Due: none

Switch to trunk
  .github/workflows/tests.yaml
Due: none

Clean up handling of incomplete line locations.
  toolchain/lexer/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clean up handling of incomplete line locations.
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Change DiagnosticLocationTranslator to a function.
  toolchain/diagnostics/diagnostic_emitter.h
  toolchain/diagnostics/diagnostic_emitter_test.cpp
  toolchain/diagnostics/null_diagnostics.h
  toolchain/diagnostics/sorting_diagnostic_consumer_test.cpp
  toolchain/lexer/numeric_literal_test.cpp
  toolchain/lexer/string_literal_test.cpp
  toolchain/lexer/test_helpers.h
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree_node_location_translator.h
  toolchain/semantics/BUILD
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Free disk space because we seem to be encroaching on limits. (#3009)
  .github/workflows/tests.yaml
Due: none

improve and document the `--` handling based on review feedback, and fix some other minor issues
  common/argparse.cpp
  common/argparse.h
  common/argparse_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

format
  common/argparse.cpp
Due: fix-cc-deps, clang-format

Minor comments improvements
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Update full_trace test
  explorer/trace_testdata/full_trace.carbon
Due: none

file-ctx filtering based on old impl source-loc (InstatntiateImplDeclaration)
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

add trace for control flow resolution
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/interpreter/resolve_control_flow.h
  explorer/trace_testdata/full_trace.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Explorer: Avoid unecessary copies when a value binding is created from a value expression (#3000)
  explorer/interpreter/interpreter.cpp
  explorer/testdata/let/value_expr_binding_from_initializing_expr.carbon
  explorer/testdata/let/value_expr_binding_from_temp_value.carbon
  explorer/testdata/let/value_expr_from_value.carbon
  explorer/testdata/var/local/reference_expr_binding_from_initializing_expr.carbon
  explorer/trace_testdata/full_trace.carbon
Due: fix-cc-deps, clang-format

add trace for unformed variable resolution
  explorer/interpreter/BUILD
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/resolve_unformed.cpp
  explorer/interpreter/resolve_unformed.h
  explorer/trace_testdata/full_trace.carbon
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

document some data structures better
  common/argparse.cpp
Due: fix-cc-deps, clang-format

Lowering for tuple
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_function_context.cpp
  toolchain/lowering/lowering_function_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/call/empty_tuple.carbon
  toolchain/lowering/testdata/tuple/empty.carbon
  toolchain/lowering/testdata/tuple/one_entry.carbon
  toolchain/lowering/testdata/tuple/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Temporary restriction that `extend base` is first in a class to avoid #2994 (#2995)
  explorer/interpreter/type_checker.cpp
  explorer/testdata/class/fail_extend_after_var.carbon
  explorer/testdata/class/fail_extend_member_class.carbon
Due: fix-cc-deps, clang-format

Clean up fuzzer files and the explorer_fuzzer rule.
  bazel/fuzzing/BUILD
  explorer/fuzzing/BUILD
  explorer/fuzzing/README.md
  explorer/fuzzing/ast_to_proto.h
  explorer/fuzzing/ast_to_proto_main.cpp
  explorer/fuzzing/ast_to_proto_test.cpp
  explorer/fuzzing/fuzzer_util.cpp
  explorer/fuzzing/fuzzer_util.h
  explorer/fuzzing/fuzzer_util_test.cpp
  testing/fuzzing/BUILD
  testing/fuzzing/carbon.proto
  testing/fuzzing/proto_to_carbon.cpp
  testing/fuzzing/proto_to_carbon.h
  testing/fuzzing/proto_to_carbon_main.cpp
  testing/fuzzing/proto_to_carbon_test.cpp
  testing/fuzzing/rules.bzl
  toolchain/driver/BUILD
  toolchain/lexer/BUILD
  toolchain/parser/BUILD
  toolchain/semantics/BUILD
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, forbid-llvm-googletest

Fix missing assignment to me_value found by msan.
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format

Fatal error if there are missed newlines.
  toolchain/lexer/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Switch to optional
  explorer/ast/value.cpp
  explorer/ast/value.h
  explorer/interpreter/interpreter.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

