Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Force symbolic bindings of non-constants to be non-constant
  toolchain/check/eval.cpp
  toolchain/check/testdata/deduce/value_with_type_through_access.carbon
  toolchain/check/testdata/facet/fail_deduction_uses_runtime_type_conversion.carbon
  toolchain/check/testdata/let/local.carbon
  toolchain/lower/function_context.cpp
  toolchain/lower/testdata/let/local.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  docs/design/values.md
  proposals/p5545.md
Due: none

Add TODO
  toolchain/check/cpp/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Autoupdate
  toolchain/lower/testdata/interop/cpp/constructor.carbon
Due: none

Stop using `ImplWitnessTable` for a C++ synthesized witness.
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Stop using `ImplWitness` too.
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Cache final impl lookup results.
  toolchain/check/context.h
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/lookup/specialization_poison.carbon
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Support for calling C++ destructors.
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/thunk.cpp
  toolchain/check/testdata/interop/cpp/builtins.carbon
  toolchain/check/testdata/interop/cpp/builtins.llp64.carbon
  toolchain/check/testdata/interop/cpp/builtins.lp64.carbon
  toolchain/check/testdata/interop/cpp/class/access.carbon
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
  toolchain/check/testdata/interop/cpp/enum/anonymous.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/default_arg.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/qualified_param.carbon
  toolchain/check/testdata/interop/cpp/function/reference.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/impls/destroy.carbon
  toolchain/check/testdata/interop/cpp/namespace.carbon
  toolchain/lower/clang_global_decl.cpp
  toolchain/lower/testdata/interop/cpp/constructor.carbon
  toolchain/lower/testdata/interop/cpp/parameters.carbon
  toolchain/lower/testdata/interop/cpp/reference.carbon
  toolchain/lower/testdata/interop/cpp/return.carbon
  toolchain/lower/testdata/interop/cpp/template.carbon
  toolchain/lower/testdata/interop/cpp/virtual_base.carbon
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Unbreak impl poisoning.
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/impl/lookup/specialization_poison.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Dump SemIR for all passing macros tests
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: none

diagnostic-note-identifying
  toolchain/check/diagnostic_emitter.cpp
  toolchain/check/testdata/generic/identify_specific_facet_type.carbon
  toolchain/check/type_completion.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/stringify.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  proposals/p6333.md
Due: none

review
  proposals/p6333.md
Due: none

notes
  proposals/p6333.md
Due: none

Address review comments.
  toolchain/check/check_unit.cpp
  toolchain/check/context.h
  toolchain/check/eval_inst.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Address some review comments.
  toolchain/check/cpp/impl_lookup.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/interop/cpp/impls/copy.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Undo a couple of changes that ended up being unnecessary.
  toolchain/check/eval.cpp
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Make a couple of parts of our infrastructure more robust.
  toolchain/check/eval.cpp
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

review
  toolchain/check/facet_type.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/name_scope.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Move the `:install_paths` library to `//toolchain/base`
  core/BUILD
  testing/base/BUILD
  testing/base/source_gen_test.cpp
  third_party/llvm/BUILD
  third_party/llvm/clang_cc1.cpp
  third_party/llvm/clang_cc1.h
  toolchain/base/BUILD
  toolchain/base/install_paths.cpp
  toolchain/base/install_paths.h
  toolchain/base/install_paths_test.cpp
  toolchain/base/install_paths_test_helpers.cpp
  toolchain/base/install_paths_test_helpers.h
  toolchain/base/test_binary.cpp
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_runner_test.cpp
  toolchain/driver/clang_runtimes.h
  toolchain/driver/clang_runtimes_test.cpp
  toolchain/driver/compile_benchmark.cpp
  toolchain/driver/driver_env.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_subcommand.h
  toolchain/driver/lld_runner.h
  toolchain/driver/runtimes_cache.h
  toolchain/driver/tool_runner_base.h
  toolchain/install/BUILD
  toolchain/install/busybox_main.cpp
  toolchain/language_server/BUILD
  toolchain/language_server/context.h
  toolchain/language_server/language_server.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Addressed feedback, added more tests.
  core/prelude/types/string.carbon
  toolchain/check/eval.cpp
  toolchain/check/testdata/operators/overloaded/string_indexing.carbon
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lower/testdata/operators/string_at.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Repair TODO
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix uppercase typo
  toolchain/check/testdata/interop/cpp/macros.carbon
Due: none

Apply review suggestion
  toolchain/check/cpp/macros.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

get with the program
  proposals/p6333.md
Due: none

Reflow.
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  docs/design/pattern_matching.md
  docs/design/values.md
Due: none

Canonicalize imported witness blocks
  toolchain/check/import_ref.cpp
  toolchain/check/testdata/impl/import_canonical_witnesses.carbon
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

ns
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

lower test
  toolchain/lower/testdata/impl/import_facet.carbon
  toolchain/sem_ir/facet_type_info.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

lower test
  toolchain/lower/testdata/impl/import_facet.carbon
Due: none

order nit
  toolchain/sem_ir/facet_type_info.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Expand TypeCanDestroy to handle more types
  core/prelude/iterate.carbon
  core/prelude/types/maybe_unformed.carbon
  core/prelude/types/optional.carbon
  toolchain/check/impl_lookup.cpp
  toolchain/check/testdata/array/init_dependent_bound.carbon
  toolchain/check/testdata/as/maybe_unformed.carbon
  toolchain/check/testdata/class/generic/init.carbon
  toolchain/check/testdata/class/generic/member_type.carbon
  toolchain/check/testdata/eval/aggregates.carbon
  toolchain/check/testdata/for/actual.carbon
  toolchain/check/testdata/for/basic.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/check/testdata/generic/local.carbon
  toolchain/check/testdata/generic/template/unimplemented.carbon
  toolchain/check/testdata/impl/lookup/impl_overlap_wrapped_types.carbon
  toolchain/check/testdata/impl/use_assoc_entity.carbon
  toolchain/check/testdata/interface/generic_method.carbon
  toolchain/check/testdata/interop/cpp/class/field.carbon
  toolchain/check/testdata/interop/cpp/function/decayed_param.carbon
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
  toolchain/check/testdata/interop/cpp/function/void_pointer.carbon
  toolchain/lower/testdata/array/iterate.carbon
  toolchain/lower/testdata/builtins/maybe_unformed.carbon
  toolchain/lower/testdata/class/generic.carbon
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/lower/testdata/impl/import_facet.carbon
  toolchain/lower/testdata/interop/cpp/nullptr.carbon
  toolchain/lower/testdata/interop/cpp/pointer.carbon
  toolchain/lower/testdata/interop/cpp/void.carbon
  toolchain/lower/testdata/primitives/optional.carbon
  toolchain/testing/testdata/min_prelude/parts/iterate.carbon
  toolchain/testing/testdata/min_prelude/parts/maybe_unformed.carbon
  toolchain/testing/testdata/min_prelude/parts/optional.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

dedupe
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Encapsulate clang::ASTUnit in SemIR::CppFile.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/context.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/cpp/location.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/language_server/context.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
  toolchain/sem_ir/diagnostic_loc_converter.cpp
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/file.h
  toolchain/sem_ir/type_info.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Review comments.
  toolchain/lower/file_context.cpp
  toolchain/sem_ir/file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fill in Problem and Background sections
  proposals/p6382.md
Due: none

comment
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/check/impl_lookup.cpp
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

