Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

[flang] Complement one-to-one association check of bind name and entity name
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/declarations03.f90
Due: fix-cc-deps, clang-format

[Driver][test] Make ananas.c and solaris-ld.c robust
  clang/test/Driver/ananas.c
  clang/test/Driver/solaris-ld.c
Due: none

[CodeGen] Initialize ISD after 800d222e53dabfe1e242bd06ab70f58c36e768ed
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
Due: fix-cc-deps, clang-format, check-header-guards

[InstCombine] add tests for compare-signs
  llvm/test/Transforms/InstCombine/compare-signs.ll
Due: none

[InstCombine] Optimize lshr+shl+and conversion pattern
  llvm/lib/Transforms/InstCombine/InstCombineAndOrXor.cpp
  llvm/test/Transforms/InstCombine/and.ll
Due: fix-cc-deps, clang-format

[mlir][Vector] Support vectorize to vector.reduction or/and.
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Affine/SuperVectorize/vectorize_reduction.mlir
Due: fix-cc-deps, clang-format

[mlir][Arithmetic] Fold NegF in MulF and DivF.
  mlir/include/mlir/Dialect/Arithmetic/IR/ArithmeticOps.td
  mlir/lib/Dialect/Arithmetic/IR/ArithmeticCanonicalization.td
  mlir/lib/Dialect/Arithmetic/IR/ArithmeticOps.cpp
  mlir/test/Dialect/Arithmetic/canonicalize.mlir
Due: fix-cc-deps, clang-format

[mlir][doc] Move pass to passes list and remove redundant doc
  mlir/docs/Passes.md
  mlir/include/mlir/Dialect/MLProgram/IR/CMakeLists.txt
Due: none

[JITLink][AArch64] Unify table managers of ELF and MachO.
  llvm/include/llvm/ExecutionEngine/JITLink/aarch64.h
  llvm/lib/ExecutionEngine/JITLink/ELF_aarch64.cpp
  llvm/lib/ExecutionEngine/JITLink/MachO_arm64.cpp
  llvm/lib/ExecutionEngine/JITLink/aarch64.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[JITLink][AArch64] Lift fixup functions from aarch64.cpp to aarch64.h. (NFC)
  llvm/include/llvm/ExecutionEngine/JITLink/aarch64.h
  llvm/lib/ExecutionEngine/JITLink/aarch64.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir] Include attributes in ML program dialect ops def
  mlir/include/mlir/Dialect/MLProgram/IR/CMakeLists.txt
  mlir/include/mlir/Dialect/MLProgram/IR/MLProgramOps.td
Due: none

[mlir][sparse_tensor] fix windows build
  mlir/lib/Dialect/SparseTensor/Utils/Merger.cpp
Due: fix-cc-deps, clang-format

[PowerPC] Update cfence tests to avoid using undef. NFC.
  llvm/test/CodeGen/PowerPC/cfence-double.ll
  llvm/test/CodeGen/PowerPC/cfence-float.ll
Due: none

[Lex] Keep track of skipped preprocessor blocks and advance the lexer directly if they are revisited
  clang/include/clang/Lex/Preprocessor.h
  clang/lib/Lex/PPDirectives.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[libc++][NFC] clang-format <__config>
  libcxx/.clang-format
  libcxx/include/__config
Due: none

[JITLink][AArch64] Implement MoveWide16 generic edge.
  llvm/include/llvm/ExecutionEngine/JITLink/aarch64.h
  llvm/lib/ExecutionEngine/JITLink/aarch64.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[Greedy RegAlloc] Fix the handling of split register in last chance re-coloring.
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/test/CodeGen/AArch64/regalloc-last-chance-recolor-with-split.mir
  llvm/test/CodeGen/AMDGPU/remaining-virtual-register-operands.ll
Due: fix-cc-deps, clang-format

[JITLink][ELF][AArch64] Implement R_AARCH64_MOVW_UABS_G*_NC.
  llvm/lib/ExecutionEngine/JITLink/ELF_aarch64.cpp
  llvm/test/ExecutionEngine/JITLink/AArch64/ELF_aarch64_relocations.s
Due: fix-cc-deps, clang-format

[mlir][ods] Make Attr/Type def accessors match the dialect
  mlir/include/mlir/TableGen/AttrOrTypeDef.h
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamed.cpp
  mlir/lib/Dialect/SPIRV/IR/TargetAndABI.cpp
  mlir/lib/Dialect/SPIRV/Transforms/LowerABIAttributesPass.cpp
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaDecomposeTransposeConv.cpp
  mlir/lib/TableGen/AttrOrTypeDef.cpp
  mlir/tools/mlir-tblgen/AttrOrTypeDefGen.cpp
  mlir/tools/mlir-tblgen/AttrOrTypeFormatGen.cpp
  mlir/tools/mlir-tblgen/AttrOrTypeFormatGen.h
Due: fix-cc-deps, clang-format, check-header-guards

[mlir][vector] Add patterns to ppropagate vector distribution
  mlir/include/mlir/Dialect/Vector/Transforms/VectorDistribution.h
  mlir/lib/Dialect/Vector/Transforms/VectorDistribute.cpp
  mlir/test/Dialect/Vector/vector-warp-distribute.mlir
  mlir/test/Integration/Dialect/Vector/GPU/CUDA/test-warp-distribute.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[mlir][vector] Add pattern to distribute vector reduction to GPU shuffles
  mlir/include/mlir/Dialect/Vector/Transforms/VectorDistribution.h
  mlir/lib/Dialect/Vector/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Vector/Transforms/VectorDistribute.cpp
  mlir/test/Dialect/Vector/vector-warp-distribute.mlir
  mlir/test/Integration/Dialect/Vector/GPU/CUDA/test-reduction-distribute.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Due: fix-cc-deps, clang-format, check-header-guards

[AArch64][NFC] Fix a comment error
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64MachineScheduler.cpp
Due: fix-cc-deps, clang-format

[CodeGen] Remove restrictRef (NFC)
  llvm/include/llvm/CodeGen/RDFGraph.h
  llvm/lib/CodeGen/RDFGraph.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[CodeGen] Remove addSEHCatchHandler and addSEHCleanupHandler (NFC)
  llvm/include/llvm/CodeGen/MachineFunction.h
  llvm/lib/CodeGen/MachineFunction.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[PowerPC][AtomicExpand] Precommit IR tests for D127609. NFC.
  llvm/test/Transforms/AtomicExpand/PowerPC/cfence-double.ll
  llvm/test/Transforms/AtomicExpand/PowerPC/cfence-float.ll
Due: none

[NFC] Fix Wswitch warning triggered by 735e6c
  llvm/lib/Transforms/Utils/CodeExtractor.cpp
Due: fix-cc-deps, clang-format

[lldb] Fix TCPSocket::Connect when getaddrinfo returns multiple addrs
  lldb/source/Host/common/TCPSocket.cpp
Due: fix-cc-deps, clang-format

[PowerPC] Correct test RUN line. NFC.
  llvm/test/Transforms/AtomicExpand/PowerPC/cfence-double.ll
Due: none

[analyzer][NFC] Inline AnalyzerOptions::getUserMode()
  clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.h
  clang/lib/Frontend/CompilerInvocation.cpp
Due: fix-cc-deps, clang-format, check-header-guards

[Statepoints] FixupStatepoint: Clear isKill flag if COPY is not deleted.
  llvm/lib/CodeGen/FixupStatepointCallerSaved.cpp
  llvm/test/CodeGen/X86/statepoint-fixup-copy-prop.mir
Due: fix-cc-deps, clang-format

Reland "[analyzer] Deprecate the unused 'analyzer-opt-analyze-nested-blocks' cc1 flag"
  clang-tools-extra/clang-tidy/ClangTidy.cpp
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Driver/Options.td
  clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.h
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/Analysis/OSAtomic_mac.cpp
  clang/test/Analysis/analyzer-stats.c
  clang/test/Analysis/blocks.m
  clang/test/Analysis/blocks.mm
  clang/test/Analysis/deprecated-flags-and-options.cpp
  clang/test/Analysis/misc-ps-arm.m
  clang/test/Analysis/misc-ps-region-store.cpp
  clang/test/Analysis/misc-ps-region-store.m
  clang/test/Analysis/misc-ps-region-store.mm
  clang/test/Analysis/objc-arc.m
  clang/test/Analysis/unreachable-code-path.c
Due: fix-cc-deps, clang-format, check-header-guards

Add lowering TODO for bindings returning derived types or arrays
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Optimizer/Transforms/AbstractResult.cpp
Due: fix-cc-deps, clang-format

[llvm-cxxfilt] Add description for --types in help text
  llvm/tools/llvm-cxxfilt/Opts.td
Due: none

[ConstraintElimination] Support constraints with only const ops.
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/constants.ll
Due: fix-cc-deps, clang-format

[lldb] Fix TestDyldExecLinux with xml enabled
  lldb/include/lldb/Host/common/NativeProcessProtocol.h
  lldb/source/Host/common/NativeProcessProtocol.cpp
  lldb/source/Plugins/Process/POSIX/NativeProcessELF.cpp
  lldb/source/Plugins/Process/POSIX/NativeProcessELF.h
  lldb/test/API/functionalities/dyld-exec-linux/TestDyldExecLinux.py
Due: fix-cc-deps, clang-format, check-header-guards

[SCEV] Add tests where assumes can be used to improve trip multiple.
  llvm/test/Analysis/ScalarEvolution/trip-multiple-guard-info.ll
Due: none

[AMDGPU][MC][GFX11] Correct ds_swizzle_b32
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/test/MC/AMDGPU/gfx11_ds.s
  llvm/test/MC/Disassembler/AMDGPU/ds_gfx11.txt
Due: fix-cc-deps, clang-format

[AArch64][SME] Add load/store intrinsics
  llvm/include/llvm/IR/Intrinsics.td
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/CodeGen/AArch64/SME/sme-intrinsics-loads.ll
  llvm/test/CodeGen/AArch64/SME/sme-intrinsics-stores.ll
Due: fix-cc-deps, clang-format, check-header-guards

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$'
, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

