Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Filling out template with PR 6716
  proposals/p6716.md
  toolchain/docs/check/README.md
  toolchain/docs/coalesce_generic_lowering.md
  toolchain/docs/lex.md
  toolchain/docs/parse.md
Due: none

drop alternative link
  toolchain/docs/diagnostics.md
Due: none

chandlerc review
  proposals/p6710.md
Due: none

Inject IntAsSelect into example diagnostic
  toolchain/docs/diagnostics.md
Due: none

keep-open-the-interface-with-self-scope
  toolchain/check/decl_name_stack.cpp
  toolchain/check/generic.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/interface/fail_add_member_outside_definition.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

specific_interface name
  .swp
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

handle errorinst as self facet
  toolchain/check/generic.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

use the interface-with-self specific in custom witness: makes toolchain/check/testdata/alias/local.carbon work
  toolchain/check/custom_witness.cpp
  toolchain/check/interface.cpp
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

handle name lookups extending from a class type into an interface: makes toolchain/check/testdata/facet/convert_facet_value_as_type_knows_original_type.carbon work
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/facet/convert_facet_value_as_type_knows_original_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

give constraint an inner generic-with-self: toolchain/check/testdata/facet/require_import.carbon checks
  toolchain/check/generic.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/facet/require_import.carbon
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst.h
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/named_constraint.h
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

member access GetAssociatedValueImpl uses the interface-with-self specific: toolchain/check/testdata/facet/call_combined_impl_witness.carbon checks
  toolchain/check/member_access.cpp
  toolchain/check/testdata/facet/call_combined_impl_witness.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

starting to convert specifics to with-self: copy.carbon checks
  toolchain/check/call.cpp
  toolchain/check/deduce.cpp
  toolchain/check/deduce.h
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/interface.h
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove explicit self in extended scope, now unused
  toolchain/check/handle_require.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/name_lookup.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/name_scope.cpp
  toolchain/sem_ir/name_scope.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

type-complete the specific-with-self when type-completing the specific: toolchain/check/testdata/generic/extend_type_completion.carbon checks
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

handle empty self type from non-lexical lookup scopes: toolchain/check/testdata/impl/extend_impl_generic.carbon checks
  toolchain/check/name_lookup.cpp
  toolchain/check/testdata/impl/extend_impl_generic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

use interface with self specific to form function specific: as.carbon works
  toolchain/check/impl.cpp
  toolchain/check/interface.cpp
  toolchain/check/testdata/alias/export_name.carbon
  toolchain/check/testdata/basics/dump_sem_ir_ranges.carbon
  toolchain/check/testdata/basics/duplicate_name_same_line.carbon
  toolchain/check/testdata/basics/include_in_dumps.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

leave the interface-with-self scope to be popped later by ProcessNodeIds: toolchain/check/testdata/facet/require_invalid.carbon checks
  toolchain/check/handle_interface.cpp
  toolchain/check/testdata/facet/require_invalid.carbon
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

make the with-self scope point to the WithSelf instruction: toolchain/check/testdata/interface/fail_todo_define_default_fn_out_of_line.carbon checks
  .swp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/member_access.cpp
  toolchain/check/modifiers.cpp
  toolchain/check/modifiers.h
  toolchain/check/name_lookup.cpp
  toolchain/check/scope_stack.h
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/stringify.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add verbose logging for generic region stack push/pop
  toolchain/check/context.cpp
  toolchain/check/generic_region_stack.cpp
  toolchain/check/generic_region_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

decl name stack uses interface without self, moves to with-self for next scope: toolchain/check/testdata/interface/generic_default_fn.carbon checks
  toolchain/check/decl_name_stack.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

require cleanups
  toolchain/check/BUILD
  toolchain/check/generic.cpp
  toolchain/check/generic.h
  toolchain/check/impl.cpp
  toolchain/check/require_impls.cpp
  toolchain/check/require_impls.h
  toolchain/check/testdata/generic/identify_specific_facet_type.carbon
  toolchain/check/testdata/impl/import_generic.carbon
  toolchain/check/testdata/impl/incomplete.carbon
  toolchain/check/testdata/named_constraint/empty_generic.carbon
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/check/type_completion.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

properly complete specific named constraints when identifying facet type
  toolchain/check/generic.h
  toolchain/check/testdata/generic/extend_type_completion.carbon
  toolchain/check/testdata/generic/identify_specific_facet_type.carbon
  toolchain/check/testdata/impl/import_generic.carbon
  toolchain/check/testdata/impl/incomplete.carbon
  toolchain/check/testdata/named_constraint/empty_generic.carbon
  toolchain/check/type_completion.cpp
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

document and improve checks for MakeSpecificWithInnerSelf
  toolchain/check/generic.cpp
  toolchain/check/generic.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

fix docs and naming of the MakeSelfGenericParameter function
  toolchain/check/handle_interface.cpp
  toolchain/check/handle_named_constraint.cpp
  toolchain/check/interface.cpp
  toolchain/check/interface.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove unused self and witness from GetTypeForSpecificAssociatedEntity
  toolchain/check/impl.cpp
  toolchain/check/interface.cpp
  toolchain/check/interface.h
  toolchain/check/member_access.cpp
  toolchain/check/testdata/impl/use_assoc_entity.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove self_type_id from ResolveCalleeInCall
  toolchain/check/call.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fix custom witness to make the self a facet value with the CustomWitness table
  toolchain/check/custom_witness.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/interface.cpp
  toolchain/check/interface.h
  toolchain/check/testdata/class/generic/self.carbon
  toolchain/check/testdata/function/generic/type_param.carbon
  toolchain/check/testdata/impl/import_thunk.carbon
  toolchain/check/testdata/impl/use_assoc_entity.carbon
  toolchain/check/testdata/interface/as_type_of_type.carbon
  toolchain/check/testdata/var/var_pattern.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

rename GetCurrentScopeAs to TryGetCurrentScopeAs when returning optional, use non-fallible version for InterfaceWithSelfdecl
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/scope_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove fixme in import, there's no new work but its clearer than CHECKing to keep three phases
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

remove generic from associated constants
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/interface.cpp
  toolchain/check/testdata/facet/access.carbon
  toolchain/check/testdata/facet/period_self.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_const.carbon
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/impl/impl_assoc_const_with_prelude.carbon
  toolchain/check/testdata/impl/import_interface_assoc_const.carbon
  toolchain/check/testdata/impl/import_self_specific.carbon
  toolchain/check/testdata/impl/incomplete.carbon
  toolchain/check/testdata/impl/lookup/lookup_interface_with_enclosing_generic_inside_rewrite_constraint.carbon
  toolchain/check/testdata/impl/lookup/specialization_with_symbolic_rewrite.carbon
  toolchain/check/testdata/impl/use_assoc_entity.carbon
  toolchain/check/testdata/interface/assoc_const.carbon
  toolchain/check/testdata/interface/compound_member_access.carbon
  toolchain/check/testdata/interface/fail_assoc_const_alias.carbon
  toolchain/check/testdata/interface/fail_assoc_const_bad_default.carbon
  toolchain/check/testdata/interface/fail_member_lookup.carbon
  toolchain/check/testdata/interface/fail_todo_assoc_const_default.carbon
  toolchain/check/testdata/interface/generic_binding_after_assoc_const.carbon
  toolchain/check/testdata/interface/import.carbon
  toolchain/check/testdata/interface/incomplete.carbon
  toolchain/check/testdata/interface/member_lookup.carbon
  toolchain/check/testdata/interface/todo_define_not_default.carbon
  toolchain/check/testdata/let/compile_time_bindings.carbon
  toolchain/sem_ir/associated_constant.h
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/formatter.h
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove loc_id from GetTypeForSpecificAssociatedEntity
  toolchain/check/impl.cpp
  toolchain/check/interface.cpp
  toolchain/check/interface.h
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove fixme for PerformImplLookup, we use the type later to make a FacetValue and no callers have a facet nearby
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update adding features
  toolchain/docs/adding_features.md
  toolchain/docs/check.svg
  toolchain/docs/parse.svg
Due: none

Reduce `../` traversal in busybox logic
  toolchain/install/busybox_info.cpp
  toolchain/install/busybox_info_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Move the `build-runtimes` option up to the top-level driver
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/clang_subcommand.cpp
  toolchain/driver/clang_subcommand.h
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_env.h
  toolchain/driver/driver_test.cpp
  toolchain/driver/link_subcommand.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Clarify and partially enforce inst-order precondition on splicing
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/pending_block.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Tag import functions as Import instead of Make/Add
  toolchain/check/import_ref.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
