Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

WIP SemIR vtables
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/import_ref.cpp
  toolchain/lower/handle.cpp
  toolchain/sem_ir/class.h
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/stringify_type.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Break cycle in import of vtable_id using ImportRef
  toolchain/check/handle_class.cpp
  toolchain/check/import_ref.cpp
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

WIP
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/associated_constant.h
  toolchain/sem_ir/entity_with_params_base.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Refactor to avoid complex comprehension.
  website/prebuild.py
Due: none

Update tests
  toolchain/check/testdata/class/virtual_modifiers.carbon
Due: none

Handle function overrides, including across module boundaries
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

More clear testing
  toolchain/check/testdata/class/virtual_modifiers.carbon
Due: none

Avoid copying a Function object
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add comment for `vtable_stack_`
  toolchain/check/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename class_info to virtual_class_info
  toolchain/check/handle_function.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update test
  toolchain/check/testdata/class/virtual_modifiers.carbon
Due: none

rename local vtable_id to base_vtable_id for clarity
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add some TODOs
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unused HandleInst
  toolchain/lower/handle.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Line wrapping
  toolchain/check/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Avoid a copy of a `SemIR::Function`
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Test update
  toolchain/check/testdata/class/virtual_modifiers.carbon
Due: none

Play a round of comment golf.
  website/prebuild.py
Due: none

Checkpoint progress.
  toolchain/base/value_store.h
  toolchain/check/context.cpp
  toolchain/check/context.h
  toolchain/check/eval.cpp
  toolchain/check/impl.cpp
  toolchain/check/import_ref.cpp
  toolchain/check/subst.cpp
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/check/testdata/interface/no_prelude/fail_lookup_undefined.carbon
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/dump.cpp
  toolchain/sem_ir/dump.h
  toolchain/sem_ir/facet_type_info.cpp
  toolchain/sem_ir/facet_type_info.h
  toolchain/sem_ir/file.h
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove zombie test
  toolchain/check/testdata/class/fail_todo_local_class.carbon
Due: none

clang-tidy fix
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/context.cpp
  toolchain/check/dump.cpp
  toolchain/check/eval.cpp
  toolchain/check/handle_impl.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl.h
  toolchain/check/testdata/impl/fail_extend_partially_defined_interface.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/impl/no_prelude/fail_undefined_interface.carbon
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
  toolchain/diagnostics/coverage_test.cpp
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/sem_ir/facet_type_info.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update test
  toolchain/codegen/testdata/fail_target_triple.carbon
Due: none

Check for non-empty stderr
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
Due: none

Add dwblaikie as a toolchain reviewer
  .github/workflows/auto_assign_prs.yaml
Due: none

Remove TODO for semantic checking
  toolchain/check/impl.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

ptr
  common/error.h
  common/raw_string_ostream.h
Due: fix-cc-deps, clang-format, check-header-guards

exchange
  common/raw_string_ostream.h
Due: fix-cc-deps, clang-format, check-header-guards

Update common/error.h
  common/error.h
Due: fix-cc-deps, clang-format, check-header-guards

rm-move
  common/raw_string_ostream.h
Due: fix-cc-deps, clang-format, check-header-guards

Update website/prebuild.py
  website/prebuild.py
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

