Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

run prettier
  docs/project/contribution_tools.md
Due: none

Update LLVM and switch to `std::optional`.
  WORKSPACE
  scripts/forbid_llvm_googletest.py
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/numeric_literal.h
  toolchain/lexer/numeric_literal_test.cpp
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal.h
  toolchain/lexer/string_literal_test.cpp
  toolchain/lexer/tokenized_buffer.cpp
  toolchain/lexer/tokenized_buffer.h
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/precedence.cpp
  toolchain/parser/precedence.h
  toolchain/parser/precedence_test.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/source/source_buffer.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Update README.md
  README.md
Due: none

remove commented out lines
  WORKSPACE
Due: none

Explorer: add BaseClass member
  explorer/ast/BUILD
  explorer/ast/ast_rtti.txt
  explorer/ast/member.cpp
  explorer/ast/member.h
  explorer/ast/member_test.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Handle remaining comments.
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/fail_missing_open_curly.carbon
Due: fix-cc-deps, clang-format

Handle overlooked comment.
  toolchain/parser/parser.cpp
Due: fix-cc-deps, clang-format

[parser] Start re-implementing interfaces using the stack parser. (#2412)
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/generics/interface/basic.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_name.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_open_curly.carbon
Due: fix-cc-deps, clang-format

x
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
Due: fix-cc-deps, clang-format

x
  toolchain/parser/testdata/basics/package.carbon
Due: none

Remove text which repeats information from the comparison
  toolchain/lexer/tokenized_buffer.cpp
Due: fix-cc-deps, clang-format

Work on ParseTree structure to use more bracketed structures. (#2416)
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/parser_state.def
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/basics/package.carbon
  toolchain/parser/testdata/basics/structs.carbon
  toolchain/parser/testdata/basics/tuples.carbon
  toolchain/parser/testdata/basics/var.carbon
  toolchain/parser/testdata/for/fail_colon_instead_of_in.carbon
  toolchain/parser/testdata/for/fail_missing_in.carbon
  toolchain/parser/testdata/for/fail_missing_var.carbon
  toolchain/parser/testdata/for/nested.carbon
  toolchain/parser/testdata/for/simple.carbon
  toolchain/parser/testdata/if/basic.carbon
  toolchain/parser/testdata/if/else.carbon
  toolchain/parser/testdata/if/fail_else_unbraced.carbon
  toolchain/parser/testdata/if/fail_errors.carbon
  toolchain/parser/testdata/if/fail_unbraced.carbon
  toolchain/parser/testdata/operators/fixity_in_var.carbon
  toolchain/parser/testdata/while/basic.carbon
  toolchain/parser/testdata/while/fail_no_semi.carbon
  toolchain/parser/testdata/while/fail_unbraced.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Explorer: disambiguate base class output
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format

Explorer: remove unecessary ClassDeclaration::base()
  explorer/ast/declaration.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Explorer: remove superfluous CARBON_CHECKs
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format

Implement type checker for "for"
  explorer/ast/declaration.h
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/impl_scope.h
  explorer/interpreter/resolve_names.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parser.ypp
  explorer/testdata/mixin/fail_bad_for_clause.carbon
  explorer/testdata/mixin/fail_for_constraint.carbon
  explorer/testdata/mixin/fail_use_non_export_simple.carbon
  explorer/testdata/mixin/simple_for.carbon
  explorer/testdata/mixin/simpler_for.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards

Issue manage (#1)
  third_party/issue_manage/README.md
  third_party/issue_manage/issue_2251.md
  third_party/issue_manage/issue_2251.pdf
Due: none

x
  toolchain/parser/parse_node_kind.cpp
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parse_node_kind.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/parser.h
  toolchain/parser/testdata/basics/fail_invalid_designators.carbon
  toolchain/parser/testdata/basics/fail_paren_match_regression.carbon
  toolchain/parser/testdata/basics/function_call.carbon
  toolchain/parser/testdata/basics/tuples.carbon
  toolchain/parser/testdata/for/fail_colon_instead_of_in.carbon
  toolchain/parser/testdata/for/fail_missing_in.carbon
  toolchain/parser/testdata/for/fail_missing_var.carbon
  toolchain/parser/testdata/for/nested.carbon
  toolchain/parser/testdata/for/simple.carbon
  toolchain/parser/testdata/function/definition/with_params.carbon
  toolchain/parser/testdata/generics/interface/fail_missing_name.carbon
  toolchain/parser/testdata/operators/fixity_in_call.carbon
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/parser/parse_node_kind.def
Due: none

x
  toolchain/parser/parser.cpp
  toolchain/parser/testdata/basics/fail_invalid_designators.carbon
Due: fix-cc-deps, clang-format

Explorer: support `.base` to initialize parent class from struct (#2361)
  explorer/ast/declaration.h
  explorer/interpreter/BUILD
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
  explorer/syntax/parser.ypp
  explorer/testdata/class/base_constructor.carbon
  explorer/testdata/class/class_inheritance_function_call.carbon
  explorer/testdata/class/class_inheritance_methods.carbon
  explorer/testdata/class/class_inheritance_multiple.carbon
  explorer/testdata/class/class_inheritance_shadow.carbon
  explorer/testdata/class/class_inheritance_variables.carbon
  explorer/testdata/class/fail_direct_base_class_init.carbon
  explorer/testdata/class/fail_field_access_mismatch_base.carbon
  explorer/testdata/class/fail_field_assign_mismatch_base.carbon
  explorer/testdata/class/parametrized_base_class.carbon
Due: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, forbid-llvm-googletest

Update README.md
  third_party/issue_manage/README.md
Due: none

Issue manage (#2)
  third_party/issue_manage/README.md
  third_party/issue_manage/issue_2251.md
Due: none

Delete issue_2251.pdf
  third_party/issue_manage/issue_2251.pdf
Due: none

Update issue_2251.md
  third_party/issue_manage/issue_2251.md
Due: none

Issue manage (#3)
  third_party/issue_manage/issue_2251.md
Due: none

Issue manage (#4)
  third_party/issue_manage/issue_2251.md
Due: none

Explorer: fix method naming & int type preference
  explorer/ast/member.cpp
  explorer/ast/member.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/value.cpp
  explorer/interpreter/value.h
Due: fix-cc-deps, clang-format, check-header-guards

Issue manage (#5)
  third_party/issue_manage/LICENSE
Due: none

Explorer: make "Member::IsNamed" virtual, minor fixes
  explorer/ast/ast_rtti.txt
  explorer/ast/member.cpp
  explorer/ast/member.h
  explorer/ast/member_test.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Explorer: specialize GetMember* functions and params
  explorer/interpreter/value.cpp
Due: fix-cc-deps, clang-format

std::nullopt
  explorer/interpreter/type_checker.cpp
  toolchain/lexer/numeric_literal.cpp
  toolchain/lexer/string_literal.cpp
  toolchain/lexer/string_literal.h
  toolchain/lexer/tokenized_buffer_test_helpers.h
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser.cpp
  toolchain/parser/precedence.cpp
  toolchain/parser/precedence.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

