Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/diagnostic_registry\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Update clang-format to 16.0.0
  .pre-commit-config.yaml
  explorer/ast/value_transform.h
Due: fix-cc-deps, clang-format, check-header-guards

using
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

A few more comments
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

members
  toolchain/semantics/semantics_node.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  proposals/p2687.md
Due: none

Update clang-format to 16.0.0 (#2712)
  .pre-commit-config.yaml
  explorer/ast/value_transform.h
Due: fix-cc-deps, clang-format, check-header-guards

Refactor SemanticsNode factory functions into factory templates. (#2711)
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add a "How to say things" section to CONTRIBUTING
  CONTRIBUTING.md
Due: none

Drop StructFieldValue
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_stack.cpp
  toolchain/semantics/semantics_node_stack.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Support designator expressions on structs.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/testdata/designators/fail_unsupported.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

rakeshkodathala updated the Var syntax #1590
  docs/design/README.md
Due: none

Clean up a few missed stringification comments and one diagnostic.
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

x
  toolchain/semantics/testdata/return/fail_value_missing.carbon
Due: none

x
  toolchain/semantics/semantics_parse_tree_handler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix missing Impl->ImplFact in comment
  explorer/interpreter/impl_scope.h
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  CONTRIBUTING.md
Due: none

Fix formatting
  CONTRIBUTING.md
Due: none

x
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_parse_tree_handler.cpp
  toolchain/semantics/semantics_parse_tree_handler.h
  toolchain/semantics/testdata/function/call/fail_empty_struct.carbon
  toolchain/semantics/testdata/function/call/fail_param_count.carbon
  toolchain/semantics/testdata/function/call/fail_param_type.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch.carbon
  toolchain/semantics/testdata/operators/fail_type_mismatch_once.carbon
  toolchain/semantics/testdata/return/fail_type_mismatch.carbon
  toolchain/semantics/testdata/return/struct.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
  toolchain/semantics/testdata/struct/fail_field_name_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_field_type_mismatch.carbon
  toolchain/semantics/testdata/struct/fail_too_few_values.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/fail_value_as_type.carbon
  toolchain/semantics/testdata/var/fail_init_type_mismatch.carbon
  toolchain/semantics/testdata/var/fail_storage_is_literal.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

x
  toolchain/semantics/testdata/function/call/fail_empty_struct.carbon
Due: none

Apply suggestions from code review
  proposals/p2687.md
Due: none

Fix formatting
  proposals/p2687.md
Due: none

Incorporate feedback from @zygloid
  proposals/p2687.md
Due: none

doc: replace references to #821 by #2006
  docs/design/README.md
Due: none

Move error detection upstream to get correct SourceLocation
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Update testdata to check for new NOTE message
  explorer/testdata/template/fail_name_lookup.carbon
  explorer/testdata/template/fail_no_member.carbon
Due: none

Add context to errors when instantiating a template
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Remove unnecessary whitespace
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Move error to InstantiateImplDeclaration
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Stream error output directly
  explorer/interpreter/type_checker.cpp
  explorer/testdata/template/fail_name_lookup.carbon
  explorer/testdata/template/fail_no_member.carbon
Due: fix-cc-deps, clang-format

Report correct source location
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Stream error directly with ErrorBuilder
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Fix formatting for multiple deduced parameters
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

Attempt to provide all source locations
  explorer/interpreter/impl_scope.cpp
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Fix SourceLocation for Substitute calls in ConstraintTypeBuilder
  explorer/ast/value.h
  explorer/interpreter/type_checker.cpp
  explorer/interpreter/type_checker.h
Due: fix-cc-deps, clang-format, check-header-guards

Add nested test case for templates
  explorer/testdata/template/fail_no_member_nested.carbon
Due: none

Update README.md
  docs/design/README.md
Due: none

Restore clone_test, accidentally removed by #2700
  explorer/fuzzing/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest
