Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


Anchor the orphan rule on the first owning declaration
  toolchain/check/impl_validation.cpp
  toolchain/check/testdata/impl/orphan.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add documentation. Rename gap -> gapless
  toolchain/docs/lex.md
  toolchain/docs/lex/mismatched_brackets.md
  toolchain/lex/mismatched_brackets_eval.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Anchor the orphan rule on the first owning declaration (#7573)
  toolchain/check/impl_validation.cpp
  toolchain/check/testdata/impl/orphan.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add instructions for Carbon development on Windows. (#7565)
  docs/project/contribution_tools.md
Due: none

Improve comments.
  toolchain/check/cpp/generate_ast.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add /external to .gitignore (#7568)
  .gitignore
Due: none

Add a parse test for slice
  toolchain/parse/testdata/basics/type_literals.carbon
Due: none

Fix test failures -- mark a compile as failed if it needs C++ interop and we fail when initializing the domain.
  toolchain/check/check.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  integration_tests/make_unique_test.carbon
Due: none

WIP fix for Mac mangling issue
  toolchain/check/BUILD
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Move adapters from generics to class design docs (#7561)
  docs/design/classes.md
  docs/design/expressions/as_expressions.md
  docs/design/generics/appendix-coherence.md
  docs/design/generics/details.md
  docs/design/generics/overview.md
  docs/design/generics/terminology.md
  docs/design/values.md
  proposals/p003720-member-binding-operators.md
Due: none

WIP fix for Mac mangling issue
  toolchain/check/cpp/export.cpp
  toolchain/sem_ir/BUILD
  toolchain/sem_ir/mangler.cpp
  toolchain/sem_ir/mangler.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add slide and video links for NDC 2026 talks (#7572)
  README.md
Due: none

Improve wording, add more functionality
  docs/design/values.md
Due: none

Revise ambiguous wording
  docs/design/values.md
Due: none

Switch to explicit ownership transfer for parser.
  toolchain/check/cpp/generate_ast.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a flag to build a single ASTContext shared across all compilations (#7567)
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/diagnostic_consumer.cpp
  toolchain/check/cpp/diagnostic_consumer.h
  toolchain/check/cpp/diagnostic_listener.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
  toolchain/check/testdata/interop/cpp/basics/inline/modules.carbon
  toolchain/check/testdata/interop/cpp/basics/share_ast.carbon
  toolchain/check/testdata/interop/cpp/function/export/thunk_ast.carbon
  toolchain/check/testdata/interop/cpp/function/import/function.carbon
  toolchain/check/testdata/interop/cpp/function/import/inline.carbon
  toolchain/check/testdata/interop/cpp/function/import/thunk_ast.carbon
  toolchain/driver/compile_driver.cpp
  toolchain/driver/compile_options.cpp
  toolchain/driver/compile_options.h
  toolchain/lower/testdata/interop/cpp/debug_info.carbon
  toolchain/sem_ir/cpp_file.cpp
  toolchain/sem_ir/cpp_file.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Export methods taking `self` as const-qualified
  toolchain/check/cpp/export.cpp
  toolchain/check/testdata/interop/cpp/class/export/method.carbon
  toolchain/lower/testdata/interop/cpp/class/export/method.carbon
  toolchain/lower/testdata/interop/cpp/class/import/dynamic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/cpp/export.cpp
  toolchain/sem_ir/mangler.cpp
  toolchain/sem_ir/mangler.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

no-exceptions
  bazel/cc_toolchains/cc_toolchain_cpp_features.bzl
Due: buildifier

noexcept-mode-in-libcxxabi
  bazel/cc_toolchains/cc_toolchain_cpp_features.bzl
  toolchain/install/BUILD
  toolchain/install/install_filegroups.bzl
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

only-for-toolchain
  bazel/cc_toolchains/carbon_cc_toolchain_config.bzl
  bazel/cc_toolchains/cc_toolchain_carbon_project_features.bzl
  bazel/cc_toolchains/cc_toolchain_cpp_features.bzl
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
  toolchain/install/BUILD
  toolchain/install/install_filegroups.bzl
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

revert-to-trunk
  bazel/cc_toolchains/carbon_cc_toolchain_config.bzl
  bazel/cc_toolchains/cc_toolchain_carbon_project_features.bzl
  bazel/cc_toolchains/clang_cc_toolchain_config.bzl
Due: buildifier

start-over
  bazel/cc_toolchains/cc_toolchain_cpp_features.bzl
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Removes accidentally undeleted old design (from merge)
  docs/design/classes.md
Due: none

Revise destructor introduction in `docs/design/README.md`
  docs/design/README.md
  docs/design/lexical_conventions/words.md
Due: none

Export abstract methods as pure virtual
  toolchain/check/cpp/export.cpp
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/testdata/interop/cpp/class/export/base.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/sem_ir/mangler.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simplify abstract method tests
  toolchain/check/testdata/interop/cpp/class/export/base.carbon
Due: none

run prek
  docs/design/README.md
Due: none

Encapsulate `CppDomain`.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Remove shared ownership of Parser.
  toolchain/check/BUILD
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/domain.cpp
  toolchain/check/cpp/domain.h
  toolchain/check/cpp/generate_ast.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Remove shared ownership of domain.
  toolchain/check/check.cpp
  toolchain/check/check_unit.h
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/generate_ast.h
  toolchain/check/cpp/import.cpp
  toolchain/check/cpp/import.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix libunwind advice.
  docs/project/contribution_tools.md
Due: none

Fix a collection of small language-server bugs in document_symbol.
  toolchain/language_server/handle_document_symbol.cpp
  toolchain/language_server/testdata/document_symbol/choice.carbon
  toolchain/language_server/testdata/document_symbol/fn_definition.carbon
  toolchain/language_server/testdata/document_symbol/incomplete.carbon
  toolchain/language_server/testdata/document_symbol/namespace.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix libunwind advice. (#7580)
  docs/project/contribution_tools.md
Due: none

no-rtti
  bazel/cc_toolchains/cc_toolchain_cpp_features.bzl
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest
