Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


resolve-shortcut-error
  toolchain/check/facet_type.cpp
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/impl/impl_assoc_const.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

leave-destroy
  toolchain/check/testdata/interface/as_type_of_type.carbon
Due: none

no-preludes
  toolchain/check/testdata/const/import.carbon
  toolchain/check/testdata/interface/fail_assoc_const_not_constant.carbon
  toolchain/check/testdata/interface/name_poisoning.carbon
Due: none

none-prelude
  toolchain/testing/testdata/min_prelude/none.carbon
Due: none

Automate and clean up the new fingerprint handling.
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Change extra-args order in min_prelude
  toolchain/testing/testdata/min_prelude/bool.carbon
  toolchain/testing/testdata/min_prelude/convert.carbon
  toolchain/testing/testdata/min_prelude/facet_types.carbon
  toolchain/testing/testdata/min_prelude/int.carbon
  toolchain/testing/testdata/min_prelude/primitives.carbon
  toolchain/testing/testdata/min_prelude/uint.carbon
Due: none

Further cleanup using the new machinery.
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/handle_expr_category.cpp
  toolchain/lower/testdata/class/generic.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Cleanup remaining uses of GetType. Rename to remove InSpecific suffix.
  toolchain/lower/file_context.cpp
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/handle_call.cpp
  toolchain/lower/handle_expr_category.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Clean up another use of raw `type_id`.
  toolchain/lower/handle.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix up after merge
  toolchain/lower/testdata/class/generic.carbon
Due: none

MinPreludeNone
  toolchain/testing/testdata/min_prelude/none.carbon
Due: none

todo
  toolchain/check/control_flow.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix unit test expectations
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  proposals/p5434.md
Due: none

Fix tuple patterns matching expressions with atomic tuple form.
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/patterns/tuple.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  proposals/p5389.md
Due: none

`init`
  proposals/p5434.md
Due: none

`val` instead of `let`
  proposals/p5389.md
Due: none

`ref` on argument expressions control deduction
  proposals/p5389.md
Due: none

Basic check support for `for` loops.
  core/prelude.carbon
  core/prelude/iterate.carbon
  core/prelude/types.carbon
  core/prelude/types/optional.carbon
  toolchain/check/eval_inst.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/for/basic.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/sem_ir/typed_insts.h
  toolchain/testing/testdata/min_prelude/for.carbon
  toolchain/testing/testdata/min_prelude/parts/iterate.carbon
  toolchain/testing/testdata/min_prelude/parts/optional.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Avoid testing a local path.
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fixes and cleanups and extra tests.
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/pattern.cpp
  toolchain/check/pattern.h
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/for/basic.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/lower/handle_aggregates.cpp
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add block labels to SemIR.
  toolchain/check/handle_loop_statement.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/for/basic.carbon
  toolchain/check/testdata/for/pattern.carbon
  toolchain/lower/testdata/for/bindings.carbon
  toolchain/lower/testdata/for/break_continue.carbon
  toolchain/lower/testdata/for/for.carbon
  toolchain/parse/typed_nodes.h
  toolchain/sem_ir/inst_namer.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

pre-commit fixes.
  toolchain/check/BUILD
  toolchain/check/handle_loop_statement.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Fix comment.
  toolchain/testing/testdata/min_prelude/for.carbon
Due: none

Undo fix split out to #5697.
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

test-access-through-witness
  toolchain/check/testdata/facet/aggregate_through_access.carbon
Due: none

rename-test-file
  toolchain/check/testdata/tuple/size_mismatch.carbon
Due: none

put-back-destroys
  toolchain/check/testdata/var/decl.carbon
  toolchain/check/testdata/var/decl_with_init.carbon
  toolchain/check/testdata/var/fail_duplicate_decl.carbon
  toolchain/check/testdata/var/fail_init_with_self.carbon
  toolchain/check/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/check/testdata/var/global_lookup_in_scope.carbon
  toolchain/check/testdata/var/lookup.carbon
  toolchain/check/testdata/var/shadowing.carbon
Due: none

autoupdate
  toolchain/check/testdata/var/decl_with_init.carbon
  toolchain/check/testdata/var/fail_duplicate_decl.carbon
  toolchain/check/testdata/var/fail_init_with_self.carbon
  toolchain/check/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/check/testdata/var/global_lookup_in_scope.carbon
  toolchain/check/testdata/var/lookup.carbon
  toolchain/check/testdata/var/shadowing.carbon
Due: none

destroy-and-no-preludes
  toolchain/check/testdata/tuple/tuple_pattern.carbon
  toolchain/check/testdata/var/decl.carbon
  toolchain/check/testdata/var/decl_with_init.carbon
  toolchain/check/testdata/var/fail_duplicate_decl.carbon
  toolchain/check/testdata/var/fail_init_with_self.carbon
  toolchain/check/testdata/var/fail_lookup_outside_scope.carbon
  toolchain/check/testdata/var/global_lookup_in_scope.carbon
  toolchain/check/testdata/var/lookup.carbon
  toolchain/check/testdata/var/shadowing.carbon
Due: none

review
  toolchain/check/testdata/tuple/basics.carbon
  toolchain/check/testdata/tuple/fail_convert.carbon
Due: none

autoupdate
  toolchain/check/testdata/tuple/basics.carbon
  toolchain/check/testdata/tuple/size_mismatch.carbon
Due: none

eof
  toolchain/check/testdata/tuple/size_mismatch.carbon
Due: none
