Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: executable-semantics-format-grammar, fix-cc-deps, forbid-llvm-googletest

executable-semantics-format-grammar:
  name: Format the executable_semantics grammar file
  entry: executable_semantics/syntax/format_grammar.py
  language: python
  pass_filenames: false

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

[analyzer] Implemented RangeSet::Factory::castTo function to perform promotions, truncations and conversions.
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/APSIntType.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/RangedConstraintManager.h
  clang/lib/StaticAnalyzer/Core/RangeConstraintManager.cpp
  clang/unittests/StaticAnalyzer/RangeSetTest.cpp
Due: fix-cc-deps

add a comment
  executable_semantics/interpreter/type_checker.cpp
  executable_semantics/interpreter/type_checker.h
Due: fix-cc-deps

[mlir][transform] Introduce transform.sequence op
  mlir/include/mlir/Dialect/Transform/IR/CMakeLists.txt
  mlir/include/mlir/Dialect/Transform/IR/TransformDialect.td
  mlir/include/mlir/Dialect/Transform/IR/TransformInterfaces.h
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.h
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.td
  mlir/lib/Dialect/Transform/IR/CMakeLists.txt
  mlir/lib/Dialect/Transform/IR/TransformDialect.cpp
  mlir/lib/Dialect/Transform/IR/TransformInterfaces.cpp
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/test/Dialect/Transform/ops-invalid.mlir
  mlir/test/Dialect/Transform/ops.mlir
  mlir/test/Dialect/Transform/test-interpreter.mlir
  mlir/test/lib/Dialect/Transform/TestTransformDialectExtension.cpp
  mlir/test/lib/Dialect/Transform/TestTransformDialectInterpreter.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Due: fix-cc-deps

[mlir] Adds getUpperBound() to LoopLikeInterface.
  mlir/include/mlir/Dialect/Affine/IR/AffineOps.td
  mlir/include/mlir/Dialect/SCF/SCFOps.td
  mlir/include/mlir/Interfaces/LoopLikeInterface.td
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/lib/Dialect/SCF/SCF.cpp
Due: fix-cc-deps

[clang][Sema] Add flag to LookupName to force C/ObjC codepath
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaLookup.cpp
  clang/unittests/Sema/CMakeLists.txt
  clang/unittests/Sema/SemaLookupTest.cpp
Due: fix-cc-deps

Tests that should fail, but don't
  executable_semantics/testdata/generic_class/should_fail_no_args.carbon
  executable_semantics/testdata/generic_class/should_fail_self_with_arg.carbon
Due: none

[gn build] Port c57f03415f96
  llvm/utils/gn/secondary/clang/unittests/Sema/BUILD.gn
Due: none

[Libomptarget][remote] Fix compile-time error
  openmp/libomptarget/plugins/remote/server/CMakeLists.txt
  openmp/libomptarget/plugins/remote/server/Server.cpp
  openmp/libomptarget/plugins/remote/src/CMakeLists.txt
Due: fix-cc-deps

[clang][dataflow] Do not crash on missing `Value` for struct-typed variable init.
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Due: fix-cc-deps

Example that crashes executable_semantics
  executable_semantics/testdata/generic_class/should_fail_not_check_two_args.carbon
Due: none

Add comment
  executable_semantics/testdata/generic_class/should_fail_not_check_two_args.carbon
Due: none

Add comments to should_fail tests
  executable_semantics/testdata/generic_class/fail_two_arg_lists.carbon
  executable_semantics/testdata/generic_class/should_fail_no_args.carbon
Due: none

Apply suggestions from code review
  executable_semantics/testdata/class/class_function_self.carbon
  executable_semantics/testdata/class/method_self.carbon
  executable_semantics/testdata/generic_class/use_self.carbon
  executable_semantics/testdata/interface/omit_self.carbon
  executable_semantics/testdata/interface/with_self.carbon
Due: none

Test formatting
  executable_semantics/testdata/generic_class/fail_two_arg_lists.carbon
  executable_semantics/testdata/generic_class/should_fail_no_args.carbon
  executable_semantics/testdata/interface/fail_external_impl_omit_self.carbon
Due: none

[gn build] Port bac6cd5bf856
  llvm/utils/gn/secondary/llvm/lib/Transforms/Utils/BUILD.gn
Due: none

Format carbon test files
  executable_semantics/testdata/class/class_function.carbon
  executable_semantics/testdata/class/class_function_from_instance.carbon
  executable_semantics/testdata/class/class_function_value.carbon
  executable_semantics/testdata/class/fail_method_from_class.carbon
  executable_semantics/testdata/class/method.carbon
  executable_semantics/testdata/class/method_call_method.carbon
  executable_semantics/testdata/generic_class/fail_bad_parameter_type.carbon
  executable_semantics/testdata/generic_class/generic_point.carbon
  executable_semantics/testdata/interface/class_function.carbon
  executable_semantics/testdata/interface/external_impl_point_vector.carbon
  executable_semantics/testdata/interface/fail_impl_bad_member.carbon
  executable_semantics/testdata/interface/fail_impl_missing_member.carbon
  executable_semantics/testdata/interface/fail_interface_missing_member.carbon
  executable_semantics/testdata/interface/generic_call_generic.carbon
  executable_semantics/testdata/interface/generic_with_two_params.carbon
  executable_semantics/testdata/interface/tuple_vector_add_scale.carbon
  executable_semantics/testdata/interface/vector_point_add_scale.carbon
  executable_semantics/testdata/let/fail_method_args.carbon
Due: none

Update line numbers
  executable_semantics/testdata/class/fail_method_from_class.carbon
  executable_semantics/testdata/generic_class/fail_bad_parameter_type.carbon
  executable_semantics/testdata/let/fail_method_args.carbon
Due: none

[BPF] Emit fatal error if out of range for FK_PCRel_2 branch target
  llvm/lib/Target/BPF/MCTargetDesc/BPFAsmBackend.cpp
Due: fix-cc-deps

[modules] Merge variable template specializations.
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/test/Modules/Inputs/merge-template-specializations/a.h
  clang/test/Modules/Inputs/merge-template-specializations/b.h
  clang/test/Modules/Inputs/merge-template-specializations/c.h
  clang/test/Modules/merge-template-specializations.cpp
Due: fix-cc-deps

[Driver][test] Remove unneeded clang from -cc1 CHECK lines
  clang/test/Driver/amdgpu-openmp-toolchain-new.c
  clang/test/Driver/amdgpu-openmp-toolchain.c
Due: none

[RISCV] Fold (xor (sllw 1, x), -1) -> (rolw ~1, x).
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rv32zbb-zbp-zbkb.ll
  llvm/test/CodeGen/RISCV/rv64zbb-zbp-zbkb.ll
  llvm/test/CodeGen/RISCV/sextw-removal.ll
Due: fix-cc-deps

[MLIR] [Python] Add a method to clear live operations map
  mlir/lib/Bindings/Python/IRCore.cpp
  mlir/lib/Bindings/Python/IRModule.h
  mlir/test/python/ir/module.py
Due: fix-cc-deps

Make `Self` a keyword
  executable_semantics/syntax/lexer.lpp
  executable_semantics/syntax/parser.ypp
  executable_semantics/testdata/basic_syntax/fail_var_named_self.carbon
  executable_semantics/testdata/class/fail_class_named_self.carbon
  executable_semantics/testdata/global_variable/fail_named_self.carbon
  executable_semantics/testdata/let/fail_global_named_self.carbon
  executable_semantics/testdata/let/fail_local_named_self.carbon
Due: executable-semantics-format-grammar

[BPF] Fix a bug in BPFMISimplifyPatchable pass
  llvm/lib/Target/BPF/BPFMISimplifyPatchable.cpp
  llvm/test/CodeGen/BPF/CORE/simplifypatable-nullptr.ll
Due: fix-cc-deps

[OpenMP] Add better testing for the linker wrapper
  clang/test/Driver/Inputs/dummy-bc.bc
  clang/test/Driver/Inputs/dummy-elf.o
  clang/test/Driver/linker-wrapper-image.c
  clang/test/Driver/linker-wrapper.c
  clang/test/lit.cfg.py
  clang/tools/clang-linker-wrapper/ClangLinkerWrapper.cpp
Due: fix-cc-deps

[OpenMP] Fix deleted move constructor failing on some compiles
  clang/tools/clang-linker-wrapper/ClangLinkerWrapper.cpp
Due: fix-cc-deps

[OpenMP] Add necessary registered targets for linker wrapper test
  clang/test/Driver/linker-wrapper-image.c
  clang/test/Driver/linker-wrapper.c
Due: none

[PS5] Avoid a driver crash
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/test/Driver/no-integrated-as.c
Due: fix-cc-deps

Make blaze run use the build working dir
  executable_semantics/BUILD
  executable_semantics/main_bin.cpp
Due: fix-cc-deps, forbid-llvm-googletest

AMDGPU: More mad_64_32 test cases for multiple uses
  llvm/test/CodeGen/AMDGPU/mad_64_32.ll
Due: none

comment
  executable_semantics/main_bin.cpp
Due: fix-cc-deps

Format carbon test files (#1197)
  executable_semantics/testdata/class/class_function.carbon
  executable_semantics/testdata/class/class_function_from_instance.carbon
  executable_semantics/testdata/class/class_function_value.carbon
  executable_semantics/testdata/class/fail_method_from_class.carbon
  executable_semantics/testdata/class/method.carbon
  executable_semantics/testdata/class/method_call_method.carbon
  executable_semantics/testdata/generic_class/fail_bad_parameter_type.carbon
  executable_semantics/testdata/generic_class/generic_point.carbon
  executable_semantics/testdata/interface/class_function.carbon
  executable_semantics/testdata/interface/external_impl_point_vector.carbon
  executable_semantics/testdata/interface/fail_impl_bad_member.carbon
  executable_semantics/testdata/interface/fail_impl_missing_member.carbon
  executable_semantics/testdata/interface/fail_interface_missing_member.carbon
  executable_semantics/testdata/interface/generic_call_generic.carbon
  executable_semantics/testdata/interface/generic_with_two_params.carbon
  executable_semantics/testdata/interface/tuple_vector_add_scale.carbon
  executable_semantics/testdata/interface/vector_point_add_scale.carbon
  executable_semantics/testdata/let/fail_method_args.carbon
Due: none

[SPIR-V](6/6) Add the module analysis pass and the simplest tests
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVInstPrinter.cpp
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVAsmPrinter.cpp
  llvm/lib/Target/SPIRV/SPIRVMCInstLower.cpp
  llvm/lib/Target/SPIRV/SPIRVMCInstLower.h
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.h
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/test/CodeGen/SPIRV/function/identity-function.ll
  llvm/test/CodeGen/SPIRV/function/trivial-function-definition.ll
  llvm/test/CodeGen/SPIRV/function/trivial-function-with-attributes.ll
  llvm/test/CodeGen/SPIRV/function/trivial-function-with-call.ll
  llvm/test/CodeGen/SPIRV/lit.local.cfg
  llvm/test/CodeGen/SPIRV/metadata-opencl.ll
  llvm/test/CodeGen/SPIRV/transcoding/readonly.ll
Due: fix-cc-deps

[SPIR-V](2/6) Add SPIRV target description files
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/SPIRV.td
  llvm/lib/Target/SPIRV/SPIRVEnums.td
  llvm/lib/Target/SPIRV/SPIRVInstrFormats.td
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVRegisterBanks.td
  llvm/lib/Target/SPIRV/SPIRVRegisterInfo.td
Due: none

[SPIR-V](3/6) Add MC layer, object file support, and InstPrinter
  llvm/include/llvm/ADT/Triple.h
  llvm/include/llvm/MC/MCContext.h
  llvm/include/llvm/MC/MCObjectFileInfo.h
  llvm/include/llvm/MC/MCSPIRVObjectWriter.h
  llvm/include/llvm/MC/MCSPIRVStreamer.h
  llvm/include/llvm/MC/MCSection.h
  llvm/include/llvm/MC/MCSectionSPIRV.h
  llvm/include/llvm/MC/TargetRegistry.h
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/MC/CMakeLists.txt
  llvm/lib/MC/MCAsmBackend.cpp
  llvm/lib/MC/MCContext.cpp
  llvm/lib/MC/MCObjectFileInfo.cpp
  llvm/lib/MC/MCParser/AsmParser.cpp
  llvm/lib/MC/MCSPIRVStreamer.cpp
  llvm/lib/MC/SPIRVObjectWriter.cpp
  llvm/lib/Support/Triple.cpp
  llvm/lib/Target/ARM/AsmParser/ARMAsmParser.cpp
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/MCTargetDesc/CMakeLists.txt
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVAsmBackend.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVInstPrinter.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVInstPrinter.h
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVMCAsmInfo.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVMCAsmInfo.h
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVMCCodeEmitter.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVMCTargetDesc.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVMCTargetDesc.h
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVObjectTargetWriter.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVTargetStreamer.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVTargetStreamer.h
  llvm/lib/Target/SPIRV/TargetInfo/SPIRVTargetInfo.cpp
  llvm/lib/Transforms/Instrumentation/AddressSanitizer.cpp
  llvm/unittests/ADT/TripleTest.cpp
Due: fix-cc-deps

[SPIR-V](1/6) Add stub for SPIRV backend
  llvm/CODE_OWNERS.TXT
  llvm/docs/CompilerWriterInfo.rst
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.h
  llvm/lib/Target/SPIRV/TargetInfo/CMakeLists.txt
  llvm/lib/Target/SPIRV/TargetInfo/SPIRVTargetInfo.cpp
  llvm/lib/Target/SPIRV/TargetInfo/SPIRVTargetInfo.h
Due: fix-cc-deps

[SPIR-V](5/6) Add LegalizerInfo, InstructionSelector and utilities
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/MCTargetDesc/CMakeLists.txt
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVBaseInfo.cpp
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVBaseInfo.h
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVCallLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVCallLowering.h
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.h
  llvm/lib/Target/SPIRV/SPIRVSubtarget.cpp
  llvm/lib/Target/SPIRV/SPIRVSubtarget.h
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
Due: fix-cc-deps

[SPIR-V](4/6) Add target lowering, TargetMachine and AsmPrinter
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVAsmPrinter.cpp
  llvm/lib/Target/SPIRV/SPIRVCallLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVCallLowering.h
  llvm/lib/Target/SPIRV/SPIRVFrameLowering.h
  llvm/lib/Target/SPIRV/SPIRVISelLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVISelLowering.h
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.h
  llvm/lib/Target/SPIRV/SPIRVMCInstLower.cpp
  llvm/lib/Target/SPIRV/SPIRVMCInstLower.h
  llvm/lib/Target/SPIRV/SPIRVRegisterBankInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVRegisterBankInfo.h
  llvm/lib/Target/SPIRV/SPIRVRegisterInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVRegisterInfo.h
  llvm/lib/Target/SPIRV/SPIRVSubtarget.cpp
  llvm/lib/Target/SPIRV/SPIRVSubtarget.h
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.h
  llvm/lib/Target/SPIRV/SPIRVTargetObjectFile.h
  llvm/lib/Target/SPIRV/SPIRVTargetTransformInfo.h
Due: fix-cc-deps

Path conditions:
  executable-semantics-format-grammar: any of: ^executable_semantics/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    .*/fuzzer_corpus/.*
)$

