Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Fix handling of compatible conversions in initialization.
  toolchain/check/convert.cpp
  toolchain/check/pending_block.h
  toolchain/lower/testdata/primitives/optional.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update examples/bazel_test_runner.py
  examples/bazel_test_runner.py
Due: none

Add `constexpr float` test
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: none

Support floats in MapAPValueToConstant
  toolchain/check/cpp/constant.cpp
  toolchain/check/testdata/interop/cpp/constexpr.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/pattern_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add failing test for float template arg
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: none

Support float template params
  toolchain/check/cpp/call.cpp
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Reorder logic in non-type template param code to prep for adding more types
  toolchain/check/cpp/call.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Allow conversion from `partial T` initializer to `T` initializer.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/eval_inst.cpp
  toolchain/check/testdata/as/partial.carbon
  toolchain/check/testdata/class/partial/init.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/function_context.cpp
  toolchain/lower/function_context.h
  toolchain/lower/handle.cpp
  toolchain/lower/testdata/class/virtual.carbon
  toolchain/sem_ir/expr_info.cpp
  toolchain/sem_ir/inst_kind.def
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

When initializing `.base`, use `partial T` as the destination type.
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/abstract/abstract.carbon
  toolchain/check/testdata/class/inheritance/base.carbon
  toolchain/check/testdata/class/inheritance/derived_to_base.carbon
  toolchain/check/testdata/class/inheritance/import_base.carbon
  toolchain/check/testdata/class/partial/init.carbon
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/check/testdata/interop/cpp/class/access.carbon
  toolchain/check/testdata/interop/cpp/impls/destroy.carbon
  toolchain/check/type_completion.cpp
  toolchain/lower/testdata/class/base.carbon
  toolchain/lower/testdata/class/generic.carbon
  toolchain/lower/testdata/class/virtual.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

isoneof-and-no-default-for-getscopename
  toolchain/sem_ir/formatter.cpp
  toolchain/sem_ir/inst_namer.cpp
  toolchain/sem_ir/inst_namer.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix backtrace symbolization.
  toolchain/install/busybox_main.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Don't crash if clang setup fails.
  toolchain/check/check_unit.h
  toolchain/check/cpp/context.cpp
  toolchain/check/cpp/context.h
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/cpp/import.cpp
  toolchain/check/testdata/interop/cpp/bad_flags.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/function/arithmetic_types_bridged.carbon
  toolchain/diagnostics/emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Default the empty destructor.
  toolchain/diagnostics/emitter.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Factor out assumption that vptr is at index 0.
  toolchain/check/convert.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix test failures.
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/diagnostics/emitter_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix crash in character literal lexing
  toolchain/lex/string_literal.cpp
  toolchain/lex/string_literal_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

error-context
  toolchain/check/convert.cpp
  toolchain/check/cpp/operators.cpp
  toolchain/check/decl_name_stack.cpp
  toolchain/check/eval.cpp
  toolchain/check/eval_inst.cpp
  toolchain/check/function.cpp
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/handle_require.cpp
  toolchain/check/impl.cpp
  toolchain/check/impl_lookup.cpp
  toolchain/check/literal.cpp
  toolchain/check/member_access.cpp
  toolchain/check/name_lookup.cpp
  toolchain/diagnostics/consumer.cpp
  toolchain/diagnostics/diagnostic.h
  toolchain/diagnostics/emitter.h
  toolchain/diagnostics/emitter_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

docs
  toolchain/docs/diagnostics.md
Due: none

Filling out template with PR 6806
  proposals/p6806.md
Due: none

fix-emitter-tests-use-errors
  toolchain/diagnostics/emitter_test.cpp
  toolchain/diagnostics/mocks.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

add-test-errorcontext-doesnt-change-warning
  toolchain/diagnostics/emitter_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

from-here-error-messages
  toolchain/check/type_completion.cpp
  toolchain/diagnostics/kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/array/basics.carbon
  toolchain/check/testdata/builtins/cpp/std/initializer_list/make.carbon
  toolchain/check/testdata/class/abstract/abstract.carbon
  toolchain/check/testdata/class/abstract/fail_abstract_in_struct.carbon
  toolchain/check/testdata/class/abstract/fail_abstract_in_tuple.carbon
  toolchain/check/testdata/class/adapter/fail_adapt_bad_type.carbon
  toolchain/check/testdata/class/cross_package_import.carbon
  toolchain/check/testdata/class/extern.carbon
  toolchain/check/testdata/class/fail_import_misuses.carbon
  toolchain/check/testdata/class/fail_incomplete.carbon
  toolchain/check/testdata/class/inheritance/fail_base_bad_type.carbon
  toolchain/check/testdata/facet/fail_incomplete.carbon
  toolchain/check/testdata/function/declaration/fail_import_incomplete_return.carbon
  toolchain/check/testdata/function/definition/basics.carbon
  toolchain/check/testdata/generic/complete_type.carbon
  toolchain/check/testdata/impl/fail_extend_undefined_interface.carbon
  toolchain/check/testdata/impl/forward_decls.carbon
  toolchain/check/testdata/impl/impl_thunk.carbon
  toolchain/check/testdata/impl/incomplete.carbon
  toolchain/check/testdata/interface/fail_lookup_undefined.carbon
  toolchain/check/testdata/interface/incomplete.carbon
  toolchain/check/testdata/interop/cpp/class/class.carbon
  toolchain/check/testdata/interop/cpp/class/constructor.carbon
  toolchain/check/testdata/interop/cpp/class/union.carbon
  toolchain/check/testdata/interop/cpp/enum/incomplete.carbon
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/operators.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/void.carbon
  toolchain/check/testdata/named_constraint/import_constraint_decl.carbon
  toolchain/check/testdata/named_constraint/incomplete.carbon
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/check/testdata/namespace/imported_indirect.carbon
  toolchain/check/testdata/primitives/string_literals.carbon
  toolchain/check/testdata/struct/fail_nested_incomplete.carbon
  toolchain/check/testdata/tuple/class_tuples.carbon
Due: none

Add failing test for bool template params
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: none

Move is_unsigned to parent scope and invert to is_signed
  toolchain/check/cpp/call.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Support bool template params
  toolchain/check/cpp/call.cpp
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Mark mangled enclosed entities
  toolchain/lower/mangler.cpp
  toolchain/lower/testdata/function/generic/local_function.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add failing pointer template param test
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: none

Update fail_todo_dependent test to use an imported static
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: none

Support pointer template params
  toolchain/check/cpp/call.cpp
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix issues from #6745
  core/prelude/types/form.carbon
  toolchain/check/testdata/builtins/form/make_type.carbon
  toolchain/lower/handle_call.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Disallow `:?` within `var`
  toolchain/check/testdata/function/declaration/fail_todo_no_params.carbon
  toolchain/check/testdata/var/fail_generic.carbon
  toolchain/check/testdata/var/var_pattern.carbon
  toolchain/diagnostics/kind.def
  toolchain/parse/handle_binding_pattern.cpp
  toolchain/parse/testdata/function/declaration.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix name of no-longer-failing test
  toolchain/check/testdata/interop/cpp/template/non_type_param.carbon
Due: none

fix syntax errors in docs/generics/details
  docs/design/generics/details.md
Due: none

CoreIdentifier
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

