Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Apply formatting suggestions from CarbonInfraBot
  github_tools/github_helpers_test.py
Due: none

Fix autoupdate handling of lines containing multiple line number references to different files.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
Due: fix-cc-deps, clang-format, check-header-guards

Fix clangd-tidy to reduce merge blocking
  .github/workflows/clangd_tidy.yaml
Due: none

remove base
  .github/workflows/clangd_tidy.yaml
Due: none

clangd
  .github/workflows/clangd_tidy.yaml
Due: none

Track the location of the Cpp import for use in Clang diagnostics.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/bad_import.carbon
  toolchain/check/testdata/interop/cpp/cpp_diagnostics.carbon
  toolchain/check/testdata/interop/cpp/file_not_found.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Address review comments.
  toolchain/check/import_cpp.cpp
  toolchain/install/BUILD
  toolchain/install/install_filegroups.bzl
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-toolchain-diagnostics, forbid-llvm-googletest

Address review comments.
  testing/file_test/testdata/multiple_file_refs_in_line.carbon
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove autoupdate_split_ in favor of an optional file number.
  testing/file_test/autoupdate.cpp
  testing/file_test/autoupdate.h
  testing/file_test/testdata/multiple_file_refs_in_line.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Add param name
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Rename pkg_path to pkg_label
  toolchain/install/install_filegroups.bzl
Due: buildifier

More pkg_path -> pkg_label
  toolchain/install/install_filegroups.bzl
Due: buildifier

pre-commit
  toolchain/install/BUILD
Due: fix-cc-deps, buildifier, forbid-llvm-googletest

Temporarily allow the new diagnostics to have no test coverage.
  toolchain/diagnostics/coverage_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add a comment clarifying that type passed to `MapType()` should not be canonicalized.
  toolchain/check/import_cpp.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Demonstrate that we lose `const` when import function parameters
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
Due: none

Set an explicit size for lexical lookup's vector
  toolchain/check/lexical_lookup.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

ret
  toolchain/check/control_flow.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Build the clang::CompilerInvocation in the driver.
  toolchain/check/BUILD
  toolchain/check/check.cpp
  toolchain/check/check.h
  toolchain/check/check_unit.cpp
  toolchain/check/check_unit.h
  toolchain/check/import_cpp.cpp
  toolchain/check/import_cpp.h
  toolchain/diagnostics/coverage_test.cpp
  toolchain/driver/compile_subcommand.cpp
  toolchain/driver/compile_subcommand.h
  toolchain/driver/testdata/compile/clang_args_warning.carbon
  toolchain/driver/testdata/compile/fail_clang_args.carbon
  toolchain/driver/testdata/compile/fail_clang_args_error.carbon
  toolchain/language_server/context.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Split up comment.
  toolchain/driver/compile_subcommand.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unneeded SET-CAPTURE-CONSOLE-OUTPUTs
  toolchain/driver/testdata/compile/clang_args_warning.carbon
  toolchain/driver/testdata/compile/fail_clang_args_error.carbon
Due: none

Add a test for specifying clang inputs as arguments to `carbon compile`.
  toolchain/driver/testdata/compile/fail_clang_arg_extra_input.carbon
Due: none

Fix up tests
  toolchain/driver/testdata/compile/clang_args_error.carbon
  toolchain/driver/testdata/compile/fail_clang_arg_extra_input.carbon
Due: none

Cause the carbon driver invocation to fail if the clang driver produces an error diagnostic.
  toolchain/check/check.cpp
  toolchain/driver/testdata/compile/fail_clang_args_error.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Support import of typedefs.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/class.carbon
  toolchain/check/testdata/interop/cpp/function/param_int16.carbon
  toolchain/check/testdata/interop/cpp/function/param_int32.carbon
  toolchain/check/testdata/interop/cpp/function/struct.carbon
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/include_paths.carbon
  toolchain/check/testdata/interop/cpp/typedef.carbon
  toolchain/check/testdata/interop/cpp/unsupported_decl_type.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Include `convert.carbon` instead of `destroy.carbon` for better diagnostics
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
Due: none

Add a test for returning a const pointer.
  toolchain/check/testdata/interop/cpp/function/pointer.carbon
Due: none

Fix a small implicit/desugared reference
  toolchain/check/inst.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Review comments.
  toolchain/check/import_cpp.cpp
  toolchain/check/testdata/interop/cpp/function/union.carbon
  toolchain/check/testdata/interop/cpp/typedef.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Change SemIR formed for 'as' errors
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/fail_extend_impl_scope.carbon
  toolchain/check/testdata/impl/fail_impl_as_scope.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Vtable support for generics
  toolchain/check/class.cpp
  toolchain/check/convert.cpp
  toolchain/check/testdata/class/virtual_modifiers.carbon
  toolchain/lower/constant.cpp
  toolchain/lower/file_context.cpp
  toolchain/lower/file_context.h
  toolchain/lower/function_context.h
  toolchain/lower/testdata/class/virtual.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Stop checking "Build config" which isn't always present.
  toolchain/driver/testdata/compile/fail_clang_args.carbon
Due: none

Fix clang-tidy warning
  toolchain/check/class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add missing trailing period
  toolchain/check/class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

nonexistent
  toolchain/check/handle_impl.cpp
  toolchain/check/testdata/impl/extend_impl.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update test to ensure distinct specific vtables have distinct functions
  toolchain/lower/testdata/class/virtual.carbon
Due: none

Clarify TODO comment
  toolchain/check/class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Mangle specific_id into the vtable mangling
  toolchain/lower/file_context.cpp
  toolchain/lower/mangler.cpp
  toolchain/lower/mangler.h
  toolchain/lower/testdata/class/virtual.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

