Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


Semantics for array is in progress.
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_array.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_node.h
  toolchain/semantics/semantics_node_kind.def
  toolchain/semantics/semantics_node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Switch to iterative model
  docs/design/variadics.md
  proposals/p2240.md
Due: none

Minimal pivot to "Model 2"
  docs/design/variadics.md
  proposals/p2240.md
Due: none

Responses to review comments.
  toolchain/semantics/semantics_ir_formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/semantics_ir_formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/parser/testdata/operators/precedence_assign.carbon
  toolchain/parser/testdata/operators/precedence_assign.carbon
Due: none

Explorer: Add source snippets to trace output (#3082)
  explorer/common/trace_stream.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_type_checking.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Update precedence rules to match design. (#3081)
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/parser/parser_handle_expression.cpp
  toolchain/parser/parser_handle_statement.cpp
  toolchain/parser/precedence.cpp
  toolchain/parser/precedence.h
  toolchain/parser/precedence_test.cpp
  toolchain/parser/testdata/if_expression/in_type.carbon
  toolchain/parser/testdata/operators/assign.carbon
  toolchain/parser/testdata/operators/fail_chained_assign.carbon
  toolchain/parser/testdata/operators/fail_postincrement.carbon
  toolchain/parser/testdata/operators/fail_precedence_as.carbon
  toolchain/parser/testdata/operators/fail_precedence_assign.carbon
  toolchain/parser/testdata/operators/fail_variety.carbon
  toolchain/parser/testdata/operators/postfix_repeat.carbon
  toolchain/parser/testdata/operators/precedence_as.carbon
  toolchain/parser/testdata/operators/precedence_assign.carbon
  toolchain/parser/testdata/operators/precedence_unary.carbon
  toolchain/semantics/testdata/pointer/fail_dereference_type.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add precedence rules for assignment operators to the precedence diagram.
  docs/design/expressions/README.md
Due: none

Implement the new rules in the toolchain.
  toolchain/parser/precedence.cpp
  toolchain/parser/testdata/operators/fail_precedence_assign.carbon
  toolchain/parser/testdata/operators/precedence_assign.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Regenerate test expectations.
  toolchain/semantics/testdata/pointer/fail_dereference_type.carbon
Due: none

pre-commit
  toolchain/semantics/semantics_ir_formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Always create a StructType node for every syntactic struct type.
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/testdata/pointer/address_of_lvalue.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/tuple_as_element.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Regenerate after merge.
  toolchain/semantics/testdata/pointer/address_of_lvalue.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/tuple_as_element.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: none

Produce label names based on the reason for the branch.
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/testdata/if/else.carbon
  toolchain/semantics/testdata/if/fail_reachable_fallthrough.carbon
  toolchain/semantics/testdata/if/fail_scope.carbon
  toolchain/semantics/testdata/if/no_else.carbon
  toolchain/semantics/testdata/if/unreachable_fallthrough.carbon
  toolchain/semantics/testdata/if_expression/basic.carbon
  toolchain/semantics/testdata/if_expression/constant_condition.carbon
  toolchain/semantics/testdata/if_expression/control_flow.carbon
  toolchain/semantics/testdata/if_expression/nested.carbon
  toolchain/semantics/testdata/ir/duplicate_name_same_line.carbon
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/assignment.carbon
  toolchain/semantics/testdata/operators/fail_assigment_to_non_assignable.carbon
  toolchain/semantics/testdata/operators/or.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add labels for `and` and `or` branches.
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/or.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update TODO comment.
  toolchain/semantics/semantics_ir_formatter.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Always create a StructType node for every syntactic struct type. (#3084)
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/testdata/pointer/address_of_lvalue.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/tuple_as_element.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Array semantics done!
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_array.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/semantics_node.h
  toolchain/semantics/testdata/array/assign_return_value.carbon
  toolchain/semantics/testdata/array/assign_var.carbon
  toolchain/semantics/testdata/array/base.carbon
  toolchain/semantics/testdata/array/fail_out_of_bound.carbon
  toolchain/semantics/testdata/array/fail_type_mismatch.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

add heading and subheading methods to trace
  explorer/common/trace_stream.h
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Removed unused codes.
  toolchain/lowering/lowering_handle.cpp
  toolchain/semantics/semantics_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Allow `each` in deduced params
  docs/design/variadics.md
  proposals/p2240.md
Due: none

code update in type checker
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format

update tests
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_control_flow_resolution.carbon
  explorer/testdata/trace/phase_declarations.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_name_resolution.carbon
  explorer/testdata/trace/phase_source_program.carbon
  explorer/testdata/trace/phase_timing.carbon
  explorer/testdata/trace/phase_type_checking.carbon
  explorer/testdata/trace/phase_unformed_variables_resolution.carbon
Due: none

Don't require parens around `each`
  docs/design/variadics.md
  proposals/p2240.md
Due: none

remove sstream
  explorer/common/trace_stream.h
Due: fix-cc-deps, clang-format, check-header-guards

Rename `[:]` to `expand`
  docs/design/variadics.md
  proposals/p2240.md
Due: none

Resolved merge conflicts and updated tests.
  toolchain/semantics/semantics_ir.h
  toolchain/semantics/testdata/array/assign_return_value.carbon
  toolchain/semantics/testdata/array/assign_var.carbon
  toolchain/semantics/testdata/array/base.carbon
  toolchain/semantics/testdata/array/fail_out_of_bound.carbon
  toolchain/semantics/testdata/array/fail_type_mismatch.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Removed typo from comment.
  toolchain/semantics/semantics_context.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add precedence rules for assignment operators to the precedence diagram. (#3083)
  docs/design/expressions/README.md
  toolchain/parser/precedence.cpp
  toolchain/parser/testdata/operators/fail_precedence_assign.carbon
  toolchain/parser/testdata/operators/precedence_assign.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

update tests
  explorer/testdata/trace/phase_execution.carbon
Due: none

Explorer: Add heading and sub-heading methods to trace (#3088)
  explorer/common/trace_stream.h
  explorer/interpreter/exec_program.cpp
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/type_checker.cpp
  explorer/parse_and_execute/parse_and_execute.cpp
  explorer/testdata/trace/context_main.carbon
  explorer/testdata/trace/phase_all.carbon
  explorer/testdata/trace/phase_control_flow_resolution.carbon
  explorer/testdata/trace/phase_declarations.carbon
  explorer/testdata/trace/phase_execution.carbon
  explorer/testdata/trace/phase_name_resolution.carbon
  explorer/testdata/trace/phase_source_program.carbon
  explorer/testdata/trace/phase_timing.carbon
  explorer/testdata/trace/phase_type_checking.carbon
  explorer/testdata/trace/phase_unformed_variables_resolution.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Update common/argparse.h
  common/argparse.h
Due: fix-cc-deps, clang-format, check-header-guards

Tweak label names and comment.
  toolchain/semantics/semantics_ir_formatter.cpp
  toolchain/semantics/testdata/if/else.carbon
  toolchain/semantics/testdata/if/fail_reachable_fallthrough.carbon
  toolchain/semantics/testdata/if_expression/basic.carbon
  toolchain/semantics/testdata/if_expression/constant_condition.carbon
  toolchain/semantics/testdata/if_expression/control_flow.carbon
  toolchain/semantics/testdata/if_expression/nested.carbon
  toolchain/semantics/testdata/operators/and.carbon
  toolchain/semantics/testdata/operators/assignment.carbon
  toolchain/semantics/testdata/operators/fail_assigment_to_non_assignable.carbon
  toolchain/semantics/testdata/operators/or.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
