Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/diagnostic_registry\.def
)$
, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    bazel/patches/.*\.patch|
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


using CodeContext enum instead of in_prelude_
  explorer/common/trace_stream.h
  explorer/interpreter/type_checker.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Remove the builtin empty tuple value (not type).
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/lowering/lowering_context.cpp
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add "Details" from p2188.md to pattern_matching.md
  docs/design/pattern_matching.md
Due: none

Misc. copy-editing and cleanup
  docs/design/pattern_matching.md
Due: none

Checkpoint progress.
  proposals/p2760.md
Due: none

Canonicalize struct types.
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/return/struct.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

checkpoint
  common/argparse.cpp
  common/argparse.h
  common/argparse_test.cpp
  toolchain/driver/BUILD
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
  toolchain/driver/driver_fuzzer.cpp
  toolchain/driver/driver_main.cpp
  toolchain/driver/driver_test.cpp
  toolchain/lexer/lexer_file_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

fixed linting errors in resolve_names.cpp
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format

format
  common/argparse.cpp
  common/argparse.h
  common/argparse_test.cpp
  toolchain/driver/driver.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

removed explicit redundant .has_value()'s
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format

Stop special-casing empty structs. (#2849)
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/definition/empty_struct.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_empty.carbon
  toolchain/semantics/testdata/struct/fail_assign_to_empty.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Failing test case generated by fuzzing
  test.carbon
Due: none

Remove the builtin empty tuple value (not type). (#2850)
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/lowering/lowering_context.cpp
  toolchain/semantics/semantics_builtin_kind.cpp
  toolchain/semantics/semantics_builtin_kind.def
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fixed linting errors in resolve_names.cpp (#2856)
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format

Reduction of test case
  test.carbon
Due: none

Error output
  msan.output.txt
  no-msan.output.txt
Due: none

Use FoldingSet
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

update test
  test.carbon
Due: none

Reduce test further
  test.carbon
Due: none

Canonicalize struct types. (#2855)
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/testdata/function/call/empty_struct.carbon
  toolchain/semantics/testdata/return/struct.carbon
  toolchain/semantics/testdata/struct/empty.carbon
  toolchain/semantics/testdata/struct/fail_member_access_type.carbon
  toolchain/semantics/testdata/struct/fail_non_member_access.carbon
  toolchain/semantics/testdata/struct/fail_type_assign.carbon
  toolchain/semantics/testdata/struct/member_access.carbon
  toolchain/semantics/testdata/struct/one_entry.carbon
  toolchain/semantics/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Rename semantics to semantics_ir
  toolchain/semantics/semantics_context.cpp
  toolchain/semantics/semantics_context.h
  toolchain/semantics/semantics_handle.cpp
  toolchain/semantics/semantics_handle_call_expression.cpp
  toolchain/semantics/semantics_handle_function.cpp
  toolchain/semantics/semantics_handle_struct.cpp
  toolchain/semantics/semantics_ir.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Drop Lowered from LoweringContext names.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add loads for data.
  toolchain/lowering/lowering_context.cpp
  toolchain/lowering/lowering_context.h
  toolchain/lowering/lowering_handle.cpp
  toolchain/lowering/testdata/function/call/empty_struct.carbon
  toolchain/lowering/testdata/function/call/var_param.carbon
  toolchain/lowering/testdata/return/var.carbon
  toolchain/lowering/testdata/struct/empty.carbon
  toolchain/lowering/testdata/struct/member_access.carbon
  toolchain/lowering/testdata/struct/one_entry.carbon
  toolchain/lowering/testdata/struct/two_entries.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

all compiletime
  common/argparse.cpp
  common/argparse.h
  common/argparse_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

format
  common/argparse.cpp
  common/argparse.h
  common/argparse_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards

dead code
  common/argparse.h
Due: fix-cc-deps, clang-format, check-header-guards

cleaning
  common/argparse.cpp
  common/argparse.h
Due: fix-cc-deps, clang-format, check-header-guards

flag name changes and trace_all option
  explorer/common/trace_stream.h
  explorer/main.cpp
Due: fix-cc-deps, clang-format, check-header-guards

checkpoint
  common/argparse.h
  common/argparse_test.cpp
  toolchain/driver/driver.cpp
  toolchain/driver/driver.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

format
  common/argparse_test.cpp
  toolchain/driver/driver.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fix: p_control_flow... to trace_control_flow...
  explorer/main.cpp
Due: fix-cc-deps, clang-format

conditional alternative
  proposals/p2760.md
Due: none

More alternatives
  proposals/p2760.md
Due: none

bug fixes and testing
  common/argparse.cpp
  common/argparse_test.cpp
  testing/lit_test/lit.cfg.py
  toolchain/driver/testdata/errors_streamed_test.carbon
  toolchain/driver/testdata/semantics_builtin_nodes.carbon
  toolchain/driver/testdata/semantics_verbose.carbon
  toolchain/lowering/lowering_file_test.cpp
  toolchain/parser/parse_tree_file_test.cpp
  toolchain/semantics/semantics_file_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics
