Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Add the `static` keyword to various syntax highlighting
  utils/highlightjs/highlightjs_carbon_lang.js
  utils/textmate/Syntaxes/carbon.tmLanguage.json
  utils/vim/syntax/carbon.vim
Due: none

Update tree_sitter for the new `self` syntax and `static var`
  utils/tree_sitter/README.md
  utils/tree_sitter/grammar.js
  utils/tree_sitter/testdata/string/self_parameter.carbon
  utils/tree_sitter/testdata/string/static_var.carbon
Due: none

Placeholder for new proposal
  docs/design/README.md
  docs/design/classes.md
  proposals/p7016.md
Due: none

Rename reverse_interop files to export
  toolchain/check/BUILD
  toolchain/check/cpp/export.cpp
  toolchain/check/cpp/export.h
  toolchain/check/cpp/generate_ast.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Rename for_reverse_interop to for_export
  toolchain/check/cpp/export.cpp
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix return style
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Use ExtractScrutineeType
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Check for MapToCppType errors
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Set valid source locations
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Simplify setting tinfo
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Avoid copying SemIR::Function
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add some fail_todo tests
  toolchain/check/testdata/interop/cpp/reverse/function.carbon
Due: none

Reject functions with implicit or generic args
  toolchain/check/cpp/export.cpp
  toolchain/check/testdata/interop/cpp/reverse/function.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Make BuildThunkDefinition public
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Call BuildThunkDefinition directly
  toolchain/check/cpp/export.cpp
  toolchain/lower/testdata/interop/cpp/reverse/function.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Revert changes to BuildThunk
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Add FunctionDeclArgs.refs_are_params flag
  toolchain/check/function.cpp
  toolchain/check/function.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Use references instead of poniters for thunks
  toolchain/check/cpp/export.cpp
  toolchain/lower/testdata/interop/cpp/reverse/function.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Remove unused for_export flag
  toolchain/check/cpp/export.cpp
  toolchain/check/thunk.cpp
  toolchain/check/thunk.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix clang-tidy lints
  toolchain/check/cpp/export.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Adjust the terminology approach proposed.
  proposals/p7016.md
Due: none

Update design with new terminology.
  docs/design/README.md
  docs/design/classes.md
  docs/design/functions.md
  docs/design/generics/details.md
  docs/design/generics/terminology.md
  docs/design/interoperability/philosophy_and_goals.md
Due: none

fix-rewrite-non-canonical
  toolchain/check/eval.cpp
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/facet/nested_facet_types.carbon
  toolchain/check/testdata/facet/period_self.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

refactor-where-expr
  toolchain/check/eval.cpp
  toolchain/check/testdata/eval/unexpected_runtime.carbon
  toolchain/check/testdata/facet/facet_assoc_const.carbon
  toolchain/check/testdata/facet/nested_facet_types.carbon
  toolchain/check/testdata/facet/period_self.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

todo-rm
  toolchain/check/impl_lookup.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

destroy-witness
  toolchain/check/custom_witness.cpp
  toolchain/check/testdata/impl/custom_witness/destroy.carbon
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

handle-symbolic-of-type-type-again
  toolchain/check/custom_witness.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

eval-fn-resolve-self-specific
  toolchain/check/eval.cpp
  toolchain/check/testdata/eval/symbolic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Renaem ConvertInitializer to InitializeExisting. Improve comments.
  toolchain/check/convert.cpp
  toolchain/check/convert.h
  toolchain/check/handle_operator.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/return.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Superficial support for exporting complete class types to C++.
  toolchain/check/cpp/generate_ast.cpp
  toolchain/check/testdata/interop/cpp/reverse/class.carbon
  toolchain/lower/testdata/interop/cpp/reverse/class.carbon
  toolchain/lower/testdata/interop/cpp/reverse/method.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix malformed split
  toolchain/check/testdata/function/call/form.carbon
Due: none

Delete commented out code.
  toolchain/check/cpp/generate_ast.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix merge error: we are now providing a prototype.
  toolchain/check/cpp/export.cpp
  toolchain/check/testdata/interop/cpp/reverse/function.carbon
  toolchain/lower/testdata/interop/cpp/reverse/function.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fixes crash when `var` parameters are used in generic functions
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/generic/var_param.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

where-t-impls
  toolchain/check/eval.cpp
  toolchain/check/facet_type.cpp
  toolchain/check/facet_type.h
  toolchain/check/handle_binding_pattern.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/testdata/deduce/binding_pattern.carbon
  toolchain/check/testdata/facet/convert_facet_value_to_narrowed_facet_type.carbon
  toolchain/check/testdata/facet/validate_impl_constraints.carbon
  toolchain/check/testdata/impl/assoc_const_self.carbon
  toolchain/check/testdata/impl/fail_impl_bad_interface.carbon
  toolchain/check/testdata/interface/fail_lookup_in_type_type.carbon
  toolchain/check/testdata/named_constraint/extend_name_lookup.carbon
  toolchain/check/testdata/named_constraint/require.carbon
  toolchain/check/testdata/where_expr/constraints.carbon
  toolchain/check/testdata/where_expr/designator.carbon
  toolchain/sem_ir/stringify.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

is-abstract
  toolchain/check/custom_witness.cpp
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

tests
  toolchain/check/custom_witness.cpp
  toolchain/check/testdata/impl/custom_witness/destroy.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

typo
  toolchain/sem_ir/type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

type-structure-symbolic-entity-name
  toolchain/check/handle_require.cpp
  toolchain/check/type_structure.cpp
  toolchain/sem_ir/type_iterator.cpp
  toolchain/sem_ir/type_iterator.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

