Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

buildifier:
  name: Bazel buildifier
  entry: scripts/run_buildifier.py
  args:
  - --lint=fix
  - --warnings=all
  - -r
  - .
  language: python

check-bazel-mod-deps:
  name: Check bazel mod deps
  entry: scripts/bazel_mod_deps.py
  language: python

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==17.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==17.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

check-toolchain-diagnostics:
  name: Check toolchain diagnostics
  entry: toolchain/diagnostics/check_diagnostics.py
  language: python
  pass_filenames: false

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Adopt new diagnostic conventions in handle_class.cpp
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/fail_adapt_bad_type.carbon
  toolchain/check/testdata/class/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_misplaced.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_no_extend.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_redeclaration_introducer.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Iterate on diagnostic structure (#4321)
  toolchain/docs/diagnostics.md
Due: none

Revert handle_class
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/fail_adapt_bad_type.carbon
  toolchain/check/testdata/class/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_misplaced.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_no_extend.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_redeclaration_introducer.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/check/check.cpp
  toolchain/check/check.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  toolchain/check/check.cpp
  toolchain/check/convert.cpp
  toolchain/check/handle_function.cpp
  toolchain/check/handle_literal.cpp
  toolchain/check/member_access.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/parse/handle_import_and_package.cpp
  toolchain/parse/handle_import_and_package.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/parse/handle_match.cpp
  toolchain/parse/handle_match.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions
  toolchain/check/testdata/basics/fail_bad_run.carbon
  toolchain/check/testdata/basics/fail_bad_run_2.carbon
  toolchain/check/testdata/basics/type_literals.carbon
  toolchain/check/testdata/class/fail_abstract.carbon
  toolchain/check/testdata/class/syntactic_merge_literal.carbon
  toolchain/check/testdata/packages/fail_cycle.carbon
  toolchain/check/testdata/packages/fail_duplicate_api.carbon
  toolchain/check/testdata/packages/fail_extension.carbon
  toolchain/check/testdata/tuple/access/fail_non_tuple_access.carbon
  toolchain/parse/testdata/match/fail_missing_guard_close_paren.carbon
  toolchain/parse/testdata/match/fail_missing_guard_open_paren.carbon
  toolchain/parse/testdata/packages/export.carbon
  toolchain/parse/testdata/packages/import/export.carbon
  toolchain/parse/testdata/packages/import/fail_after_decl.carbon
  toolchain/parse/testdata/packages/import/fail_after_decl_repeated.carbon
Due: none

Add CHECK
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Hardcode token kind into diagnostics
  toolchain/check/handle_class.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Clean up after suggestions.
  toolchain/check/handle_class.cpp
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix singular/plural mismatch in design README (#4326)
  docs/design/README.md
Due: none

Add usage tips to NOAUTOUPDATE tests (#4324)
  toolchain/check/testdata/basics/no_prelude/verbose.carbon
  toolchain/codegen/testdata/assembly/basic.carbon
  toolchain/codegen/testdata/fail_target_triple.carbon
  toolchain/driver/testdata/dump_mem_usage.carbon
Due: none

Checkpoint progress.
  toolchain/check/handle_name.cpp
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
  toolchain/sem_ir/ids.h
  toolchain/sem_ir/name.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_where.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/handle_name.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Add tests
  toolchain/check/testdata/where_expr/no_prelude/designator.carbon
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
Due: none

Remove legacy params from DeclParams
  toolchain/check/decl_name_stack.cpp
  toolchain/check/handle_interface.cpp
  toolchain/check/merge.cpp
  toolchain/check/merge.h
  toolchain/check/testdata/class/fail_generic_method.carbon
  toolchain/check/testdata/class/generic/import.carbon
  toolchain/check/testdata/class/generic/member_out_of_line.carbon
  toolchain/check/testdata/class/generic/redeclare.carbon
  toolchain/check/testdata/class/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/function/declaration/no_prelude/fail_redecl.carbon
  toolchain/check/testdata/function/definition/no_prelude/fail_decl_param_mismatch.carbon
  toolchain/check/testdata/function/definition/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/function/generic/redeclare.carbon
  toolchain/check/testdata/impl/fail_impl_bad_assoc_fn.carbon
  toolchain/check/testdata/interface/no_prelude/fail_generic_redeclaration.carbon
  toolchain/check/testdata/interface/no_prelude/syntactic_merge.carbon
  toolchain/check/testdata/namespace/fail_params.carbon
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Fix formatting
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
Due: none

Checkpoint progress.
  toolchain/check/testdata/impl/fail_todo_impl_assoc_const.carbon
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
Due: none

Update mock.
  toolchain/diagnostics/mocks.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Adopt new diagnostic conventions in handle_class.cpp (#4327)
  toolchain/check/handle_class.cpp
  toolchain/check/testdata/class/fail_adapt_bad_decl.carbon
  toolchain/check/testdata/class/fail_adapt_bad_type.carbon
  toolchain/check/testdata/class/fail_adapt_with_subobjects.carbon
  toolchain/check/testdata/class/fail_base_bad_type.carbon
  toolchain/check/testdata/class/fail_base_misplaced.carbon
  toolchain/check/testdata/class/fail_base_modifiers.carbon
  toolchain/check/testdata/class/fail_base_no_extend.carbon
  toolchain/check/testdata/class/fail_base_repeated.carbon
  toolchain/check/testdata/class/fail_redeclaration_introducer.carbon
  toolchain/diagnostics/diagnostic_kind.def
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Apply suggestions from code review
  proposals/p3848.md
Due: none

Lambdas (#3848)
  proposals/p3848.md
Due: none

Apply suggestions from code review
  toolchain/check/handle_where.cpp
  toolchain/check/node_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/check/testdata/where_expr/no_prelude/fail_designator.carbon
Due: none

Update toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

InProcess
  toolchain/driver/clang_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Convert CommandLine member references to pointers
  common/command_line.cpp
  common/command_line.h
Due: fix-cc-deps, clang-format, check-header-guards

members passed by reference
  common/command_line.cpp
  common/command_line.h
Due: fix-cc-deps, clang-format, check-header-guards

Go back to a925faf
  common/command_line.cpp
  common/command_line.h
Due: fix-cc-deps, clang-format, check-header-guards

Non-null comments.
  common/command_line.cpp
  common/command_line.h
Due: fix-cc-deps, clang-format, check-header-guards

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

