Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, buildifier, check-bazel-mod-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, check-toolchain-diagnostics, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  buildifier: any of: (?x)^(
  .*BUILD.*|
  .*MODULE.bazel.*|
  .*WORKSPACE.*|
  .*\.bzl
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-bazel-mod-deps: any of: (?x)^(
  .*MODULE.bazel.*|
  .*WORKSPACE.*
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  check-toolchain-diagnostics: any of: (?x)^(
    toolchain/.*\.cpp|
    toolchain/.*\.h|
    toolchain/diagnostics/check_diagnostics\.py|
    toolchain/diagnostics/diagnostic_kind\.def
)$
, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    MODULE.bazel.lock|
    bazel/bazel_clang_tidy/.*\.patch|
    bazel/google_benchmark/.*\.patch|
    bazel/libpfm/.*\.patch|
    bazel/llvm_project/.*\.patch|
    third_party/examples/.*/carbon/.*|
)$


fixes-for-context-changes
  toolchain/check/handle_choice.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

autoupdate
  toolchain/check/testdata/choice/fail_todo_params.carbon
Due: none

add-TODO
  toolchain/check/handle_choice.cpp
  toolchain/check/testdata/choice/basic.carbon
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

fail_todo
  toolchain/check/testdata/choice/basic.carbon
Due: none

Improve decl_name_stack comment
  toolchain/check/decl_name_stack.cpp
  toolchain/check/decl_name_stack.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Remove Context::DumpFormattedFile
  toolchain/check/context.cpp
  toolchain/check/context.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Respond to reviewer comments
  toolchain/check/handle_let_and_var.cpp
  toolchain/check/pattern_match.cpp
  toolchain/check/testdata/tuple/no_prelude/tuple_pattern.carbon
  toolchain/parse/handle_pattern_list.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

no-deduce-todo
  toolchain/check/deduce.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

More.
  toolchain/check/eval.cpp
  toolchain/sem_ir/ids.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Checkpoint progress.
  toolchain/sem_ir/facet_type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Autoupdate
  toolchain/check/testdata/impl/no_prelude/impl_assoc_const.carbon
  toolchain/check/testdata/impl/no_prelude/import_interface_assoc_const.carbon
Due: none

Remove FileTestBase::ValidateRun
  explorer/file_test.cpp
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
Due: fix-cc-deps, clang-format, check-header-guards

Apply suggestions from code review
  toolchain/sem_ir/typed_insts.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

remove-impl
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
Due: none

Document grammar of field and associated constant decls
  docs/design/classes.md
  docs/design/generics/details.md
Due: none

Update toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
Due: none

Apply suggestions from code review
  toolchain/driver/clang_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

remove stale comment
  toolchain/driver/clang_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

remove disable path
  toolchain/driver/clang_runner.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

format
  toolchain/driver/clang_runner.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Apply suggestions from code review
  docs/design/classes.md
Due: none

Respond to reviewer comments
  docs/design/generics/details.md
Due: none

fix bug in the suggestion
  toolchain/driver/clang_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Fix `NodeCategory` printing.
  toolchain/parse/node_kind.cpp
  toolchain/parse/node_kind.h
  toolchain/parse/typed_nodes.h
  toolchain/parse/typed_nodes_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Detect abstract tuple and struct types
  toolchain/check/type_completion.cpp
  toolchain/sem_ir/type.h
  toolchain/sem_ir/type_info.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Make FileTest run tests async by default
  explorer/file_test.cpp
  testing/file_test/BUILD
  testing/file_test/autoupdate_testdata.sh
  testing/file_test/file_test_base.cpp
  testing/file_test/file_test_base.h
  testing/file_test/file_test_base_test.cpp
  testing/file_test/rules.bzl
  toolchain/testing/BUILD
  toolchain/testing/file_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

Add LLD subcommand and busybox support
  toolchain/diagnostics/diagnostic_kind.def
  toolchain/driver/BUILD
  toolchain/driver/clang_runner.cpp
  toolchain/driver/clang_runner.h
  toolchain/driver/driver.cpp
  toolchain/driver/lld_runner.cpp
  toolchain/driver/lld_runner.h
  toolchain/driver/lld_runner_test.cpp
  toolchain/driver/lld_subcommand.cpp
  toolchain/driver/lld_subcommand.h
  toolchain/driver/testdata/fail_lld_fuzzing.carbon
  toolchain/driver/tool_runner_base.cpp
  toolchain/driver/tool_runner_base.h
  toolchain/install/BUILD
  toolchain/install/busybox_main.cpp
  toolchain/install/install_paths.cpp
  toolchain/install/install_paths.h
  toolchain/install/install_paths_test.cpp
Due: fix-cc-deps, buildifier, clang-format, check-header-guards, check-toolchain-diagnostics, forbid-llvm-googletest

try tweaking target
  toolchain/driver/lld_runner_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Reorder the token in a parse node to match its actual location.
  toolchain/parse/typed_nodes.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Should-fail tests using abstract tuples and structs
  toolchain/check/testdata/class/no_prelude/fail_abstract.carbon
  toolchain/check/testdata/class/no_prelude/todo_fail_abstract_in_struct.carbon
  toolchain/check/testdata/class/no_prelude/todo_fail_abstract_in_tuple.carbon
Due: none

Update tests
  toolchain/check/testdata/class/no_prelude/fail_abstract_in_struct.carbon
  toolchain/check/testdata/class/no_prelude/fail_abstract_in_tuple.carbon
Due: none

Yaml and remove SetValueRepr
  toolchain/check/testdata/basics/builtin_insts.carbon
  toolchain/driver/testdata/compile/multifile_raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/multifile_raw_ir.carbon
  toolchain/driver/testdata/compile/raw_and_textual_ir.carbon
  toolchain/driver/testdata/compile/raw_ir.carbon
  toolchain/sem_ir/file.cpp
  toolchain/sem_ir/type.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

Update toolchain/driver/tool_runner_base.cpp
  toolchain/driver/tool_runner_base.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

Update toolchain/driver/lld_runner.cpp
  toolchain/driver/lld_runner.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

feedback from review
  toolchain/driver/driver.cpp
  toolchain/driver/lld_runner.cpp
  toolchain/driver/lld_runner.h
  toolchain/driver/lld_runner_test.cpp
  toolchain/driver/lld_subcommand.cpp
  toolchain/driver/lld_subcommand.h
  toolchain/driver/tool_runner_base.h
Due: fix-cc-deps, clang-format, check-header-guards, check-toolchain-diagnostics

format
  toolchain/driver/lld_runner_test.cpp
Due: fix-cc-deps, clang-format, check-toolchain-diagnostics

othertest
  toolchain/check/testdata/impl/no_prelude/impl_cycle.carbon
Due: none
