Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$


macOS
  docs/project/contribution_tools.md
Due: none

Apply suggestions from code review
  docs/design/sum_types.md
Due: none

Respond to review comments.
  proposals/p2173.md
Due: none

links
  CONTRIBUTING.md
  docs/project/pull_request_workflow.md
Due: none

Remove stacked PR notes
  docs/project/pull_request_workflow.md
Due: none

links
  docs/project/code_review.md
  proposals/p1367.md
Due: none

Do not lead people to github discussion (#2204)
  README.md
Due: none

Emphasize Discord for design
  README.md
Due: none

Remove stacked PR notes (#2205)
  docs/project/code_review.md
  docs/project/pull_request_workflow.md
  proposals/p1367.md
Due: none

Correctly remove `## TODO` section from proposals
  proposals/scripts/new_proposal.py
  proposals/scripts/new_proposal_test.py
Due: none

Fix Markdown
  docs/design/generics/terminology.md
Due: none

Update terminology.md
  docs/design/generics/terminology.md
Due: none

Add precise rules and termination argument.
  proposals/p2173.md
Due: none

Include/Remove/Move Missing/Unnecessary/Misplaced Libraries
  toolchain/semantics/node_kind.h
  toolchain/semantics/nodes/binary_operator.h
  toolchain/semantics/nodes/binary_operator_test_matchers.h
  toolchain/semantics/nodes/function.h
  toolchain/semantics/nodes/integer_literal.h
  toolchain/semantics/nodes/return.h
  toolchain/semantics/nodes/set_name.h
  toolchain/semantics/parse_subtree_consumer.cpp
  toolchain/semantics/semantics_ir.cpp
  toolchain/semantics/semantics_ir.h
Due: fix-cc-deps, clang-format, check-header-guards

add static and comment to MoveMeParameterToPattern
  explorer/ast/declaration.cpp
  explorer/interpreter/action_stack.cpp
Due: fix-cc-deps, clang-format

add MapVector
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
Due: fix-cc-deps, clang-format, check-header-guards

run pre-commit
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
Due: fix-cc-deps, clang-format, check-header-guards

rename to locals_
  explorer/interpreter/action.cpp
  explorer/interpreter/action.h
  explorer/interpreter/action_stack.h
Due: fix-cc-deps, clang-format, check-header-guards

use stack not list
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
Due: fix-cc-deps, clang-format, check-header-guards

run pre-commit
  explorer/interpreter/action_stack.cpp
  explorer/interpreter/action_stack.h
Due: fix-cc-deps, clang-format, check-header-guards

run pre-commit
  explorer/interpreter/value.cpp
  explorer/testdata/destructor/loop_block.carbon
  explorer/testdata/destructor/loop_break_continue.carbon
  explorer/testdata/destructor/nested_block_with_return.carbon
Due: fix-cc-deps, clang-format

Correctly remove `## TODO` section from proposals (#2207)
  proposals/scripts/new_proposal.py
  proposals/scripts/new_proposal_test.py
Due: none

Checkpoint progress.
  proposals/p2200.md
Due: none

Fix Markdown (#2208)
  docs/design/generics/terminology.md
Due: none

pre-commit update
  .pre-commit-config.yaml
Due: none

revert pre-commit.yaml
  .pre-commit-config.yaml
Due: none

add comments and tods
  explorer/ast/declaration.h
  explorer/interpreter/action.h
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format, check-header-guards

run pre-commit
  explorer/interpreter/resolve_names.cpp
Due: fix-cc-deps, clang-format

pre-commit update (#2210)
  .pre-commit-config.yaml
Due: none

Replace dashes with underscores
  .pre-commit-config.yaml
  WORKSPACE
  bazel/llvm_patches/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/llvm_patches/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
  bazel/llvm_patches/BUILD
Due: fix-cc-deps, forbid-llvm-googletest

Return.set_function change signature to CallableDeclaration
  explorer/ast/statement.h
  explorer/interpreter/action_stack.h
  explorer/interpreter/interpreter.cpp
  explorer/interpreter/resolve_control_flow.cpp
  explorer/testdata/destructor/destructor_with_return.carbon
Due: fix-cc-deps, clang-format, check-header-guards

revert pre-commit
  .pre-commit-config.yaml
Due: none

add test
  explorer/testdata/destructor/destructor_with_return.carbon
Due: none

better comments
  explorer/interpreter/action.h
Due: fix-cc-deps, clang-format, check-header-guards

Replace dashes with underscores in llvm-patches (#2211)
  .pre-commit-config.yaml
  WORKSPACE
  bazel/llvm_patches/0001_Patch_for_mallinfo2_when_using_Bazel_build_system.patch
  bazel/llvm_patches/0002_Added_Bazel_build_for_compiler_rt_fuzzer.patch
  bazel/llvm_patches/BUILD
Due: fix-cc-deps, forbid-llvm-googletest
