Repository carbon-language/carbon-lang: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-cc-deps, clang-format, explorer-format-grammar, check-header-guards, check-sha-filenames, forbid-llvm-googletest

fix-cc-deps:
  name: Fix missing C++ deps
  entry: scripts/fix_cc_deps.py
  language: python
  pass_filenames: false

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  additional_dependencies:
  - clang-format==13.0.1

explorer-format-grammar:
  name: Format the explorer grammar file
  entry: explorer/syntax/format_grammar.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - clang-format==13.0.1

check-header-guards:
  name: Check header guards
  entry: scripts/check_header_guards.py
  language: python

check-sha-filenames:
  name: Check fuzzer SHA filenames
  entry: scripts/check_sha_filenames.py
  language: python

forbid-llvm-googletest:
  name: Checks for deps on LLVM's version of GoogleTest
  entry: scripts/forbid_llvm_googletest.py
  language: python
  pass_filenames: false

Improve terminology.
  proposals/p2360.md
Due: none

Apply suggestions from code review
  proposals/p2200.md
Due: none

Update docs/design/generics/details.md
  docs/design/generics/details.md
Due: none

Fix formatting
  docs/design/generics/details.md
Due: none

x
  scripts/check_header_guards.py
  toolchain/lexer/token_kind.h
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
  toolchain/parser/parser_state.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/parser_state.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Fix header guard to handle numbers
  scripts/check_header_guards.py
Due: none

Respond to reviewer comments
  proposals/p2274.md
Due: none

Fix typo.
  proposals/p2188.md
Due: none

x
  bazel/testing/lit.bzl
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
  toolchain/parser/parser_state.def
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/parser/parse_tree.cpp
Due: fix-cc-deps, clang-format

x
  toolchain/lexer/token_kind.h
  toolchain/parser/parser2.cpp
Due: fix-cc-deps, clang-format, check-header-guards

Fix header guard to handle numbers (#2363)
  scripts/check_header_guards.py
Due: none

Respond to some review comments.
  proposals/p2188.md
Due: none

Filling out template with PR 2365
  proposals/p2365.md
Due: none

adjust core wording
  docs/design/interoperability/philosophy_and_goals.md
Due: none

fill in proposal
  proposals/p2365.md
Due: none

toc
  proposals/p2365.md
Due: none

Add more tests and error handling logic.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_impl.cpp
  toolchain/parser/testdata/interface/basic.carbon
  toolchain/parser/testdata/interface/me_param_required.carbon
  toolchain/parser/testdata/interface/name_missing.carbon
  toolchain/parser/testdata/interface/no_impl_allowed.carbon
Due: fix-cc-deps, clang-format

Extend `ParsePattern` to handle `me` param.
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_impl.cpp
  toolchain/parser/parser_impl.h
  toolchain/parser/testdata/interface/basic.carbon
  toolchain/parser/testdata/interface/me_param_required.carbon
  toolchain/parser/testdata/interface/no_impl_allowed.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Refactor shared parts in `ParsePattern`.
  toolchain/parser/parser_impl.cpp
Due: fix-cc-deps, clang-format

Rebase and update error.
  toolchain/parser/parser_impl.cpp
  toolchain/parser/testdata/interface/basic.carbon
  toolchain/parser/testdata/interface/me_param_required.carbon
  toolchain/parser/testdata/interface/no_impl_allowed.carbon
Due: fix-cc-deps, clang-format

Use `ParseType` to parse `me` param's type.
  toolchain/lexer/token_kind_test.cpp
  toolchain/parser/parser_impl.cpp
  toolchain/parser/testdata/interface/basic.carbon
Due: fix-cc-deps, clang-format

Add initial lexing and parsing support for `interface`s.
  toolchain/diagnostics/diagnostic_registry.def
  toolchain/lexer/token_kind_test.cpp
  toolchain/lexer/token_registry.def
  toolchain/parser/parse_node_kind.def
  toolchain/parser/parser_impl.cpp
  toolchain/parser/parser_impl.h
  toolchain/parser/testdata/interface/basic.carbon
  toolchain/parser/testdata/interface/me_param_required.carbon
  toolchain/parser/testdata/interface/no_impl_allowed.carbon
Due: fix-cc-deps, clang-format, check-header-guards

Rename util lambda.
  toolchain/parser/parser_impl.cpp
Due: fix-cc-deps, clang-format

explorer: add typed linked list
  explorer/testdata/linked_list/typed_linked_list.carbon
Due: none

fix: typo
  explorer/testdata/linked_list/typed_linked_list.carbon
Due: none

Update docker/README.md
  docker/README.md
Due: none

rmvoid
  toolchain/parser/parser2.cpp
Due: fix-cc-deps, clang-format

update README.md and fix Contribution_tools.md link
  .pre-commit-config.yaml
  docker/README.md
  docs/project/contribution_tools.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

update docker README.md build/run instructions
  docker/README.md
Due: none

x
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
  toolchain/parser/parser_state.def
Due: fix-cc-deps, clang-format, check-header-guards

Add as-patterns as future work.
  proposals/p2188.md
Due: none

Checkpoint for a parser rewrite (#2364)
  bazel/testing/lit.bzl
  toolchain/parser/BUILD
  toolchain/parser/parse_tree.cpp
  toolchain/parser/parse_tree.h
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
  toolchain/parser/parser_state.cpp
  toolchain/parser/parser_state.def
  toolchain/parser/parser_state.h
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

x
  toolchain/parser/BUILD
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
  toolchain/parser/parser_state.def
  toolchain/parser/parser_state_test.cpp
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

Remove artificial version ceiling on C++ interop. (#2365)
  docs/design/interoperability/philosophy_and_goals.md
  proposals/p2365.md
Due: none

fix: remove unneeded scope, make non writing member functions not use addr me
  explorer/testdata/linked_list/typed_linked_list.carbon
Due: none

x
  toolchain/parser/BUILD
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
  toolchain/parser/parser_state.def
Due: fix-cc-deps, clang-format, check-header-guards, forbid-llvm-googletest

x
  toolchain/parser/parser2.cpp
  toolchain/parser/parser2.h
Due: fix-cc-deps, clang-format, check-header-guards

x
  toolchain/parser/parser_state.def
Due: none

Path conditions:
  fix-cc-deps: any of: ^.*/(BUILD|[^/]+\.(h|cpp))$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.proto$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  explorer-format-grammar: any of: ^explorer/syntax/(lexer.lpp|parser.ypp)$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-header-guards: any of: ^.*\.h$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  check-sha-filenames: any of: ^.*/fuzzer_corpus/.*$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

  forbid-llvm-googletest: any of: ^.*/BUILD$, but not: (?x)^(
    third_party/examples/.*/carbon/.*|
    third_party/llvm-project/.*|
)$

